/* CSS Document */
/********************************************************************************
*                                                                               *
*   Copyright 2012 Nicolas CARPi (nicolas.carpi@gmail.com)                      *
*   http: //www.elabftw.net/                                                     *
*                                                                               *
********************************************************************************/

/********************************************************************************
*  This file is part of eLabFTW.                                                *
*                                                                               *
*    eLabFTW is free software:  you can redistribute it and/or modify            *
*    it under the terms of the GNU Affero General Public License as             *
*    published by the Free Software Foundation, either version 3 of             *
*    the License, or (at your option) any later version.                        *
*                                                                               *
*    eLabFTW is distributed in the hope that it will be useful,                 *
*    but WITHOUT ANY WARRANTY; without even the implied                         *
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR                    *
*    PURPOSE.  See the GNU Affero General Public License for more details.      *
*                                                                               *
*    You should have received a copy of the GNU Affero General Public           *
*    License along with eLabFTW.  If not, see <http: //www.gnu.org/licenses/>.   *
*                                                                               *
********************************************************************************/
#container {
    border-radius: 20px;
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
    opacity: 0.95;
    padding: 10px 20px 10px 20px;
    width: 90%;
}
/* LINKS */
a {
    color:  #000;
}
a :hover {
    color:  #29AEB9;
}

/* GENERAL */
.center {
    text-align: center;
}

.hidden {
    display:none;
}

.align_right{
    float: right;
}

.align_left{
    text-align: left;
}
p{
    font: 16px Verdana, Arial, Helvetica, sans-serif;
}

p a{
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.strong {
    font-weight: bold;
}

/* in install/index.php */
.code {
    font:14px Courrier, sans-serif;
    background-color:white;
    border:1px dotted #ccc;
    margin:10px;
    padding:7px;
}

/* hr */
hr {
    margin: 10px 0 10px 0;
}
hr.flourishes {
    background: url('../img/flourishes.png') no-repeat scroll center 0px transparent; /* -61px */
    border: 0 none;
    clear: both;
    display: block;
    height: 18px;
    opacity: 0.8;
}

hr.tinyflourishes {
    background: url('../img/flourishes.png') no-repeat scroll center -16px transparent; /* -61px */
    border: 0 none;
    clear: both;
    display: block;
    height: 18px;
    margin: 18px 0 0;
    opacity: 0.8;
    outline: 0 none;
}

hr.rishes {
    background: url('../img/flourishes.png') no-repeat scroll center -36px transparent; /* -61px */
    border: 0 none;
    clear: both;
    display: block;
    height: 18px;
    margin: 18px 0 0;
    opacity: 0.8;
    outline: 0 none;
}

li.inline {
    display: inline;
}
/* fix the list in the body */
div.txt ol li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:decimal !important;
}

div.txt li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:square !important;
}

/* HEAD */
#logo {
    float: left;
}

#page_title {
    clear: both;
    text-align: center;
}

nav{
    clear: both;
    margin: -10px;
    text-align: center;
}

nav a{
    font-size: 20px;
    line-height: 300%;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border-radius:5px;
}

#logmenu {
    float: right;
    top: 30px;
}

#logmenu p{
    font:  13px Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 7px;
}
#logmenu p a{
    font:  13px Verdana, Arial, Helvetica, sans-serif;
}
/* submenu */
#submenu {
    border-bottom: 1px dotted #CCC;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align:center;
}


/* on admin.php for items types
 * it's bettor to have a pointer to show that you should click
 */
a[class*='trigger_']:hover {
    cursor:pointer;
}

.biginput {
    font: 30px Helvetica, Verdana, Arial, sans-serif;
    text-align:center;
    margin-left:auto;
    display:block;
    margin-right:auto;
    height: 40px;
}

/* on search.php */
#export_menu {
    float:right;
}


/* TITLES */
h2 {
    font: 24px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

h3 {
    font: 20px Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto 10px auto;
    text-align: center;
}

h4 {
    display: inline;
    font: 18px Verdana, Arial, Helvetica, sans-serif;
}

.inline {
    display: inline;
}
/* MENU */

/* BUTTONS */

.submit {
    margin-top:20px;
}

.button {
    border:1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #d3d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(top, #d3d3d3, #707070);
      }

.button:hover{
    border:1px solid #a0a0a0; background-color: #bababa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%, #585858));
    background-image: -webkit-linear-gradient(top, #bababa, #585858);
    background-image: -moz-linear-gradient(top, #bababa, #585858);
    background-image: -ms-linear-gradient(top, #bababa, #585858);
    background-image: -o-linear-gradient(top, #bababa, #585858);
    background-image: linear-gradient(top, #bababa, #585858);
}

/* SEARCH */

.search_buttons {
	color:  blue;
	cursor:  pointer;
	font:  bold 10px Arial, Helvetica;
    text-align:right;
}

#search_inputs_div {
    width:400px;
}
.search_inputs {
    float:right;
}

.submit_search_button{
    float:right;
}
/* search bar */
form#big_search {
    display: inline;

}
form#big_search input {
    width:30%;
}

.innerinnerdiv {
    margin: auto;
    position: relative;
    text-align: right;
    width: 500px;
}

/***********/
textarea {
    border:  3px solid #CCC;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    padding:  5px;
}

/* overlay to say it's saved */
.overlay {
    background-color: #000;
    position: fixed;
    opacity: 0.8;
    top: 10px;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.overlay p {
    color:#fff;
    display:inline;
}


/* comments for files */
.filesdiv {
    border-radius: 5px;
}
.filesdiv p {
    display: inline;
}

img {
    border: none;
    position: relative;
    top: 3px;
}

/* save and go back button */
#saveButton {
    margin-top:10px;
}

/* ITEMS */
.item {
    background-color: #EEE;
    border:  1px solid #CCC;
    border-radius: 5px;
    box-shadow:  3px 2px 2px 1px #CCC; 
    -webkit-box-shadow: 3px 2px 2px 1px #CCC;
    -moz-box-shadow: 3px 2px 2px 1px #CCC;
    margin: 7px auto 7px auto;
    padding: 10px;
    width: 80%;
}
/* admin.php */
#config_form input, #config_form select {
    float:right;
}

#config_form label {
    float:left;
}

/* comments for experiments comments box */
.newexpcomment {
    background-color:white;
    border:solid 1px #CCC;
    border-radius: 7px;
    margin:2px;
    padding: 2px;
}

.expcomment_box {
    border:solid 1px #CCC;
    border-radius: 7px;
    margin:2px;
    padding: 2px;
}

.expcomment_box p {
    margin:0;
}
/* end experiments comments */

.simple_border {
    border-radius: 5px;
    padding: 10px;
    margin:5px;
}

.title {
    border-radius: 15px;
    font-size:  20px;
    line-height: 120%;
    margin: 5px;
    padding: 5px;
    width:85%;
}

.date, .date_compact {
    color: #5d5d5d;
    margin:15px auto;
    padding:5px;
}

.date_compact {
    border-right:1px dotted #ccd;
}


#rating {
    float:right;
}

.tags {
    border-radius: 15px;
    font:  12px Courier,Arial,sans-serif;
    line-height: 200%;
    margin: 10px 0px 10px 5px;
    padding: 3px;
    width: 90%;
}
.tags a{
    text-decoration: none;
}
.tags_compact {
    border-radius: 15px;
    font:  12px Courier,Arial,sans-serif;
    line-height: 200%;
    padding: 5px;
    margin: 10px 0px 10px 25px;
}
.tags_compact a{
    text-decoration: none;
}
#tagdiv{
    padding: 5px;
}

.tag {
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    line-height: 160%;
}
.tag a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.smallgray{
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

#addtaginput {
    margin-top: 7px;
}
/* ucp.php */

#ucp_keyboard input {
    float:right;
}

#ucp_keyboard label {
    float:left;
}
#currpass {
    background-color: #FF8080;
}

.themes_div {
    -moz-column-count:  2;
    -moz-column-gap:  10px;
    -webkit-column-count:  2;
    -webkit-column-gap:  10px;
    column-count:  2;
    column-gap:  10px; 
}

/* TEMPLATES */
.templates {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    line-height: 300%;
    padding: 7px;
}

.txt {
    font-size: 16px;
    padding: 5px;
}


.filesdiv {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    margin: 10px auto 10px auto;
    padding: 5px;
    width:80%;
}
.filesdiv a {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.filesize{
    font-size: 10px;
}

/* bigger space to enter experiment */
.mceditable {
    height:700px;
}

/* title on editXP -- fix for firefox */
#title_txtarea {
    width:90%;
}

/* elabid */
.elabid {
    text-align:right;
    font-size: 11px;
}

/* results number and time */
.results_and_time {
    display: inline;
    font-size: 12px;
    color: gray;
}

/* PROFILE PAGE */
#tagcloud {
    text-align: center;
}

.cursor {
    cursor:pointer;
}

/* FOOTER */
footer {
    font-size: 11px;
    margin: 15px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: center;
}
footer p, footer p a {
    font-size: 11px;
    line-height: 20%;
    text-align: center;
}

/* PAGINATION */
.pagination{
    text-align: center;
}

/* print only the main div */
@media print {
    section.item {
        background-color: white;
        width: 900px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    h2 {
        visibility:hidden;
    }
    footer {
        visibility:hidden;
    }
}

/* bigUpload stuff */
.bigUpload {
    display:inline;
}

.bigUpload .bigUploadContainer {
	max-width: 350px;
	padding: 20px 30px 30px;
	margin: 0 auto 20px;
	margin-top:15px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align: center;
}
.bigUpload #bigUploadFile {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	padding: 10px;
}
.bigUpload .bigUploadButton {
	background-color: rgb(0, 109, 204);
	border: 1px solid rgba(0, 0, 0, 0.09);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius:6px;
	padding-bottom: 11px;
	padding-left: 19px;
	padding-right: 19px;
	padding-top: 11px;
	font-size: 18px;
	color:#ffffff;
	cursor: pointer;
	margin-top:15px;
	font-size: 18px;
}
.bigUpload .bigUploadAbort {
	background-color:rgb(218, 79, 73);
}

.bigUpload #bigUploadProgressBarContainer {
	width:94%;
	height:19px;
	margin-left: 3%;
	margin-top:1%;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.bigUpload #bigUploadProgressBarFilled {
	border-radius: 5px;
	margin: 1px;
	height:17px;
	width:0;
	background-color: rgb(91, 183, 91);
	font-size: 14px;
}

