/* CSS Document */
/********************************************************************************
*                                                                               *
*   Copyright 2012 Nicolas CARPi (nicolas.carpi@gmail.com)                      *
*   http: //www.elabftw.net/                                                     *
*                                                                               *
********************************************************************************/

/********************************************************************************
*  This file is part of eLabFTW.                                                *
*                                                                               *
*    eLabFTW is free software:  you can redistribute it and/or modify            *
*    it under the terms of the GNU Affero General Public License as             *
*    published by the Free Software Foundation, either version 3 of             *
*    the License, or (at your option) any later version.                        *
*                                                                               *
*    eLabFTW is distributed in the hope that it will be useful,                 *
*    but WITHOUT ANY WARRANTY; without even the implied                         *
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR                    *
*    PURPOSE.  See the GNU Affero General Public License for more details.      *
*                                                                               *
*    You should have received a copy of the GNU Affero General Public           *
*    License along with eLabFTW.  If not, see <http: //www.gnu.org/licenses/>.   *
*                                                                               *
********************************************************************************/

/*
 *
 * 343434 => dark gray
 * 29AEB9 => blue
 *
 *
 *
 */



/* Font is Lato */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* little shadow on top of the screen for no reasons */
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
    background-image:url(images/background.jpg);
    background-repeat: round;
}

/* this is the big white thing that holds everything */
#container {
    background: #fff;
    font: 100% 'Lato', Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
}

#real_container {
    padding: 10px 45px;
}
/* LINKS */
a {
    color: #606264;
    text-decoration:none;
}
a :hover {
    color:#29AEB9;
    text-decoration:none;
}

/* LISTS */
ul, li {
    list-style-type:none;
}

/* GENERAL */
.center {
    text-align: center;
}

.hidden {
    display:none;
}

.align_right{
    float: right;
}

.align_left{
    text-align: left;
}

.strong {
    font-weight: bold;
}

/* paragraphs */

p {
    font: 100% 'Lato', Verdana, Arial, Helvetica, sans-serif;
}

p a {
    text-decoration: none;
}

/* in install/index.php */
.code {
    font:14px Courrier, sans-serif;
    background-color:white;
    border:1px dotted #ccc;
    margin:10px;
    padding:7px;
}

/* hr */
hr {
    margin: 10px 0 10px 0;
}

li.inline {
    display: inline;
}
/* fix the list in the body */
div.txt ol li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:decimal !important;
}

div.txt li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:square !important;
}

/* fix the links in the error/info messages displayed with jquery-ui */
div.ui-state-error a, div.ui-state-highlight a {
    color:blue;
    text-decoration:underline;
}

/* prettier tables  */
table, table td {
    border: 1px solid black;
}

/* HEAD */

nav {
    background-color:#343434;
    padding: 20px;
}


nav .navleft a {
    font-size:130%;
    color:white;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

nav .navleft a.selected {
    color:#29AEB9;
}

nav .navleft a:hover {
    color:#29AEB9;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
}

/* submenu */
#submenu {
    border-bottom: 1px dotted #CCC;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#submenu a {
    border:1px solid white;
    border-radius:5px;
    color:#36b1c0;
    padding:7px;
}
#submenu a:hover {
    border:1px solid black;
    border-radius:5px;
    color: black;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
}

/* list all dropdown status list */
.dropdown {
    font: 80% 'Lato', Verdana, Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: #000000;
    padding: 5px;
    border: none;
    border-radius: 10px;
}


/* on admin.php for items types
 * it's bettor to have a pointer to show that you should click
 */
a[class*='trigger_']:hover {
    cursor:pointer;
}

.biginput {
    font: 30px 'Lato', Helvetica, Verdana, Arial, sans-serif;
    text-align:center;
    margin-left:auto;
    display:block;
    margin-right:auto;
    height: 40px;
}

/* on search.php */
#export_menu {
    float:right;
}


/* TITLES */

h3 {
    font-size: 20px;
    margin: 0 auto 10px auto;
    text-align: center;
}

h4 {
    display: inline;
    font-size: 18px;
}

.inline {
    display: inline;
}
/* MENU */

/* BUTTONS */

.submit {
    margin-top:20px;
}

.button {
    border:1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #d3d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(top, #d3d3d3, #707070);
      }

.button:hover{
    border:1px solid #a0a0a0; background-color: #bababa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%, #585858));
    background-image: -webkit-linear-gradient(top, #bababa, #585858);
    background-image: -moz-linear-gradient(top, #bababa, #585858);
    background-image: -ms-linear-gradient(top, #bababa, #585858);
    background-image: -o-linear-gradient(top, #bababa, #585858);
    background-image: linear-gradient(top, #bababa, #585858);
}

/* SEARCH */
#search_inputs_div {
    width:400px;
}
.search_inputs {
    float:right;
}

.submit_search_button{
    float:right;
}
/* search bar */
form#big_search {
    width:40%;
    float:right;
    text-align:right;
    margin-top:-6px;
}
form#big_search input {
    background-color:#ccc;
    border: none;
    border-radius: 20px;
    width:40%;
    padding: 10px;
    background:#ccc url(../img/search32px.png) no-repeat scroll right center;
    transition:width 1s;
}
form#big_search input:focus {
    width:45%;
}


.innerinnerdiv {
    margin: auto;
    position: relative;
    text-align: right;
    width: 500px;
}

/***********/
textarea {
    border:  3px solid #CCC;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    padding:  5px;
}

/* overlay to say it's saved */
.overlay {
    background-color: #000;
    position: fixed;
    opacity: 0.8;
    top: 10px;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.overlay p {
    color:#fff;
    display:inline;
}


/* comments for files */
.editable:hover {
    background-color: #CCC;
}

img {
    border: none;
    position: relative;
    top: 3px;
}

/* save and go back button */
#saveButton {
    margin-top:10px;
}

/* ITEMS */

/* fix for big images uploaded in the text */
section.item div.txt {
    overflow:hidden;
}

.item {
    border:  1px solid #CCC;
    border-radius: 5px;
    box-shadow:  3px 2px 2px 1px #CCC; 
    -webkit-box-shadow: 3px 2px 2px 1px #CCC;
    -moz-box-shadow: 3px 2px 2px 1px #CCC;
    margin: 10px auto;
    padding: 10px 0;
}

.item a:hover {
    color:#29AEB9;
}

/* admin.php */
.config_form input, .config_form select {
    float:right;
}

.config_form label {
    float:left;
}

/* comments for experiments comments box */
.newexpcomment {
    background-color:white;
    border:solid 1px #CCC;
    border-radius: 7px;
    margin:2px;
    padding: 2px;
}

.expcomment_box {
    border:solid 1px #CCC;
    border-radius: 7px;
    margin:2px;
    padding: 2px;
}

.expcomment_box p {
    margin:0;
}
/* end experiments comments */

.simple_border {
    border:2px solid #AAA;
    border-radius: 5px;
    padding: 10px;
    margin:5px;
}

.title {
    font-size:  160%;
    line-height: 120%;
    margin: 5px;
    padding: 5px;
}

.date, .date_compact {
    color: #5d5d5d;
    margin:15px auto;
}

.date_compact {
    border-right:1px dotted #ccd;
}

#rating {
    float:right;
}

.tags {
    line-height: 200%;
    margin: 10px 0px 10px 5px;
    padding: 3px;
    width: 90%;
}
.tags a {
    text-decoration: none;
    color:#29AEB9;
}
.tags a:hover {
    color: #343434;
}
.tag a:hover {
    color: red;
}
.tags_compact {
    background-color:white;
    border:1px solid #AAA;
    color:black;
    border-radius: 15px;
    font:  12px Courier,Arial,sans-serif;
    line-height: 200%;
    padding: 5px;
    margin: 10px 0px 10px 25px;
}
.tags_compact a{
    text-decoration: none;
}
.tags_compact a:hover {
    color:red;
}
#tagdiv{
    background-color:white;
    border:3px solid #CCC;
    padding: 5px;
}

.tag {
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    line-height: 160%;
}
.tag a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.smallgray{
    color:gray;
    font-size: 12px;
}

#addtaginput {
    margin-top: 7px;
}
/* ucp.php */

#ucp_keyboard input {
    float:right;
}

#ucp_keyboard label {
    float:left;
}
#currpass {
    background-color: #FF8080;
}

/* TEMPLATES */
.templates {
    border:1px solid black;
    font-size: 12px;
    line-height: 300%;
    padding: 7px;
}

.txt {
    background-color:white;
    border:1px solid #CCC;
    color:black;
    font-size: 16px;
    padding: 5px;
}


.filesdiv {
    border-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px 2px #CCC;
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
    font-size: 14px;
    margin: 10px auto 10px auto;
    padding: 5px;
    width:80%;
}
.filesdiv p {
    display: inline;
}
.filesdiv a {
    font-size: 14px;
    text-decoration: none;
}

.filesize{
    color:grey;
    font-size: 10px;
}

/* bigger space to enter experiment */
.mceditable {
    height:700px;
}

/* title on editXP -- fix for firefox */
#title_txtarea {
    width:90%;
}

/* elabid */
.elabid {
    text-align:right;
    font-size: 11px;
}

/* results number and time */
.results_and_time {
    display: inline;
    font-size: 12px;
    color: gray;
}

/* PROFILE PAGE */
#tagcloud {
    text-align: center;
}

.cursor {
    cursor:pointer;
}

/* FOOTER */
footer {
    border-top:solid 2px #CCC;
    font-size: 11px;
    margin: 80px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: center;
}
footer p, footer p a {
    font-size: 11px;
    line-height: 20%;
    text-align: center;
}
footer p a:hover {
    color: #29AEB9;
}

/* print only the main div */
@media print {
    section.item {
        background-color: white;
        width: 900px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    h2 {
        visibility:hidden;
    }
    footer {
        visibility:hidden;
    }
}

/* bigUpload stuff */
.bigUpload {
    display:inline;
}

/* fix the overflow for long filenames and little width of browser */
#bigUploadFile {
    max-width:250px;
    overflow: hidden;
}

.bigUpload .bigUploadContainer {
	max-width: 350px;
	padding: 20px 30px 30px;
	margin: 0 auto 20px;
	margin-top:15px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align: center;
}
.bigUpload #bigUploadFile {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	padding: 10px;
}

.bigUpload #bigUploadProgressBarContainer {
	width:94%;
	height:19px;
	margin-left: 3%;
	margin-top:1%;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.bigUpload #bigUploadProgressBarFilled {
	border-radius: 5px;
	margin: 1px;
	height:17px;
	width:0;
	background-color: rgb(91, 183, 91);
	font-size: 14px;
}

/* prettier code */
code {
    border: 1px dotted #ccc;
    padding:3px;
    background-color:#eee;
}
