/* CSS Document */
/********************************************************************************
*                                                                               *
*   Copyright 2012 Nicolas CARPi (nicolas.carpi@gmail.com)                      *
*   http: //www.elabftw.net/                                                     *
*                                                                               *
********************************************************************************/

/********************************************************************************
*  This file is part of eLabFTW.                                                *
*                                                                               *
*    eLabFTW is free software:  you can redistribute it and/or modify            *
*    it under the terms of the GNU Affero General Public License as             *
*    published by the Free Software Foundation, either version 3 of             *
*    the License, or (at your option) any later version.                        *
*                                                                               *
*    eLabFTW is distributed in the hope that it will be useful,                 *
*    but WITHOUT ANY WARRANTY; without even the implied                         *
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR                    *
*    PURPOSE.  See the GNU Affero General Public License for more details.      *
*                                                                               *
*    You should have received a copy of the GNU Affero General Public           *
*    License along with eLabFTW.  If not, see <http: //www.gnu.org/licenses/>.   *
*                                                                               *
********************************************************************************/

/*
 * 343434 => dark gray
 * 797979 => lightgray
 * #29AEB9 => blue
 * 1F8591 => dark blue
 * C4F9FF => light blue
 * dd1e00 => dark red
 * ffc1b7 => light red
 *
 *
 *
 *
 */



/* Font is Lato */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* little shadow on top of the screen for no reasons */
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
    background:url(images/bg.png) no-repeat center center fixed;
    -moz-background-size:cover;
    background-size: cover;
}

/* this is the big white thing that holds everything */
#container {
    background: #fff;
    font: 100% 'Lato', Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
}

#real_container {
    padding: 10px 45px;
}
/* LINKS */
a {
    color: #606264;
    text-decoration:none;
}
a :hover {
    color:#29AEB9;
    text-decoration:none;
}

/* LISTS */
ul, li {
    list-style-type:none;
}

/* GENERAL */
.center {
    text-align: center;
}

.hidden {
    display:none;
}

.align_right{
    float: right;
}

.align_left{
    text-align: left;
}

.strong {
    font-weight: bold;
}

.three-columns {
    width: 60%;
}

.column-left{ float: left; width: 20%; }
.column-right{ float: right; width: 20%; }
.column-center{ display: inline-block; width: 20%; }

/* paragraphs */

p a {
    text-decoration: none;
}

/* in install/index.php */
.code {
    font:14px Courrier, sans-serif;
    background-color:white;
    border:1px dotted #ccc;
    margin:10px;
    padding:7px;
}

/* hr */
hr {
    margin: 10px 0 10px 0;
    color: #dcdddc
}

li.inline {
    display: inline;
}
/* fix the list in the body */
div.txt ol li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:decimal !important;
}

div.txt li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:square !important;
}


/* prettier tables  */
table, table td {
    border: 1px solid black;
}

/* HEAD */

nav {
    background-color:#343434;
    padding: 20px;
}


nav .navleft a {
    font-size:130%;
    color:white;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

nav .navleft a.selected {
    border-bottom:6px #29AEB9 solid;
    padding-bottom:14px;
}



nav .navleft a:hover {
    color:#29AEB9;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
}

/* submenu */
#submenu {
    border-bottom: 1px dotted #CCC;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#submenu a {
    border:1px solid white;
    border-radius:5px;
    color:#36b1c0;
    padding:7px;
}
#submenu a:hover {
    border:1px solid black;
    border-radius:5px;
    color: black;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
}

/* ERROR/INFO message box */

.messagebox {
    margin: 10px 0;
    color: #343434;
    border: 1px #24AEB9 solid;
    border-radius: 5px;
    padding: 0 10px;
}

.messagebox img:hover {
    opacity: 0.6;
}

/* fix the links in the error/info messages */
.messagebox a {
    color: #343434;
    text-decoration:underline;
}

.infobox {
    background-color: #C4F9FF;
}

.errorbox {
    background-color: #ffc1b7;
    border-color: #dd1e00;
}


/* list all dropdown status list */
.dropdown {
    font: 80% 'Lato', Verdana, Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: #000000;
    padding: 5px;
    border: none;
    border-radius: 10px;
}


/* on admin.php for items types
 * it's bettor to have a pointer to show that you should click
 */
a[class*='trigger_']:hover {
    cursor:pointer;
}

.biginput {
    font: 30px 'Lato', Helvetica, Verdana, Arial, sans-serif;
    text-align:center;
    margin-left:auto;
    display:block;
    margin-right:auto;
    height: 40px;
}

/* on search.php */
#export_menu {
    float:right;
}


/* TITLES */
h2 {
    color: #797979;
    font-size: 30px;
}

h3 {
    color: #797979;
    font-size: 20px;
    margin: 0 auto 10px auto;
}

h4 {
    display: inline;
    font-size: 110%;
    color: #797979;
}

.backdiv {
    text-transform: uppercase;
    color: #29AEB9;
    background-color: #fff;
    border-radius: 25px;
    font-size: 70%;
}

.backdiv a {
    color: #29AEB9;
}

.backdiv a:hover {
    opacity: 0.7;
}
.inline {
    display: inline;
}
/* MENU */

/* BUTTONS */

.submit {
    margin-top:20px;
}

.button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #29AEB9;
}

.button:hover{
    border: none;
    background-color: #1F8591;
}

/* TEAM */
#team .menu ul li {
    display:inline;
    margin: 30px 20px;
    text-transform: uppercase;
    font-weight:bold;
    color: #797979;
    cursor: pointer;
}

#team div {
    margin-top: 40px;
}

.menu .selected {
    border-bottom:6px #29AEB9 solid;
    padding-bottom:4px;
}
/* SEARCH */
#search_inputs_div {
    width:400px;
}
.search_inputs {
    float:right;
}

.submit_search_button{
    float:right;
}
/* search bar */
form#big_search {
    width:40%;
    float:right;
    text-align:right;
    margin-top:-6px;
}
form#big_search input {
    background-color:#ccc;
    border: none;
    border-radius: 20px;
    width:40%;
    padding: 10px;
    background:#ccc url(../img/search32px.png) no-repeat scroll right center;
    transition:width 1s;
}
form#big_search input:focus {
    width:45%;
}
#adv_search {
    z-index:-1;
    padding-top:-20px;
    color: #fff;
    background-color: #29AEB9;
    border-radius: 25px;
    display:inline;
    text-align:center;
}

#adv_search a {
    color: #fff;
}

.innerinnerdiv {
    margin: auto;
    position: relative;
    text-align: right;
    width: 500px;
}

/***********/
textarea {
    font: 100% 'Lato', Verdana, Arial, Helvetica, sans-serif;
}
/* overlay to say it's saved */
.overlay {
    background-color: #000;
    position: fixed;
    opacity: 0.8;
    top: 10px;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.overlay p {
    color:#fff;
    display:inline;
}


/* comments for files */
.editable:hover {
    background-color: #CCC;
}
.editable button[type='submit'] {
    background-color:#29AEB9;
}
.editable button[type='cancel'] {
    background-color:#29AEB9;
    color:white;
    text-transform: uppercase;
}

img {
    border: none;
    position: relative;
    top: 3px;
}

/* save and go back button */
#saveButton {
    margin:20px 0;
    text-align:right;

}

/* ITEMS */

/* fix for big images uploaded in the text */
section.item div.txt {
    overflow:hidden;
}

.item {
    border:  1px solid #CCC;
    border-radius: 5px;
    margin: 10px auto;
    padding: 4px 0;
}

.item a:hover {
    color:#29AEB9;
}

/* admin.php */
.config_form input, .config_form select {
    float:right;
}

.config_form label {
    float:left;
}

.top_right_status {
    color: #797979;
    float:right;
}
.top_right_status img {
    margin: 0 4px 0 25px;
}

/* comments for experiments comments box */
.newexpcomment {
    background-color:white;
    border:solid 1px #CCC;
    border-radius: 7px;
    margin:2px;
    padding: 2px;
}

.expcomment_box {
    border:solid 1px #CCC;
    border-radius: 7px;
    margin:2px;
    padding: 2px;
}

.expcomment_box p {
    margin:0;
}
/* end experiments comments */

.simple_border {
    border:2px solid #AAA;
    border-radius: 5px;
    padding: 10px;
    margin:5px;
}

.title {
    font-size:  160%;
    margin: 0;
    padding-left: 20px;
}

#view_xp_item {
    padding: 20px;
}

.title_view {
    font-size:  160%;
}

.date, .date_compact {
    color: #5d5d5d;
    margin:15px auto;
    padding-left: 20px;
}
.date_view {
    padding-left: 0;
}

.date_compact {
    border-right:1px dotted #ccd;
}

#rating {
    float:right;
}

.tags {
    line-height: 200%;
    margin: 10px 0px 10px 5px;
    padding: 3px;
    width: 90%;
}
.tags a {
    text-decoration: none;
    color:#29AEB9;
}
.tags a:hover {
    color: #343434;
}
.tag a:hover {
    color: red;
}
.tags_compact {
    background-color:white;
    border:1px solid #AAA;
    color:black;
    border-radius: 15px;
    font:  12px Courier,Arial,sans-serif;
    line-height: 200%;
    padding: 5px;
    margin: 10px 0px 10px 25px;
}
.tags_compact a{
    text-decoration: none;
}
.tags_compact a:hover {
    color:red;
}
#tagdiv{
    background-color:white;
    border:3px solid #CCC;
    padding: 5px;
}

.tag {
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    line-height: 160%;
}
.tag a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.smallgray{
    color:gray;
    font-size: 12px;
}

#addtaginput {
    margin-top: 7px;
}
/* ucp.php */

#ucp_keyboard input {
    float:right;
}

#ucp_keyboard label {
    float:left;
}
#currpass {
    background-color: #FF8080;
}

/* TEMPLATES */
.templates {
    border:1px solid black;
    font-size: 12px;
    line-height: 300%;
    padding: 7px;
}

.txt {
    background-color:white;
    border:1px solid #CCC;
    border-radius: 5px;
    margin-top: 10px;
    color:black;
    font-size: 16px;
    padding: 5px;
}

.filediv {
    margin-top:20px;
}
.filediv p, .filediv img {
}
.filediv a {
    font-size: 14px;
    text-decoration: none;
}
.filesize{
    color:grey;
    font-size: 10px;
}

/* bigger space to enter experiment */
.mceditable {
    height:700px;
}

/* title on editXP -- fix for firefox */
#title_input {
    border-radius: 5px;
    margin: 5px 0 10px 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #dcdddc;
    width:100%;
}

/* elabid */
.elabid {
    text-align:right;
    color: #797979;
    font-size: 11px;
}

/* results number and time */
.results_and_time {
    display: inline;
    font-size: 12px;
    color: gray;
}

/* PROFILE PAGE */
#tagcloud {
    text-align: center;
}

.cursor {
    cursor:pointer;
}

/* FOOTER */
footer {
    border-top:solid 1px #dcdddc;
    font-size: 11px;
    margin: 80px 0 5px 0;
    text-align: center;
}
footer p, footer p a {
    font-size: 11px;
    line-height: 20%;
    text-align: right;
}
footer p a:hover {
    color: #29AEB9;
}

.footer_left {
    text-align: left;
}

.footer_left a {
    border-right: 1px #ccc solid;
    padding:0 5px;
}

/* print only the main div */
@media print {
    section.item {
        background-color: white;
        width: 900px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    h2 {
        visibility:hidden;
    }
    footer {
        visibility:hidden;
    }
}

/* bigUpload stuff */
.bigUpload {
    display:inline;
}

/* fix the overflow for long filenames and little width of browser */
#bigUploadFile {
    max-width:250px;
    overflow: hidden;
}

.bigUpload .bigUploadContainer {
	padding: 30px 0;
	margin-top:15px;
    border-top: 1px solid #dcdddc;
    border-bottom: 1px solid #dcdddc;
}
.bigUpload #bigUploadFile {
	padding: 20px 0;
}

.bigUpload #bigUploadProgressBarContainer {
	width:94%;
	height:19px;
	margin-left: 3%;
	margin-top:1%;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.bigUpload #bigUploadProgressBarFilled {
	border-radius: 5px;
	margin: 1px;
	height:17px;
	width:0;
	background-color: rgb(91, 183, 91);
	font-size: 14px;
}

/* prettier code */
code {
    border: 1px dotted #ccc;
    padding:3px;
    background-color:#eee;
}
