/* CSS Document */
/********************************************************************************
*                                                                               *
*   Copyright 2012 Nicolas CARPi (nicolas.carpi@gmail.com)                      *
*   http: //www.elabftw.net/                                                     *
*                                                                               *
********************************************************************************/

/********************************************************************************
*  This file is part of eLabFTW.                                                *
*                                                                               *
*    eLabFTW is free software:  you can redistribute it and/or modify            *
*    it under the terms of the GNU Affero General Public License as             *
*    published by the Free Software Foundation, either version 3 of             *
*    the License, or (at your option) any later version.                        *
*                                                                               *
*    eLabFTW is distributed in the hope that it will be useful,                 *
*    but WITHOUT ANY WARRANTY; without even the implied                         *
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR                    *
*    PURPOSE.  See the GNU Affero General Public License for more details.      *
*                                                                               *
*    You should have received a copy of the GNU Affero General Public           *
*    License along with eLabFTW.  If not, see <http: //www.gnu.org/licenses/>.   *
*                                                                               *
********************************************************************************/
#container {
    border-radius: 20px;
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    margin: auto;
    opacity: 0.95;
    padding: 10px 20px 10px 20px;
    width: 900px;
}
/* LINKS */
a {
    color:  #000;
}
a :hover {
    color:  red;
}

/* GENERAL */
.center{
    text-align: center;
}

.align_right{
    float: right;
}

.align_left{
    text-align: left;
}
p{
    font: 16px Verdana, Arial, Helvetica, sans-serif;
}

p a{
    font: 16px Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.strong {
    font-weight: bold;
}

/* hr */
hr {
    margin: 10px 0 10px 0;
}
hr.flourishes {
    background: url('../img/flourishes.png') no-repeat scroll center 0px transparent; /* -61px */
    border: 0 none;
    clear: both;
    display: block;
    height: 18px;
    opacity: 0.8;
}

hr.tinyflourishes {
    background: url('../img/flourishes.png') no-repeat scroll center -16px transparent; /* -61px */
    border: 0 none;
    clear: both;
    display: block;
    height: 18px;
    margin: 18px 0 0;
    opacity: 0.8;
    outline: 0 none;
}

hr.rishes {
    background: url('../img/flourishes.png') no-repeat scroll center -36px transparent; /* -61px */
    border: 0 none;
    clear: both;
    display: block;
    height: 18px;
    margin: 18px 0 0;
    opacity: 0.8;
    outline: 0 none;
}

li.inline {
    display: inline;
}
/* fix the list in the body */
div.txt ol li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:decimal !important;
}

div.txt li {
    /* !important because there is a list-style-type:none in jquery-ui */
    list-style-type:square !important;
}
/* INFO BOX */
.errors {
    background-color:  #e8c5c9;
    border:  1px solid #ab80c2;
    border-radius: 5px;
    color:  #b24040;
    font: 14px Verdana, Arial;
    padding: 7px;
    text-shadow:  0px 1px #f3f9fc;
}
.infos {
    background-color:  #ace0a8;
    border:  1px solid #96c17f;
    border-radius: 5px;
    color:  #3f713a;
    font: 14px Verdana, Arial;
    padding: 7px;
    text-shadow:  0px 1px #f3f9fc;
}

/* HEAD */
#logo {
    float: left;
}

#page_title {
    clear: both;
    text-align: center;
}

nav{
    clear: both;
    margin: -10px;
    text-align: center;
}

nav a{
    font-size: 20px;
    line-height: 300%;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

#logmenu {
    float: right;
    top: 30px;
}

#logmenu p{
    font:  13px Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 7px;
}
#logmenu p a{
    font:  13px Verdana, Arial, Helvetica, sans-serif;
}
/* submenu */
#submenu {
    border-bottom: 1px dotted #CCC;
    margin-bottom: 15px;
    padding-bottom: 15px;
}


/* on admin.php for items types */
.biginput {
    font: 30px Helvetica, Verdana, Arial, sans-serif;
    text-align:center;
    margin-left:auto;
    display:block;
    margin-right:auto;
    height: 40px;
}

#export_menu {
    float:right;
}

/* results on database search */
.result {
}

#eblue {
    font:  20px Helvetica, Verdana, Arial, sans-serif;
}

#lab{
    font:  24px Verdana, Arial, Helvetica, sans-serif;
}
#ftw{
    font:  30px Impact, Arial, Verdana, sans-serif;
    /* no browser support
    font-stretch: extra-expended;*/
}

/* TITLES */
h1{
    margin-top: -5px;
    text-align: center;
    width: 140px;
}
h1 a {
    text-decoration: none;
}
h2 {
    font: 24px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}



h3 {
    font: 20px Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 100%;
}

h4 {
    display: inline;
    font: 18px Verdana, Arial, Helvetica, sans-serif;
}

.inline {
    display: inline;
}
/* MENU */

/**** SEARCH PAGE ********/

.search_buttons {
	color:  blue;
	cursor:  pointer;
	font:  bold 10px Arial, Helvetica;
    text-align:right;
}

#search_inputs_div {
    width:250px;
}
.search_inputs {
    float:right;
}

.submit_search_button{
    float:right;
}
/* search bar */
#big_search {
    text-align: center;
}
#big_search input {
    font:  20px Helvetica, Verdana, Arial, sans-serif;
    margin-bottom: 10px;
}

/* end search bar 

.search_results_div {
    -moz-column-count:  2;
    -moz-column-gap:  10px;
    -webkit-column-count:  2;
    -webkit-column-gap:  10px;
    column-count:  2;
    column-gap:  10px; 
}

.search_result {
    background: #EEE;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow:  2px 2px 2px 2px #CCC; 
    -webkit-box-shadow:  2px 2px 2px 2px #CCC;
    -moz-box-shadow:  2px 2px 2px 2px #CCC;
    margin: 7px auto 7px auto;
    padding: 10px;
    overflow: hidden;
    width: 350px;
}

.search_result: hover {
    background: #FFF;
}

/* number of search results 
#search_count {
    clear: right;
    filter:  dropshadow(color=#AAA, offx=2, offy=2); 
    text-shadow:  2px 2px 2px #AAA;
}
*/
/* LOGIN */
.login{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 7px 10px 7px;

}

.innerdiv {
    border-radius: 20px;
    margin: auto;
    text-align: center;
    width: 600px;
}

.innerinnerdiv {
    left: -30px;
    margin: auto;
    position: relative;
    text-align: right;
    width: 500px;
}

/* END REGISTER */

.attachFileDiv {
    border:  3px solid #CCC;
    border-radius: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 80%;
}

#submitDiv{
    text-align: right;
}
#submitDiv input{
    border-radius: 20px;
}

/***********/
textarea{
    border:  3px solid #CCC;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    padding:  5px;
}
/* BACKGROUND OF THE EDITOR */
/* toolbar */
.nicEdit-panel {
    background-color:  #fff;
}
.nicEdit-main {
    background-color:  #fff;
}

.input {
    border:  3px solid #CCC;
    margin: 5px 0 5px 0;
    padding:  5px;
}
/* comments for files */
.addFileDiv {
    margin: 10px;
}

.filesdiv {
    border-radius: 20px;
}
.filesdiv p {
    display: inline;
}

.com_file_field{
    margin: 10px 0 0 4px;
}

img {
    border: none;
    position: relative;
    top: 3px;
}

/* ITEMS */
.item {
    background-color: #EEE;
    border:  1px solid #CCC;
    border-radius: 5px;
    box-shadow:  3px 2px 2px 1px #CCC; 
    margin: 7px auto 7px auto;
    padding: 10px;
    width: 742px;
}
/* in admin.php for templates */
.high {
    height:450px;
}
/* item style for experiments */
.running {
    border: 2px dotted blue !important;
}

.success {
    border: 2px solid green !important;
}

.fail {
    border: 2px solid red !important;
}

.redo {
    border: 2px solid gray !important;
}

/* item style for database items */
.pro {
    background-color: #BDE1FF !important;
}

.pla {
    background-color: #9EFFB4 !important;
}
.ant {
    background-color: #9EACFF !important;
}

.simple_border {
    border-radius: 20px;
    padding: 10px;
    margin:5px;
}

.title {
    border-radius: 15px;
    font-size:  20px;
    line-height: 120%;
    margin: 5px;
    padding: 5px;
    width: 650px;
}

.date {
    font:  14px Verdana, Arial,sans-serif;
}

#rating {
    float:right;
}

.tags {
    border-radius: 15px;
    font:  12px Courier,Arial,sans-serif;
    line-height: 200%;
    margin: 10px 0px 10px 5px;
    padding: 3px;
    width: 680px;
}
.tags a{
    text-decoration: none;
}
.tags_compact {
    border-radius: 15px;
    font:  12px Courier,Arial,sans-serif;
    line-height: 200%;
    padding: 5px;
    margin: 10px 0px 10px 25px;
}
.tags_compact a{
    text-decoration: none;
}
#tagdiv{
    padding: 5px;
    width: 442px;
}

.tag {
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    line-height: 160%;
}
.tag a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.smallgray{
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

#addtaginput {
    margin-top: 7px;
}
/* ucp.php */
#currpass {
    background-color: #FFABAB;
}


.themes_div {
    -moz-column-count:  2;
    -moz-column-gap:  10px;
    -webkit-column-count:  2;
    -webkit-column-gap:  10px;
    column-count:  2;
    column-gap:  10px; 
}

/* TEMPLATES */
.templates {
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    line-height: 300%;
    padding: 7px;
}

.txt {
    font-size: 16px;
    padding: 5px;
}

.running_compact, .success_compact, .redo_compact, .fail_compact {
    border-radius: 5px;
    margin: 15px auto 15px auto;
    padding:  5px;
    width: 742px;
}

.date_compact {
    border: 1px black solid;
    border-radius: 5px;
    margin: 15px auto 15px auto;
    padding:  5px;
    width: 742px;
}

.filesdiv{
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    margin: 10px auto 10px auto;
    padding: 5px;
    width: 550px;
}
.filesdiv a{
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.file_item{
    border-radius: 20px;
    margin: 10px auto 10px auto;
    padding:  5px;
    width: 342px;
}

.filesize{
    font-size: 10px;
}

/* bigger space to enter experiment */
.mceditable {
    width:700px;
    height:700px;
}

/* title on editXP -- fix for firefox */
#title_txtarea {
    width:700px;
}

/* elabid */
.elabid {
    text-align:right;
    font-size: 11px;
}

/* PROFILE PAGE */
#tagcloud {
    text-align: center;
}

/* FOOTER */
footer {
    font-size: 11px;
    margin: 15px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: center;
}
footer p, footer p a {
    font-size: 11px;
    line-height: 20%;
    text-align: center;
}

/* PAGINATION */
.pagination{
    text-align: center;
}
