/* This file is here because tinymce will try to load it, fail and pollute the
 * error.log and I didn't find a way to make it stop do that. So the quick and
 * easy solution is to give it a file and call it a day.
 *                                __
 *                       _ww   _a+"D
 *                y#,  _r^ # _*^  y`
 *               q0 0 a"   W*`    F   ____
 *            ;  #^ Mw`  __`. .  4-~~^^`
 *           _  _P   ` /'^           `www=.
 *         , $  +F    `                q
 *         K ]                         ^K`
 *       , #_                . ___ r    ],
 *       _*.^            '.__dP^^~#,  ,_ *,
 *       ^b    / _         ``     _F   ]  ]_
 *        '___  '               ~~^    ]   [
 *        :` ]b_    ~k_               ,`  yl
 *          #P        `*a__       __a~   z~`
 *          #L     _      ^------~^`   ,/
 *           ~-vww*"v_               _/`
 *                   ^"q_         _x"
 *                    __#my..___p/`mma____
 *                _awP",`,^"-_"^`._ L L  #
 *              _#0w_^_^,^r___...._ t [],"w
 *             e^   ]b_x^_~^` __,  .]Wy7` x`
 *              '=w__^9*$P-*MF`      ^[_.=
 *                  ^"y   qw/"^_____^~9 t
 *                    ]_l  ,'^_`..===  x'
 *                     ">.ak__awwwwWW###r
 *                       ##WWWWWWWWWWWWWW__
 *                      _WWWWWWMM#WWWW_JP^"~-=w_
 *            .____awwmp_wNw#[w/`     ^#,      ~b___.
 *             ` ^^^~^"W___            ]Raaaamw~`^``^^~
 *                       ^~"~---~~~~~~`
 */
