{
  "presets": [
    ["@babel/preset-env", {
      "bugfixes": true,
      "useBuiltIns": false,
      "modules": false
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ]
}
