*~
.php_cs.cache
.php_cs
.scannerwork
*.bak
apidoc/html
_srcdoc/
_coverage/
build
cache
config.php*
*.min.css
*.css.map
*.min.js
*.js.map
*.bundle.js
node_modules/*
web/test.php
web/app/js/*.LICENSE.txt
tests/_output/*
tests/_support/_generated*
uploads
/vendor/
web/app/css/tinymce/fonts/*.woff
.sass-cache
src/ts/*.js
src/ts/langs/*.js
