*~
*.br
.php-cs-fixer.cache
.scannerwork
*.bak
apidoc/*/html
_srcdoc/
build
cache
c3.php
config.php*
*.min.css
*.css.map
*.min.js
*.js.map
*.bundle.js
.pnp.*
web/test.php
web/assets/*.LICENSE.txt
web/assets/*.svg
web/assets/*.ttf
web/assets/tinymce_emojis.js
src/node/*.LICENSE.txt
tests/_output/*
tests/_support/_generated*
tests/cypress/screenshots
tests/cypress/videos
uploads
/vendor/
.sass-cache
src/ts/langs/*.js
*.gz
tests/elabftw-user.env
/todo
/ideas
.yarn
