*~
.php_cs.cache
.php_cs
.scannerwork
*.bak
_apidoc
_srcdoc
build
cache
config.php*
*.min.css
*.min.js
*.js.map
*.bundle.js
node_modules/*
web/test.php
tests/_output/*
tests/_support/_generated*
uploads
/vendor/
