# .htaccess for elabftw
# AllowOverride must be set to All in Apache config

# FORCE HTTPS
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# DO NOT SHOW DIRECTORIES
Options -Indexes
