{% extends 'base.html' %}

{% block body %}

{% include('view-edit.html') %}
<script src='app/js/tinymce-dropzone.min.js?v=183'></script>

<section class='box' id='main_section' style='border-left: 6px solid #{{ Entity.entityData.color }}'>
    <img class='align_right entityDestroy' src='app/img/big-trash.png' title='delete' alt='delete' data-type='{{ Entity.type }}' data-id='{{ Entity.id }}' data-confirm="{{ 'Delete this?'|trans }}" />

    <!-- TAGS -->
    <img src='app/img/tags.png' alt='tags' /><label for='addtaginput'>{{ 'Tags'|trans }}</label>
    <div class='tags'>
        <span id='tags_div'>
            <!--  build the tag array -->
            {% if Entity.entityData.tags|length > 0 %}
                {% set tagsIdArr = Entity.entityData.tags_id|split(',') %}
                {% set tagsValueArr = Entity.entityData.tags|split('|') %}
                {% set inc = 0 %}
                {% for tag in tagsValueArr %}
                    <span class='tag'>
                        <a class='tagDestroy' data-type='{{ Entity.type }}' data-id='{{ Entity.id }}' data-tagid='{{ tagsIdArr[inc] }}' data-confirm="{{ 'Delete this?'|trans }}">
                            {{ tag|raw }}
                        </a>
                    </span>
                    {% set inc = inc + 1 %}
                {% endfor %}
            {% endif %}
        </span>
        <input type='text' id='createTagInput' placeholder='{{ 'Add a tag'|trans }}' />
    </div>

    <!--  MAIN FORM -->
    <form id='main_form' method='post' action='app/controllers/EntityController.php' enctype='multipart/form-data'>
        <input name='update' type='hidden' value='true' />
        <input name='id' type='hidden' value='{{ Entity.id }}' />
        <input name='type' type='hidden' value='{{ Entity.type }}' />

        <!-- DATE -->
            <div class='row'>
                <div class='col-md-4'>
                    <img src='app/img/calendar.png' title='date' alt='calendar' />
                    <label for='datepicker'>{{ 'Date'|trans }}</label>
                    <!-- if firefox has support for it: type = date -->
                    <!-- https://bugzilla.mozilla.org/show_bug.cgi?id=825294 -->
                    <input name='date' id='datepicker' size='8' type='text' value='{{ Entity.entityData.date }}' />
                </div>

            {% if Entity.type == 'experiments' %}
                <!-- VISIBILITY -->
                <div class='col-md-4'>
                    <img src='app/img/eye.png' alt='visibility' />
                    <label for='visibility_select'>{{ 'Visibility'|trans }}</label>
                    <select id='visibility_select'>
                        {% for key, value in TeamGroups.getVisibilityList %}
                            <option value='{{ key }}'
                            {{ Entity.entityData.visibility == key ? ' selected' }}
                            >{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

                <!-- CATEGORIES (status for exp and itemstypes for items) -->
                <div class='col-md-4'>
                    <img src='app/img/status.png' alt='category' />
                    <label for='category_select'>
                    {% if Entity.type == 'experiments' %}
                    {{ 'Status'|trans }}
                    {% else %}
                    {{ 'Category'|trans }}
                    {% endif %}
                    </label>
                    <select id='category_select'>
                        {% for category in categoryArr %}
                            <option value='{{ category.category_id }}'
                            {{ Entity.entityData.category_id == category.category_id ? ' selected' }}>{{ category.category }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if Entity.type == 'items' %}
                    <!-- STAR RATING -->
                    <div class='col-md-4' style='margin-top:15px'>
                        {% for i in range(1, 5) %}
                        <input data-rating='{{ i }}' name='star' type='radio' class='star' value='{{ i }}' {{ Entity.entityData.rating == i ? ' checked=checked' }} />
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <!-- TITLE -->
            <h4>{{ 'Title'|trans }}</h4>
            <input id='title_input' name='title' rows='1' value='{{ Entity.entityData.title|raw }}' required />

            <!-- BODY -->
            {% if Entity.type == 'experiments' %}
            <h4>{% trans %}Experiment{% plural 1 %}Experiments{% endtrans %}</h4>
            {% else %}
                <h4>{{ 'Infos'|trans }}</h4>
            {% endif %}

            {% if not Entity.Users.userData.use_markdown %}
            <textarea id='body_area' class='mceditable' name='body' rows='15' cols='80'>{{ Entity.entityData.body|raw }}</textarea>
            {% else %}
            <textarea id='body_area' data-provide='markdown' data-language='{{ lang }}' name='body' rows='15' cols='80'>{{ Entity.entityData.body|raw }}</textarea>
            {% endif %}

            <div class='submitButtonDiv'>
                <button type='submit' name='Submit' class='button'>{{ 'Save and go back'|trans }}</button>
            </div>
        </form>

    <!-- REVISIONS -->
    {{ Revisions.showCount|raw }}

    {% if Entity.type == 'experiments' %}
        <!-- STEPS -->
        <section>
            <img src='app/img/step.png' alt='steps' /> <h4 style='display:inline'>{{ 'Experiments steps'|trans }}</h4>
            <br>
            <div class='list' id='steps_div'>
                {% if stepsArr %}
                <ul class='list-group'>
                    {% for step in stepsArr %}
                    <li class='list-group-item {{ step.finished ? 'finished' }}'>
                        <input type='checkbox' {{ step.finished ? 'checked=checked' }} data-stepid='{{ step.id }}' /> {{ step.body|raw }}
                        <span class='align_right'>{{ step.finished ? step.finished_time }}
                        <a class='stepDestroy' data-stepid='{{ step.id }}'>
                        <img src='app/img/small-trash.png' title='Delete' alt='Delete' /></a></span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <p class='inline'>{{ 'Add a step'|trans }}</p>
            <input id='stepinput' size='60' type='text' name='step' />
        </section>
        <!-- LINKS -->
        <section>
            <img src='app/img/link.png' alt='link' /> <h4 style='display:inline'>{{ 'Linked items'|trans }}</h4>
            <br>
            <div class='list' id='links_div'>
                {% if linksArr %}
                <ul class='list-group'>
                    {% for link in linksArr %}
                    <li class='list-group-item'>{{ link.name|raw }} - <a href='database.php?mode=view&id={{ link.itemid }}'>
                            {{ link.title|raw }}</a>
                        <a class='linkDestroy' data-linkid='{{ link.linkid }}'>
                        <img class='align_right' src='app/img/small-trash.png' title='Delete' alt='Delete' /></a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <p class='inline'>{{ 'Add a link'|trans }}</p>
            <input id='linkinput' size='60' type='text' name='link' placeholder='{{ 'from the database'|trans }}' />
        </section>
    {% endif %}
</section>

<!-- UPLOAD FORM -->
<section class='box'>
    <img src='app/img/attached.png' />
    <h3 style='display:inline'>{{ 'Attach a file'|trans }}</h3>
    <form action='app/controllers/EntityController.php' class='dropzone' id='elabftw-dropzone'></form>
</section>

{{ include('uploads.html') }}

<!-- DOODLE -->
<section class='box'>
    <img src='app/img/pencil.png' />
    <h3 class='inline'>{{ 'Draw something'|trans }}</h3>
    <button class='button show-hide' data-type='doodle'>+</button>
    <div class='canvasDiv'>
        <canvas class='doodle' id='doodleCanvas' width='700px' height='600px'></canvas>
        <button class='button button-delete clearCanvas'>{{ 'Clear'|trans }}</button>
        <button class='button saveCanvas' data-type='{{ Entity.type }}' data-id='{{ Entity.id }}'>{{ 'Save'|trans }}</button>
    </div>
</section>
<script src='app/js/doodle.min.js'></script>

<!-- CHEM EDITOR -->
{% if Entity.Users.userData.chem_editor %}
    <div class='box chemdoodle'>
        <img src='app/img/atom.png' />
        <h3 class='inline'>{{ 'Molecule drawer'|trans }}</h3>
        <button class='button show-hide' data-type='chem'>+</button>
        <div class='center' style='display:none' id='chem_editor'>
            <script src='app/js/sketcher.js'></script>
        </div>
    </div>
{% endif %}

{% if Entity.Users.userData.close_warning %}
    <script src='app/js/closeWarning.js'></script>
{% endif %}
<div id='entityInfos'
    data-upmsg='{{ 'Drop files here to upload'|trans }}'
    data-maxsize='{{ maxUploadSize }}'
    data-type='{{ Entity.type }}'
    data-id='{{ Entity.id }}'
    data-title='{{ cleanTitle }}'
    data-confirm="{{ 'Delete this?'|trans }}"
    data-untitled="{{ 'Untitled'|trans }}"
    data-lang="{{ Entity.Users.userData.lang }}">
</div>
<div id='shortcuts'
    data-create='{{ Entity.Users.userData.sc_create }}'
    data-submit='{{ Entity.Users.userData.sc_submit }}'>
</div>
<script src='app/js/edit.min.js?v=183'></script>
{% endblock body %}
