{% if Ev.Entity.type == 'experiments' %}
    {% set controller = 'app/controllers/ExperimentsController.php' %}
    {% set page = 'experiments.php' %}
{% else %}
    {% set controller = 'app/controllers/DatabaseController.php' %}
    {% set page = 'database.php' %}
{% endif %}

{% if Ev.Entity.Users.userData['chem_editor'] %}
    <link rel='stylesheet' href='app/css/chemdoodle.css' type='text/css'>
    <script src='app/js/chemdoodle/chemdoodle.min.js'></script>
{% endif %}
<script src='app/js/edit.mode.min.js'></script>

{{ Ev.backToLink(Ev.Entity.type)|raw }}

<section class='box' id='main_section' style='border-left: 6px solid #{{ Ev.Entity.entityData['color'] }}'>
    <img class='align_right' src='app/img/big-trash.png' title='delete' alt='delete' onClick="entityDestroy('{{ Ev.Entity.type }}', {{ Ev.Entity.id }}, '{{ 'Delete this?'|trans }}')" />

    <!-- TAGS -->
    <img src='app/img/tags.png' alt='tags' /><label for='addtaginput'>{{ 'Tags'|trans }}</label>
    <div class='tags'>
        <span id='tags_div'>
            <!--  build the tag array -->
            {% if Ev.Entity.entityData['tags']|length > 0 %}
                {% set tagsIdArr = Ev.Entity.entityData['tags_id']|split(',') %}
                {% set tagsValueArr = Ev.Entity.entityData['tags']|split('|') %}
                {% for key, tag in tagsValueArr %}
                    {# the key allows to get the id stored in tagsIdArr #}
                    <span class='tag'>
                        <a onclick="destroyTag('{{ Ev.Entity.type }}', {{ Ev.Entity.id }}, {{ tagsIdArr[key] }})">
                            {{ tag }}
                        </a>
                    </span>
                {% endfor %}
            {% endif %}
        </span>
        <input type='text' id='createTagInput' placeholder='{{ 'Add a tag'|trans }}' />
    </div>

    <!--  MAIN FORM -->
    <form id='main_form' method='post' action='{{ controller }}' enctype='multipart/form-data'>
        <input name='update' type='hidden' value='true' />
        <input name='id' type='hidden' value='{{ Ev.Entity.id }}' />

        <!-- DATE -->
            <div class='row'>
                <div class='col-md-4'>
                    <img src='app/img/calendar.png' title='date' alt='calendar' />
                    <label for='datepicker'>{{ 'Date'|trans }}</label>
                    <!-- if firefox has support for it: type = date -->
                    <!-- https://bugzilla.mozilla.org/show_bug.cgi?id=825294 -->
                    <input name='date' id='datepicker' size='8' type='text' value='{{ Ev.Entity.entityData['date'] }}' />
                </div>
                {% if Ev.Entity.type == 'items' %}
                    <!-- STAR RATING -->
                    <div class='align_right'>
                        {% for i in range(1, 5) %}
                        <input id='star{{ i }}' name='star' type='radio' class='star' value='{{ i }}' {{ Ev.Entity.entityData['rating'] == i ? ' checked=checked' }} />
                        {% endfor %}
                    </div>
                {% endif %}

            {% if Ev.Entity.type == 'experiments' %}
                <!-- VISIBILITY -->
                <div class='col-md-4'>
                    <img src='app/img/eye.png' alt='visibility' />
                    <label for='visibility_select'>{{ 'Visibility'|trans }}</label>
                    <select id='visibility_select' onchange='updateVisibility({{ Ev.Entity.id }}, this.value)'>
                        {% for key, value in Ev.TeamGroups.readFull %}
                            <option value='{{ key }}'
                            {{ Ev.Entity.entityData['visibility'] == key ? ' selected' }}
                            >{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- STATUS -->
                <div class='col-md-4'>
                    <img src='app/img/status.png' alt='status' />
                    <label for='status_select'>{{ 'Status'|trans }}</label>
                    <select id='status_select' name='status' onchange='updateStatus({{ Ev.Entity.id }}, this.value)'>
                        {% for status in Status.readAll() %}
                            <option value='{{ status['category_id'] }}'
                            {{ Ev.Entity.entityData['category_id'] == status['category_id'] ? ' selected' }}>{{ status['category'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            </div>

            <!-- TITLE -->
            <h4>{{ 'Title'|trans }}</h4>
            <input id='title_input' name='title' rows='1' value='{{ Ev.Entity.entityData['title']|raw }}' required />

            <!-- BODY -->
            {% if Ev.Entity.type == 'experiments' %}
                <h4>{{ 'Experiment'|trans }}</h4>
            {% else %}
                <h4>{{ 'Infos'|trans }}</h4>
            {% endif %}

            <textarea id='body_area' class='mceditable' name='body' rows='15' cols='80'>
                {{ Ev.Entity.entityData['body']|raw }}
            </textarea>

            <div id='saveButton'>
                <button type='submit' name='Submit' class='button'>{{ 'Save and go back'|trans }}</button>
            </div>
        </form>

    <!-- REVISIONS -->
    {{ Revisions.showCount|raw }}

    {% if Ev.Entity.type == 'experiments' %}
        <!-- LINKS -->
        <section>
            <img src='app/img/link.png' alt='link' /> <h4 style='display:inline'>{{ 'Linked items'|trans }}</h4>
            <br>
            <span id='links_div'>
                {% set linksArr = Ev.Entity.Links.read %}
                {% if linksArr|length > 0 %}
                <ul class='list-group'>
                    {% for link in linksArr %}
                    <li class='list-group-item'>{{ link['name']|raw }} - <a href='database.php?mode=view&id={{ link['itemid'] }}'>
                            {{ link['title']|raw }}</a>
                        <a onClick="experimentsDestroyLink({{ link['linkid'] }}, {{ Ev.Entity.id }}, '{{ 'Delete this?'|trans }}')">
                        <img class='align_right' src='app/img/small-trash.png' title='delete' alt='delete' /></a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </span>
            <p class='inline'>{{ 'Add a link'|trans }}</p>
            <input id='linkinput' size='60' type='text' name='link' placeholder='{{ 'from the database'|trans }}' />
        </section>
    {% endif %}
</section>

<!-- DOODLE -->
<section class='box'>
    <img src='app/img/pencil.png' />
    <h3 style='display:inline' class='clickable' onclick="$('.canvasDiv').toggle();">{{ 'Draw something'|trans }}</h3>
    <br><br>
    <div class='canvasDiv' style='display:none'>
        <canvas class='doodle' id='doodleCanvas' width='700px' height='600px'></canvas>
        <button class='button button-delete' onClick='clearCanvas()'>{{ 'Clear'|trans }}</button>
        <button class='button' onClick="saveCanvas('{{ Ev.Entity.type }}', {{ Ev.Entity.id }})">{{ 'Save'|trans }}</button>
    </div>
</section>
<script src='app/js/doodle.js'></script>


{% if Ev.Entity.Users.userData['chem_editor'] %}
<div class='box chemdoodle'>
    <h3>{{ 'Molecule drawer'|trans }}</h3>
    <div class='center'>
        <script>
            var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 550, 300, {oneMolecule:true});
        </script>
    </div>
</div>
{% endif %}

{% if Ev.Entity.Users.userData['close_warning'] %}
    <script>
        window.onbeforeunload = function (e) {
                  e = e || window.event;
                  return '{{ 'Do you want to navigate away from this page? Unsaved changes will be lost!'|trans }}';
        };
    </script>
{% endif %}

<script>
    // READY ? GO !!
    $(document).ready(function() {
        // AUTOSAVE
        var typingTimer;                // timer identifier
        var doneTypingInterval = 7000;  // time in ms between end of typing and save

        // user finished typing, save work
        function doneTyping () {
            quickSave('{{ Ev.Entity.type }}', {{ Ev.Entity.id }});
        }
        // KEYBOARD SHORTCUTS
        key('{{ Ev.Entity.Users.userData['sc_create'] }}', function(){
            location.href = '{{ controller }}?create=true';
        });
        key('{{ Ev.Entity.Users.userData['sc_submit'] }}', function(){
            document.forms['main_form'].submit();
        });


        // CREATE TAG
        // listen keypress, add tag when it's enter
        $('#createTagInput').keypress(function (e) {
            createTag(e, '{{ Ev.Entity.type }}', {{ Ev.Entity.id }});
        });
        // autocomplete the tags
        $('#createTagInput').autocomplete({
            source: [{{ Tags.generateTagList('autocomplete')|raw }}]
        });

        {% if Ev.Entity.type == 'experiments' %}
            // CREATE LINK
            // listen keypress, add link when it's enter
            $('#linkinput').keypress(function (e) {
                experimentsCreateLink(e, {{ Ev.Entity.id }});
            });
            // autocomplete the links
            $( '#linkinput' ).autocomplete({
                source: [{{ Ev.Entity.getEntityList('default')|raw }}]
            });

        {% endif %}

        // DATEPICKER
        $( '#datepicker' ).datepicker({dateFormat: 'yymmdd'});
        // If the title is 'Untitled', clear it on focus
        $('#title_input').focus(function(){
            if ($(this).val() === '{{ 'Untitled'|trans }}') {
                $('#title_input').val('');
            }
        });

        // STAR RATING
        $('input.star').rating();
        $('#star1').click(function() {
            updateRating(1, {{ Ev.Entity.id }});
        });
        $('#star2').click(function() {
            updateRating(2, {{ Ev.Entity.id }});
        });
        $('#star3').click(function() {
            updateRating(3, {{ Ev.Entity.id }});
        });
        $('#star4').click(function() {
            updateRating(4, {{ Ev.Entity.id }});
        });
        $('#star5').click(function() {
            updateRating(5, {{ Ev.Entity.id }});
        });

        // EDITOR
        tinymce.init({
            mode : 'specific_textareas',
            editor_selector : 'mceditable',
            content_css : 'app/css/tinymce.css',
            plugins : 'table textcolor searchreplace code fullscreen insertdatetime paste charmap lists advlist save image link pagebreak mention codesample',
            pagebreak_separator: '<pagebreak>',
            toolbar1: 'undo redo | bold italic underline | fontsizeselect | alignleft aligncenter alignright alignjustify | superscript subscript | bullist numlist outdent indent | forecolor backcolor | charmap | codesample | image link | save',
            removed_menuitems : 'newdocument',
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'R', value: 'r'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
                ],
            // save button :
            save_onsavecallback: function() {
                quickSave('{{ Ev.Entity.type }}', {{ Ev.Entity.id }});
            },
            // keyboard shortcut to insert today's date at cursor in editor
            setup : function(editor) {
                editor.addShortcut('ctrl+shift+d', 'add date at cursor', function() { addDateOnCursor(); });
                editor.on('keydown', function(event) {
                    clearTimeout(typingTimer);
                });
                editor.on('keyup', function(event) {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(doneTyping, doneTypingInterval);
                });
            },
            mentions: {
                delimiter: ['#', '$'],
                source: function (query, process, delimiter) {
                            if (delimiter === '#') {
                                process([{{ Ev.Entity.getEntityList('mention')|raw }}]);
                            }
                            if (delimiter === '$') {
                                process([{{ Ev.Entity.getEntityList('mention-user')|raw }}]);
                            }
                        }
            },
            language : '{{ Ev.Entity.Users.userData['lang'] }}',
            style_formats_merge: true,
            style_formats: [
                {
                    title: 'Image Left',
                    selector: 'img',
                    styles: {
                        'float': 'left',
                        'margin': '0 10px 0 10px'
                    }
                 },
                 {
                     title: 'Image Right',
                     selector: 'img',
                     styles: {
                         'float': 'right',
                         'margin': '0 0 10px 10px'
                     }
                 }
            ]
    });
});
</script>
