<div class='box'>
    <h3>{{ 'Edit Users'|trans }}</h3>
    <hr>
    <ul class='list-group'>

        {% for user in usersArr %}
        <li><p>Team: {{ user.teamname|raw }}</p></li>
        <li>
            <form method='post' action='app/controllers/UsersController.php'>
                <input type='hidden' value='true' name='usersUpdate' />
                {% if fromSysconfig %}
                    <input type='hidden' value='1' name='fromSysconfig' />
                {% endif %}
                <input type='hidden' value='{{ user.userid }}' name='userid' />
                <ul class='list-inline'>

                    <li>
                        {# add the userid in the for and id to prevent having more than one id on the page. Label wrapping wouldn't display nice #}
                        <label class='block' for='usersUpdateFirstname_{{ user.userid }}'>{{ 'Firstname'|trans }}</label>
                        <input class='clean-form' id='usersUpdateFirstname_{{ user.userid }}' type='text' value='{{ user.firstname|raw }}' name='firstname' />
                    </li>

                    <li>
                        <label class='block' for='usersUpdateLastname_{{ user.userid }}'>{{ 'Lastname'|trans }}</label>
                        <input class='clean-form' id='usersUpdateLastname_{{ user.userid }}' type='text' value='{{ user.lastname|raw }}' name='lastname' />
                    </li>

                    <li>
                        <label class='block' for='usersUpdateEmail_{{ user.userid }}'>{{ 'Email'|trans }}</label>
                        <input class='clean-form' id='usersUpdateEmail_{{ user.userid }}' type='email' value='{{ user.email }}' name='email' />
                    </li>

                    <li>
                        <label class='block' for='usersUpdateUsergroup_{{ user.userid }}'>{{ 'Group'|trans }}</label>
                        <select class='clean-form' name='usergroup' id='usersUpdateUsergroup_{{ user.userid }}'>
                            {% if App.Session.get('is_sysadmin') %}
                                <option value='1' {{ user.usergroup == '1' ? " selected='selected'" }}>Sysadmins</option>
                            {% endif %}
                            <option value='2' {{ user.usergroup == '2' ? " selected='selected'" }}>Admins</option>
                            <option value='3' {{ user.usergroup == '3' ? " selected='selected'" }}>Admins + Lock power</option>
                            <option value='4' {{ user.usergroup == '4' ? " selected='selected'" }}>Users</option>

                        </select>
                    </li>

                    <li>
                        <label class='block' for='usersUpdatePassword'>{{ 'Reset user password'|trans }}
                            <span class='smallgray'>({{ constant('MIN_PASSWORD_LENGTH', Auth) }} {{ 'characters minimum'|trans }})</span>
                        </label>
                        {# add empty input to prevent FF from putting password in field because autocomplete doesn't work. from http://stackoverflow.com/questions/17781077/autocomplete-off-is-not-working-on-firefox #}
                        <input type='text' style='display:none'>
                        <input type='password' style='display:none'>
                        {% set pattern = '.{' ~ constant('MIN_PASSWORD_LENGTH', Auth) ~ ',}' %}
                        <input autocomplete='new-password' class='clean-form' id='usersUpdatePassword' type='password' pattern='{{ pattern }}' value='' name='password' />
                    </li>

                    <li>
                        <label class='block' for='usersUpdateValidated_{{ user.userid }}'>{{ 'Has an active account?'|trans }}</label>
                        <select class='clean-form' name='validated' id='usersUpdateValidated_{{ user.userid }}'>
                            <option value='1' {{ user.validated ? " selected='selected'" }}>{{ 'Yes'|trans }}</option>
                            <option value='0' {{ not user.validated ? " selected='selected'" }}>{{ 'No'|trans }}</option>

                        </select>
                    </li>

                    <li>
                        <button type='submit' class='button'>{{ 'Save'|trans }}</button>
                    </li>
                </ul>
            </form>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>
