{% if Ev.Entity.type == 'experiments' %}
    {% set controller = 'app/controllers/ExperimentsController.php' %}
    {% set page = 'experiments.php' %}
{% else %}
    {% set controller = 'app/controllers/DatabaseController.php' %}
    {% set page = 'database.php' %}
{% endif %}

{% if Ev.Entity.Users.userData['chem_editor'] %}
    <link rel='stylesheet' href='app/css/chemdoodle.css' type='text/css'>
    <script src='app/js/chemdoodle/chemdoodle.min.js'></script>
{% endif %}
<script src='app/js/tinymce-dropzone.min.js'></script>

{{ Ev.backToLink(Ev.Entity.type)|raw }}

<section class='box' id='main_section' style='border-left: 6px solid #{{ Ev.Entity.entityData['color'] }}'>
    <img class='align_right entityDestroy' src='app/img/big-trash.png' title='delete' alt='delete' data-type='{{ Ev.Entity.type }}' data-id='{{ Ev.Entity.id }}' data-confirm="{{ 'Delete this?'|trans }}" />

    <!-- TAGS -->
    <img src='app/img/tags.png' alt='tags' /><label for='addtaginput'>{{ 'Tags'|trans }}</label>
    <div class='tags'>
        <span id='tags_div'>
            <!--  build the tag array -->
            {% if Ev.Entity.entityData['tags']|length > 0 %}
                {% set tagsIdArr = Ev.Entity.entityData['tags_id']|split(',') %}
                {% set tagsValueArr = Ev.Entity.entityData['tags']|split('|') %}
                {% for key, tag in tagsValueArr %}
                    {# the key allows to get the id stored in tagsIdArr #}
                    <span class='tag'>
                        <a class='tagDestroy' data-type='{{ Ev.Entity.type }}' data-id='{{ Ev.Entity.id }}' data-tagid='{{ tagsIdArr[key] }}' data-confirm="{{ 'Delete this?'|trans }}">
                            {{ tag|raw }}
                        </a>
                    </span>
                {% endfor %}
            {% endif %}
        </span>
        <input type='text' id='createTagInput' placeholder='{{ 'Add a tag'|trans }}' />
    </div>

    <!--  MAIN FORM -->
    <form id='main_form' method='post' action='{{ controller }}' enctype='multipart/form-data'>
        <input name='update' type='hidden' value='true' />
        <input name='id' type='hidden' value='{{ Ev.Entity.id }}' />

        <!-- DATE -->
            <div class='row'>
                <div class='col-md-4'>
                    <img src='app/img/calendar.png' title='date' alt='calendar' />
                    <label for='datepicker'>{{ 'Date'|trans }}</label>
                    <!-- if firefox has support for it: type = date -->
                    <!-- https://bugzilla.mozilla.org/show_bug.cgi?id=825294 -->
                    <input name='date' id='datepicker' size='8' type='text' value='{{ Ev.Entity.entityData['date'] }}' />
                </div>
                {% if Ev.Entity.type == 'items' %}
                    <!-- STAR RATING -->
                    <div class='align_right'>
                        {% for i in range(1, 5) %}
                        <input data-rating='{{ i }}' name='star' type='radio' class='star' value='{{ i }}' {{ Ev.Entity.entityData['rating'] == i ? ' checked=checked' }} />
                        {% endfor %}
                    </div>
                {% endif %}

            {% if Ev.Entity.type == 'experiments' %}
                <!-- VISIBILITY -->
                <div class='col-md-4'>
                    <img src='app/img/eye.png' alt='visibility' />
                    <label for='visibility_select'>{{ 'Visibility'|trans }}</label>
                    <select id='visibility_select'>
                        {% for key, value in Ev.TeamGroups.readFull %}
                            <option value='{{ key }}'
                            {{ Ev.Entity.entityData['visibility'] == key ? ' selected' }}
                            >{{ value|trans }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- STATUS -->
                <div class='col-md-4'>
                    <img src='app/img/status.png' alt='status' />
                    <label for='status_select'>{{ 'Status'|trans }}</label>
                    <select id='status_select'>
                        {% for status in Status.readAll() %}
                            <option value='{{ status['category_id'] }}'
                            {{ Ev.Entity.entityData['category_id'] == status['category_id'] ? ' selected' }}>{{ status['category'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            </div>

            <!-- TITLE -->
            <h4>{{ 'Title'|trans }}</h4>
            <input id='title_input' name='title' rows='1' value='{{ Ev.Entity.entityData['title']|raw }}' required />

            <!-- BODY -->
            {% if Ev.Entity.type == 'experiments' %}
                <h4>{{ 'Experiment'|trans }}</h4>
            {% else %}
                <h4>{{ 'Infos'|trans }}</h4>
            {% endif %}

            <textarea id='body_area' class='mceditable' name='body' rows='15' cols='80'>
                {{ Ev.Entity.entityData['body']|raw }}
            </textarea>

            <div class='submitButtonDiv'>
                <button type='submit' name='Submit' class='button'>{{ 'Save and go back'|trans }}</button>
            </div>
        </form>

    <!-- REVISIONS -->
    {{ Revisions.showCount|raw }}

    {% if Ev.Entity.type == 'experiments' %}
        <!-- LINKS -->
        <section>
            <img src='app/img/link.png' alt='link' /> <h4 style='display:inline'>{{ 'Linked items'|trans }}</h4>
            <br>
            <span id='links_div'>
                {% set linksArr = Ev.Entity.Links.read %}
                {% if linksArr|length > 0 %}
                <ul class='list-group'>
                    {% for link in linksArr %}
                    <li class='list-group-item'>{{ link['name']|raw }} - <a href='database.php?mode=view&id={{ link.itemid }}'>
                            {{ link['title']|raw }}</a>
                        <a class='linkDestroy' data-linkid='{{ link.linkid }}'>
                        <img class='align_right' src='app/img/small-trash.png' title='Delete' alt='Delete' /></a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </span>
            <p class='inline'>{{ 'Add a link'|trans }}</p>
            <input id='linkinput' size='60' type='text' name='link' placeholder='{{ 'from the database'|trans }}' />
        </section>
    {% endif %}
</section>

<!-- DOODLE -->
<section class='box'>
    <img src='app/img/pencil.png' />
    <h3 class='clickable togglable-next'>{{ 'Draw something'|trans }}</h3>
    <div class='canvasDiv togglable-hidden'>
        <canvas class='doodle' id='doodleCanvas' width='700px' height='600px'></canvas>
        <button class='button button-delete clearCanvas'>{{ 'Clear'|trans }}</button>
        <button class='button saveCanvas' data-type='{{ Ev.Entity.type }}' data-id='{{ Ev.Entity.id }}'>{{ 'Save'|trans }}</button>
    </div>
</section>
<script src='app/js/doodle.js'></script>


{% if Ev.Entity.Users.userData['chem_editor'] %}
    <div class='box chemdoodle'>
        <h3>{{ 'Molecule drawer'|trans }}</h3>
        <div class='center'>
            <script src='app/js/sketcher.js'></script>
        </div>
    </div>
{% endif %}

{% if Ev.Entity.Users.userData['close_warning'] %}
    <script src='app/js/closeWarning.js'></script>
{% endif %}
<div id='entityInfos'
    data-type='{{ Ev.Entity.type }}'
    data-id='{{ Ev.Entity.id }}'
    data-title='{{ cleanTitle }}'
    data-confirm="{{ 'Delete this?'|trans }}"
    data-untitled="{{ 'Untitled'|trans }}"
    data-lang="{{ Ev.Entity.Users.userData.lang }}">
</div>
<div id='shortcuts'
    data-create='{{ Ev.Entity.Users.userData.sc_create }}'
    data-submit='{{ Ev.Entity.Users.userData.sc_submit }}'>
</div>
<script src='app/js/edit.min.js'></script>
