<footer>
    <p class='footer_left'>
        <a class='elab-tooltip-top' href='https://twitter.com/elabftw'>
            <span>Follow eLabFTW on Twitter!</span>
            <img src='app/img/twitter.png' alt='twitter' />
        </a>

        <a class='elab-tooltip-top' href='https://github.com/elabftw/elabftw'>
            <span>eLabFTW on GitHub</span>
            <img src='app/img/github.png' alt='github' />
        </a>
        <span>
            {% if SESSION['auth'] and SESSION['is_sysadmin'] %}
                <a href='sysconfig.php'>{{ 'Sysadmin panel'|trans }}</a>
            {% endif %}

            {% if SESSION['auth'] and SESSION['is_admin'] %}
                <a href='admin.php'>{{ 'Admin panel'|trans }}

                    {% if Users.readAllFromTeam(SESSION['team_id'], 0)|length > 0 %}
                        <span class='badge'>{{ Users.readAllFromTeam(SESSION['team_id'], 0)|length }}</span>
                    {% endif %}
                </a>
            {% endif %}
        </span>
    </p>

    <p class='footer_right'>
        {{ 'Powered by'|trans }}
        <a href='https://www.elabftw.net'>eLabFTW</a><br>
        {{ 'Page generated in'|trans ~ generationTime ~ 'seconds'|trans }}
        ({{ sqlNb }} SQL)
    </p>
</footer>

<!-- advanced search div -->
<script>
    $('#adv_search').hide();
    $('#big_search_input').click(function() {
        $('#adv_search').show();
    });
    $('#help_container').hide();
    $('#help').click(function() {
        $('#help_container').toggle();
    });
</script>
</body>
</html>
