{% extends 'base.html' %}

{% block body %}
<!-- show message if there is a failed_attempt -->
{% if Session.has('failed_attempt') and Session.get('failed_attempt') < App.Config.configArr.login_tries %}
    {% set number_of_tries_left = App.Config.configArr.login_tries - Session.get('failed_attempt') %}
    {{ 'Number of login attempt left before being banned for %s minutes: %s'|trans|format(
        App.Config.configArr.ban_time,
        number_of_tries_left)|msg('ko') }}
{% endif %}

<menu class='border' style='color:#29AEB9'>{{ 'Note: You need cookies enabled to log in.'|trans }}</menu>

<section class='center'>
    {% if showLocal %}
    <!-- Login form , the id is for an acceptance test -->
    <form method="post" id='login' action="app/controllers/LoginController.php" autocomplete="off">
        <h2>{{ 'Sign in to your account'|trans }}</h2>
        <br>
        <p class="login-area">
        <label class='block' for="email">{{ 'Email'|trans }}</label>
        <input class="login-area-input" name="email" type="email" value='{{ Session.has('email') ? Session.get('email') }}' required /><br>
        <label class='block' for="password">{{ 'Password'|trans }}</label>
            <input class="login-area-input" name="password" type="password" required /><br>
            <!-- form key -->
            {{ FormKey.getFormkey|raw }}
        <input type='checkbox' name='rememberme' id='rememberme' />
        <label for='rememberme'>{{ 'Remember me'|trans }}</label>
        </p>
        <div id='loginButtonDiv'>
            <button type="submit" class='button' name="Submit">{{ 'Login'|trans }}</button>
        </div>
    </form>
    <p>
        {{ "Don't have an account? %sRegister%s now!<br>Lost your password? %sReset%s it!"|trans|format(
            "<a href='register.php'>",
            "</a>",
            "<a href='#' class='trigger'>",
            "</a>")|raw }}
    </p>
    {% endif %}

    {% if idpsArr|length > 0 %}

        <h2>{{ 'Login through your institution'|trans }}</h2>
        <br>
        <form method='post' id='saml-login' action='app/controllers/LoginController.php' autocomplete='off'>
            <select name='idp_id'>
                {% for idp in idpsArr %}
                    <option value='{{ idp.id }}'>{{ idp.name }}</option>
                {% endfor %}
            </select>
            <button class='button' type='submit' name='submit'>Go</button>
        </form>
    {% endif %}

    <div class='toggle_container'>
    <form name='resetPass' method='post' action='app/controllers/ResetPasswordController.php'>
        <input placeholder='{{ 'Enter your email address'|trans }}' name='email' type='email' required />
        <button class='button' type="submit" name="Submit">{{ 'Send new password'|trans }}</button>
    </form>
    </div>

</section>
<script src='app/js/login.min.js'></script>
{% endblock body %}
