{% extends 'base.html' %}

{% block body %}

{% if not searchPage %}
<div class='row'>
    <!-- LEFT MENU - CREATE NEW -->
    <div class='col-md-2'>
        <div class='dropdown'>
            <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu1' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>{{ 'Create new'|trans }} <span class='caret'></span></button>
        <ul class='dropdown-menu' aria-labelledby='dropdownMenu1'>
            {% if Entity.type == 'experiments' %}
                <li class='dropdown-item'><a href='app/controllers/ExperimentsController.php?create=true'>
                    {% trans %}
                    Experiment
                    {% plural 1 %}
                    Experiments
                    {% endtrans %}
                    </a>
                <li role='separator' class='divider'></li>
                {% if templatesArr|length > 0 %}
                    {% for tpl in templatesArr %}
                        <li class='dropdown-item'>
                            <a href='app/controllers/ExperimentsController.php?create=true&tpl={{ tpl.id }}'>{{ tpl.name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class='dropdown-item disabled'><a href='#'>{{ 'No templates found'|trans }}</a></li>
                {% endif %}
                <li role='separator' class='divider'></li>
                <li class='dropdown-item'><a href='ucp.php?tab=3'>{{ 'Manage templates'|trans }}</a></li>
            {% else %}
                {% for category in categoryArr %}
                    <li class='dropdown-item'>
                        <a style='color:#{{ category.color }}' href='app/controllers/DatabaseController.php?create={{ category.category_id }}'>{{ category.category }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        </div>
    </div>
    <!-- RIGHT MENU -->
    <!-- we hide this menu for small devices -->
<div class='col-md-10 hidden-xs'>

    <!-- FILTERS -->
<form id='filter-order-sort' class='form-inline align_right'>
<div class='form-group'>
    <input type='hidden' name='tag' value='{{ tag }}' />
    <input type='hidden' name='q' value='{{ query }}' />

    <!-- CATEGORY -->
<select name='cat' style='-moz-appearance:none' class='form-control select-filter-status'>
    <option value=''>{{ Entity.type == 'experiments' ? 'Filter status'|trans : 'Filter by type'|trans }}</option>
    {% for category in categoryArr %}
        <option value='{{ category.category_id }}' {{ Request.query.get('cat') == category.category_id ? 'selected' }}>
        {{ category.category }}</option>
    {% endfor %}

</select>
<input type='hidden' name='mode' value='show' />
<button class='btn btn-elab submit-filter'>{{ 'Filter'|trans }}</button>

<!-- ORDER -->
<select name='order' style='-moz-appearance:none' class='form-control select-order'>
    <option value=''>{{ 'Order by'|trans }}</option>
    <option value='cat' {{ Request.query.get('order') == 'cat' ? 'selected' }}>{{ 'Category'|trans }}</option>
    <option value='date' {{ Request.query.get('order') == 'date' ? 'selected' }}>{{ 'Date'|trans }}</option>
    {% if Entity.type == 'database' %}
        <option value='rating' {{ Request.query.get('order') == 'rating' ? 'selected' }}>{{ 'Rating'|trans }}</option>
    {% else %}
        <option value='comment' {{ Request.query.get('order') == 'comment' ? 'selected' }}>{{ 'Comment'|trans }}</option>
    {% endif %}
    <option value='title' {{ Request.query.get('order') == 'title' ? 'selected' }}>{{ 'Title'|trans }}</option>
</select>

<!-- SORT -->
<select name='sort' style='-moz-appearance:none' class='form-control select-sort'>
    <option value=''>{{ 'Sort'|trans }}</option>
    <option value='desc' {{ Request.query.get('sort') == 'desc' ? 'selected' }}>{{ 'DESC'|trans }}</option>
    <option value='asc' {{ Request.query.get('sort') == 'asc' ? 'selected' }}>{{ 'ASC'|trans }}</option>
</select>
<button class='btn btn-elab submit-order'>{{ 'Order'|trans }}</button>
<button type='reset' class='btn btn-danger submit-reset' onClick="javascript:location.href='?mode=show'">
    {{ 'Reset'|trans }}
</button>
</div>
</form>

</div>
</div>
<hr>

{% endif %}

{% set count = itemsArr|length %}

{% if count == 0 and searchType != '' %}
    {{ "Sorry. I couldn't find anything :("|trans|msg('ko', false) }}
{% elseif count == 0 and searchType == '' %}
    {{ "Welcome to eLabFTW. Use the 'Create new' button to get started!"|trans|msg('ok', false) }}
{% else %}
    <p class='smallgray' style='display:inline'>
        {{ count }}
        {% trans %}
            result found
        {% plural count %}
            results found
        {% endtrans %}
        <a href='#' id='selectAllBoxes'>{{ 'Select all'|trans }}</a>
        <span id='advancedSelectOptions'> - <a href='#' id='unselectAllBoxes'>{{ 'Clear selection'|trans }}</a> - 
            <a href='#' id='invertSelection'>{{ 'Invert selection'|trans }}</a></span>
    </p>

    <p id='withSelected'>{{ 'With selected:'|trans }}
    {% if not searchPage %}
        <select id='catChecked'>
            <option selected disabled>
            {% if Entity.type == 'experiments' %}
                {{ 'Change status'|trans }}
            {% else %}
                {{ 'Change item type'|trans }}
            {% endif %}
            </option>

            {% for category in categoryArr %}
                <option value='{{ category.category_id }}'>{{ category.category }}</option>
            {% endfor %}
        </select>
    {% endif %}
        <button data-what = 'zip' class='button csvzip'>{{ 'Make Zip'|trans }}</button>
        <button data-what='csv' class='button csvzip'>{{ 'Make Csv'|trans }}</button>
        <button id='deleteChecked' class='button button-delete'>{{ 'Delete'|trans }}</button>
    </p>
    <div class='row display-flex'>
    {% for item in itemsArr %}
        {% set permissions = Entity.getPermissions(item) %}
        {% if permissions.read %}
            {# dim the experiment a bit if it's not yours #}
            {% set opacity = '1' %}
            {% if (Entity.Users.userid != item.userid) and Entity.type == 'experiments' %}
                {% set opacity = '0.7' %}
            {% endif %}
            {% if Entity.Users.userData.single_column_layout %}
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            {% else %}
                <div class='col-xs-12 col-sm-6 col-md-6 col-lg-4'>
            {% endif %}
            <section class='item' id='parent_{{ item.id }}' style='opacity:{{ opacity }}; border-left: 6px solid #{{ item.color }}'>

                <p class='title'>
                {% if item.locked %}
                    <img style='padding-bottom:3px;' src='app/img/lock-blue.png' alt='lock' />
                {% endif %}

                <a href='{{ Entity.page }}.php?mode=view&id={{ item.id }}'>{{ item.title|raw }}</a>
                </p>
                {% if item.next_step|length > 0 %}
                    {% set stepsArr = item.next_step|split('|') %}
                    {% set next = stepsArr|first %}
                    <p style='padding-left:20px'>
                    {{ 'Next step'|trans }}: <span style='color:black'>{{ next|raw }}</span>
                    </p>
                {% endif %}
<img id='bodyToggleImg_{{ item.id }}' data-type='{{ Entity.type }}' class='bodyToggleImg' src='app/img/show-more.png' title='Show more' alt='+' />
                <p style='padding-left:20px'>
                    {% if searchPage %}
                        {{ item.fullname|raw }}
                    {% endif %}
                    <input type='checkbox' data-id='{{ item.id }}' data-type='{{ Entity.type }}' style='width:15px;vertical-align:-3px;' />
                {% if not item.locked and (item.userid == App.Users.userid or Entity.type == 'items') %}
                <a href='{{ Entity.page }}.php?mode=edit&id={{ item.id }}'><img src='app/img/pen-blue.png' alt='edit' /></a>
                {% endif %}
                <span style='text-transform:uppercase;font-size:80%;color:#{{ item.color }}'>{{ item.category }}</span>
                <span class='date'><img class='image' alt='Date' src='app/img/calendar.png' />{{ item.date|kdate }}</span>
                {% if item.timestamped %}
                    <img src='app/img/stamp.png' alt='stamp' title='experiment timestamped' />
                {% endif %}

                {# show attached if there is a file attached #}
                {% if item.has_attachment %}
                    <img src='app/img/attached.png' alt='file attached' />
                {% endif %}

                {% if Entity.type == 'items' %}
                    {{ item.rating|stars|raw }}
                {% endif %}

                {% if item.tags is not null %}
                <span class='tags'><img src='app/img/tags.png' alt='tags' />
                    {% set tagsArr = item.tags|split('|') %}
                    {% for tag in tagsArr %}
                    <a href='{{ Entity.page }}.php?mode=show&tag={{ tag|url_encode }}'>{{ tag|raw }}</a>
                    {% endfor %}
                {% endif %}
                </p>
                <div class='bodyToggle' id='bodyToggle_{{ item.id }}' style='overflow:auto;margin: 10px 0 0 20px'></div>
            </section>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    {% if count > Entity.Users.userData.limit_nb %}
        {# show load more button if there are more results than the default display number #}
        <div class='center'>
            <button class='button' id='loadButton'>{{ 'Show %s more'|trans|format(Entity.Users.userData.limit_nb) }}</button>
            <button class='button button-neutral' id='loadAllButton'>{{ 'Show all'|trans }}</button>
        </div>
    {% endif %}

{% endif %}

<div id='shortcuts' data-create='{{ Entity.Users.userData.sc_create }}'></div>
<div id='limit' data-limit='{{ Entity.Users.userData.limit_nb }}'></div>
<div id='type' data-type='{{ Entity.type }}'></div>
<script src='app/js/show.min.js'></script>
{% endblock body %}
