{% set count = Ev.itemsArr|length %}

{% if count == 0 and Ev.searchType != '' %}
    {{ "Sorry. I couldn't find anything :("|trans|msg('ko', false) }}
{% elseif count == 0 and Ev.searchType == '' %}
    {{ "Welcome to eLabFTW. Use the 'Create new' button to get started!"|trans|msg('ok', false) }}
{% else %}
    {{ Ev.buildExportMenu(Ev.itemsArr)|raw }}
    <p class='smallgray' style='display:inline'>
        {{ count }}
        {% trans %}
            result found
        {% plural count %}
            results found
        {% endtrans %}
    </p>

        {% set page = 'experiments' %}
        {% if Ev.Entity.type == 'items' %}
        {% set page = 'database' %}
        {% endif %}

    {% for item in Ev.itemsArr %}
        {% set permissions = Ev.Entity.getPermissions(item) %}
        {% if permissions['read'] %}
            {# dim the experiment a bit if it's not yours #}
            {% set opacity = '1' %}
            {% if (Ev.Entity.Users.userid != item['userid']) and Ev.Entity.type == 'experiments' %}
                {% set opacity = '0.7' %}
            {% endif %}
            <section class='item {{ Ev.Entity.Users.userData.display }}' style='opacity:{{ opacity }}; border-left: 6px solid #{{ item['color'] }}'>
                <a href='{{ page }}.php?mode=view&id={{ item['id'] }}'>
                {# show attached if there is a file attached #}
                {% if item['has_attachment'] %}
                    <img style='clear:both' class='align_right' src='app/img/attached.png' alt='file attached' />
                {% endif %}

                {% if Ev.Entity.type == 'items' %}
                    {{ Ev.showStars(item['rating'])|raw }}
                {% endif %}

                <a href='{{ page }}.php?mode=view&id={{ item['id'] }}'>
                <p class='title'>
                {% if item['timestamped'] %}
                    <img class='align_right' src='app/img/stamp.png' alt='stamp' title='experiment timestamped' />
                {% endif %}

                {% if item['locked'] %}
                <img style='padding-bottom:3px;' src='app/img/lock-blue.png' alt='lock' />
                {% endif %}

                {{ item['title'] }}</p></a>
                <span style='text-transform:uppercase;font-size:80%;padding-left:20px;color:#{{ item['color'] }}'>
                    <img id='bodyToggleImg_{{ item['id'] }}' class='bodyToggleImg' src='app/img/show-more.png' title='Show more' alt='+' /> {{ item['category'] }}</span>
                <span class='date'><img class='image' src='app/img/calendar.png' />{{ item['date']|kdate }}</span>
                {% if item['tags'] is not null %}
                <span class='tags'><img src='app/img/tags.png' alt='tags' />
                    {% set tagsArr = item['tags']|split('|') %}
                    {% for tag in tagsArr %}
                        <a href='{{ page }}.php?mode=show&tag={{ tag }}'>{{ tag }}</a>
                    {% endfor %}
                {% endif %}
                <div class='bodyToggle' id='bodyToggle_{{ item['id'] }}' style='display:none; margin: 10px 0 0 20px'>{{ item['body']|raw }}</div>
            </section>
        {% endif %}
    {% endfor %}

    {% if count > Ev.limit %}
        {# show load more button if there are more results than the default display number #}
        <div class='center'>
            <button class='button' id='loadButton'>{{ 'Show %s more'|trans|format(Ev.limit) }}</button>
            <button class='button button-neutral' id='loadAllButton'>{{ 'Show all'|trans }}</button>
        </div>
    {% endif %}

{% endif %}

<script>
    $(document).ready(function(){

        // bodyToggleImg is the little +/- image
        $('.bodyToggleImg').click(function() {
            // transform the + in - and vice versa
            if ($(this).attr('src') == 'app/img/show-more.png') {
                $(this).attr('src', 'app/img/show-less.png');
            } else {
                $(this).attr('src', 'app/img/show-more.png');
            }
            // get the id to show the toggleBody
            id = $(this).attr('id');
            idArr = id.split("_");
            id = idArr[1];
            // get html of body
            $.post('app/controllers/EntityController.php', {
                'getBody' : true,
                'id' : id,
                'type' : '{{ Ev.Entity.type }}'
            // and put it in the div and show the div
            }).done(function(body) {
                $('#bodyToggle_' + id).html(body);
                $('#bodyToggle_' + id).toggle();

            });
        });

        {% if Ev.Entity.type == 'experiments' %}
        // KEYBOARD SHORTCUT
        key('{{ Ev.Entity.Users.userData['sc_create'] }}', function(){
            location.href = 'app/controllers/ExperimentsController.php?create=true'
        });
        {% endif %}

        // SHOW MORE BUTTON
        $('section.item').hide(); // hide everyone
        $('section.item').slice(0, {{ Ev.limit }} ).show(); // show only the default at the beginning
        $('#loadButton').click(function(e){ // click to load more
            e.preventDefault();
            $('section.item:hidden').slice(0, {{ Ev.limit }} ).show();
            if ($('section.item:hidden').length == 0) { // check if there are more exp to show
                $('#loadButton').hide(); // hide load button when there is nothing more to show
                $('#loadAllButton').hide(); // hide load button when there is nothing more to show
            }
        });
        $('#loadAllButton').click(function(e){ // click to load more
            e.preventDefault();
            $('section.item:hidden').show();
            $('#loadAllButton').hide(); // hide load button when there is nothing more to show
            $('#loadButton').hide(); // hide load button when there is nothing more to show
        });
    });
</script>
