{% extends 'base.html' %}

{% block body %}
<!-- Get the updates.ini file to check for updates -->
{% if not ReleaseCheck.getUpdatesIni %}
    {{ 'Error getting latest version information from server! Check the proxy setting.'|trans|msg('ko') }}
{% endif %}

<!-- display current and latest version -->
{% if ReleaseCheck.success and ReleaseCheck.updateIsAvailable %}
    {% set style = 'color:red' %}
{% endif %}
<p>{{ 'Installed version:'|trans }} <span style='{{ style }}'>{{ constant('INSTALLED_VERSION', ReleaseCheck) }}</span>
{% if ReleaseCheck.success %}
    <!-- show a little green check if we have latest version -->
    {% if not ReleaseCheck.updateIsAvailable %}
        <img src='app/img/check.png' width='16px' length='16px' title='latest' style='position:relative;bottom:5px;' alt='OK' />
    {% endif %}
{% endif %}
<br>
{% if ReleaseCheck.success %}
    <!-- display latest version -->
    {{ 'Latest version:'|trans }} {{ ReleaseCheck.getLatestVersion }}</p>

    <!-- if we don't have the latest version, show button redirecting to doc -->
    {% if ReleaseCheck.updateIsAvailable %}
        {{ '%s - A new version is available! %sUpdate elabftw%sRead changelog%s'|trans|format(
            ReleaseCheck.getReleaseDate,
            "<a href='https://doc.elabftw.net/how-to-update.html'><button class='button'>",
            "</button></a><a href='" ~ ReleaseCheck.getChangelogLink ~ "'><button class='button'>",
            "</button></a>")|msg('warning') }}
    {% endif %}

    {% if App.Config.configArr.mail_from == 'notconfigured@example.com' %}
        {{ 'Please finalize install: %slink to documentation%s.'|trans|format("<a href='https://doc.elabftw.net/postinstall.html#setting-up-email'>", "</a>")|msg('ko') }}
    {% endif %}
{% endif %}

<menu>
    <ul>
        <li class='tabhandle' id='tab1'>{{ 'Teams'|trans }}</li>
        <li class='tabhandle' id='tab2'>{{ 'Users'|trans }}</li>
        <li class='tabhandle' id='tab3'>{{ 'Server'|trans }}</li>
        <li class='tabhandle' id='tab4'>{{ 'Timestamp'|trans }}</li>
        <li class='tabhandle' id='tab5'>{{ 'Security'|trans }}</li>
        <li class='tabhandle' id='tab6'>{{ 'Email'|trans }}</li>
        <li class='tabhandle' id='tab7'>{{ 'Logs'|trans }}</li>
        <li class='tabhandle' id='tab8'>{{ 'SAML'|trans }}</li><span class='beta'>alpha</span>
    </ul>
</menu>

<!-- TAB 1 TEAMS -->
<div class='divhandle' id='tab1div'>
    <div id='teamsDiv'>
        <div class='box'>
            <h3>{{ 'Usage Statistics'|trans }}</h3>
            <hr>
            <p>{{ TeamsView.showStats|raw }}</p>
        </div>
        <!-- PROMOTE SYSADMIN -->
        <div class='box'>
            <h3>{{ 'Promote Someone to Sysadmin'|trans }}</h3>
            <hr>
            <input class='clean-form col-3-form' required type='email' placeholder='louis@pasteur.fr' id='promoteSysadmin' />
            <button id='promoteSysadminButton' class='button'>{{ 'Save'|trans }}</button>
        </div>

        <!-- CREATE TEAM -->
        <div class='box'>
            <h3>{{ 'Add a New Team'|trans }}</h3>
            <hr>
            <input class='clean-form col-3-form' required type='text' placeholder='Pasteur lab' id='teamsName' />
            <button id='teamsCreateButton' class='button'>{{ 'Save'|trans }}</button>
        </div>

        <!-- DISPLAY TEAMS -->
        <div class='box'>
            <h3>{{ 'Edit Existing Teams'|trans }}</h3>
            <hr>

            {% for team in teamsArr %}
            {% set count = TeamsView.Teams.getStats(team.team_id) %}
            <label for='teamName_{{ team.team_id }}'>Team Name</label>
            <input data-id='{{ team.team_id }}' class='clean-form col-3-form teamNameInput' id='teamName_{{ team.team_id }}' type='text' value='{{ team.team_name }}' />
            <label for='teamOrgid_{{ team.team_id }}'>Team Organisation ID</label>
            <input data-id='{{ team.team_id }}' class='clean-form col-3-form teamNameInput' id='teamOrgid_{{ team.team_id }}' type='text' value='{{ team.team_orgid }}' />
            <button data-id='{{ team.team_id }}' disabled id='teamsUpdateButton_{{ team.team_id }}' class='button teamsUpdateButton'>
                {{ 'Save'|trans }}
            </button>
            {% if count.totusers == 0 %}
            <button data-id='{{ team.team_id }}' id='teamsDestroyButton_{{ team.team_id }}' class='button button-delete teamsDestroyButton'>
                {{ 'Delete'|trans }}
            </button>
            {% else %}
            <button data-id='{{ team.team_id }}' id='teamsArchiveButton_{{ team.team_id }}' class='button button-neutral teamsArchiveButton'>
                {{ 'Archive'|trans }}
            </button>
            {% endif %}
            <p class='smallgray'>{{ 'Members'|trans }}: {{ count.totusers }} −
            {% trans %}
            Experiment
            {% plural count.totxp %}
            Experiments
            {% endtrans %}
            : {{ count.totxp }} ({{ count.totxpts }} timestamped) − {{ 'Items'|trans }}: {{ count.totdb }} − {{ 'Created'|trans }}: {{ team.datetime }}<p>
            {% endfor %}
        </div>

        <!-- MASS EMAIL -->
        <div class='box'>
            <h3>{{ 'Send a Mass Email'|trans }}</h3><hr>
            <p>{{ 'Email Subject'|trans }}<br>
                <input class='clean-form col-3-form' type='text' id='massSubject' size='45' /><br>
                {{ 'Email Body'|trans }}<br>
                <textarea class='clean-form col-textarea-form' id='massBody'></textarea><br>
                <button id='massSend' class='button'>{{ 'Send'|trans }}</button>
            </p>
        </div>
    </div>
</div>

<!-- TAB 2 USERS -->
<div class='divhandle' id='tab2div'>
    {{ include('editusers.html') }}
</div>

<!-- TAB 3 SERVER -->
<div class='divhandle' id='tab3div'>
    <form class='box' method='post' action='app/controllers/SysconfigController.php'>
        <h3>{{ 'Under the Hood'|trans }}</h3>
        <hr>
        <input type='hidden' name='updateConfig' value='true' />
        <label class="block" for='lang'>{{ 'Language'|trans }}</label>
        <select id='lang' name="lang" class="clean-form col-3-form">
            {% for lang, text in langsArr %}
            <option {{ App.Config.configArr.lang == lang ? ' selected' }} value='{{ lang }}'>{{ text }}</option>
            {% endfor %}
        </select>

        <label class='block' for='proxy'>{{ 'Address of the Proxy:'|trans }}</label>
        <input class='clean-form col-3-form' type='text' value='{{ App.Config.configArr.proxy }}' name='proxy' id='proxy' />
        <p class='smallgray'>{{ 'If you are behind a firewall/proxy, enter the address here. Example: http://proxy.example.com:3128'|trans }}</p>

        <h3>Registration and authentication configuration</h3>
        <label for='local_register' class='block'>{{ 'Enable local account creation:'|trans }}</label>
        <select id='local_register' name="local_register" class="clean-form col-3-form">
            <option {{ App.Config.configArr.local_register == '1' ? ' selected' }} value='1'>{{ 'Yes'|trans }}</option>
            <option {{ App.Config.configArr.local_register == '0' ? ' selected' }} value='0'>{{ 'No'|trans }}</option>
        </select>

        <label for='local_login' class='block'>{{ 'Show local login form:'|trans }}</label>
        <select id='local_login' name="local_login" class="clean-form col-3-form">
            <option {{ App.Config.configArr.local_login == '1' ? ' selected' }} value='1'>{{ 'Yes'|trans }}</option>
            <option {{ App.Config.configArr.local_login == '0' ? ' selected' }} value='0'>{{ 'No'|trans }}</option>
        </select>
        <p class='smallgray'>{{ 'You can still show the local login form by appending ?letmein to the login page URL.'|trans }}</p>

        <div class='submitButtonDiv'>
            <button type='submit' class='button'>{{ 'Save'|trans }}</button>
        </div>
    </form>

    <div class='box'>
        <h3>{{ 'Informations'|trans }}</h3>
        <hr>
        <ul class='clean-list'>
            <li><p>{{ 'Operating System'|trans }}: {{ phpInfos.0 }}</p></li>
            <li><p>{{ 'PHP Version'|trans }}: {{ phpInfos.1 }}</p></li>
            <li><p>{{ 'Largest integer supported'|trans }}: {{ phpInfos.2 }}</p></li>
            <li><p>{{ 'PHP configuration directory'|trans }}: {{ phpInfos.3 }}</p></li>
        </ul>
    </div>
</div>

<!-- TAB 4 TIMESTAMP -->
<div class='divhandle' id='tab4div'>
    <form class='box' method='post' action='app/controllers/SysconfigController.php'>
        <h3>{{ 'Timestamping Configuration'|trans }}</h3>
        <hr>
        <input type='hidden' name='updateConfig' value='true' />
        <label for='stampshare'>{{ 'The teams can use the credentials below to timestamp:'|trans }}</label>
        <select class="clean-form" name='stampshare' id='stampshare'>
            <option value='1' {{ App.Config.configArr.stampshare ? ' selected' }}>{{ 'Yes'|trans }}</option>
            <option value='0' {{ not App.Config.configArr.stampshare ? 'selected' }}>{{ 'No'|trans }}</option>
        </select>
        <p class='smallgray'>{{ 'You can control if the teams can use the global timestamping account. If set to <em>no</em> the team admin must add login infos in the admin panel.'|trans|raw }}</p>
        <p>
        <label class="block" for='stampprovider'>{{ 'URL for external timestamping service:'|trans }}</label>
        <input class="clean-form col-3-form" type='url' placeholder='http://zeitstempel.dfn.de/' value='{{ App.Config.configArr.stampprovider }}' name='stampprovider' id='stampprovider' />
        <span class='smallgray'>{{ 'This should be the URL used for %sRFC 3161%s-compliant timestamping requests.'|trans|format("<a href='https://tools.ietf.org/html/rfc3161'>", "</a>")|raw }}</span>
        </p>
        <p>
        <label class="block" for='stampcert'>{{ 'Chain of certificates of the external timestamping service:'|trans }}</label>
        <input class="clean-form col-3-form" type='text' placeholder='app/dfn-cert/pki.dfn.pem' value='{{ App.Config.configArr.stampcert }}' name='stampcert' id='stampcert' />
        <span class='smallgray'>{{ "This should point to the chain of certificates used by your external timestamping provider to sign the timestamps.%sLocal path relative to eLabFTW installation directory. You should add it in the 'uploads' folder. The file needs to be in %sPEM-encoded (ASCII)%s format!"|trans|format("<br>", "<a href='https://en.wikipedia.org/wiki/Privacy-enhanced_Electronic_Mail'>", "</a>")|raw }}</span>
        </p>
        <label class="block" for='stamplogin'>{{ 'Login for external timestamping service:'|trans }}</label>
        <input class="clean-form col-3-form" autocomplete='off' type='text' value='{{ App.Config.configArr.stamplogin }}' name='stamplogin' id='stamplogin' /><br>
        <label class="block" for='stamppass'>{{ 'Password for external timestamping service:'|trans }}</label>
        {% if App.Config.configArr.stamppass|length > 1 %}
    <p>A password is already set.
    <a href='app/controllers/SysconfigController.php?clearStamppass=1'>Clear it</a> or change it below:</p>
    {% endif %}
        <input class='clean-form col-3-form' autocomplete='off' type='password' name='stamppass' id='stamppass' />
        <div class='submitButtonDiv'>
            <button type='submit' class='button'>{{ 'Save'|trans }}</button>
        </div>
    </form>
</div>

<!-- TAB 5 SECURITY -->
<div class='divhandle' id='tab5div'>
    <div class='box'>
        <h3>{{ 'Security Settings'|trans }}</h3>
        <hr>
        <form method='post' action='app/controllers/SysconfigController.php'>
            <input type='hidden' name='updateConfig' value='true' />

            <label for='admin_validate'>{{ 'Users need validation by admin after registration:'|trans }}</label>
            <select class="clean-form" name='admin_validate' id='admin_validate'>
                <option value='1' {{ App.Config.configArr.admin_validate ? " selected" }}>{{ 'Yes'|trans }}</option>
                <option value='0' {{ not App.Config.configArr.admin_validate ? " selected" }}>{{ 'No'|trans }}</option>
            </select>
            <p class='smallgray'>{{ 'Set to yes for added security.'|trans }}</p>
            <label class="block" for='login_tries'>{{ 'Number of allowed login attempts:'|trans }}</label>
            <input class="clean-form col-3-form" type='number' value='{{ App.Config.configArr.login_tries }}' name='login_tries' id='login_tries' />
            <p class='smallgray'>{{ '3 might be too few. See for yourself :)'|trans }}</p>
            <label class="block" for='ban_time'>{{ 'Time of the ban after failed login attempts (in minutes):'|trans }}</label>
            <input class="clean-form col-3-form" type='number' value='{{ App.Config.configArr.ban_time }}' name='ban_time' id='ban_time' />
            <p class='smallgray'>
            {{ 'To identify an user we use an md5 of user agent + IP. Because doing it only based on IP address would surely cause problems.'|trans }}
            </p>
            <div class='submitButtonDiv'>
                <button type='submit' class='button'>{{ 'Save'|trans }}</button>
            </div>
        </form>
    </div>
</div>

<!-- TAB 6 EMAIL -->
<div class='divhandle' id='tab6div'>
    <div class='box'>
        <h3>{{ 'E-mail Settings'|trans }}</h3>
        <hr>
    <form method='post' action='app/controllers/SysconfigController.php'>
        <input type='hidden' name='updateConfig' value='true' />
        <p>{{ "Without a valid way to send emails users won't be able to reset their password. It is recommended to create a specific smtp2go.com account and add the infos here."|trans }}</p>
        <p>
        <label class="block" for='selectMailMethod'>{{ 'Send e-mails via:'|trans }}</label>
        <select class="clean-form col-3-form" data-mailmethod='{{ App.Config.configArr.mail_method }}' name='mail_method' id='selectMailMethod'>
            <option value=''>{{ 'Select mailing method...'|trans }}</option>

            <option value="sendmail" {{ not disable_sendmail ? " selected" }}>{{ 'Local MTA (default)'|trans }}</option>
            <option value="smtp" {{ not disable_smtp ? " selected" }}>{{ 'SMTP'|trans }}</option>
            <option value="php" {{ not disable_php ? " selected" }}>{{ 'PHP'|trans }}</option>

        </select>
        </p>

        <div id='general_mail_config'>
            <p>
            <label class="block" for='mail_from'>{{ 'Sender address:'|trans }}</label>
            <input class="clean-form col-3-form" type='text' value='{{ App.Config.configArr.mail_from }}' name='mail_from' id='mail_from' />
            </p>
        </div>
        <div id='sendmail_config'>
            <p>
            <label class="block" for='sendmail_path'>{{ 'Path to sendmail:'|trans }}</label>
            <input class="clean-form col-3-form" type='text' placeholder='/usr/bin/sendmail' value='{{ App.Config.configArr.sendmail_path }}' name='sendmail_path' id='sendmail_path' />
            </p>
        </div>
        <div id='smtp_config'>
            <p>
            <label class="block" for='smtp_address'>{{ 'Address of the SMTP server:'|trans }}</label>
            <input class="clean-form col-3-form" type='text' value='{{ App.Config.configArr.smtp_address }}' name='smtp_address' id='smtp_address' />
            <span class='smallgray'>mail.smtp2go.com</span>
            <label class="block" for='smtp_encryption'>{{ 'SMTP encryption:'|trans }}</label>
            <select class="clean-form col-3-form" name='smtp_encryption'>
                <option value='none' {{ App.Config.configArr.smtp_encryption == 'none' ? ' selected' }}>None</option>
                <option value='tls' {{ App.Config.configArr.smtp_encryption == 'tls' ? ' selected' }}>TLS</option>
                <option value='startssl' {{ App.Config.configArr.smtp_encryption == 'startssl' ? ' selected' }}>STARTSSL</option>
            </select>
            <span class='smallgray'>{{ 'Probably TLS'|trans }}</span>
            <label class="block" for='smtp_port'>{{ 'SMTP Port:'|trans }}</label>
            <input class="clean-form col-3-form" type='text' value='{{ App.Config.configArr.smtp_port }}' name='smtp_port' id='smtp_port' />
            <span class='smallgray'>{{ 'Default is 587.'|trans }}</span>
            <label class="block" for='smtp_username'>{{ 'SMTP username:'|trans }}</label>
            <input class="clean-form col-3-form" type='text' value='{{ App.Config.configArr.smtp_username }}' name='smtp_username' id='smtp_username' />
            <label class="block" for='smtp_password'>{{ 'SMTP password'|trans }}</label>
            {% if App.Config.configArr.smtp_password|length == 0 %}
                <input class='clean-form col-3-form' type='password' name='smtp_password' id='smtp_password' />
            {% else %}
            <p>
            {{ 'A password is already set.'|trans }}
            {{ '%sClear it%s or change it below:'|trans|format("
                <a href='app/controllers/SysconfigController.php?clearSmtppass=1'>",
                "</a>"
            )|raw }}
            </p>
            <span class='button' id='editSmtpPassword'>{{ 'Edit'|trans }}</span>
            <input class='clean-form col-3-form' type='password' name='smtp_password' style='display:none' id='hidden_smtp_password' />
            {% endif %}
            </p>
            </div>
            <div class='submitButtonDiv'>
                <button type='submit' class='button'>{{ 'Save'|trans }}</button>
            </div>
        </form>
    </div>

    <!-- TEST EMAIL -->
    <div class='box'>
        <label class='block' for='testemailEmail'>{{ 'Send a test email'|trans }}</label>
        <input class='clean-form col-3-form' type='email' placeholder='you@email.com' id='testemailEmail' />
        <button id='testemailButton' class='button'>{{ 'Send'|trans }}</button>
    </div>

</div>

<!-- TAB 7 LOGS -->
<div class='divhandle' id='tab7div'>
    <div id='logsDiv'>
        <div class='well'>
            <ul class='clean-list'>
                {% if logsArr %}
                    {% for logs in logsArr %}
                        <li>✪ {{ logs.datetime }} [ {{ logs.type }} ] {{ logs.body }} ({{ logs.user }})</li>
                    {% endfor %}
                {% else %}
                    <li>{{ 'Nothing to display'|trans }}</li>
                {% endif %}
            </ul>
        </div>
        <div class='submitButtonDiv'>
            <button id='logsDestroyButton' class='button button-delete'>{{ 'Clear'|trans }}</button>
        </div>
    </div>
</div>

<!-- TAB 8 SAML -->
<div class='divhandle' id='tab8div'>
    <div class='box'>
        <form method='post' action='app/controllers/SysconfigController.php'>
            <h3>Service provider (this instance of eLabFTW)</h3>
            <input type='hidden' name='updateConfig' value='true' />
            <label class='block' for='saml-debug'>Debug mode:</label>
            <select class="clean-form col-3-form" id='saml-debug' name='saml_debug'>
                <option value='1'{{ App.Config.configArr.saml_debug == '1' ? ' selected' }}>Yes</option>
                <option value='0'{{ App.Config.configArr.saml_debug == '0' ? ' selected' }}>No</option>
            </select>
            <label class='block' for='saml-strict'>Strict mode:</label>
            <select class="clean-form col-3-form" id='saml-strict' name='saml_strict'>
                <option value='1'{{ App.Config.configArr.saml_strict == '1' ? ' selected' }}>Yes</option>
                <option value='0'{{ App.Config.configArr.saml_strict == '0' ? ' selected' }}>No</option>
            </select>
            <label class='block' for='saml-base'>Base url:</label>
            <input type='url' id='saml-base' name='saml_baseurl' placeholder='https://elabftw.example.org' value='{{ App.Config.configArr.saml_baseurl }}' />
            <label class='block' for='saml-entityid'>EntityId:</label>
            <input type='url' id='saml-entityid' name='saml_entityid' placeholder='https://elabftw.example.org' value='{{ App.Config.configArr.saml_entityid }}' />
            <label class='block' for='saml-acs-url'>Assertion consumer service URL: (add /index.php?acs to baseurl)</label>
            <input type='url' id='saml-acs-url' name='saml_acs_url' placeholder='https://elabftw.example.org/index.php?acs' value='{{ App.Config.configArr.saml_acs_url }}' />
            <label class='block' for='saml-acs-binding'>SAML protocol binding to be used when returning the Response message. Default is "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect".</label>
            <input type='text' id='saml-acs-binding' name='saml_acs_binding' placeholder='urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect' value='{{ App.Config.configArr.saml_acs_binding}}' />

            <label class='block' for='saml-slo-url'>Single Logout Service</label>
            <input type='url' id='saml-slo-url' name='saml_slo_url' placeholder='https://elabftw.example.org' value='{{ App.Config.configArr.saml_slo_url }}' />
            <label class='block' for='saml-slo-binding'>Single Logout Service binding. Default is "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect".</label>
            <input type='text' id='saml-slo-binding' name='saml_slo_binding' placeholder='urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect' value='{{ App.Config.configArr.saml_slo_binding }}' />
            <label class='block' for='saml-nameidformat'>NameIDFormat. Default is "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress".</label>
            <input type='text' id='saml-nameidformat' name='saml_nameidformat' placeholder='urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress' value='{{ App.Config.configArr.saml_nameidformat }}' />
            <label class='block' for='x509'>x509 Certificate</label>
            <textarea id='x509' name='saml_x509' />{{ App.Config.configArr.saml_x509 }}</textarea>
            <label class='block' for='x509'>Private key</label>
            <textarea id='x509' name='saml_privatekey' />{{ App.Config.configArr.saml_privatekey }}</textarea>
            <label class='block' for='saml-team'>What attribute to look for the team name:</label>
            <input type='text' id='saml-team' name='saml_team' value='{{ App.Config.configArr.saml_team }}' />
            <label class='block' for='saml-email'>What attribute to look for the email:</label>
            <input type='text' id='saml-email' name='saml_email' value='{{ App.Config.configArr.saml_email }}' />
            <label class='block' for='saml-firstname'>What attribute to look for the firstname:</label>
            <input type='text' id='saml-firstname' name='saml_firstname' value='{{ App.Config.configArr.saml_firstname }}' />
            <label class='block' for='saml-lastname'>What attribute to look for the lastname:</label>
            <input type='text' id='saml-lastname' name='saml_lastname' value='{{ App.Config.configArr.saml_lastname }}' />
            <div class='submitButtonDiv'>
                <button type="submit" name="Submit" class='button'>{{ 'Save'|trans }}</button>
            </div>
        </form>
    </div>

    <div class='box'>
        <h3>Identity Providers Configuration</h3>

        <div class='well'>
            <h4>Add new Identity Provider</h4>
            <form method='post' action='app/controllers/IdpsController.php'>
                <input type='hidden' name='idpsCreate' />

                <label class='block' for='name'>{{ 'Name'|trans }}</label>
                <input type='text' id='name' name='name' required />

                <label class='block' for='entityid'>EntityId</label>
                <input type='url' id='entityid' name='entityid' required />

                <label class='block' for='ssoUrl'>SSO URL</label>
                <input type='url' id='ssoUrl' name='ssoUrl' required />

                <label class='block' for='ssoBinding'>SSO Binding</label>
                <input type='text' id='ssoBinding' name='ssoBinding' required />

                <label class='block' for='sloUrl'>SLO URL</label>
                <input type='url' id='sloUrl' name='sloUrl' />

                <label class='block' for='sloBinding'>SLO Binding</label>
                <input type='text' id='sloBinding' name='sloBinding' />

                <label class='block' for='x509'>x509 Certificate</label>
                <textarea id='x509' name='x509' required /></textarea>

                <div class='submitButtonDiv'>
                    <button type="submit" name="Submit" class='button'>{{ 'Save'|trans }}</button>
                </div>
            </form>
        </div>

        {% if idpsArr|length > 0 %}
            <h4>Existing Identity Providers</h4>
            {% for idp in idpsArr %}
                <div class='well'>
                    <h4>{{ idp.name|upper }} ({{ idp.entityid }})</h4>
                    <form method='post' action='app/controllers/IdpsController.php'>
                    <input type='hidden' name='idpsUpdate' />
                    <input type='hidden' name='id' value='{{ idp.id }}' />
                    <p>Name:</p>
                    <input type='text' id='editIdpName' name='name' value='{{ idp.name }}' />
                    <p>entityId:</p>
                    <input type='url' name='entityid' value='{{ idp.entityid }}' />
                    <p>Single Sign-On URL:</p>
                    <input type='url' name='ssoUrl' value='{{ idp.sso_url }}' />
                    <p>Single Sign-On binding. Default is "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST".</p>
                    <input type='text' name='ssoBinding' value='{{ idp.sso_binding }}' />
                    <p>Single Log Out URL:</p>
                    <input type='url' name='sloUrl' value='{{ idp.slo_url }}' />
                    <p>Single Log Out binding. Default is "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect".</p>
                    <input type='text' name='sloBinding' value='{{ idp.slo_binding }}' />
                    <p>x509cert:</p>
                    <textarea name='x509'>{{ idp.x509 }}'</textarea>
                    <div class='submitButtonDiv'>
                        <button type="submit" name="Submit" class='button'>{{ 'Save'|trans }}</button>
                    </div>
                </div>
            </form>
            {% endfor %}
        {% endif %}

    </div>
</div>

<script src='app/js/sysconfig.min.js'></script>
<script src='app/js/tabs.min.js'></script>
{% endblock body %}
