{% extends 'base.html' %}

{% block body %}
<script src="app/js/tinymce-dropzone.min.js"></script>

<menu>
    <ul>
        <li class='tabhandle' id='tab1'>{{ 'Preferences'|trans }}</li>
        <li class='tabhandle' id='tab2'>{{ 'Account'|trans }}</li>
        <li class='tabhandle' id='tab3'>{{ 'Templates'|trans }}</li>
    </ul>
</menu>

<!-- TAB 1 - USER PREFERENCES -->
<div class='divhandle' id='tab1div'>

    <form action='app/controllers/UcpController.php' method='post'>
        <!-- LANGUAGE -->
        <section class='box'>
            <h3>{{ 'Language'|trans }}</h3>
            <hr>
            <p>
            <select id='lang' name='lang'>
            {% for lang, text in langsArr %}
                <option value='{{ lang }}'
                  {{ Users.userData.lang == lang ? ' selected' }}
                  >{{ text }}</option>
            {% endfor %}
            </select>
        </section>

        <!-- DISPLAY -->
        <section class='box'>

            <h3>{{ 'Display'|trans }}</h3>
            <hr>
            <p>
                <label for='limit'>{{ 'Items per page:'|trans }}</label>
                <input id='limit' type='text' size='2' maxlength='2' value='{{ Users.userData.limit_nb }}' name='limit'>
            </p>
            <p>
                <label for='orderby'>{{ 'Order by:'|trans }}</label>
                <select id='orderby' name='orderby'>
                    <option value='default' {{ Users.userData.orderby == null ? ' selected' }}>{{ 'Use default'|trans }}</option>
                    <option value='cat' {{ Users.userData.orderby == 'cat' ? ' selected' }}>{{ 'Category'|trans }}</option>
                    <option value='date' {{ Users.userData.orderby == 'date' ? ' selected' }}>{{ 'Date'|trans }}</option>
                    <option value='title' {{ Users.userData.orderby == 'title' ? ' selected' }}>{{ 'Title'|trans }}</option>
                    <option value='comment' {{ Users.userData.orderby == 'comment' ? ' selected' }}>{{ 'Comment'|trans }}</option>
                </select>
            </p>
            <p>
                <label for='sort'>{{ 'Sort:'|trans }}</label>
                <select id='sort' name='sort'>
                    <option value='default' {{ Users.userData.sort == null ? ' selected' }}>{{ 'Use default'|trans }}</option>
                    <option value='asc' {{ Users.userData.sort == 'asc' ? ' selected' }}>{{ 'ASC'|trans }}</option>
                    <option value='desc' {{ Users.userData.sort == 'desc' ? ' selected' }}>{{ 'DESC'|trans }}</option>
                </select>
            </p>
            <p>
                <label for='layout'>{{ 'Use single column layout:'|trans }}</label>
                <input id='layout' type='checkbox' name='single_column_layout'
                    {{ Users.userData.single_column_layout == '1' ? " checked='checked'" }}
                />
            </p>
        </section>

        <section class='box'>
            <h3>{{ 'Keyboard Shortcuts'|trans }}</h3>
            <p>{{ 'Only lowercase letters are allowed.'|trans }}</p>
            <hr>
            <p>
                <table>
                <tr><th>{{ 'Action'|trans }}</th>
                    <th>{{ 'Shortcut'|trans }}</th></tr>

                <tr><td>{{ 'Create'|trans }}</td><td>
                    <input type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ Users.userData.sc_create }}' name='sc_create' />
                    </td></tr>

                    <tr><td>{{ 'Edit'|trans }}</td><td>
                    <input type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ Users.userData.sc_edit }}' name='sc_edit' />
                    </td></tr>

                    <tr><td>{{ 'Submit'|trans }}</td><td>
                    <input type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ Users.userData.sc_submit }}' name='sc_submit' />
                    </td></tr>

                    <tr><td>{{ 'TODO list'|trans }}</td><td>
                    <input type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ Users.userData.sc_todo }}' name='sc_todo' />
                    </td></tr>
                </table>
            </p>
        </section>

        <section class='box'>
            <h3>{{ 'Miscellaneous'|trans }}</h3>
            <hr>
            <p>
            <input id='show_team' type='checkbox' name='show_team'
              {{ Users.userData.show_team == '1' ? " checked='checked'" }}
            />
            <label for='show_team'>{{ 'Show experiments from the team on the Experiments page?'|trans }}</label>
            <br>
            <input id='close_warning' type='checkbox' name='close_warning'
              {{ Users.userData.close_warning == '1' ? " checked='checked'" }}
            />
            <label for='close_warning'>{{ 'Display a warning before closing an edit window/tab?'|trans }}</label>
            <br>
            <input id='chem_editor' type='checkbox' name='chem_editor'
              {{ Users.userData.chem_editor == '1' ? " checked='checked'" }}
            />
            <label for='chem_editor'>{{ 'Display the molecule drawer in edit mode?'|trans }}</label>
            <br>
            <input id='cjk_fonts' type='checkbox' name='cjk_fonts'
              {{ Users.userData.cjk_fonts == '1' ? " checked='checked'" }}
            />
            <label for='cjk_fonts'>{{ 'Enable Chinese, Japonese and Korean fonts in PDF generation. WARNING: enabling CJK fonts will make the PDF size very big!'|trans }}</label>
            <br>
            <input id='use_markdown' type='checkbox' name='use_markdown'
              {{ Users.userData.use_markdown == '1' ? " checked='checked'" }}
            />
            <label for='use_markdown'>{{ 'Disable the rich text editor and write Markdown directly'|trans }}</label>
            </p>

            <p>
            <label for='default_vis'>{{ 'Default visibility for new experiments'|trans }}</label>
            <select name='default_vis'>
                <option value='organization'
                  {{ Users.userData.default_vis == 'organization' ? " selected='selected'" }}
                >{{ 'Organization'|trans }}</option>
                <option value='team'
                  {{ Users.userData.default_vis == 'team' ? " selected='selected'" }}
                >{{ 'Team'|trans }}</option>
                <option value='user'
                  {{ Users.userData.default_vis == 'user' ? " selected='selected'" }}
                >{{ 'User'|trans }}</option>
                {% for teamGroup in teamGroupsArr %}
                    <option value='{{ teamGroup.id }}'
                      {{ teamGroup.id == Users.userData.default_vis ? " selected='selected'" }}
                    >{{ 'Group'|trans }} - {{ teamGroup.name }}
                    </option>
                {% endfor %}
            </select>
            </p>

        </section>

        <div style='margin-top:30px;' class='center'>
            <button type="submit" name="Submit" class='button'>{{ 'Save'|trans }}</button>
        </div>

        </p>
    </form>

</div>

<!-- TAB 2 - USER INFORMATIONS -->
<div class='divhandle' id='tab2div'>
    <div class='box'>

    <form method="post" action="app/controllers/UcpController.php">
        <div class='row'>
            <div class='col-md-6'>
                <h4>{{ 'Modify your personal informations'|trans }}</h4>
                <label class='block' for='currpass'>{{ 'Enter your password to edit infos.'|trans }}</label>
                <input id='currpass' name="currpass" type="password" pattern=".{8,}" required />
            </div>
            <div class='col-md-6'>
                <h4>{{ 'Modify your password'|trans }}</h4>
                <label class='block' for='newpass'>{{ 'New password'|trans }}</label>
                <input name="newpass" type="password" pattern=".{8,}" />
                <label class='block' for='cnewpass'>{{ 'Confirm new password'|trans }}</label>
                <input name="cnewpass" type="password" pattern=".{8,}" />
            </div>
        </div>

        <hr><br>

        <h4>{{ 'Modify your identity'|trans }}</h4>

        <div class='row'>
            <div class='col-md-6'>
                <label class='block' for='firstname'>{{ 'Firstname'|trans|raw }}</label>
                <input name="firstname" value='{{ Users.userData.firstname }}' cols='20' rows='1' />
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <label class='block' for='lastname'>{{ 'Lastname'|trans|raw }}</label>
                <input name="lastname" value='{{ Users.userData.lastname }}' cols='20' rows='1' />
            </div>
            <div class='col-md-6'>
                <label class='block' for='email'>{{ 'Email'|trans }}</label>
                <input name="email" type="email" value='{{ Users.userData.email }}' cols='20' rows='1' />
            </div>
        </div>

        <hr><br>
        <h4>{{ 'Modify your contact information'|trans }}</h4>
        <div class='row'>
            <div class='col-md-6'>
                <label class='block' for='phone'>{{ 'Phone'|trans }} </label>
                <input name="phone" value='{{ Users.userData.phone }}' cols='20' rows='1' />
            </div>
            <div class='col-md-6'>
                <label class='block' for='cellphone'>{{ 'Mobile'|trans }}</label>
                <input name="cellphone" value='{{ Users.userData.cellphone }}' cols='20' rows='1' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <label class='block' for='skype'>{{ 'Skype'|trans }}</label>
                <input name="skype" value='{{ Users.userData.skype }}' cols='20' rows='1' />
            </div>
            <div class='col-md-6'>
                <label class='block' for='website'>{{ 'Website'|trans }}</label>
                <input name="website" type="url" value='{{ Users.userData.website }}' cols='20' rows='1' />
            </div>
        </div>

        <div class='submitButtonDiv'>
            <button type="submit" name="Submit" class='button'>{{ 'Update profile'|trans }}</button>
        </div>
    </form>

</div>
</div>
<!-- TAB 3 - USER TEMPLATES -->
<div class='divhandle' id='tab3div'>

<div class='box new-tpl-box'>
    <h3>{{ 'Experiments Templates'|trans }}</h3>
    <ul class='nav nav-pills' role='tablist'>
        <li class='subtabhandle clickable badge badgetab badgetabactive' id='subtab_1'>{{ 'Create new'|trans }}</li>
        {% for template in templatesArr %}
            <li class='sortable subtabhandle clickable badge badgetab' id='subtab_{{ template.id }}'>{{ template.name }}</li>
        {% endfor %}
    </ul>

    <!-- CREATE NEW TPL TAB -->
    <div class='subdivhandle' id='subtab_1div'>
    <p id='import-from-file' style='cursor:pointer'><img src='app/img/add.png' title='import template' alt='import' />{{ 'Import from File'|trans }}</p>
        <form action='app/controllers/UcpController.php' method='post'>
            <input type='hidden' name='new_tpl_form' />
            <input type='file' accept='.tpl' id='import_tpl'>
            <input required type='text' name='new_tpl_name' id='new_tpl_name' pattern='.{3,}' placeholder='{{ 'Name of the Template'|trans }}' />
            <br>
            <textarea name='new_tpl_body' id='new_tpl_txt' style='height:500px;' class='{{ not Users.userData.use_markdown ? 'mceditable'}}' rows='50' cols='60'></textarea>
            <br>
            <div class='center'>
                <button type="submit" name="Submit" class='button'>{{ 'Save'|trans }}</button>
            </div>
        </form>
    </div>

    {% for template in templatesArr %}
    <div class='subdivhandle' id='subtab_{{ template.id }}div'>
    <!-- TAGS -->
    <img src='app/img/tags.png' alt='tags' /><label for='addtaginput'>{{ 'Tags'|trans }}</label>
    <div class='tags'>
        <span id='tags_div_{{ template.id }}'>
            <!--  build the tag array -->
            {% if template.tags|length > 0 %}
                {% set tagsIdArr = template.tags_id|split(',') %}
                {% set tagsValueArr = template.tags|split('|') %}
                {% for key, tag in tagsValueArr %}
                    {# the key allows to get the id stored in tagsIdArr #}
                    <span class='tag'>
                        <a class='tagDestroy' data-type='experiments_template' data-id='{{ template.id }}' data-tagid='{{ tagsIdArr[key] }}' data-confirm="{{ 'Delete this?'|trans }}">
                            {{ tag|raw }}
                        </a>
                    </span>
                {% endfor %}
            {% endif %}
        </span>
        <input type='text' style='width:auto' class='createTagInput' id='createTagInput_{{ template.id }}' data-id='{{ template.id }}' placeholder='{{ 'Add a tag'|trans }}' />
    </div>
            <img class='align_right save-to-file' src='app/img/download.png' title='Export Template' alt='Export' data-name='{{ template.name }}' data-id='e{{ template.id }}' />
            <img class='align_right destroy-template' src='app/img/small-trash.png' title='Delete' alt='Delete' data-id='{{ template.id }}' />

            <form action='app/controllers/UcpController.php' method='post'>
                <input type='hidden' name='tpl_form' />
                <input type='hidden' name='tpl_id[]' value='{{ template.id }}' />
                <label class='block'>{{ 'Name'|trans }}</label>
                <input name='tpl_name[]' value='{{ template.name }}' style='width:90%' /><br />
                {# the id begins with an 'e' because of this https://github.com/tinymce/tinymce/issues/3011#issuecomment-227993762 #}
                <label class='block'>{{ 'Template content'|trans }}</label>
                <textarea id='e{{ template.id }}' name='tpl_body[]' class='mceditable' style='height:500px;'>{{ template.body }}</textarea><br />
                <div class='center'>
                    <button type='submit' name='Submit' class='button'>{{ 'Save'|trans }}</button>
                </div>
            </form>
        </div>
    {% endfor %}
    </div>
</div>
<!-- END PAGE -->

<!-- to export templates -->
<script src='app/js/file-saver.min.js'></script>
<script src='app/js/tabs.min.js'></script>
<div id='language' data-lang='{{ Users.userData.lang }}'></div>
<div id='entityInfos' data-confirm="{{ 'Delete this?'|trans }}"></div>
<script src='app/js/ucp.min.js'></script>
{% endblock body %}
