{% if Ev.Entity.type == 'experiments' %}
    {% set controller = 'app/controllers/ExperimentsController.php' %}
    {% set page = 'experiments.php' %}
{% else %}
    {% set controller = 'app/controllers/DatabaseController.php' %}
    {% set page = 'database.php' %}
{% endif %}

{% if Ev.Entity.Users.userData['chem_editor'] %}
    <link rel='stylesheet' href='app/css/chemdoodle.css' type='text/css'>
    <script src='app/js/chemdoodle/chemdoodle.min.js'></script>
{% endif %}

{% if Ev.ro %}
    {{ 'Read-only mode. Experiment of %s.'|trans|format(ownerName)|msg('ok', false) }}
{% endif %}

{{ Ev.backToLink(Ev.Entity.type)|raw }}

{% if Ev.Entity.type == 'experiments' %}
    <section class='item' style='padding:15px;border-left: 6px solid #{{ Ev.Entity.entityData['color'] }}'>
        <span class='top_right_status'><img src='app/img/status.png'>{{ Ev.Entity.entityData['category'] }}
            <img src='app/img/eye.png' alt='eye' />{{ Ev.getVisibility }}
        </span>
{% else %}
    <section class='box'>
    {{ Ev.showStars(Ev.Entity.entityData['rating'])|raw }}
{% endif %}

<!-- DATE -->
<div>
    <img src='app/img/calendar.png' title='date' alt='Date :' />{{ Ev.Entity.entityData['date']|kdate }}
</div>
<!-- begin action buttons row -->
<a class='elab-tooltip' href='{{ page }}?mode=edit&id={{ Ev.Entity.id }}'>
    <span>{{ 'Edit'|trans }}</span>
    <img src='app/img/pen-blue.png' alt={{ 'Edit'|trans }} />
</a>

<a class='elab-tooltip' href='{{ controller }}?duplicateId={{ Ev.Entity.id }}'>
    <span>{{ 'Duplicate'|trans }}</span>
    <img src='app/img/duplicate.png' alt='Duplicate' />
</a>

<a class='elab-tooltip' href='make.php?what=pdf&id={{ Ev.Entity.id }}&type={{ Ev.Entity.type }}'>
    <span>Make a PDF</span>
    <img src='app/img/pdf.png' alt='PDF' />
</a>

<a class='elab-tooltip' href='make.php?what=zip&id={{ Ev.Entity.id }}&type={{ Ev.Entity.type }}'>
    <span>Make a ZIP</span>
    <img src='app/img/zip.png' alt='ZIP' />
</a>

<!-- LOCK -->
{% set imgSrc = 'unlock.png' %}
{% set alt = 'Lock/Unlock item'|trans %}
{% if Ev.Entity.entityData['locked'] != 0 %}
    {% set imgSrc = 'lock-gray.png' %}
{% endif %}
<a class='elab-tooltip' href='#'>
    <span>{{ alt }}</span>
    <img id='lock' onClick="toggleLock('{{ Ev.Entity.type }}', {{ Ev.Entity.id }})" src='app/img/{{ imgSrc }}' alt='{{ alt }}' />
</a>

<!-- show timestamp button if not timestamped already -->
{% if not Ev.Entity.entityData['timestamped'] and Ev.Entity.type == 'experiments' %}
    <a class='elab-tooltip'>
        <span>{{ 'Timestamp Experiment' }}</span>
        <img onClick='confirmTimestamp()' src='app/img/stamp.png' alt='Timestamp' />
    </a>
    <div id='confirm-timestamp' title='{{ 'Timestamp this experiment?'|trans }}'>
        <p>
            <span class='ui-icon ui-icon-alert' style='float:left; margin:12px 12px 20px 0;'></span>
            {{ 'Once timestamped an experiment cannot be edited anymore! Are you sure you want to do this?'|trans }}
        </p>
    </div>
{% endif %}

<!-- build the tag array -->
{% if Ev.Entity.entityData['tags']|length > 0 %}
    <span class='tags'><img src='app/img/tags.png' alt='tags' />
    {% set tagsIdArr = Ev.Entity.entityData['tags_id']|split(',') %}
    {% set tagsValueArr = Ev.Entity.entityData['tags']|split('|') %}
    {% for key, tag in tagsValueArr %}
        {# the key allows to get the id stored in tagsIdArr #}
        <a href='{{ page }}?mode=show&tag={{ tag|url_encode }}'>{{ tag }}</a>
    {% endfor %}
{% endif %}

<!-- TITLE : click on it to go to edit mode only if we are not in read only mode -->
{% if not Ev.ro and not Ev.Entity.entityData['locked'] %}
    {% set onClick = "\"document.location='{{ page }}?mode=edit&id={{ Ev.Entity.entityData['id'] }}'\"" %}
{% else %}
    {% set onClick = '' %}
{% endif %}
<div {{ onClick }} class='title_view'>
    {% if Ev.Entity.type == 'items' %}
        <span style='color:#{{ Ev.Entity.entityData['color'] }}'>{{ Ev.Entity.entityData['category'] }}</span>
    {% endif %}
    {{ Ev.Entity.entityData['title'] }}
</div>
<!--  BODY (show only if not empty -->
{% if Ev.Entity.entityData['body'] != '' %}
<div id='body_view' class='txt'>{{ Ev.Entity.entityData['body']|raw }}</div>
<br>
{% endif %}

{% if Ev.Entity.type == 'experiments' %}
    <!-- LINKS -->
    {% set linksArr = Ev.Entity.Links.read %}
    {% if linksArr|length > 0 %}
        <ul class='list-group'>
            {% for link in linksArr %}
            <li class='list-group-item'><img src='app/img/link.png'> {{ link['name']|raw }} - <a href='database.php?mode=view&id={{ link['itemid'] }}'>
                    {{ link['title']|raw }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- eLabID -->
    <p class='elabid'>{{ 'Unique eLabID:'|trans }} {{ Ev.Entity.entityData['elabid'] }}</p>
{% endif %}

{% if Ev.Entity.type == 'items' %}
    <!-- SHOW USER -->
    {{ 'Last modified by'|trans }} {{ Ev.Entity.entityData['fullname'] }}
{% endif %}

</section>

{% if Ev.Entity.type == 'experiments' %}
<script>
    function commentsUpdate() {
        // Experiment comment is editable
        $('div#expcomment').on('mouseover', '.editable', function(){
            $('div#expcomment p.editable').editable('app/controllers/CommentsController.php', {
                name: 'commentsUpdate',
                tooltip : 'Click to edit',
                indicator : '{{ 'Saving'|trans }}',
                submit : '{{ 'Save'|trans }}',
                cancel : '{{ 'Cancel'|trans }}',
                style : 'display:inline',
                callback : function() {
                    // now we reload the comments part to show the comment we just submitted
                    $('#expcomment_container').load('experiments.php?mode=view&id={{ Ev.Entity.id }} #expcomment');
                    // we reload the function so editable zones are editable again
                    commentsUpdate();
                }
            })
        });
    }
    // TIMESTAMP
    function confirmTimestamp() {
        $('#confirm-timestamp').dialog({
            resizable: false,
            height: 'auto',
            width: 400,
            modal: true,
            buttons: {
                'Timestamp it': function() {
                    timestamp({{ Ev.Entity.id }});
                },
                Cancel: function() {
                    $(this).dialog('close');
                }
            }
        });
    }

    // READY ? GO !!
    $(document).ready(function() {
        $('#confirm-timestamp').hide();
        $('#commentsCreateButtonDiv').hide();

        // Keyboard shortcuts
        key('{{ Ev.Entity.Users.userData['sc_create'] }}', function(){
            location.href = '{{ controller }}?create=true';
        });
        key('{{ Ev.Entity.Users.userData['sc_edit'] }}', function(){
            location.href = '{{ page }}?mode=edit&id={{ Ev.Entity.id }}';
        });
        // make editable
        setInterval(commentsUpdate, 50);
    });
</script>
{% endif %}
