{% extends 'base.html' %}

{% block body %}

{% include('view-edit.html') %}

{% if Entity.type == 'experiments' %}
    {% if Entity.entityData.timestamped %}
        {{ Ev.showTimestamp|raw }}
    {% endif %}
    <section class='item' style='padding:15px;border-left: 6px solid #{{ Entity.entityData.color }}'>
        <span class='top_right_status'><img src='app/img/status.png'>{{ Entity.entityData.category }}
            <img src='app/img/eye.png' alt='eye' />{{ Ev.getVisibility }}
        </span>
{% else %}
    <section class='box'>
        <span class='align_right'>{{ Entity.entityData.rating|stars|raw }}</span>
{% endif %}

<!-- DATE -->
<div>
    <img src='app/img/calendar.png' title='date' alt='Date :' />{{ Entity.entityData.date|kdate }}
</div>
<!-- begin action buttons row -->
{% if not Entity.isReadOnly and not Entity.entityData.locked %}
    <a class='elab-tooltip' href='?mode=edit&id={{ Entity.id }}'>
        <span>{{ 'Edit'|trans }}</span>
        <img src='app/img/pen-blue.png' alt={{ 'Edit'|trans }} />
    </a>
{% endif %}

<a class='elab-tooltip' href='app/controllers/EntityController.php?duplicate=1&id={{ Entity.id }}&type={{ Entity.type }}'>
    <span>{{ 'Duplicate'|trans }}</span>
    <img src='app/img/duplicate.png' alt='Duplicate' />
</a>

<a class='elab-tooltip' href='make.php?what=pdf&id={{ Entity.id }}&type={{ Entity.type }}'>
    <span>{{ 'Make a PDF'|trans }}</span>
    <img src='app/img/pdf.png' alt='PDF' />
</a>

<a class='elab-tooltip' href='make.php?what=zip&id={{ Entity.id }}&type={{ Entity.type }}'>
    <span>{{ 'Make a ZIP'|trans }}</span>
    <img src='app/img/zip.png' alt='ZIP' />
</a>

{% if Entity.type == 'items' %}
<a class='elab-tooltip' href='experiments.php?mode=show&related={{ Entity.id }}'>
    <span>{{ 'Show related'|trans }}</span>
    <img src='app/img/link.png' alt='Related' />
</a>
{% endif %}

<!-- LOCK -->
{% if not Entity.isReadOnly %}
    {% set imgSrc = 'unlock.png' %}
    {% set alt = 'Lock/Unlock item'|trans %}
    {% if Entity.entityData.locked %}
        {% set imgSrc = 'lock-gray.png' %}
    {% endif %}
    <a class='elab-tooltip' href='#'>
        <span>{{ alt }}</span>
        <img id='lock' src='app/img/{{ imgSrc }}' alt='{{ alt }}' />
    </a>
{% endif %}

<!-- show timestamp button if not timestamped already -->
{% if not Entity.entityData.timestamped and Entity.isTimestampable and Entity.type == 'experiments' %}
    <a class='elab-tooltip'>
        <span>{{ 'Timestamp Experiment'|trans }}</span>
        <img id='confirmTimestamp' src='app/img/stamp.png' alt='Timestamp' />
    </a>
    <div id='confirmTimestampDiv' data-wait='{{ 'Please wait…' }}' title='{{ 'Timestamp this experiment?'|trans }}'>
        <p>
            <span class='ui-icon ui-icon-alert' style='float:left; margin:12px 12px 20px 0;'></span>
            {{ 'Once timestamped an experiment cannot be edited anymore! Are you sure you want to do this?'|trans }}
        </p>
    </div>
{% endif %}

<!-- build the tag array -->
{% if Entity.entityData.tags|length > 0 %}
    <span class='tags'><img src='app/img/tags.png' alt='tags' />
    {% set tagsIdArr = Entity.entityData.tags_id|split(',') %}
    {% set tagsValueArr = Entity.entityData.tags|split('|') %}
    {% for key, tag in tagsValueArr %}
        {# the key allows to get the id stored in tagsIdArr #}
        <a href='?mode=show&tag={{ tag|url_encode }}'>{{ tag|raw }}</a>
    {% endfor %}
{% endif %}

<!-- TITLE : click on it to go to edit mode only if we are not in read only mode -->
<div class='{{ not Entity.isReadOnly and not Entity.entityData.locked ? 'click2Edit clickable' }} title_view'>
    {% if Entity.type == 'items' %}
        <span style='color:#{{ Entity.entityData.color }}'>{{ Entity.entityData.category }}</span>
    {% endif %}
    {{ Entity.entityData.title|raw }}
</div>

<!-- SHOW NEXT STEP -->
{% set next_step = Entity.entityData.next_step %}
{% if next_step|length > 0 %}
    {% set stepsArr = next_step|split('|') %}
    {% set next = stepsArr|first %}
    <p>
    {{ 'Next step'|trans }}: <span style='color:black'>{{ next|raw }}</span>
    </p>
{% endif %}

<!--  BODY (show only if not empty) -->
{% set body = Entity.entityData.body %}
{% if body != '' %}
    {% if Entity.Users.userData.use_markdown %}
        {% set body = Entity.entityData.body|md2html %}
    {% endif %}
    <div id='body_view' class='txt'>{{ body|raw }}</div>
    <br>
{% endif %}

{% if Entity.type == 'experiments' %}
    <!-- LINKS -->
    {% if linksArr %}
        <ul class='list-group'>
            {% for link in linksArr %}
            <li class='list-group-item'><img src='app/img/link.png'> {{ link.name|raw }} - <a href='database.php?mode=view&id={{ link.itemid }}'>
                    {{ link.title|raw }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- eLabID -->
    <p class='elabid'>{{ 'Unique eLabID:'|trans }} {{ Entity.entityData.elabid }}</p>
{% endif %}

{% if Entity.type == 'items' %}
    <!-- SHOW USER -->
    {{ 'Last modified by'|trans }} {{ Entity.entityData.fullname|raw }}
{% endif %}

</section>

{{ include('uploads.html') }}

{% if Entity.type == 'experiments' %}
    <section id='expcomment_container'>
        <div id='expcomment' class='box'>
            <h3><img src='app/img/comment.png' alt='comment' />{{ 'Comments'|trans }}</h3>

            {% if commentsArr %}
                {% for comment in commentsArr %}
                    <div class='expcomment_box'>
                        {% if comment.userid == Entity.Users.userid %}
                        <img class='align_right commentsDestroy' src='app/img/small-trash.png' title='delete' alt='delete' data-id='{{ comment.id }}' data-expid='{{ Entity.id }}' data-confirm='{{ 'Delete this?'|trans }}' />
                        {% endif %}
                        <span>{{ 'On %s %s wrote:'|trans|format(comment.datetime, comment.fullname)|raw }}</span>
                        <!-- .editable uses the id of the element to send to the controller -->
                        <p {{ comment.userid == Entity.Users.userid ? "class='editable'" }} id='{{ comment.id }}' data-indicator='{{ 'Saving'|trans }}' data-submit='{{ 'Save'|trans }}' data-cancel='{{ 'Cancel'|trans }}'>{{ comment.comment }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            <textarea id='commentsCreateArea' placeholder='{{ 'Add a comment'|trans }}'></textarea>
            <div id='commentsCreateButtonDiv' class='submitButtonDiv'>
                <button class='button' id='commentsCreateButton' data-expid='{{ Entity.id }}'>{{ 'Save'|trans }}</button>
            </div>
        </div>
    </section>

{% endif %}

<div id='entityInfos'
    data-title='{{ cleanTitle }}'
    data-type='{{ Entity.type }}'
    data-id='{{ Entity.id }}'
    data-confirm="{{ 'Delete this?'|trans }}">
</div>
<div id='shortcuts'
    data-create='{{ Entity.Users.userData.sc_create }}'
    data-edit='{{ Entity.Users.userData.sc_edit }}'>
</div>

<script src='app/js/view.min.js'></script>
{% endblock body %}
