{# Modal for showing more info about running version #}
<div class='modal fade' id='aboutElabftwModal' tabindex='-1' role='dialog' aria-labelledby='aboutElabftwModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='aboutElabftwModalLabel'>eLabFTW</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' data-wait='{{ 'Please wait…'|trans }}'>
        <p>{{ 'eLabFTW is a free and open source electronic laboratory notebook crafted by %s and contributors.'|trans|format("<a href='https://www.deltablot.com' class='external-link' target='_blank' rel='noopener'>Deltablot</a>")|raw }}</p>
        {% set releaseUrl = 'https://github.com/elabftw/elabftw/releases/tag/' ~ constant('Elabftw\\Elabftw\\App::INSTALLED_VERSION') %}
        {% set releaseLink = "<a href='%s' class='external-link' target='_blank' rel='noopener'>%s</a>"|format(releaseUrl, constant('Elabftw\\Elabftw\\App::INSTALLED_VERSION')) %}
        <p>{{ 'Running version: %s'|trans|format(releaseLink)|raw }}</p>
        <p>{{ 'License: %s'|trans|format("<a href='https://github.com/elabftw/elabftw/?tab=AGPL-3.0-1-ov-file#readme' class='external-link' target='_blank' rel='noopener'>Affero GPL v3</a>")|raw }}</p>
        <p>{{ 'Source code: %s'|trans|format("<a href='https://github.com/elabftw/elabftw/' class='external-link' target='_blank' rel='noopener'>GitHub repository</a>")|raw }}</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
