{# Modal for manual creation/edition of a compound #}
<div class='modal fade' id='addCompoundManuallyModal' tabindex='-1' role='dialog' aria-labelledby='addCompoundManuallyModalTitle'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='addCompoundManuallyModalTitle'><i class='fas fa-fw fa-plus'></i> {{ 'Add compound'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='mb-2' id='createCompoundInputs'>
          <label for='addCompoundNameInput'>{{ 'Name'|trans }}</label>
          <input name='name' required class='form-control' id='addCompoundNameInput' />
          <label for='addCompoundSMILESInput'>SMILES</label>
          <input name='smiles' class='form-control' id='addCompoundSMILESInput' />
          <label for='addCompoundInChIInput'>InChI</label>
          <input name='inchi' class='form-control' id='addCompoundInChIInput' />
          <label for='addCompoundInChIKeyInput'>InChI Key</label>
          <input name='inchi_key' class='form-control' id='addCompoundInChIKeyInput' />
          <label for='addCompoundMolFormInput'>{{ 'Molecular formula'|trans }}</label>
          <input name='molecular_formula' class='form-control' id='addCompoundMolFormInput' />
          <label for='addCompoundCASInput'>{{ 'CAS number'|trans }}</label>
          <input name='cas_number' class='form-control' id='addCompoundCASInput' />
        </div>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' class='btn btn-primary' id='addCompoundManuallyModalSaveBtn' data-action='save-compound' data-dismiss='modal'>{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
</div>
