{% extends 'base.html' %}

{% block body %}
<!-- UNVALIDATED USERS BLOCK -->
<div id='unvalidatedUsersBox'>
{% if unvalidatedUsersArr %}
  <div class='box'>
    {{ 'There are users waiting for validation of their account:'|trans|msg('warning', false) }}
    <ul>
    {% for user in unvalidatedUsersArr %}
      <li>
        {{ user.fullname|raw }} ({{ user.email }}) <button class='btn btn-primary' data-action='validate-user' data-userid='{{ user.userid }}'>{{ 'Validate'|trans }}</button>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
</div>

<!-- ADMIN PANEL MAIN MENU -->
<ul class='tabbed-menu'>
  <li data-action='switch-tab' data-tabtarget='1'>{{ 'Team'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='2'>{{ 'Groups'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='3'>{{ 'Users'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='4'>{% trans %}Status{% plural 2 %}Status{% endtrans %}</li>
  <li data-action='switch-tab' data-tabtarget='5'>{{ 'Types of items'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='6'>{{ 'Export'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='7'>{{ 'Tag manager'|trans }}</li>
</ul>

<!-- loading spinner -->
<div class='d-flex justify-content-center' id='loading-spinner'>
  <div class='lds-dual-ring'></div>
</div>

{# set variables for binary-settings template and other inputs with a data-model #}
{% set src = App.teamArr %}
{% set model = 'teams/current' %}

<!-- TAB 1 TEAM CONFIG -->
<div data-tabcontent='1' hidden>
  <h3 class='p-2 pl-3 section-title'>{{ 'Configure your Team'|trans }}</h3>

  <div class='pl-3 mt-2'>
    <div class='d-flex justify-content-between'>
      <label for='announcement' class='col-form-label'>{{ 'Announcement'|trans }}</label>
      <input class='form-control col-md-4' data-trigger='blur' data-model='{{ model }}' data-target='announcement' type='text' id='announcement' name='announcement' value='{{ App.teamArr.announcement }}' />
    </div>
    <p class='smallgray'>{{ "The following text will be displayed to all users on all pages while it's active."|trans }}</p>
    <hr>

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'deletable_xp',
      'label': 'Users can delete experiments',
      'help': 'An admin account will always be able to delete experiments.'} %}

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'deletable_item',
      'label': 'Users can delete items',
      'help': 'An admin account will always be able to delete items.'} %}

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'user_create_tag',
      'label': 'Users can create tags',
      'help': 'An admin account will always be able to create tags.'} %}

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'force_exp_tpl',
      'label': 'Force experiment template use'} %}
  </div>
  <h3 class='p-2 pl-3 section-title'>{{ 'Menu link'|trans }}</h3>

  <div class='pl-3 mt-2'>
    <div class='d-flex justify-content-between'>
      <label for='link_name' class='col-form-label'>{{ 'Name of the link in the top menu'|trans }}</label>
      <input class='form-control col-md-4' data-trigger='blur' data-model='teams/{{ App.Users.userData.team }}' data-target='link_name' type='text' value='{{ App.teamArr.link_name }}' name='link_name' id='link_name' />
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='link_href' class='col-form-label'>{{ 'Address where this link should point'|trans }}</label>
      <input class='form-control col-md-4' type='url' data-trigger='blur' data-model='teams/{{ App.Users.userData.team }}' data-target='link_href' value='{{ App.teamArr.link_href }}' name='link_href' id='link_href' />
    </div>
    <hr>

  </div>
  <h3 class='p-2 pl-3 section-title'>{{ 'Permissions'|trans }}</h3>

  <div class='pl-3 mt-2'>

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'public_db',
      'label': 'Anonymous visitors can see database items'} %}

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'do_force_canread',
      'label': 'Enforce read permissions?',
      'help': 'Select if you want to enforce read permissions on experiments'} %}

    <div class='d-flex justify-content-between'>
      <label for='force_canread' class='col-form-label'>{{ 'Enforced read permissions on experiments'|trans }}</label>
      <select class='form-control col-md-4' data-trigger='change' data-transform='permissionsToJson' data-model='teams/{{ App.Users.userData.team }}' data-target='force_canread' id='force_canread'>
        {% for key, value in visibilityArr %}
          <option value='{{ key }}' {{ App.teamArr.force_canread|extractJson('base') == key ? " selected='selected'" }}>{{ value|trans }}</option>
        {% endfor %}
      </select>
    </div>
    <p class='smallgray'>{{ 'Enforce the read permission for all experiments of users in this team.'|trans }}</p>
    <hr>

    {% include 'binary-setting.html' with {'model': model, 'src': src,
      'slug': 'do_force_canwrite',
      'label': 'Enforce write permissions?',
      'help': 'Select if you want to enforce write permissions on experiments'} %}

    <div class='d-flex justify-content-between'>
      <label for='force_canwrite' class='col-form-label'>{{ 'Enforced write permissions on experiments'|trans }}</label>
      <select class='form-control col-md-4' data-trigger='change' data-transform='permissionsToJson' data-model='teams/{{ App.Users.userData.team }}' data-target='force_canwrite' id='force_canwrite'>
        {% for key, value in visibilityArr %}
          <option value='{{ key }}' {{ App.teamArr.force_canwrite|extractJson('base') == key ? " selected='selected'" }}>{{ value|trans }}</option>
        {% endfor %}
      </select>
    </div>
    <p class='smallgray'>{{ 'Enforce the write permission for all experiments of users in this team.'|trans }}</p>
    <hr>

  </div>
  <h3 class='p-2 pl-3 section-title'>{{ 'Common templates'|trans }}</h3>

  <div class='pl-3 mt-2'>
    <label for="common_template">{{ 'Common Experiment Template'|trans }}</label>
    <textarea style='height:400px' class='mceditable' name="common_template" id='common_template'>
        {{ App.teamArr.common_template|raw }}
    </textarea>
    <p class='smallgray'>{{ 'This is the default text when someone creates an experiment.'|trans }}</p>
    <div class='mt-2 text-center'>
      <button data-action='patch-team-common-template' data-id='{{ App.teamArr.id }}' class='btn btn-primary'>{{ 'Save'|trans }}</button>
    </div>
    <hr>

    <label for="common_template_md">{{ 'Common Experiment Template'|trans }} (Markdown)</label>
    <textarea style='height:400px' class='markdown-textarea' name="common_template_md" id='common_template_md'>{{ App.teamArr.common_template_md|raw }}</textarea>
    <p class='smallgray'>{{ 'This is the default text when someone creates an experiment.'|trans }}</p>
    <div class='mt-2 text-center'>
      <button data-action='patch-team-common-template-md' data-id='{{ App.teamArr.id }}' class='btn btn-primary'>{{ 'Save'|trans }}</button>
    </div>

  </div>
</div>

<!-- TAB 2 TEAM GROUPS -->
<div data-tabcontent='2' hidden>
  <p><a target='_blank' rel='noopener' href='https://doc.elabftw.net/admin-guide.html#groups-tab'>{{ 'Link to documentation'|trans }} <i class='fas fa-fw fa-arrow-up-right-from-square'></i></a></p>
  <h3 class='p-2 pl-3 section-title'>{{ 'Create a group'|trans }}</h3>

  <div class='pl-3 mt-2 mb-5'>
    <!-- CREATE A GROUP -->
    <div class='input-group'>
      <input type='text' id='teamGroupCreate' class='form-control' placeholder='{{ 'Add a group'|trans }}' aria-label='{{ 'Add a group'|trans }}'>
      <div class='input-group-append'>
        <button class='btn btn-primary' data-action='create-teamgroup' data-teamid='{{ App.Users.userData.team }}' type='button'>{{ 'Create'|trans }}</button>
      </div>
    </div>
    <!-- END CREATE GROUP -->
  </div>

  <!-- SHOW EXISTING GROUPS -->
  <div id='team_groups_div'>
    <h3 class='p-2 pl-3 section-title'>{{ 'Existing groups'|trans }}</h3>
    <div class='pl-3'>
      {% for teamGroup in teamGroupsArr %}
        <div class='box'>
          <a class='clickable teamGroupDelete float-right' data-id='{{ teamGroup.id }}' title='{{ 'Delete'|trans }}'>
            <i class='fas fa-trash-alt'></i>
          </a>
          <h5><i class='fas fa-users'></i> <span data-teamid='{{ App.Users.userData.team }}' data-id='{{ teamGroup.id }}' class='malleableTeamgroupName hl-hover'>{{ teamGroup.name|raw }}</span></h5>
          <hr>
          <div class='d-flex flex-wrap'>
            {% for user in teamGroup.users %}
            <div class='user-badge rounded px-2 py-1 mr-2 mt-2'>{{ user.fullname|raw }} <span title='{{ 'Delete'|trans }}' class='clickable rmUserFromGroup m-1' data-user='{{ user.userid }}' data-teamid='{{ App.Users.userData.team }}' data-group='{{ teamGroup.id }}'><i class='fas fa-xmark' style='color:#29AEB9' ></i></span></div>
            {% endfor %}
          </div>
          <!-- ADD USER -->
          <div class='input-group mt-3'>
            <div class='input-group-prepend'>
              <span class='input-group-text'><i class='fas fa-magnifying-glass'></i></span>
            </div>
            <input type='text' class='form-control autocompleteUsers' placeholder='{{ 'User name'|trans }}' aria-label='{{ 'User name'|trans }}'>
            <div class='input-group-append'>
              <button class='btn btn-primary' data-action='adduser-teamgroup' data-teamid='{{ App.Users.userData.team }}' data-groupid='{{ teamGroup.id }}' type='button'>{{ 'Add user'|trans }}</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- END TEAM GROUPS -->

<!-- TAB 3 USERS -->
<div data-tabcontent='3' hidden>
  {% include 'editusers.html' %}
</div>

<!-- TAB 4 STATUS -->
<div data-tabcontent='4' hidden>
  <h3 class='p-2 pl-3 section-title'>{{ 'Add a New Status'|trans }}</h3>
  <div class='pl-3 mt-2 mb-5'>
    <div class='d-flex justify-content-between'>
      <label for='statusName' class='col-form-label'>{{ 'Name'|trans }}</label>
      <input class='form-control col-md-3' type='text' id='statusName' />
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='statusColor' class='col-form-label'>{{ 'Color'|trans }}</label>
      <input class='form-control randomColor col-md-3' type='color' id='statusColor' />
    </div>
    <hr>

    <div class='mt-3 text-center'>
      <button class='btn btn-primary' data-teamid='{{ App.Users.userData.team }}' data-action='create-status'>{{ 'Save'|trans }}</button>
    </div>
  </div>

    <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Edit an Existing Status'|trans }}</h3>
    <div class='pl-3' id='statusBox'>
    <ul class='list-group sortable' data-axis='y' data-table='status'>
      {% for status in statusArr %}
        <li id='status_{{ status.category_id }}' data-statusid='status_{{ status.category_id }}' class='list-group-item'>
          <ul class='list-inline'>
            <li class='list-inline-item'>
              <span class='draggable sortableHandle'>
                <i class='fas fa-grip-vertical fa-fw'></i>
              </span>
            </li>

            <li class='list-inline-item'>
              <label for='statusName_{{ status.category_id }}'>{{ 'Name'|trans }}</label>
              <input class='form-control' required type='text' id='statusName_{{ status.category_id }}' value='{{ status.category|raw }}' />
            </li>

            <li class='list-inline-item col-1 align-top'>
              <label for='statusColor_{{ status.category_id }}'>{{ 'Color'|trans }}</label>
              <input class='form-control' type='color' id='statusColor_{{ status.category_id }}' value='#{{ status.color }}' />
            </li>

            <li class='list-inline-item'>
              <input type='radio' name='defaultRadio' id='statusDefault_{{ status.category_id }}' {{ status.is_default ? " checked" }} />
              <label for='statusDefault_{{ status.category_id }}'>{{ 'Default status'|trans }}</label>
            </li>

            <li class='list-inline-item'>
              <button data-id='{{ status.category_id }}' class='btn btn-primary' data-teamid='{{ App.Users.userData.team }}' data-action='update-status'>{{ 'Save'|trans }}</button>
            </li>

            <li class='list-inline-item'>
              <button data-id='{{ status.category_id }}' data-teamid='{{ App.Users.userData.team }}' data-action='destroy-status' class='btn btn-danger' >{{ 'Delete'|trans }}</button>
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- TAB 5 ITEMS TYPES-->
<div data-tabcontent='5' hidden>
  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Database Items Types'|trans }}</h3>
  <div class='pl-3'>
    <div {{ App.Request.query.has('templateid') ? 'hidden' }}>
      <div class='d-flex justify-content-between'>
        <p class='col-form-label'>{{ 'This menu allows you to define categories for entries in the Database. A database item type is similar to an experiment template but for database entries.'|trans }}</p>
        <!-- CREATE NEW BUTTON the div around the button is necessary or the button itself gets resized on small viewports -->
        <div>
          <button type='button' class='btn btn-primary' data-action='itemstypes-create'>{{ 'Create'|trans }}</button>
        </div>
      </div>
    </div>

  {% if App.Request.query.has('templateid') %}
    <a href='?tab=5'>
      <i class='fas fa-chevron-left mr-1'></i>{{ 'Back to listing'|trans }}
    </a>
  {% else %}
      <ul class='list-group form-group sortable' data-axis='y' data-table='items_types'>
        {% for itemType in itemsCategoryArr %}
        <li class='box' id='itemstypes_{{ itemType.category_id }}' style='color: #{{ itemType.color }}'><span class='sortableHandle draggable mr-2'><i class='fas fa-grip-vertical fa-fw'></i></span><a href='?tab=5&templateid={{ itemType.category_id }}' class='mr-2'><i class='fas fa-pencil-alt'></i></a>{{ itemType.category | raw }}</li>
        {% endfor %}
      </ul>
      <p>{{ 'Use the handles to adjust the order in which the categories appear in the application.'|trans }}</p>
  {% endif %}

    <!-- templateData will be loaded with content from an item type if templateid is present is url -->
    {% if Entity.entityData %}
      <ul class='list-inline'>
        <li class='list-inline-item'>
          <label for='itemsTypesName'>{{ 'Name'|trans }}</label>
          <input type='text' class='form-control' id='itemsTypesName' value='{{ Entity.entityData.title|raw }}' />
        </li>

        <li class='list-inline-item col-1 align-top'>
          <label for='itemsTypesColor'>{{ 'Color'|trans }}</label>
          <input class='form-control' type='color' id='itemsTypesColor' value='#{{ Entity.entityData.color }}' />
        </li>

        <li class='list-inline-item'>
          <input id='itemsTypesBookable' type='checkbox' {{ Entity.entityData.bookable ? " checked" }} />
          <label for='itemsTypesBookable'>{{ 'Bookable'|trans }}</label>
        </li>

        <div class='list-inline-item'>
          <!-- CAN READ -->
          {% set rw = 'canread' %}
          {% set can = Entity.entityData.canread|canToHuman %}
          {% include('view-permissions.html') %}
        </div>

        <div class='list-inline-item'>
          <!-- CAN WRITE -->
          {% set rw = 'canwrite' %}
          {% set can = Entity.entityData.canwrite|canToHuman %}
          {% include('view-permissions.html') %}
        </div>

      </ul>

      <div>
        <textarea class='mceditable' id='itemsTypesBody'>{{ Entity.entityData.body }}</textarea>
      </div>

      <div id='metadataDiv' class='col-md-6'></div>
      {% set mode = 'edit-template' %}
      {% include 'steps-links-edit.html' %}
      <!-- METADATA editor for items types -->
      {% include 'json-editor.html' %}

      <div class='text-center mt-3'>
        <button class='btn btn-primary' data-id='{{ Entity.id }}' data-action='itemstypes-update'>{{ 'Save'|trans }}</button>
        <button class='btn btn-danger' data-id='{{ Entity.id }}' data-action='itemstypes-destroy'>{{ 'Delete'|trans }}</button>
      </div>
    {% endif %}

  </div>

</div>


<!-- TAB 6 EXPORT -->
<div data-tabcontent='6' hidden>
  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Export database items'|trans }}</h3>
  <div class='pl-3 mb-5'>
    <div class='d-flex justify-content-between'>
      <label for='categoryExport' class='col-form-label'>{{ 'Select what to export'|trans }}</label>
      <select class='form-control col-md-3' id='categoryExport' autocomplete='off'>
        {% for itemsType in itemsCategoryArr %}
          <option value='{{ itemsType.category_id }}'>{{ itemsType.category }}</option>
        {% endfor %}
      </select>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='categoryExportFormat' class='col-form-label'>{{ 'Select export format'|trans }}</label>
      <select class='form-control col-md-3' id='categoryExportFormat' autocomplete='off'>
        <option value='eln'>{{ 'ELN Archive'|trans }}</option>
        <option value='zip'>{{ 'ZIP Archive'|trans }}</option>
        <option value='csv'>{{ 'CSV File'|trans }}</option>
        <option value='multipdf'>{{ 'PDF File'|trans }}</option>
        <option value='qrpdf'>{{ 'QR codes PDF'|trans }}</option>
        <option value='json'>{{ 'JSON'|trans }}</option>
      </select>
    </div>
    <hr>

    <div class='my-2 text-center'>
      <button data-action='export-category' class='btn btn-primary'>{{ 'Export'|trans }}</button>
    </div>
  </div>

  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Export experiments of user'|trans }}</h3>
  <div class='pl-3 mb-5'>

    <div class='d-flex justify-content-between'>
      <label for='userExport' class='col-form-label'>{{ 'Select user'|trans }}</label>
      <select class='form-control col-md-3' id='userExport' autocomplete='off'>
        {% for user in allTeamUsersArr %}
          <option value='{{ user.userid }}'>{{ user.fullname }}</option>
        {% endfor %}
      </select>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='userExportFormat' class='col-form-label'>{{ 'Select export format'|trans }}</label>
      <select class='form-control col-md-3' id='userExportFormat' autocomplete='off'>
        <option value='eln'>{{ 'ELN Archive'|trans }}</option>
        <option value='zip'>{{ 'ZIP Archive'|trans }}</option>
        <option value='csv'>{{ 'CSV File'|trans }}</option>
        <option value='multipdf'>{{ 'PDF File'|trans }}</option>
        <option value='qrpdf'>{{ 'QR codes PDF'|trans }}</option>
        <option value='json'>{{ 'JSON'|trans }}</option>
      </select>
    </div>
    <hr>

    <div class='mt-2 text-center'>
      <button data-action='export-user' class='btn btn-primary'>{{ 'Export'|trans }}</button>
    </div>

  </div>

  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Export bookings'|trans }}</h3>
  <div class='pl-3'>

    <div class='d-flex justify-content-between'>
      <label for='schedulerDateFrom' class='col-form-label'>{{ 'Date from'|trans }}</label>
      <input id='schedulerDateFrom' name='schedulerDateFrom' type='date' class='form-control col-md-3' value='{{ "1 month ago"|date('Y-m-d') }}'/>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='schedulerDateTo' class='col-form-label'>{{ 'Date to'|trans }}</label>
      <input id='schedulerDateTo' name='schedulerDateTo' type='date' class='form-control col-md-3' value='{{ "now"|date('Y-m-d') }}'/>
    </div>
    <hr>

    <div class='mt-2 text-center'>
      <button data-action='export-scheduler' class='btn btn-primary'>{{ 'Export'|trans }}</button>
    </div>
  </div>
</div>

<!-- TAB 7 TAG MANAGER -->
<div data-tabcontent='7' hidden>
  <p>{{ 'From here you can add, edit or delete the tags for your team. Click the tag to edit it. Then click the deduplicate button to merge similar tags.'|trans }}</p>
  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Add a tag'|trans }}</h3>
  <div class='pl-3 mb-5'>
    <div class='input-group'>
      <input type='text' id='adminAddTagInput' class='form-control' placeholder='{{ 'Add a tag'|trans }}' aria-label='{{ 'Add a tag'|trans }}'>
      <div class='input-group-append'>
        <button class='btn btn-primary' data-action='admin-add-tag' data-teamid='{{ App.Users.userData.team }}' type='button'>{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>

  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Manage tags of the team'|trans }}</h3>
  <div class='pl-3'>

    <button class='btn btn-primary' data-action='deduplicate-tag'><i class='fas fa-clone mr-1 text-white'></i>{{ 'Deduplicate'|trans }}</button>
    <div class='mt-2' id='tagMgrDiv'>
      {% for tag in tagsArr %}
        <p>
        <a title='{{ 'Show tagged experiments'|trans }}' href='experiments.php?mode=show&tags[]={{ tag.tag|url_encode }}'>
          <i class='fas fa-external-link-square-alt'></i>
        </a>
        <a title='{{ 'Show tagged items'|trans }}' href='database.php?mode=show&tags[]={{ tag.tag|url_encode }}'>
          <i class='fas fa-external-link-square-alt'></i>
        </a>
        <a class='mr-1' data-action='destroy-tag' data-tagid='{{ tag.id }}' title='{{ 'Delete'|trans }}'><i class='fas fa-trash-alt'></i></a><span class='tag editable hl-hover' data-id='{{ tag.id }}'>{{ tag.tag|raw }}</span> ({{ tag.item_count }})</p>
      {% endfor %}
    </div>
  </div>
</div>

<div id='info' data-page='template-edit' data-type='items_types' data-id='{{ App.Request.query.get('templateid') }}'></div>

{% endblock body %}
