{# Modal for un/archiving user #}
{# requires: user #}
{% if user.archived %}
  {% set action = 'Unarchive user'|trans %}
  {% set description = 'Unarchiving a user means their account will be restored. This action is reversible.'|trans %}
{% else %}
  {% set action = 'Archive user'|trans %}
  {% set description = 'Archiving a user means their account will be disabled. This action is reversible.'|trans %}
{% endif %}
<div class='modal fade' id='archiveUserModal_{{ user.userid }}' tabindex='-1' role='dialog' aria-labelledby='archiveUserModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='archiveUserModalLabel_{{ user.userid }}'><i class='fas fa-fw fa-box-archive'></i> {{ action }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <p>{{ description }}</p>
        {% if not user.archived %}
          {# Lock and archive experiments? #}
          <div class='d-flex justify-content-between mb-2'>
            <label class='d-inline mr-1' for='lockSwitch_{{ user.userid }}'>{{ 'Lock and archive all experiments'|trans }}</label>
            <label class='switch'>
              <input type='checkbox' autocomplete='off' id='lockSwitch_{{ user.userid }}'>
              <span class='slider'></span>
            </label>
          </div>
        {% endif %}
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' class='btn btn-primary' data-dismiss='modal' data-action='toggle-archive-user' data-userid='{{ user.userid }}'>{{ action }}</button>
      </div>
    </div>
  </div>
</div>
