{# Modal for un/archiving user #}
<div class='modal fade' id='archiveUserModal' tabindex='-1' role='dialog' aria-labelledby='archiveUserModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='archiveUserModalLabel'><i class='fas fa-fw fa-box-archive mr-1'></i>{{ 'Archive user'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        {# holder for description #}
        <p></p>
        {# Lock and archive experiments? #}
        <div id='lockSwitchDiv' hidden class='d-flex justify-content-between mb-2'>
          <label class='d-inline mr-1' for='lockSwitch'>{{ 'Lock and archive all experiments'|trans }}</label>
          <label class='switch'>
            <input type='checkbox' autocomplete='off' id='lockSwitch'>
            <span class='slider'></span>
          </label>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' class='btn btn-primary' data-dismiss='modal' data-action='toggle-archive-user'>{{ 'Archive user'|trans }}</button>
      </div>
    </div>
  </div>
</div>
