{# Modal window for asking the title of a new entity #}
<div class='modal fade' id='askTitleModal' tabindex='-1' role='dialog' aria-labelledby='askTitleModalLabel'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='askTitleModalLabel'>{{ entityPage == 'templates' or entityPage == 'resources-templates' ? 'Create a new template'|trans : 'Create a new entry'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <form aria-label='{{ 'Enter a title'|trans }}'>
        <div class='modal-body mb-3'>
          <div id='askTitleForm'>
            <label for='askTitleModalTitleInput'>{{ 'Enter a title'|trans }}</label>
            <input autocomplete='off' name='title' required class='form-control' type='text' id='askTitleModalTitleInput' />
          </div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
          <button type='submit' id='askTitleButton' data-action='create-entity' data-has-title='1' data-form-id='askTitleForm' class='btn btn-primary'>{{ 'Create'|trans }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{# end modal #}
