{%- if not searchPage -%}
  {# HEAD (but when we load show.html from searchpage we don't want it #}
  {%- include 'head.html' -%}
  {# TITLE #}
  {%- block title -%}
    {# this can be overridden by child templates #}
    <h1 id='pageTitle' {%- if hideTitle %} hidden {%- endif %}>{{ App.pageTitle }}</h1>
  {%- endblock -%}


  {# INFO BOX (FLASH MESSAGES) #}
  {%- for ok in App.ok -%}
    {{ ok|msg('ok') }}
  {%- endfor -%}
  {%- for ko in App.ko -%}
    {{ ko|msg('ko') }}
  {%- endfor -%}
  {%- for warning in App.warning -%}
    {{ warning|msg('warning') }}
  {%- endfor -%}
  {# ANNOUNCEMENTS #}
  {# general sysconfig announcement #}
  {%- if App.Config.configArr.announcement -%}
    {{ App.Config.configArr.announcement|msg('warning', false) }}
  {%- endif -%}

  {# team level announcement #}
  {%- if App.teamArr.announcement -%}
    {{ App.teamArr.announcement|msg('warning', false) }}
  {%- endif -%}
  {# newcomer banner #}
  {%- if App.teamArr.newcomer_banner_active and App.teamArr.newcomer_banner -%}
    {% set current_date = date() %}
    {% set threshold_date = current_date|date_modify('-' ~ App.teamArr.newcomer_threshold ~ ' days') %}
    {% if App.Users.userData.created_at|date('Y-m-d H:i:s') > threshold_date|date('Y-m-d H:i:s') %}
    <h3 data-action='toggle-next' data-toggle-target='newcomer_banner' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='newcomer_banner'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Newcomer banner'|trans }}</h3><abbr title='{{ 'You are seeing this because your account is less than %d days old.'|trans|format(App.teamArr.newcomer_threshold) }}'><i class='fas fa-question-circle ml-2'></i></abbr>
      <div class='my-2' id='newcomer_banner' data-save-hidden='newcomer_banner'>
        {{ App.teamArr.newcomer_banner|raw }}
      </div>
    {% endif %}
  {%- endif -%}
  <div id='output'></div>
{%- endif -%}

{# BODY #}
{% block body %}{% endblock %}

{# TODOLIST / FAVTAGS side panels (only for logged in users) #}
{% if App.Session.get('is_auth') and not App.Session.get('is_anon') %}
  {% include 'todolist-panel.html' %}
  {% include 'favtags-panel.html' %}
{% endif %}

{# FOOTER #}
{% include 'footer.html' %}
