{# use this template to generate a binary setting for instance config. Set a "slug" and "label" keys. #}
{# optionally a model #}
<div class='d-flex justify-content-between'>
  <label for='{{ slug }}' class='col-form-label'>{{ label|trans }}</label>
  <label class='switch ucp-align'>
    <input type='checkbox' autocomplete='off' data-trigger='change' data-model='{{ model|default('config') }}' data-target='{{ slug }}' {{ App.Config.configArr[slug] ? 'checked="checked"' }} id='{{ slug }}'>
    <span class='slider'></span>
  </label>
</div>
{% if help %}
  <p class='smallgray'>{{ help|trans }}</p>
{% endif %}
<hr>
