<div class='modal fade' id='sendBookingsEmailModal' tabindex='-1' role='dialog' aria-labelledby='sendBookingsEmailModalLabel'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='sendBookingsEmailModalLabel'><i class='fas fa-fw fa-envelope'></i>{{ 'Send an email to users who booked this resource'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <span id='listEmailRecipients' class='mb-2'></span><br>
        {# SUBJECT #}
        <label for='bookingsEmailSubject' class='col-form-label font-weight-bold'>{{ 'Subject'|trans }}</label>
        <input class='form-control col-md-12' type='text' id='bookingsEmailSubject' size='45' />
        {# BODY #}
        <label for='bookingsEmailBody' class='col-form-label mt-2 font-weight-bold'>{{ 'Message'|trans }}</label>
        <textarea class='form-control col-md-12' id='bookingsEmailBody'></textarea>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' class='btn btn-primary' data-dismiss='modal' data-action='notify-surrounding-bookers' title='{{ 'Send'|trans }}' data-itemid='{{ Entity.entityData.id }}'>{{ 'Send'|trans }}</button>
      </div>
    </div>
  </div>
</div>
