{% if Entity.entityType.value != 'items_types' %}
  {# CATEGORIES : not shown on resources categories edit page on admin panel #}
  <div class='d-flex mb-2 align-items-center'>
    <label for='category_select' class='col-form-label mr-3 edit-mode-label'>{{ 'Category'|trans }}</label>
    <select id='category_select' data-target='category' class='form-control col-md-2 catstatSelect'>
      {# TODO add a box with color #}
      <option value='0'
        {{ Entity.entityData.category is null ? ' selected' }}>{{ 'Not set'|trans }}
      </option>
      {% for category in categoryArr %}
        <option value='{{ category.id }}'
          {{ Entity.entityData.category == category.id ? ' selected' }}>{{ category.title }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endif %}

{# STATUS #}
{% if Entity.entityType.value == 'items_types' %}
  {% set statusArr = itemsStatusArr %}
{% endif %}
<div class='d-flex mb-2 align-items-center'>
  <label for='status_select' class='col-form-label mr-3 edit-mode-label'>
    {% trans %}Status{% plural 1 %}Status{% endtrans %}
  </label>
  <select id='status_select' data-target='status' class='form-control col-md-2 catstatSelect'>
    {# TODO add a box with color #}
      <option value='0'
              {{ Entity.entityData.status is null ? ' selected' }}>{{ 'Not set'|trans }}</option>
    {% for status in statusArr %}
      <option value='{{ status.id }}'
              {{ Entity.entityData.status|default(0) == status.id ? ' selected' }}>{{ status.title }}</option>
    {% endfor %}
  </select>
</div>
