{% extends 'base.html' %}

{% block body %}

{% set query = '?mode=view&' %}
<a href='{{ Entity.entityType.toPage ~ query }}id={{ Entity.id }}' class='btn hl-hover-gray'>
  <i class='fas fa-chevron-left mr-1 fa-fw'></i>{{ 'Go back'|trans }}
</a>

<h3 class='my-3 p-2 pl-3 section-title' id='pageSubTitle'>{{ 'Changelog'|trans }}</h3>
<div class='pl-3 table-container'>
  <table class='table' aria-describedby='pageSubTitle' data-table-sort='true' id='changelogTable'>
    {% include 'changelog-table.html' %}
  </table>
</div>
{% endblock body %}
