<h3 class='my-3 p-2 pl-3 section-title' id='pageSubTitle'>{{ 'Changelog'|trans }}</h3>
<div class='pl-3'>
  <table class='table' aria-describedby='pageSubTitle' data-table-sort='true'>
    <thead>
      <tr>
          <th>{{ 'Date'|trans }}</th>
          <th>{{ 'User'|trans }}</th>
          <th>{{ 'Property changed'|trans }}</th>
          <th>{{ 'New value'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for change in changes %}
      <tr>
        <td>{{ change.created_at }}</td>
        <td>{{ change.fullname }}</td>
        <td>{{ change.target }}</td>
        <td>
          {# cannot use ternary here as it is an expression and filter is applied after evaluation #}
          {%- if change.target == 'body' -%}
            {# use of raw to make the link to revisions page work #}
            {{ change.content|raw }}
          {%- else -%}
            {{ change.content }}
          {%- endif -%}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
