{% extends 'base.html' %}
{% block body %}
{# IMPORT FROM PUBCHEM #}
{% include('import-pubchem-modal.html') %}
{% include('add-compound-modal.html') %}
{% include('add-compound-manually-modal.html') %}
<p>{{ 'Compounds are chemical entities associated with properties such as a PubChem CID, a CAS number, InChI or SMART representations, etc... This page allows you to manage your compounds database. Resources or Experiments can be linked to compounds.'|trans }}</p>
  <div class='my-3'>
    <button type='button' data-action='toggle-modal' data-target='importFromPubChemModal' class='btn btn-secondary'>{{ 'Add from PubChem'|trans }}</button>
    <button type='button' data-action='toggle-modal' data-target='addCompoundManuallyModal' class='btn btn-secondary'>{{ 'Add compound'|trans }}</button>
  </div>
  <div id='compounds-table'></div>
{% endblock body %}
