{# shared block for listing templates + categories in 'create-new-item-...-modal.html' #}
{# expects: entityPage, templatesArr, itemsTemplatesArr, (optional) categoryArr #}
{# optional overrides: actionName, templatesPageOverride, categoryPageOverride, alwaysShowCategories #}
<div id='tplCreateNewDiv_{{ entityPage }}' class='vertically-limited'>
  {% if templatesArr|length == 0 %}
    {{ 'No templates found.'|trans }}
  {% else %}
    <input type='text' aria-label='{{ 'Filter'|trans }}' placeholder='{{ 'Filter'|trans }}' data-filter-target='tplCreateNewTable_{{ entityPage }}' data-target-type='tr' class='form-control form-inline my-1'>
    <table class='table' aria-describedby='createModalLabel_{{ entityPage }}' data-table-sort='true'>
      <thead>
      <tr>
        <th scope='col'>{{ 'Title'|trans }}</th>
        <th scope='col'>{{ 'Owner'|trans }}</th>
      </tr>
      </thead>
      <tbody id='tplCreateNewTable_{{ entityPage }}'>
      {% set label = entityPage == 'database' ? 'Create resource from template'|trans : 'Create experiment from template'|trans %}
      {% for template in templatesArr %}
        <tr data-catid='{{ template.category|default('-1') }}'>
          <td data-label='{{ 'Title'|trans }}'>
            <a data-action='{{ actionName|default('create-entity') }}' data-has-title='1' data-type='{{ entityPage }}' data-tplid='{{ template.id }}' href='#' class='p-2 rounded mr-2 hl-hover-gray' title='{{ label }}' aria-label='{{ label }}'>
              <i class='fas fa-file-circle-plus fa-fw color-blue'></i>
            </a>
            <a href='{{ Entity.entityType.toTemplatePage() }}?mode=view&id={{ template.id }}' class='p-2 rounded mr-2 hl-hover-gray' title='{{ 'View template'|trans }}' aria-label='{{ 'View template'|trans }}'>
              <i class='fas fa-eye fa-fw'></i>
            </a>
            {% if template.category_title %}
              <span class='catstat-btn category-btn mr-2' style='--bg: #{{ template.category_color|default('bdbdbd') }}'>{{ template.category_title }}</span>
            {% endif %}
            {% if template.status %}
              <span class='catstat-btn status-btn mr-2' style='--bg: #{{ template.status_color|default('bdbdbd') }}'>{{ template.status_title }}</span>
            {% endif %}
            {{ template.title }}
          </td>
          <td data-label='{{ 'Owner'|trans }}'>{{ template.fullname }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
