{# create a status or category: only has name and color #}
<div class='modal fade' id='create{{ target }}Modal' tabindex='-1' role='dialog' aria-labelledby='create{{ target }}ModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='create{{ target }}ModalLabel'><i class='fas fa-fw fa-plus-square mr-1'></i>{{ title }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
          <div class='d-flex justify-content-between mb-2'>
            <label for='create{{ target }}Name' class='col-form-label'>{{ 'Name'|trans }}</label>
            <input class='form-control col-md-6' type='text' name='name' placeholder='{{ 'Category name'|trans }}' required id='create{{ target }}Name' />
          </div>
          <hr>

          <div class='d-flex justify-content-between'>
            <label for='create{{ target }}Color' class='col-form-label'>{{ 'Color'|trans }}</label>
            <div class='d-flex flex-row'>
              <span class='p-2 rounded hl-hover-gray mr-1' data-action='reload-color'><i class='fas fa-rotate'></i></span>
              <input class='form-control randomColor col-md-6 color-input' type='color' name='color' id='create{{ target }}Color' />
            </div>
          </div>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Close'|trans }}</button>
        <button type='button' data-target='{{ target }}' data-action='create-statuslike' class='btn btn-primary'>{{ 'Create'|trans }}</button>
      </div>
    </div>
  </div>
</div>
