{# RIGHT MENU: CREATE NEW BUTTON #}
{# Disable the Create button if the team has disabled template creation permissions AND the user is not admin #}
{% set isDisabled = not App.Users.isAdmin and (
  (scriptName == 'templates.php' and not App.Teams.teamArr.users_canwrite_experiments_templates)
  or
  (scriptName == 'resources-templates.php' and not App.Teams.teamArr.users_canwrite_resources_templates)
  ) %}
{% if not App.Session.get('is_anon') %}
<button type='button' data-action='toggle-create-modal' data-type='{{ entityType|default('') }}' class='btn btn-primary' {{ isDisabled ? 'disabled="disabled"' : '' }}>{{ 'Create'|trans }}</button>
{% endif %}
