{% extends 'base.html' %}

{% block title %}
<div class='d-flex align-content-center'>
  <h1 id='pageTitle' {% if hideTitle %}hidden{% endif %}>{{ App.pageTitle }}</h1>
</div>
{% endblock %}

{% block body %}

{% include 'show-view-edit.html' %}
<h2>{{ 'Welcome %s'|trans|format(App.Users.userData.firstname) }}</h2>

{% include 'request-actions-show.html' %}
<hr>
<div class='row'>
  <div class='col-md-4'>
    <div class='d-flex justify-content-between'>
      <h4>{% trans %}Experiment{% plural 2 %}Experiments{% endtrans %}</h4>
      {% include 'create-new.html' with {'entityPage': 'experiments.php', 'entityType': 'experiments'} %}
    </div>
    <hr>
    {% if experimentsCategoryArr %}
      <h5>{{ 'Browse by category'|trans }}</h5>
      <div class='d-flex my-2 flex-wrap lh-150'>
        {% for category in experimentsCategoryArr -%}
          <a href='experiments.php?mode=show&amp;cat={{ category.id }}' class='btn mr-2 catstat-btn category-btn mb-1' style='--bg: #{{ category.color }}'>{{ category.title }}</a>
        {%- endfor %}
      </div>
      <hr>
    {% endif %}
    {% if experimentsStatusArr %}
      <h5>{{ 'Browse by status'|trans }}</h5>
      <div class='d-flex my-2 flex-wrap lh-150'>
        {% for status in experimentsStatusArr -%}
          <a href='experiments.php?mode=show&amp;status={{ status.id }}' class='btn mr-2 catstat-btn status-btn mb-1' style='--bg: #{{ status.color }}'><i class='fas fa-circle fa-fw' style='--bg:#{{ status.color }}'></i> {{ status.title }}</a>
        {%- endfor %}
      </div>
      <hr>
    {% endif %}
    <h5>{{ 'Last modified experiments'|trans }}</h5>
    <div class='list-group mt-1'>
      {% for experiment in experimentsArr %}
        <a href='experiments.php?mode=view&amp;id={{ experiment.id }}' class='list-group-item hl-hover-gray breakable'>
          {%- if experiment.category_title -%}
            <span style='--bg: #{{ experiment.category_color }}' class='d-inline-block catstat-btn category-btn mr-2'>{{ experiment.category_title }}</span>
          {%- endif -%}
          {{- experiment.title }} <span title='{{ experiment.modified_at }}' class='relative-moment text-nowrap smallgray'></span>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class='col-md-4 mt-2 mt-md-0'>
    <div class='d-flex justify-content-between'>
      <h4>{% trans %}Resource{% plural 2 %}Resources{% endtrans %}</h4>
      {% include 'create-new.html' with {'entityPage': 'database.php', 'entityType': 'items'} %}
    </div>
    <hr>
    <h5>{{ 'Browse by category'|trans }}</h5>
    <div class='d-flex my-2 flex-wrap lh-150'>
      {% for category in itemsCategoryArr -%}
        <a href='database.php?mode=show&amp;cat={{ category.id }}' class='btn mr-2 catstat-btn category-btn lh-normal border-0 mb-1' style='--bg: #{{ category.color }}'>{{ category.title }}</a>
      {%- endfor %}
    </div>
    <hr>
    {% if itemsStatusArr %}
      <h5>{{ 'Browse by status'|trans }}</h5>
      <div class='d-flex my-2 flex-wrap lh-150'>
        {% for status in itemsStatusArr -%}
          <a href='database.php?mode=show&amp;status={{ status.id }}' class='btn mr-2 catstat-btn status-btn lh-normal border-0 mb-1' style='--bg: #{{ status.color }}'><i class='fas fa-circle fa-fw' style='--bg:#{{ status.color }}'></i> {{ status.title }}</a>
        {%- endfor %}
      </div>
      <hr>
    {% endif %}
    <h5>{{ 'Last modified resources'|trans }}</h5>
    <div class='list-group mt-1'>
      {% for item in itemsArr %}
        <a href='database.php?mode=view&amp;id={{ item.id }}' class='list-group-item hl-hover-gray breakable'>
          {% if item.category_title %}
            <span style='--bg: #{{ item.category_color }}' class='d-inline-block catstat-btn category-btn mr-2'>{{ item.category_title }}</span>
          {% endif %}
          {{ item.title }} <span title='{{ item.modified_at }}' class='relative-moment text-nowrap smallgray'></span>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class='col-md-4 mt-2 mt-md-0'>
    <div class='d-flex justify-content-between'>
      <h4>{{ 'Scheduled bookings'|trans }}</h4>
      <a href='team.php?tab=1' class='btn btn-secondary'>{{ 'Scheduler'|trans }}</a>
    </div>
    <div class='list-group mt-1'>
      {% for booking in bookingsArr %}
        <a href='team.php?tab=1&amp;item={{ booking.items_id }}&amp;start={{ booking.start|url_encode }}' class='list-group-item hl-hover-gray'><span style='color: {{ booking.color }}'>{{ booking.title }}</span> <span title='{{ booking.start|date('Y-m-d H:i:s') }}' class='relative-moment text-nowrap smallgray'></span></a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}
