{# PERMISSIONS display block #}
{# 'can' var is used in view-permissions-details.html #}
{# 'can_base' var is used in view-permissions-details.html #}
<div class='d-flex mb-2 align-items-center'>
  {# CANREAD #}
  {% include('view-permissions.html' with {rw: 'canread', can_base: Entity.entityData.canread_base_human, can: Entity.entityData.canread|canToHuman}) %}
</div>
<div class='d-flex mb-2 align-items-center'>
  {# CANWRITE #}
  {% include('view-permissions.html' with {rw: 'canwrite', can_base: Entity.entityData.canwrite_base_human, can: Entity.entityData.canwrite|canToHuman}) %}
</div>
{# CANBOOK #}
{% if Entity.entityData.is_bookable %}
  <div class='d-flex mb-2 align-items-center'>
    {% include('view-permissions.html' with {rw: 'canbook', can_base: Entity.entityData.canbook_base_human, can: Entity.entityData.canbook|canToHuman}) %}
  </div>
{% endif %}
