<h3 class='p-2 pl-3 section-title'>{{ 'Search users'|trans }}</h3>
<div class='pl-3'>
  <div class='form-group'>
    <form method='get' id='userSearchForm' aria-label='{{ 'Search users'|trans }}'>
      {# stay on correct tab #}
      <input type='hidden' value='3' name='tab' />

      <div class='input-group mt-3'>
        <div class='input-group-prepend'>
          <span class='input-group-text'><i class='fas fa-magnifying-glass'></i></span>
        </div>
        {% if App.Request.getScriptName|split('/')|last == 'sysconfig.php' %}
          <div class='input-group-prepend'>
            <select class='custom-select brl-none brr-none' name='teamFilter' id='teamFilter' aria-label='{{ 'Filter teams'|trans }}'>
              <option value=''>{{ 'All teams'|trans }}</option>
              {% for team in teamsArr %}
                <option value='{{ team.id }}' {{- Request.query.get('teamFilter') == team.id ? ' selected' }}>{{ team.name }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        <input type='text' class='form-control' value='{{ App.Request.query.get('q')|trim|e('html_attr') }}' name='q' id='searchUsers' placeholder='{{ 'Search for user'|trans }}' aria-label='{{ 'User name'|trans }}'>
        <div class='input-group-append'>
          <button class='btn btn-primary' type='submit'>{{ 'Search'|trans }}</button>
        </div>
        <div class='input-group-append'>
          <button class='btn btn-secondary' id='editusersShowAll' type='button'>{{ 'Show all'|trans }}</button>
        </div>
        <div class='input-group-append'>
          <div class='input-group-text'>
            <label class='m-0'><input type='checkbox' class='mr-1' {{ App.Request.query.has('includeArchived') ? 'checked="checked"' }} name='includeArchived'>{{ 'Include archived'|trans }}</label>
          </div>
        </div>
        {% if App.Request.getScriptName|split('/')|last == 'admin.php' %}
          <div class='input-group-append'>
            <div class='input-group-text'>
              <label class='m-0'><input type='checkbox' class='mr-1' {{ App.Request.query.has('includeNotTeam') ? 'checked="checked"' }} name='includeNotTeam'>{{ 'Include users not in this team'|trans }}</label>
            </div>
          </div>
        {% endif %}
        <div class='input-group-append'>
          <div class='input-group-text'>
            <label class='m-0'><input type='checkbox' class='mr-1' {{ App.Request.query.has('onlyAdmins') ? 'checked="checked"' }} name='onlyAdmins'>{{ 'Show only Admins'|trans }}</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% if isSearching %}
  <div>
    <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Users list'|trans }}</h3>
    <div class='pl-3'>
      {% if usersArr %}
        {% for user in usersArr %}
          {% include('archive-user-modal.html') %}
          {# Modal for managing users to teams, generated for each user #}
          <div class='modal fade' id='manageUsers2teamsModal_{{ user.userid }}' tabindex='-1' role='dialog' aria-labelledby='manageTeamsForUser'>
            <div class='modal-dialog modal-xl' role='document'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <h5 class='modal-title' id='manageTeamsForUser'>{{ 'Manage teams for user'|trans }} - {{ user.fullname }}</h5>
                  <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
                    <span aria-hidden='true'>&times;</span>
                  </button>
                </div>
                <div class='modal-body'>
                  <div class='d-flex flex-row flex-wrap'>
                    {% for team in user.teams %}
                      {% set currentTeam = user.teams|filter(t => t.id == team.id)|first %}
                      <div class='user-badge px-2 py-1 rounded mr-2 mt-2'>{{ team.name }}
                        {# prevent deleting association of the team we are currently logged in, allow it for other users #}
                        {% if team.id != App.Users.userData.team or user.userid != App.Users.userData.userid %}
                          <span title='{{ 'Delete'|trans }}' class='hl-hover-gray p-1 rounded clickable m-1' data-action='destroy-user2team' data-userid='{{ user.userid }}' data-teamid='{{ team.id }}'><i class='fas fa-xmark' style='color:#29AEB9'></i></span>
                        {% endif %}
                        <div class='d-flex justify-content-between'>
                          <span class='form-group form-inline mt-2'>
                            <select class='form-control brr-none' autocomplete='off'>
                              <option value='2' {{ currentTeam.usergroup == 2 ? 'selected' }}>{{ 'Admin'|trans }}</option>
                              <option value='4' {{ currentTeam.usergroup == 4 ? 'selected' }}>{{ 'User'|trans }}</option>
                            </select>
                            <button type='button' data-action='patch-user2team-group' data-userid='{{ user.userid }}' data-team='{{ team.id }}' data-target='usergroup' class='btn btn-primary brl-none'>{{ 'Save'|trans }}</button>
                          </span>
                        </div>
                        <div class='d-flex justify-content-between'>
                          <label for='user_{{ user.id }}_isOwnerTeam_{{ team.id }}' class='col-form-label'><abbr title='{{ 'Utilize this attribute to specifically identify whether the user holds the primary Admin role within the team. Note that this designation is for informational purposes only.'|trans }}'>{{ 'Is Owner'|trans }}</label>
                          <label class='switch ucp-align'>
                            <input type='checkbox' autocomplete='off' data-trigger='change' data-custom-action='patch-user2team-is-owner' data-userid='{{ user.userid }}' data-team='{{ team.id }}' {{ currentTeam.is_owner ? 'checked="checked"' }} id='user_{{ user.id }}_isOwnerTeam_{{ team.id }}'>
                            <span class='slider'></span>
                          </label>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  {% set addableToTeams = teamsArr|filter(v => v.id not in user.teams|column('id')) %}
                  {% if addableToTeams %}
                    <hr>
                    <span class='px-2 py-1 rounded mr-2 mt-2 btn btn-primary' data-action='toggle-next'><i class='text-light fas fa-plus-circle'></i> {{ 'Add team'|trans }}</span>
                    <span class='form-group form-inline mt-2' hidden>
                      <select class='form-control'>
                        {% for team in addableToTeams %}
                        <option value='{{ team.id }}'>{{ team.name }}</option>
                        {% endfor %}
                      </select>
                      <button type='button' data-action='create-user2team' data-userid='{{ user.userid }}' class='btn btn-primary'>{{ 'Go'|trans }}</button>
                    </span>
                  {% endif %}
                </div>
                <div class='modal-footer'>
                  <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
                </div>
              </div>
            </div>
          </div>
          {# end modal #}
        {% endfor %}

        <table id='usersTable' class='table' aria-label='{{ 'Users table'|trans }}' data-table-sort='true'>
          <thead>
            <tr>
              <th scope='col'>{{ 'User ID'|trans }}</th>
              <th scope='col'>{{ 'Team(s)'|trans }}</th>
              <th scope='col'>{{ 'Firstname'|trans }}</th>
              <th scope='col'>{{ 'Lastname'|trans }}</th>
              <th scope='col'>{{ 'Email'|trans }}</th>
              <th scope='col'>{{ 'Last login'|trans }}</th>
              <th scope='col'>{{ 'Valid until'|trans }}</th>
              <th scope='col'>{{ 'Internal ID'|trans }}</th>
              <th scope='col'>{{ 'Is Sysadmin'|trans }}</th>
              <th scope='col'>2FA</th>
              <th scope='col'>{{ 'Actions'|trans }}</th>
            </tr>
          </thead>
          {# this is the element to reload after a change, don't use the full div so we keep the js working in table headers #}
          <tbody id='editUsersBox'>
            {% for user in usersArr %}
              <tr {{ user.archived ? "class='bg-medium'" }}>
                <td><span title='{{ 'User ID'|trans }}' class='badge badge-secondary {{ user.archived ? 'alert-danger' }}'>{{ user.userid }}</span></td>
                <td style='max-width: 270px'>
                  <div class='d-flex flex-row flex-wrap'>
                    {% for team in user.teams %}
                      <div class='px-2 py-1 rounded mr-2 mt-2 {{ team.usergroup == 2 ? 'admin-badge' : 'user-badge' }}'>{{ team.name }}</div>
                    {% endfor %}
                  </div>
                </td>
                <td>
                  <span class='hl-hover-gray p-1 rounded malleableColumn' data-endpoint='users' data-id='{{ user.userid }}' data-target='firstname'>{{ user.firstname }}</span>
                </td>
                <td>
                  <span class='hl-hover-gray p-1 rounded malleableColumn' data-endpoint='users' data-id='{{ user.userid }}' data-target='lastname'>{{ user.lastname }}</span>
                </td>
                <td>
                  <span class='p-1 rounded {{ App.Users.userData.is_sysadmin == '1' ? 'hl-hover-gray malleableColumn' }}' data-ma-type='email' data-endpoint='users' data-id='{{ user.userid }}' data-target='email'>{{ user.email }}</span>
                </td>
                <td><span class='{{ not user.last_login ? 'font-italic' }}'>{{ user.last_login|default('never'|trans) }}</span></td>
                <td>
                  {% if user.validated == 0 %}
                    <span class='p-1 rounded alert-warning'>{{ 'Unvalidated'|trans }}</span>
                  {% else %}
                    <span class='hl-hover-gray p-1 rounded malleableColumn' data-ma-type='date' data-endpoint='users' data-id='{{ user.userid }}' data-target='valid_until'>{{ user.valid_until ? user.valid_until|date('Y-m-d') : '3000-01-01' }}</span>
                  {% endif %}
                </td>

                <td>
                  <span class='hl-hover-gray p-1 rounded malleableColumn {{ not user.orgid ? 'font-italic' }}' data-endpoint='users' data-id='{{ user.userid }}' data-target='orgid'>{{ user.orgid|default('unset') }}</span>
                </td>
                <td>
                  <div class='d-flex justify-content-between'>
                    <label class='switch ucp-align {{- App.Users.userData.is_sysadmin == 0 ? ' disabled' }}'>
                      <input type='checkbox' autocomplete='off' {{ App.Users.userData.is_sysadmin == 0 ? "disabled='disabled'" }} data-trigger='change' data-model='users/{{ user.userid }}' data-target='is_sysadmin' {{ user.is_sysadmin ? 'checked="checked"' }}>
                      <span class='slider'></span>
                    </label>
                  </div>
                </td>
                <td>{% if user.has_mfa_enabled %}<span title='{{ '2FA enabled'|trans }}'><i title='{{ '2FA enabled'|trans }}' class='fas fa-user-shield'></i></span>{% endif %}</td>
                <td>
                  {% if App.Users.userData.is_sysadmin == '1' %}
                    <button class='btn p-2 hl-hover-gray text-center mr-1' title='{{ 'Reset user password'|trans }}' data-action='toggle-next' data-target='resetPasswordModal'>
                      <i class='fas fa-fw fa-key'></i>
                    </button>
                    <div hidden class='input-group'>
                      <input class='form-control' minlength='{{ App.Config.configArr.min_password_length }}' title='{{ 'Minimum password length: %d.'|trans|format(App.Config.configArr.min_password_length) }}' placeholder='{{ 'Set new password'|trans }}' type='password' id='resetUserPasswordInput_{{ user.userid }}' autocomplete='new-password' pattern='{{ passwordInputPattern|e('html_attr') }}' />
                      <div class='input-group-append'>
                        <span class='btn btn-light input-border' tabindex='-1' data-action='toggle-password' data-target='resetUserPasswordInput_{{ user.userid }}'><i class='fas fa-eye' aria-hidden='true'></i></span>
                      </div>
                      <div class='input-group-append'>
                        <button type='button' data-action='reset-user-password' data-userid='{{ user.userid }}' class='btn btn-primary'>{{ 'Save'|trans }}</button>
                      </div>
                    </div>
                  {% endif %}
                  {# MORE OPTIONS MENU #}
                  <div class='dropdown'>
                    <button class='btn p-2 hl-hover-gray text-center ' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' type='button'>
                      <i class='fas fa-ellipsis-v fa-fw'></i>
                    </button>
                    <div class='dropdown-menu dropdown-menu-right'>
                      {# MANAGE TEAMS #}
                      {% if App.Users.userData.is_sysadmin and (App.Request.getScriptName|split('/')|last == 'sysconfig.php') %}
                        <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='toggle-modal' data-target='manageUsers2teamsModal_{{ user.userid }}'>
                          <i class='mr-1 fas fa-pencil fa-fw'></i>{{ 'Manage teams for user'|trans }}
                        </button>
                      {% endif %}
                      {# on admin page, allow promoting someone to admin of the same team #}
                      {% if App.Request.getScriptName|split('/')|last == 'admin.php' %}
                        {% set currentTeam = user.teams|filter(t => t.id == App.Users.userData.team)|first %}
                        {# Promote to Admin #}
                        {% if currentTeam.usergroup == 4 %}
                          <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='toggle-admin-user' data-promote='1' data-team='{{ App.Users.userData.team }}' data-userid='{{ user.userid }}'>
                            <i class='fas fa-fw fa-up-long mr-1'></i>{{ 'Promote to Admin'|trans }}
                          </button>
                        {% endif %}
                        {# Demote from Admin #}
                        {% if currentTeam.usergroup == 2 %}
                          <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='toggle-admin-user' data-promote='0' data-team='{{ App.Users.userData.team }}' data-userid='{{ user.userid }}'>
                            <i class='fas fa-fw fa-down-long mr-1'></i>{{ 'Demote from Admin'|trans }}
                          </button>
                        {% endif %}
                        {# Add to team #}
                        {% if user.teams|filter(t => t.id == App.Users.userData.team) is empty and App.Config.configArr.admins_import_users %}
                          <div class='dropdown-item' data-action='add-user-to-team' data-team='{{ App.Users.userData.team }}' data-userid='{{ user.userid }}'>
                              <i class='fas fa-fw fa-user-plus mr-1'></i>{{ 'Add to team'|trans }}
                          </div>
                        {% endif %}
                      {% endif %}
                      {# DISABLE 2FA: only for sysadmin if user has 2fa enabled #}
                      {% if user.has_mfa_enabled and App.Users.userData.is_sysadmin %}
                        <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='remove-user-2fa' data-userid='{{ user.userid }}'>
                          <i class='fas fa-fw fa-user-shield mr-1'></i>{{ 'Disable 2FA'|trans }}
                        </button>
                      {% endif %}
                      {# ARCHIVE USER #}
                      {% if user.archived %}
                        <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='toggle-modal' data-target='archiveUserModal_{{ user.userid }}'>
                          <i class='fas fa-fw fa-box-archive mr-1'></i>{{ 'Unarchive user'|trans }}
                        </button>
                      {% else %}
                        <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='toggle-modal' data-target='archiveUserModal_{{ user.userid }}'>
                          <i class='fas fa-fw fa-box-archive mr-1'></i>{{ 'Archive user'|trans }}
                        </button>
                      {% endif %}
                      {% if user.validated == 0 %}
                        <button type='button' class='btn btn-dropdown-item dropdown-item' data-action='validate-user' data-userid='{{ user.userid }}'>
                          <i class='fas fa-fw fa-check mr-1'></i>{{ 'Validate user'|trans }}
                        </button>
                      {% endif %}
                      <button type='button' class='btn btn-dropdown-item dropdown-item hover-danger' data-action='destroy-user' data-userid='{{ user.userid }}'>
                        <i class='fas fa-fw fa-trash-alt mr-1'></i>{{ 'Delete user'|trans }}
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'No user found!'|trans }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}

{% if App.Config.configArr.admins_create_users or App.Request.getScriptName|split('/')|last == 'sysconfig.php' %}
{# CREATE USER ACCOUNT #}
<h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Add account'|trans }}</h3>
<div class='pl-3'>
  <p class='smallgray'>{{ 'Note: new user will need to use the "Forgot password" button on the login page to set a password.'|trans }}</p>
  <div class='form-group'>
    <div class='row mb-2'>
      {# TEAM #}
      <div class='col-md-6'>
        <label for='create-user-team' class='col-form-label'>{{ 'Team'|trans }}</label>
        <select {{ App.Request.getScriptName|split('/')|last == 'admin.php' ? 'disabled' }} class='form-control custom-control-inline' name='team' id='create-user-team'>
          {% for team in teamsArr %}
            <option value='{{ team.id }}' {{ App.Users.userData.team == team.id ? " selected='selected'" }}>{{ team.name }}</option>
          {% endfor %}
        </select>
      </div>

      {# GROUP #}
      <div class='col-md-6'>
        <label for='create-user-group' class='col-form-label'>{{ 'Permission group'|trans }}</label>
        <select class='form-control custom-control-inline' name='usergroup' id='create-user-group'>
          {% if App.Users.userData.is_sysadmin %}
            <option value='1'>Sysadmins</option>
          {% endif %}
          <option value='2'>Admins</option>
          <option value='4' selected='selected'>Users</option>
        </select>
      </div>
    </div>
    <div class='row mb-2'>
      {# FIRSTNAME #}
      <div class='col-md-6'>
        <label for='firstname' class='col-form-label'>{{ 'Firstname'|trans }}</label>
        <input name='firstname' class='form-control' type='text' id='firstname' required />
      </div>

      {# LASTNAME #}
      <div class='col-md-6'>
        <label for='lastname' class='col-form-label'>{{ 'Lastname'|trans }}</label>
        <input name='lastname' class='form-control' type='text' id='lastname' required />
      </div>
    </div>

    <div class='row mb-2'>
      {# EMAIL #}
      <div class='col-md-12'>
        <label for='email' class='col-form-label'>{{ 'Email'|trans }}</label>
        <input name='email' class='form-control' type='email' id='email' required />
      </div>
    </div>

    {# SUBMIT #}
    <div class='col-md-12 text-center mt-2'>
      <button type='button' data-action='create-user' class='btn btn-primary'>{{ 'Create'|trans }}</button>
    </div>
  </div>
</div>
{% endif %}

{% if App.Config.configArr.admins_create_users_remote_dir %}
  {# CREATE USER ACCOUNT through remote API call #}
  <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Add account from external directory'|trans }}</h3>
  <div class='pl-3'>
    <form method='GET'>
      <input type='hidden' name='tab' value='3' />
      <div class='form-group'>
        <div class='row mb-2'>
          {# EMAIL #}
          <div class='col-md-12'>
            <label for='remote_dir_term' class='col-form-label'>{{ 'Search user'|trans }}</label>
            <input id='remote_dir_term' class='form-control' placeholder='ada.lovelace@math.example.edu' type='text' name='remote_dir_query' value='{{ App.Request.query.get('remote_dir_query') }}' />
          </div>
        </div>

        {# SEARCH #}
        <div class='col-md-12 text-center mt-2'>
          <button type='submit' class='btn btn-primary'>{{ 'Search'|trans }}</button>
        </div>
      </div>
    </form>

    {% if App.Request.query.has('remote_dir_query') %}
      <div class='mt-2'>
        <table class='table' id='remoteDirectoryUsersTable' aria-label='{{ 'Remote directory users list'|trans }}' data-table-sort='true'>
          <thead>
            <tr>
              <th scope='col'>{{ 'Selection'|trans }}</th>
              <th scope='col'>{{ 'Firstname'|trans }}</th>
              <th scope='col'>{{ 'Lastname'|trans }}</th>
              <th scope='col'>{{ 'Email'|trans }}</th>
              <th scope='col'>{{ 'Internal ID'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in remoteDirectoryUsersArr %}
              <tr>
                <td><input {{ user.disabled ? "disabled='disabled'" }} type='checkbox' /></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.orgid }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class='col-md-12 text-center mt-2'>
          <div class='input-group'>
            {# team selection dropdown, disabled on admin page #}
            <div class='input-group-prepend'>
              <select class='custom-select brr-none' id='remoteUserTeam' {{ App.Request.getScriptName|split('/')|last == 'admin.php' ? 'disabled' }}>
                {% for team in teamsArr %}
                  <option value='{{ team.id }}' {{- App.Users.userData.team == team.id ? ' selected' }}>{{ team.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class='input-group-prepend'>
              <div class='input-group-text'>
                <input type='checkbox' class='mr-1' id='remoteUserIsAdmin'>{{ 'Admin'|trans }}
              </div>
            </div>
            <button type='button' data-action='create-user-from-remote' class='brl-none btn btn-primary'>{{ 'Add selected'|trans }}</button>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
