<h3 class='p-2 pl-3 section-title'>{{ 'Search users'|trans }}</h3>
<div class='pl-3'>
  <div class='form-group'>
    <form method='get' id ='userSearchForm'>
      <!-- stay on correct tab -->
      <input type='hidden' value='3' name='tab' />

      <div class='input-group mt-3'>
        <div class='input-group-prepend'>
          <span class='input-group-text'><i class='fas fa-magnifying-glass'></i></span>
        </div>
        {% if App.Request.getScriptName|split('/')|last == 'sysconfig.php' %}
          <div class='input-group-prepend'>
            <select class='custom-select brl-none brr-none' name='teamFilter' id='teamFilter'>
              <option value=''>{{ 'All teams'|trans }}</option>
              {% for team in teamsArr %}
                <option value='{{ team.id }}' {{- Request.query.get('teamFilter') == team.id ? ' selected' }}>{{ team.name }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        <input type='text' class='form-control' value='{{ App.Request.query.get('q') }}' name='q' id='searchUsers' placeholder='{{ 'Search for user'|trans }}' aria-label='{{ 'User name'|trans }}'>
        <div class='input-group-append'>
          <button class='btn btn-primary' type='submit'>{{ 'Search'|trans }}</button>
        </div>
        <div class='input-group-append'>
          <button class='btn btn-secondary' id='editusersShowAll' type='button'>{{ 'Show all'|trans }}</button>
        </div>
        <div class='input-group-append'>
          <div class="input-group-text">
            <input type='checkbox' class='mr-1' {{ App.Request.query.has('includeArchived') ? 'checked="checked"' }} name='includeArchived'>{{ 'Include archived'|trans }}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% if isSearching %}
  <div id='editUsersBox'>
    <h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Users list'|trans }}</h3>
    <div class='pl-3'>
      {% if usersArr %}
        <table id='usersTable' class='table' aria-describedby='users table' data-table-sort='true'>
          <thead>
            <tr>
              <th scope='col'>{{ 'User ID'|trans }}</th>
              <th scope='col'>{{ 'Team(s)'|trans }}</th>
              <th scope='col'>{{ 'Firstname'|trans }}</th>
              <th scope='col'>{{ 'Lastname'|trans }}</th>
              <th scope='col'>{{ 'Email'|trans }}</th>
              <th scope='col'>{{ 'Last login'|trans }}</th>
              <th scope='col'>{{ 'Valid until'|trans }}</th>
              <th scope='col'>{{ 'Permission group'|trans }}</th>
              <th scope='col'>2FA</th>
              <th scope='col'>{{ 'Actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in usersArr %}
              <tr {{ user.archived ? "class='bg-medium'" }}>
                <td><span class='elab-tooltip badge badge-secondary {{ user.archived ? 'alert-danger' }}'><span>{{ 'User ID'|trans }}</span>{{ user.userid }}</span></td>
                <td style='max-width: 270px'>
                  <div class='d-flex flex-row flex-wrap'>
                    {% for team in user.teams %}
                      <div class='user-badge px-2 py-1 rounded mr-2 mt-2'>{{ team.name }}
                      {% if App.Request.getScriptName|split('/')|last == 'sysconfig.php' %}
                        <span title='{{ 'Delete'|trans }}' class='clickable m-1' data-action='destroy-user2team' data-userid='{{ user.userid }}' data-teamid='{{ team.id }}'><i class='fas fa-xmark' style='color:#29AEB9'></i></span>
                      {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  {% if App.Session.get('is_sysadmin') and (App.Request.getScriptName|split('/')|last == 'sysconfig.php') %}
                    {% set addableToTeams = teamsArr|filter(v => v.id not in user.teams|column('id')) %}
                    {% if addableToTeams %}
                      <span class='px-2 py-1 rounded mr-2 mt-2 btn btn-primary' data-action='toggle-next'><i class='text-light fas fa-plus-circle'></i> {{ 'Add team'|trans }}</span>
                      <span class='form-group form-inline mt-2' hidden>
                        <select class='form-control'>
                          {% for team in addableToTeams %}
                          <option value='{{ team.id }}'>{{ team.name }}</option>
                        {% endfor %}
                      </select>
                      <button data-action='create-user2team' data-userid='{{ user.userid }}' class='btn btn-primary'>{{ 'Go'|trans }}</button>
                      </span>
                    {% endif %}
                  {% endif %}
                </td>
                <td><span class='hl-hover-gray p-1 rounded malleableColumn' data-endpoint='users' data-id='{{ user.userid }}' data-target='firstname'>{{ user.firstname|raw }}</span></td>
                <td><span class='hl-hover-gray p-1 rounded malleableColumn' data-endpoint='users' data-id='{{ user.userid }}' data-target='lastname'>{{ user.lastname|raw }}</span></td>
                <td><span class='hl-hover-gray p-1 rounded malleableColumn' data-endpoint='users' data-id='{{ user.userid }}' data-target='email'>{{ user.email }}</span></td>
                <td>{{ user.last_login|default('Never'|trans) }}</td>
                <td>{{ user.valid_until ? user.valid_until|date('Y-m-d') : '3000-01-01' }}</td>
                <td>
                  <span class='malleableUsergroup hl-hover-gray rounded p-1' data-userid='{{ user.userid }}'>{{ user.usergroup|usergroupToHuman }}</span>
                </td>
                <td>{% if user.mfa_secret %}<span class='elab-tooltip'><span>{{ '2FA enabled'|trans }}</span><i title='' class='fas fa-user-shield'></i></span>{% endif %}</td>
                <td>
                  {% if App.Users.userData.usergroup == '1' %}
                    <div class='clickable p-2 hl-hover-gray text-center rounded' title='{{ 'Reset user password'|trans }}' data-action='toggle-next' data-target='resetPasswordModal'>
                      <i class='fas fa-fw fa-key mr-1'></i>
                    </div>
                    <div hidden class='input-group'>
                      {% set pattern = '.{' ~ minPasswordLength() ~ ',}' %}
                      <input class='form-control' placeholder='{{ 'Set new password'|trans }}' type='password' id='resetUserPasswordInput_{{ user.userid }}' autocomplete='new-password' pattern='{{ pattern }}' />
                      <div class='input-group-append'>
                        <span class='btn btn-light input-border' tabindex='-1' data-action='toggle-password' data-target='resetUserPasswordInput_{{ user.userid }}'><i class='fas fa-eye' aria-hidden='true'></i></span>
                      </div>
                      <div class='input-group-append'>
                        <button data-action='reset-user-password' data-userid='{{ user.userid }}' class='btn btn-primary'>{{ 'Save'|trans }}</button>
                      </div>
                    </div>
                  {% endif %}
                  <div class='dropdown'>
                    <div class='clickable p-2 hl-hover-gray text-center rounded' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' role='button'>
                      <i class='fas fa-ellipsis-v'></i>
                    </div>
                    <!-- Archive user -->
                    <div class='dropdown-menu dropdown-menu-right' aria-label='{{ 'More options'|trans }}'>
                      {% if user.archived %}
                        <div class='dropdown-item' data-action='toggle-archive-user' data-userid='{{ user.userid }}'>
                          <i class='fas fa-fw fa-box-archive mr-1'></i>{{ 'Unarchive user'|trans }}
                        </div>
                      {% else %}
                        <div class='dropdown-item' data-action='toggle-archive-user' data-userid='{{ user.userid }}'>
                          <i class='fas fa-fw fa-box-archive mr-1'></i>{{ 'Archive user'|trans }}
                        </div>
                      {% endif %}
                      <div class='dropdown-item hover-danger' data-action='destroy-user' data-userid='{{ user.userid }}'><i class='fas fa-fw fa-trash-alt mr-1'></i>{{ 'Delete user'|trans }}</div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'No user found!'|trans }}</p>
      {% endif %}
    </div>
  </div>
{% endif %}

{% if App.Config.configArr.admins_create_users or App.Users.userData.is_sysadmin %}
<!-- CREATE USER ACCOUNT -->
<h3 class='mb-3 p-2 pl-3 section-title'>{{ 'Add account'|trans }}</h3>
<div class='pl-3'>
  <p class='smallgray'>{{ 'Note: new user will need to use the "Forgot password" button on the login page to set a password.'|trans }}</p>
  <div class='form-group'>
    <div class='row mb-2'>
      <!-- TEAM -->
      <div class='col-md-6'>
        <label for='create-user-team' class='col-form-label'>{{ 'Team'|trans }}</label>
        <select {{ App.Request.getScriptName|split('/')|last == 'admin.php' ? 'disabled' }} class='form-control custom-control-inline' name='team' id='create-user-team'>
          {% for team in teamsArr %}
            <option value='{{ team.id }}' {{ App.Users.userData.team == team.id ? " selected='selected'" }}>{{ team.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- GROUP -->
      <div class='col-md-6'>
        <label for='create-user-group' class='col-form-label'>{{ 'Permission group'|trans }}</label>
        <select class='form-control custom-control-inline' name='usergroup' id='create-user-group'>
          {% if App.Session.get('is_sysadmin') %}
            <option value='1'>Sysadmins</option>
          {% endif %}
          <option value='2'>Admins</option>
          <option value='4' selected='selected'>Users</option>
        </select>
      </div>
    </div>
    <div class='row mb-2'>
      <!-- FIRSTNAME -->
      <div class='col-md-6'>
        <label for='firstname' class='col-form-label'>{{ 'Firstname'|trans }}</label>
        <input name='firstname' class='form-control' type='text' id='firstname' required />
      </div>

      <!-- LASTNAME -->
      <div class='col-md-6'>
        <label for='lastname' class='col-form-label'>{{ 'Lastname'|trans }}</label>
        <input name='lastname' class='form-control' type='text' id='lastname' required />
      </div>
    </div>

    <div class='row mb-2'>
      <!-- EMAIL -->
      <div class='col-md-12'>
        <label for='email' class='col-form-label'>{{ 'Email'|trans }}</label>
        <input name='email' class='form-control' type='email' id='email' required />
      </div>
    </div>

    <!-- SUBMIT -->
    <div class='col-md-12 text-center mt-2'>
      <button data-action='create-user' class='btn btn-primary'>{{ 'Create'|trans }}</button>
    </div>
  </div>
</div>
{% endif %}
