<!-- PERMISSIONS -->
<hr>
<div class='d-flex mb-2 align-items-center'>
  <!-- CAN READ -->
  {% set rw = 'canread' %}
  {% include('view-permissions.html') %}
</div>
<div class='d-flex mb-2 align-items-center'>
  <!-- CAN WRITE -->
  {% set rw = 'canwrite' %}
  {% include('view-permissions.html') %}
</div>
{# CAN BOOK for items #}
{% if Entity.entityData.is_bookable %}
  <div class='d-flex mb-2 align-items-center'>
    {% set rw = 'canbook' %}
    {% include('view-permissions.html') %}
  </div>
{% endif %}
<hr>
