{# use with var "format" zip, eln or pdf #}
{# CHANGELOG #}
<div class='d-flex justify-content-between mb-2'>
  <div>
    <label class='d-inline mr-1' for='{{ format }}_exportWithChangelog'>{{ 'Include changelog'|trans }}</label>
    <p class='smallgray'>{{ 'The files will contain the changelog.'|trans }}</p>
  </div>
  <label class='switch' title='{{ 'Include changelog'|trans }}'><span class='sr-only'>{{ 'Include changelog'|trans }}</span>
    <input type='checkbox' id='{{ format }}_exportWithChangelog'>
    <span class='slider'></span>
  </label>
</div>

{# LINKS #}
<div class='d-flex justify-content-between mb-2'>
  <div>
    <label class='d-inline mr-1' for='{{ format }}_exportWithLinks'>{{ 'Include links'|trans }}</label>
    <p class='smallgray'>{{ 'The files will contain the attached links.'|trans }}</p>
  </div>
  <label class='switch' title='{{ 'Include attached links'|trans }}'><span class='sr-only'>{{ 'Include attached links'|trans }}</span>
    <input type='checkbox' id='{{ format }}_exportWithLinks'>
    <span class='slider'></span>
  </label>
</div>

{# pdf/a #}
<div class='d-flex justify-content-between mb-2'>
  <div>
    <label class='d-inline mr-1' for='{{ format }}_exportPdfa'>{{ 'use pdf/a'|trans }}</label>
    <p class='smallgray'>{{ 'for long term archiving. warning: using this option will make the files much bigger!'|trans }}</p>
  </div>
  <label class='switch' title='{{ 'use pdf/a'|trans }}'><span class='sr-only'>{{ 'use pdf/a'|trans }}</span>
    <input type='checkbox' id='{{ format }}_exportPdfa'>
    <span class='slider'></span>
  </label>
</div>

{# CLASSIFICATION #}
<div class='mb-2'>
  <label for='{{ format }}_exportClassification'>{{ 'Classification'|trans }}</label>
  <p class='smallgray'>{{ 'Add a classification level in the footer.'|trans }}</p>
  <select id='{{ format }}_exportClassification' class='form-control'>
    {% for value, text in classificationArr|default([]) %}
      <option value='{{ value }}'>{{ text }}</option>
    {% endfor %}
  </select>
</div>
