<!-- Modal for field builder -->
<div class='modal fade' id='fieldBuilderModal' tabindex='-1' role='dialog' aria-labelledby='fieldBuilderLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <form id='newFieldForm'>
        <div class='modal-header'>
          <h5 class='modal-title' id='fieldBuilderLabel'><i class='fas fa-fw fa-trowel'></i> {{ 'Add an extra field'|trans }}</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
            <label for='newFieldGroupSelect'>{{ 'Group'|trans }}</label>
            <span class='p-1 rounded hl-hover-gray' data-toggle-plus-icon='1' data-action='toggle-next' title='{{ 'Add group'|trans }}'>
              <i class='fas fa-square-plus fa-fw'></i>
            </span>
            <div hidden class='mb-3'>
              {# NEW GROUP NAME #}
              <label for='newFieldsGroupKeyInput'>{{ 'Add new group'|trans }}</label>
              <div class='input-group'>
                <input type='text' autocomplete='off' placeholder='{{ 'New group name'|trans }}' id='newFieldsGroupKeyInput' class='form-control'>
                <div class='input-group-append'>
                  <button class='btn btn-primary' aria-label='{{ 'Save'|trans }}' type='button' data-action='save-new-fields-group'><i class='fas fa-save text-white'></i></button>
                </div>
              </div>
              {# TODO delete a group #}
              <hr>
            </div>
            <select id='newFieldGroupSelect' class='form-control' autocomplete='off'>
              {% if metadataGroups[0].id == -1 %}
                <option value='-1'>{{ 'Undefined group'|trans }}</option>
              {% endif %}
              {% for group in metadataGroups %}
                <option value='{{ group.id }}'>{{ group.name }}</option>
              {% endfor %}
            </select>
            <label for='newFieldTypeSelect'>{{ 'Field type'|trans }}</label>
            <select id='newFieldTypeSelect' class='form-control' autocomplete='off'>
              <option value='text'>{{ 'Text'|trans }}</option>
              <option value='select'>{{ 'Dropdown menu'|trans }}</option>
              <option value='radio'>{{ 'Radio buttons'|trans }}</option>
              <option value='date'>{{ 'Date'|trans }}</option>
              <option value='checkbox'>{{ 'Checkbox'|trans }}</option>
              <option value='number'>{{ 'Number'|trans }}</option>
              <option value='url'>URL</option>
            </select>

            <!-- NAME -->
            <label for='newFieldKeyInput'>{{ 'Name'|trans }} <span class='smallgray'>({{ 'required'|trans }})</span></label>
            <input type='text' autocomplete='off' required placeholder='{{ 'Name'|trans }}' id='newFieldKeyInput' class='form-control'>

            <!-- DESCRIPTION -->
            <label for='newFieldDescriptionInput'>{{ 'Description'|trans }}</label>
            <input type='text' autocomplete='off' placeholder='{{ 'Enter a description for this field'|trans }}' id='newFieldDescriptionInput' class='form-control'>
            <!-- TEXT, URL, NUMBER, DATE -->
            <div id='newFieldContentDiv_classic'>
              <label for='newFieldValueInput'>{{ 'Default value'|trans }}</label>
              <input type='text' autocomplete='off' placeholder='{{ 'Enter a default value'|trans }}' id='newFieldValueInput' class='form-control'>
              <div class='separator'></div>
              <!-- Blank value on duplicate switch -->
              <div class='d-inline-flex flex-row'>
                <div class='d-inline mr-1' for='blankValueOnDuplicateSwitch'><p>{{ 'Blank value on duplicate'|trans }}</p></div>
                <label class='switch'>
                  <input type='checkbox' autocomplete='off' id='blankValueOnDuplicateSwitch'>
                  <span class='slider'></span>
                </label>
              </div>
            </div>

            <!-- SELECT, RADIO -->
            <div id='newFieldContentDiv_selectradio' hidden>
              <label>{{ 'Choices'|trans }}</label>
              <div id='choicesInputDiv'>
                <input type='text' class='form-control mb-1 newFieldOption' autocomplete='off'>
                <input type='text' class='form-control mb-1 newFieldOption' autocomplete='off'>
              </div>
              <button type='button' class='btn btn-secondary btn-sm' data-action='new-field-add-option'>{{ 'Add another choice'|trans }}</button>
              <!-- this is only shown for select type -->
              <div id='newFieldContentDiv_select' hidden>
                <hr>
                <div class='custom-control custom-checkbox'>
                  <input type='checkbox' class='custom-control-input' id='newFieldAllowMultiSelect'>
                  <label class='custom-control-label' for='newFieldAllowMultiSelect'>{{ 'Allow selection of multiple values?'|trans }}</label>
                </div>
              </div>
            </div>

            <!-- CHECKBOX -->
            <div id='newFieldContentDiv_checkbox' hidden>
              <label for='newFieldCheckboxDefaultSelect'>{{ 'Default value'|trans }}</label>
              <select autocomplete='off' id='newFieldCheckboxDefaultSelect' class='form-control'>
                <option value='unchecked'>{{ 'Unchecked'|trans }}</option>
                <option value='checked'>{{ 'Checked'|trans }}</option>
              </select>
            </div>

        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
          <button type='button' class='btn btn-primary' data-action='save-new-field'>{{ 'Save'|trans }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
