<div class='row'>
  {# LEFT MENU: FILTER/ORDER/SORT/LIMIT #}
  {# we hide this menu for small devices #}
  <div class='col-md-10 hidden-xs {{ searchPage ? 'mt-2' }}'>
    <form>
    <div class='form-group form-inline'>
      {% if not searchPage %}
        <input type='hidden' name='q' value='{{ DisplayParams.query }}' />
      {% endif %}
      {% if DisplayParams.searchType == 'related' %}
        <input type='hidden' name='related' value='{{ App.Request.query.get('related')|number_format }}' />
      {% endif %}

      {# CATEGORY #}
      <select name='cat' class='autosubmit mr-1 form-control' aria-label='Filter category'>
        <option value=''>{{ Entity.type == 'experiments' ? 'Filter status'|trans : 'Filter by type'|trans }}</option>
        {% for category in categoryArr %}
          <option value='{{ category.category_id }}'{{ App.Request.query.get('cat') == category.category_id ? ' selected'}}>
          {{ category.category|raw }}</option>
        {% endfor %}
      </select>

      {# OWNER filter #}
      <select name='owner' class='autosubmit mr-1 form-control' aria-label='Filter owner'>
        <option value=''>{{ 'Filter owner'|trans }}</option>
        {% for user in allTeamUsersArr %}
          <option value='{{ user.userid }}'{{ App.Request.query.get('owner') == user.userid ? ' selected'}}>
          {{ user.fullname|raw }}</option>
        {% endfor %}
      </select>

      {% if not searchPage %}
        {# VISIBILITY filter #}
        <select name='extended' class='autosubmit mr-1 form-control' aria-label='Filter visibility'>
          <option value=''>{{ 'Filter visibility'|trans }}</option>
          {% for vis in visibilityArr %}
          <option value='visibility:"{{ vis }}"'{{ App.Request.query.get('extended') == 'visibility:"' ~ vis|raw ~ '"' ? ' selected'}}>
            {{ vis|raw }}</option>
          {% endfor %}
        </select>

        {# TEAMGROUP filter #}
        {% if teamGroupsFromUser %}
          <select name='extended' class='autosubmit mr-1 form-control' aria-label='Filter team group'>
            <option value=''>{{ 'Filter team group'|trans }}</option>
            {% for group in teamGroupsFromUser %}
            <option value='group:"{{ group.name }}"'{{ App.Request.query.get('extended') == 'group:"' ~ group.name|raw ~ '"' ? ' selected'}}>
              {{ group.name|raw }}</option>
            {% endfor %}
          </select>
        {% endif %}
      {% endif %}
      <input type='hidden' name='mode' value='show' />

      {# LIMIT if there is nothing in the query params, take the user configured one #}
      {% set thelimit = App.Request.query.get('limit') %}
      {% if thelimit is empty %}
        {% set thelimit = App.Users.userData.limit_nb %}
      {% endif %}
      <select autocomplete='off' name='limit' id='select-limit' class='autosubmit mr-1 form-control' aria-label='Number of results shown'>
        <option value=''>{{ 'Results per page'|trans }}</option>
        {% for option in limitOptions(DisplayParams.limit) %}
          <option{{ option == thelimit ? ' selected' }} value='{{ option }}'>{{ option }}</option>
        {% endfor %}
      </select>

      {# SEARCH WITH TAG #}
      <select multiple name='tags[]' class='form-control mr-1 selectpicker' data-show-subtext='true' data-none-selected-text='{{ 'Tags'|trans }}' data-live-search='true' data-style='' data-style-base='form-control' data-showtick='true' data-actions-box='true'>
        {% for tag in tagsArrForSelect %}
          <option value='{{ tag.tag }}'{{ tag.tag in App.Request.query.all('tags') ? ' selected' }}>{{ tag.tag|raw }}</option>
        {% endfor %}
      </select>
      {# onBlur cannot work on bootstrap multiselect see https://stackoverflow.com/questions/42673800/bootstrap-multiselect-blur-event-not-triggering so add a button #}
      <button class='btn btn-primary'>{{ 'Go'|trans }}</button>

    </div>
    </form>
  </div>
  {% if not searchPage %}
    {% include 'create-new.html' %}
  {% endif %}
</div>
