{# filter input. requires var target: the id of the table's tbody or ul element
 # optional targetType var tr or li #}
<div class='input-group'>
  <input type='text' aria-label='{{ 'Filter'|trans }}' placeholder='{{ 'Filter'|trans }}' data-filter-target='{{ target }}' data-target-type='{{ targetType|default('tr') }}' class='form-control form-inline' />
  <div class='input-group-append'>
    <button type='button' class='btn btn-secondary bg-medium border-secondlevel' title='{{ 'Clear'|trans }}' aria-label='{{ 'Clear'|trans }}'><i class='color-white fas fa-times fa-fw'></i></button>
  </div>
</div>
