<footer>
  <p class='footer-left'>
    <a class='elab-tooltip-top' style='color:#343434' href='https://twitter.com/elabftw'>
      <span>{{ 'Follow eLabFTW on Twitter!'|trans }}</span>
        <i class='fab fa-twitter fa-lg'></i>
    </a>

    <a class='elab-tooltip-top' style='color:#343434' href='https://github.com/elabftw/elabftw'>
      <span>{{ 'Code repository on GitHub'|trans }}</span>
        <i class='fab fa-github fa-lg'></i>
    </a>

    <a class='elab-tooltip-top' style='color:#343434' href='https://gitter.im/elabftw/elabftw'>
      <span>{{ 'Join the discussion on Gitter'|trans }}</span>
        <i class='fab fa-gitter fa-lg'></i>
    </a>

    <a class='elab-tooltip-top' style='color:#343434' href='https://github.com/elabftw/elabftw/issues/new/choose'>
      <span>{{ 'Report a bug'|trans }}</span>
        <i class='fas fa-bug fa-lg'></i>
    </a>

    <span>
      {% if App.Session.has('is_auth') and App.Session.get('is_sysadmin') %}
        <a href='sysconfig.php'>{{ 'Sysadmin panel'|trans }}</a>
      {% endif %}

      {% if App.Session.has('is_auth') and App.Session.get('is_admin') %}
      {% set unvalidatedUsersCount = App.Users.readAllFromTeam()|filter(u => u.validated == 0)|length %}
        <a href='admin.php'>{{ 'Admin panel'|trans }}

          {% if unvalidatedUsersCount > 0 %}
            <span class='badge badge-dark p-1'>{{ unvalidatedUsersCount }}</span>
            <span class='sr-only'>{{ 'Unconfirmed users'|trans }}</span>
          {% endif %}
        </a>
      {% endif %}

      {% if App.Session.has('is_auth') and not App.Session.has('is_anon') %}
        <a href='ucp.php'>{{ 'User panel'|trans }}</a>
      {% endif %}
    </span>
  </p>

  <p class='footer-right'>
    {{ 'Powered by'|trans }}
    <a href='https://www.elabftw.net'>eLabFTW</a> {{ v }}<br>
        {{ 'Page generated in'|trans }} {{ App.getGenerationTime }} {{ 'seconds'|trans }}
    {% if App.Config.configArr.debug %}
        ({{ App.getNumberOfQueries }} SQL)
        <br>{{ 'Memory usage:'|trans }}
        {{ App.getMemoryUsage|formatBytes }} ({{ App.getMemoryUsage }} {{ 'bytes'|trans }})
    {% endif %}
  </p>
</footer>

</div><!-- end container -->
</div><!-- end real-container -->

<div id='user-prefs' data-lang='{{ App.Users.userData.lang }}'></div>

</body>
</html>
