<footer>
  <p class='footer-left'>
    <a title='{{ 'Follow eLabFTW on Twitter!'|trans }}' data-action='navigate-twitter' style='color:#343434' href='#'>
      <i title='Twitter' class='fab fa-twitter fa-lg'></i>
    </a>

    <a title='{{ 'Code repository on GitHub'|trans }}' style='color:#343434' href='https://github.com/elabftw/elabftw'>
      <i title='GitHub' class='fab fa-github fa-lg'></i>
    </a>

    <a title='{{ 'Join the discussion on Gitter'|trans }}'style='color:#343434' href='https://gitter.im/elabftw/elabftw'>
      <i title='Gitter' class='fas fa-comment-dots fa-lg'></i>
    </a>

    <a title='{{ 'Submit feedback'|trans }}' data-action='report-bug' style='color:#343434' href='#'>
      <i title='Report bug' class='fas fa-bug fa-lg'></i>
    </a>

    <span>
      {%- if App.Config.configArr.privacy_policy -%}
        <a href='#' data-policy='privacy' data-action='show-policy'>{{ App.Config.configArr.privacy_policy_name }}</a>
      {%- endif -%}
      {%- if App.Config.configArr.terms_of_service -%}
        <a href='#' data-policy='tos' data-action='show-policy'>{{ App.Config.configArr.terms_of_service_name }}</a>
      {%- endif -%}
      {%- if App.Config.configArr.a11y_statement -%}
        <a href='#' data-policy='a11y' data-action='show-policy'>{{ App.Config.configArr.a11y_statement_name }}</a>
      {%- endif -%}
      {%- if App.Config.configArr.legal_notice -%}
        <a href='#' data-policy='legal' data-action='show-policy'>{{ App.Config.configArr.legal_notice_name }}</a>
      {%- endif -%}
    </span>
  </p>

  <p class='footer-right'>
    {{ 'Powered by'|trans }}
    <a href='https://www.elabftw.net'>eLabFTW</a> {{ App.Session.has('is_auth') ? constant('Elabftw\\Elabftw\\App::INSTALLED_VERSION') }}<br>
        {{ 'Page generated in'|trans }} {{ generationTime() }} {{ 'seconds'|trans }}
    {% if App.Config.configArr.debug %}
        ({{ numberOfQueries() }} SQL)
        <br>{{ 'Memory usage:'|trans }}
        {{ memoryUsage()|formatBytes }} ({{ memoryUsage() }} {{ 'bytes'|trans }})
    {% endif %}
  </p>
</footer>

</div><!-- end container -->
</div><!-- end real-container -->

<div id='user-prefs'
  data-lang='{{ App.getLang }}'
  data-jslang='{{ App.getJsLang }}'
  data-isodate='{{ App.Session.has('is_auth') ? App.Users.userData.use_isodate : '0' }}'
  data-sc-search='{{ App.Users.userData.sc_search|default('s') }}'
  data-sc-todolist='{{ App.Users.userData.sc_todo|default('t') }}'
  data-sc-create='{{ App.Users.userData.sc_create|default('c') }}'
  data-sc-edit='{{ App.Users.userData.sc_edit|default('e') }}'
  data-sc-favorite='{{ App.Users.userData.sc_favorite|default('f') }}'
  data-sc-disabled='{{ App.Users.userData.disable_shortcuts|default('0') }}'
  ></div>

{% if App.Session.has('is_auth') %}
  <!-- this is here for the heartbeat -->
  <div id='is-auth'></div>
{% endif %}

<!-- Modal for policies -->
<div class='modal fade' id='policiesModal' tabindex='-1' role='dialog' aria-labelledby='policiesModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-xl' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='policiesModalLabel'></h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='policiesModalBody'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
<!-- end policies policy modal -->
</body>
</html>
<!-- Made in France | Liberté, Égalité, Fraternité -->
