<div class='d-flex flex-wrap align-items-center'>
  <button type='button' class='btn btn-primary mr-2 mb-2'><i class='fas fa-pencil mr-1'></i>Primary button</button>
  <button type='button' class='btn btn-secondary mr-2 mb-2'><i class='fas fa-cog mr-1'></i>Secondary button</button>
  <button type='button' class='btn btn-ghost mr-2 mb-2'><i class='fas fa-eye mr-1'></i>Ghost button</button>
  <button type='button' class='btn btn-danger-ghost mr-2 mb-2'><i class='fas fa-trash-alt mr-1'></i>Danger button</button>
  {# toolbar buttons #}
  <button type='button' title='{{ 'Save'|trans }}' aria-label='{{ 'Save'|trans }}' class='btn btn-primary mr-2 mb-2'><i class='fas fa-save'></i></button>
  <button type='button' title='{{ 'Edit'|trans }}' aria-label='{{ 'Edit'|trans }}' class='btn btn-secondary mr-2 mb-2'><i class='fas fa-pencil'></i></button>
  <button type='button' title='{{ 'View'|trans }}' aria-label='{{ 'View'|trans }}' class='btn btn-transparent mr-2 mb-2'><i class='fas fa-eye fa-fw'></i></button>
  <button type='button' title='{{ 'Duplicate'|trans }}' aria-label='{{ 'Duplicate'|trans }}' class='btn btn-transparent mr-2 mb-2'><i class='fas fa-clone fa-fw'></i></button>
</div>
