<div class='d-flex flex-wrap align-items-center'>
  <button type='button' class='btn btn-primary mr-2 mb-2'><i class='fas fa-pencil mr-1'></i>{{ 'Primary button'|trans }}</button>
  <button type='button' class='btn btn-secondary mr-2 mb-2'><i class='fas fa-cog mr-1'></i>{{ 'Secondary button'|trans }}</button>
  <button type='button' class='btn btn-ghost mr-2 mb-2'><i class='fas fa-eye mr-1'></i>{{ 'Ghost button'|trans }}</button>
  <button type='button' class='btn btn-danger-ghost mb-2'><i class='fas fa-trash-alt mr-1'></i>{{ 'Danger button'|trans }}</button>
</div>
