{% extends 'base.html' %}

{% block body %}
<!-- show message if there is a failed_attempt -->
{% if Session.has('failed_attempt') and Session.get('failed_attempt') < App.Config.configArr.login_tries %}
    {% set number_of_tries_left = App.Config.configArr.login_tries - Session.get('failed_attempt') %}
    {{ 'Number of login attempt left before being banned for %s minutes: %s'|trans|format(
        App.Config.configArr.ban_time,
        number_of_tries_left)|msg('ko') }}
{% endif %}

<menu style='color:#29AEB9'>{{ 'Note: You need cookies enabled to log in.'|trans }}</menu>

<section class='text-center'>
  {% if showLocal %}
    <!-- Login form , the id is for an acceptance test -->
    <form method='post' id='login' class='form-group' action='app/controllers/LoginController.php' autocomplete='off'>
      <h2>{{ 'Sign in to your account'|trans }}</h2>
      <br>
      <div class='login-area'>
        <label for='email'>{{ 'Email'|trans }}</label>
        <input class='login-area-input form-control mb-5' id='email' name='email' type='email' value='{{ Session.has('email') ? Session.get('email') }}' required />
        <label for='password'>{{ 'Password'|trans }}</label>
        <input class='login-area-input form-control' id='password' name='password' type='password' required /><br>
        <!-- form key -->
        {{ App.Csrf.getHiddenInput|raw }}
        <input type='checkbox' checked name='rememberme' id='rememberme' />
        <label for='rememberme'>{{ 'Remember me'|trans }}</label>
      </div>
      <div id='loginButtonDiv'>
        <button type="submit" class='button' name="Submit">{{ 'Login'|trans }}</button>
      </div>
    </form>
    <p>{{ "Don't have an account? %sRegister%s now!<br>Lost your password? %sReset%s it!"|trans|format(
      "<a href='register.php'>",
      "</a>",
      "<a href='#' class='trigger'>",
      "</a>")|raw }}</p>

    <div class='toggle_container'>
      <form name='resetPass' method='post' action='app/controllers/ResetPasswordController.php'>
        <input placeholder='{{ 'Enter your email address'|trans }}' name='email' type='email' required />
        <button class='button' type="submit" name="Submit">{{ 'Send new password'|trans }}</button>
      </form>
    </div>
  {% endif %}

  {% if App.Config.configArr.saml_toggle %}
    <h2>{{ 'Login through your institution'|trans }}</h2>
    <br>
    <form method='post' class='form-group' id='saml-login' action='app/controllers/LoginController.php' autocomplete='off'>
    <div class='row'>
        <div class='col-md-4'>
        </div>
        <div class='form-group col-md-4'>
            <label for='idp_login_select'>{{ 'Select an identity provider'|trans }}</label>
            <select name='saml_login' class='form-control' id='idp_login_select'>
                {% for idp in idpsArr %}
                {% if idp.active %}
                    <option value='{{ idp.id }}'>{{ idp.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button class='button mt-2' type='submit' name='submit'>Go</button>
        </div>
        <div class='col-md-4'>
        </div>
    </div>
        {{ App.Csrf.getHiddenInput|raw }}
    </form>
  {% endif %}

  {% if App.Config.configArr.anon_users %}
    <h2>{{ 'Login as anonymous visitor'|trans }}</h2>
    <br>
    <form method='post' class='form-group' id='anon-login' action='app/controllers/LoginController.php' autocomplete='off'>
      <div class='row'>
        <div class='col-md-4'>
        </div>
        <div class='form-group col-md-4'>
            {{ App.Csrf.getHiddenInput|raw }}
            <label for='anon_login_select'>{{ 'Select a team'|trans }}</label>
            <select name='team_id' class='form-control' id='anon_login_select'>
                {% for team in teamsArr %}
                    <option value='{{ team.id }}'>{{ team.name }}</option>
                {% endfor %}
            </select>
            <button class='button mt-2' type='submit' name='submit'>Go</button>
        </div>
        <div class='col-md-4'>
        </div>
      </div>
    </form>
  {% endif %}
</section>
<script src='app/js/login.min.js?v={{ v }}'></script>
{% endblock body %}
