{% macro renderAsList(metadata) %}
  {% if metadata is iterable %}
    <ul>
      {% for key, value in metadata %}
        {% if value is iterable %}
          <li><span class="text-muted">{{ key }}</span> <span class="font-weight-bold">⇒</span>
            {{ _self.renderAsList(value) }}
          </li>
        {% else %}
          <li><span class="text-muted">{{ key }}</span> <span class="font-weight-bold">→</span>
            {% if value is null %}
              <code>NULL</code>
            {% elseif value is same as(true) %}
              <code>true</code>
            {% elseif value is same as(false) %}
              <code>false</code>
            {% else %}
              {{ value }}
            {% endif %}
           </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
