{# Modal for ownership transfer #}
<div class='modal fade' id='ownerModal' tabindex='-1' role='dialog' aria-labelledby='ownerModalLabel'>
{#<div class='' id='ownerModal' tabindex='-1' role='dialog' aria-labelledby='ownerModalLabel'>#}
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <div>
          <h5 class='modal-title' id='ownerModalLabel'>{{ 'Transfer ownership'|trans }}</h5>
          <div class='smallgray mt-2'>{{ 'You are about to transfer ownership of this entry to another user. After the transfer, they will become the owner, and you may lose access if you do not have permission to view it.'|trans }}</div>
        </div>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <form id='ownershipTransferForm' aria-label='{{ 'Transfer ownership'|trans }}'>
        <div class='modal-body'>
          {# SELECT TEAM #}
          {% set infotip = 'Select the team associated with the user who will receive ownership.' %}
          <label for='targetTeamId'>{{ 'Select a team'|trans }}</label>
          {% include 'infotip.html' with {text: infotip} %}
          <select required name='targetTeamId' class='form-control mb-2' id='targetTeamId'>
            <option selected disabled value=''>{{ 'Select a team'|trans }}</option>
            {% for team in teamsArr %}
              <option value='{{ team.id }}'>{{ team.name }}</option>
            {% endfor %}
          </select>
          {# SELECT USER #}
          {# 1 - CURRENT Owner #}
          {% if App.Request.getScriptName|split('/')|last != 'admin.php' %}
            <div id='currentOwnerDiv'>
              <label for='sourceOwner'>{{ 'Current owner'|trans }}</label>
              <input type='text' id='sourceOwner' aria-disabled='true' readonly value='{{ Entity.entityData.fullname }}' class='form-control'/>
              <div id='autocompleteAnchorDiv_sourceOwnerInput'></div>
              <div class='d-flex justify-content-center'>
                <i class='fas fa-caret-down fa-fw m-2 text-big' aria-hidden='true' role='presentation'></i>
              </div>
            </div>
          {% endif %}
          {# 2 - TARGET Owner #}
          <label for='targetUserId'>{{ 'Select new owner'|trans }}</label>
          <input required type='text' placeholder='{{ 'Search user'|trans }}' name='targetUserId' id='targetUserId' class='form-control' data-identifier='targetUserId' data-action='autocomplete' data-target='users' data-team='targetTeamId'>
          <div id='autocompleteAnchorDiv_targetUserId'></div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
          {% if App.Request.getScriptName|split('/')|last == 'admin.php' %}
            <button type='submit' class='btn btn-primary' data-action='run-action-selected' data-what='updateowner'>{{ 'Transfer ownership'|trans }}</button>
          {% else %}
            <button type='submit' class='btn btn-primary' data-action='transfer-ownership'>{{ 'Transfer ownership'|trans }}</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
