{# Modal for ownership transfer #}
<div class='modal fade' id='ownerModal' tabindex='-1' role='dialog' aria-labelledby='ownerModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ownerModalLabel'>{{ 'Transfer ownership'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <form id='ownershipTransferForm' aria-label='{{ 'Transfer ownership'|trans }}'>
        <div class='modal-body'>
          <div class='smallgray mb-2'>{{ 'Select the team associated with the user who will receive ownership.'|trans }}</div>
          {# SELECT TEAM #}
          <label for='targetTeamSelect'>{{ 'Select a team'|trans }}</label>
          <select required name='targetTeamSelect' class='form-control mb-2' id='targetTeamSelect'>
            <option selected disabled value=''>{{ 'Select a team'|trans }}</option>
            {% for team in teamsArr %}
              <option value='{{ team.id }}'>{{ team.name }}</option>
            {% endfor %}
          </select>
          {# SELECT USER #}
          {# 1 - CURRENT Owner #}
          <div id='currentOwnerDiv'>
            <label for='source_owner' id='source_owner_label'>{{ 'Current owner'|trans }}</label>
            <input type='text' id='source_owner' aria-disabled='true' readonly value='{{ Entity.entityData.fullname }}' class='form-control'/>
            <div id='autocompleteAnchorDiv_sourceOwnerInput'></div>
            <div class='d-flex justify-content-center'>
              <i class='fas fa-caret-down fa-fw m-2 text-big' aria-hidden='true' role='presentation'></i>
            </div>
          </div>
          {# 2 - TARGET Owner #}
          <label for='targetOwnerSelect'>{{ 'Select new owner'|trans }}</label>
          <input required type='text' placeholder='{{ 'Search user'|trans }}' name='targetOwnerSelect' id='targetOwnerSelect' class='form-control' data-identifier='targetOwnerSelect' data-action='autocomplete' data-target='users' data-team='targetTeamSelect'>
          <div id='autocompleteAnchorDiv_targetOwnerSelect'></div>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
          {% if App.Request.getScriptName|split('/')|last == 'admin.php' %}
            <button type='submit' class='btn btn-primary' data-action='run-action-selected' data-what='updateowner'>{{ 'Transfer ownership'|trans }}</button>
          {% else %}
            <button type='submit' class='btn btn-primary' data-action='transfer-ownership'>{{ 'Transfer ownership'|trans }}</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
