{# Modal for ownership transfer #}
<div class='modal fade' id='ownerModal' tabindex='-1' role='dialog' aria-labelledby='ownerModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ownerModalLabel'>{{ 'Transfer ownership'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        {# SELECT USER #}
        <label for='target_owner'>{{ 'New owner'|trans }}</label>
        <select id='target_owner' class='form-control'>
          {% for user in Entity.Users.readAllFromTeam %}
            <option value='{{ user.userid }}'
            {{ Entity.entityData.userid == user.userid ? ' selected' }}
            >{{ user.fullname }}</option>
          {% endfor %}
        </select>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
        {% if App.Request.getScriptName|split('/')|last == 'admin.php' %}
          <button type='button' class='btn btn-primary' data-action='run-action-selected' data-what='updateowner' data-dismiss='modal'>{{ 'Transfer ownership'|trans }}</button>
        {% else %}
          <button type='button' class='btn btn-primary' data-action='transfer-ownership' data-dismiss='modal'>{{ 'Transfer ownership'|trans }}</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
