{# required vars: rw visibilityArr myTeamsArr myTeamgroupsArr usersArr #}
<!-- Modal for permission edit -->
<div class='modal fade' id='permModal-{{ rw }}' tabindex='-1' role='dialog' aria-labelledby='permModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='permModalLabel'><i class='fas fa-fw fa-{{ rw == 'canread' ? 'eye' : 'pencil-alt' }}'></i> {{ rw == 'canread' ? 'Select who can see this entry'|trans : 'Select who can edit this entry'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div data-rw={{ rw }}>
          <label for='{{ rw }}_select_base'>{{ 'Base'|trans }}</label>
          <select id='{{ rw }}_select_base' class='form-control'>
            {% for key, value in visibilityArr %}
              <option value='{{ key }}'
              {{ Entity.entityData.canread|extractJson('base') == key ? ' selected' }}
              >{{ value|trans }}</option>
            {% endfor %}
          </select>
          <!-- TEAMS -->
          <label for='{{ rw }}_select_teams'>{{ 'Teams'|trans }}</label> <p class='smallgray d-inline'>{{ '(hold %sctrl%s key to select multiple entries)'|trans|format('<kbd>', '</kbd>')|raw }}</p>
          <select id='{{ rw }}_select_teams' multiple class='mt-1 form-control'>
            {% for team in myTeamsArr %}
              <option value='team:{{ team.id }}'
              {{ Entity.entityData.canread|isInJsonArray('teams', team.id) ? ' selected' }}
              >{{ 'Team'|trans }} - {{ team.name }}</option>
            {% endfor %}
          </select>
          <!-- TEAMGROUPS -->
          <label for='{{ rw }}_select_teamgroups'>{{ 'Teamgroups'|trans }}</label> <p class='smallgray d-inline'>{{ '(hold %sctrl%s key to select multiple entries)'|trans|format('<kbd>', '</kbd>')|raw }}</p>
          <select id='{{ rw }}_select_teamgroups' multiple class='form-control'>
            {% for tg in myTeamgroupsArr %}
              <option value='teamgroup:{{ tg.id }}'
              {{ Entity.entityData.canread|isInJsonArray('teamgroups', tg.id) == ('teamgroup:' ~ tg.id) ? ' selected' }}
                      >{{ 'Teamgroup'|trans }} - {{ tg.name }}</option>
            {% endfor %}
          </select>
          <!-- USERS -->
          <label for='{{ rw }}_select_users'>{{ 'Users'|trans }}</label> <p class='smallgray d-inline'>{{ 'Allow individual users to access this entry.' }}</p>
          <ul class='list-group' id='{{ rw }}_list_users'>
            {% for user in Entity.getCan(Entity.entityData[rw]).users %}
              <li class='list-group-item w-100' data-id='{{ user.userid }}'>
                <i class='fas fa-{{ rw == 'canread' ? 'eye' : 'pencil-alt' }}'></i> {{ user.fullname }} ({{ user.email }}) <span data-action='remove-parent' class='hover-danger'><i class='fas fa-xmark'></i></span>
              </li>
            {% endfor %}
          </ul>
          <!-- add user to permissions input -->
          <div class='autocompleteUsersDiv input-group mt-1'>
            <input id='{{ rw }}_select_users' class='form-control mt-1 autocompleteUsers autocompleteUsersPermissions' placeholder='{{ 'Add user'|trans }}' autocomplete='off'>
            <div class='input-group-append'>
              <button class='btn button-small btn-primary' data-rw='{{ rw }}' data-action='add-user-to-permissions'>{{ 'Add'|trans }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
        <button type='button' class='btn btn-primary' data-dismiss='modal' data-rw={{ rw }} data-action='save-permissions'>{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
</div>
