<h1>Privacy Policy</h1>

This privacy policy will explain how our organization uses the personal data we collect from you when you use this instance of eLabFTW.

Topics:

<ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities</li>
</ul>

<h2>What data do we collect?</h2>

Our Company collects the following data:

<ul>
    <li>Name and email address (required for account creation)</li>
    <li>You can also add other information like phone number if you wish to do so from your profile page.</li>
</ul>


<h2>How do we collect your data?</h2>

You directly provide Our Company with most of the data we collect. We collect data and process data when you:

<ul>
    <li>Register an account</li>
    <li>Use or view our website via your browser's cookies</li>
</ul>

<h2>How will we use your data?</h2>

Our Company collects your data so that we can identify and authenticate you in the software.

Your data is never shared with anyone.

<h2>How do we store your data?</h2>

Your data is stored in the MySQL database associated with this instance of eLabFTW which can only be accessed by the system's administrator.

Our Company will keep your personal information for an unlimited period of time. Unless you request it to be deleted.

<h2>Marketing</h2>

Absolutely nothing is shared for marketing purposes. You will not receive any information about products and services that we think you might like.

<h2>What are your data protection rights?</h2>

Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

<ul>
    <li>The right to access: You have the right to request Our Company for copies of your personal data.</li>
    <li>The right to rectification: You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
    <li>The right to erasure: You have the right to request that Our Company erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing: You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing: You have the right to object to Our Company's processing of your personal data, under certain conditions.</li>
    <li>The right to data portability: You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>

If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: EDIT ME

<h2>Cookies</h2>

Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit this instance of eLabFTW, we may collect information from you automatically through cookies or similar technology.

For further information, visit allaboutcookies.org.

<h3>How do we use cookies?</h3>

Our Company uses cookies in a range of ways to improve your experience on our website, including:

<ul>
    <li>Keeping you signed in</li>
    <li>Improving the user experience</li>

<h3>What types of cookies do we use?</h3>

There are a number of different types of cookies, however, our website uses:

<ul>
    <li>Authentication: a cookie is set in your browser to authenticate you so you don't have to login again every time you visit the website with your browser.</li>
    <li>Preferences: a cookie might be set to remember some of your preferences.</li>
    <li>User experience: a cookie might be set to redirect you after a successful login to the page you requested while logged out.</li>
</ul>

<h3>How to manage cookies</h3>

You can set your browser not to accept cookies, and you can also uncheck the "Remember me" box on the Login page to prevent the creation of the Authentication cookie.

<h2>Privacy policies of other websites</h2>

This eLabFTW instance contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.

<h2>Changes to our privacy policy</h2>

Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on EDIT ME.

<h2>How to contact us</h2>

If you have any questions about Our Company's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.

Email us at: EDIT ME

Call us: EDIT ME

Or write to us at: EDIT ME

<h2>How to contact the appropriate authority</h2>

Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office.

Email: EDIT ME

Address: EDIT ME
