{% extends 'base.html' %}

{% block body %}
<hr>
<!-- PROFILE PAGE -->
<h4>{{ App.Users.userData.fullname|raw }}</h4>
<p class='smallgray'>{{ App.Users.userData.email }}</p>

<div class='d-flex mb-4'>

  <!-- TEAMS -->
  <div class='col-md-6 mr-2 box bg-white'>
    <div class='mb-4'>
      <h5 class='d-inline mr-2'>{{ 'Teams'|trans }}</h5> <span class='counter'>{{ teamsArr|length }}</span>
    </div>
    {% for team in teamsArr %}
      <span class=''>{{ team.name }}</span>
      <hr>
    {% endfor %}
  </div>

  <!-- GROUPS -->
  <div class='col-md-6 box bg-white'>
    <div class='mb-4'>
      <h5 class='d-inline mr-2'>{{ 'Groups'|trans }}</h5> <span class='counter'>{{ teamGroupsArr|length }}</span>
    </div>
    {% for teamGroup in teamGroupsArr %}
      <details>
        <summary class='mb-3'>{{ teamGroup.name|raw }}</summary>
        <ul>
      {% for user in teamGroup.users %}
        <li class='list-unstyled text-muted'>{{ user.fullname|raw }}</li>
      {% endfor %}
        </ul>
      </details>
      <hr>
    {% endfor %}
  </div>
</div>

<!-- STATUS STAT -->
<div class='mb-4 box'>
  {% if count == 0 %}
    {{ 'No statistics available yet.'|trans }}
  {% else %}
    <div class='mb-4'>
      <h5 class='d-inline mr-2'>{% trans %}
          Experiment
          {% plural 2 %}
          Experiments
          {% endtrans %}</h5> <span class='counter'>{{ count }}</span>
    </div>

    <!-- TODO show register date back -->
    <div class='d-flex'>
      <div class='col-md-6 mr-2'>
        <div class='pie-chart-container'>
          <div class='pie-chart' style='--pie-data: {{ pieDataCss }}'></div>
        </div>
      </div>
      <div class='col-md-6 flex-column'>
        {% for status in pieData %}
          <div class='d-flex font-weight-bold'>
            <span class='pie-percent mr-3' style='--bg: {{ status.color }}'>{{ status.percent }}%</span>
            <span class='align-self-center'>{{ status.name }}</span>
            <span class='align-self-center ml-auto'>{{ status.count }}</span>
          </div>
          {% if not loop.last %}
            <hr>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <hr class='mt-5'>

  <!-- EXPORT EXPERIMENTS -->
  <h4>{{ 'Export all your experiments'|trans }}</h4>
  <p class='smallgray mb-4'>{{ 'Select an export format'|trans }}</p>

  <div class='input-group mb-4'>
    <select class='form-control' id='userExportFormat' autocomplete='off'>
      <option value='eln'>{{ 'Make an ELN'|trans }}</option>
      <option value='zip'>{{ 'Make Zip'|trans }}</option>
      <option value='csv'>{{ 'Make Csv'|trans }}</option>
      <option value='pdf'>{{ 'Make PDF'|trans }}</option>
      <option value='qrpdf'>{{ 'Make QR codes PDF'|trans }}</option>
      <option value='json'>{{ 'Make JSON'|trans }}</option>
    </select>
    <div class='input-group-append'>
      <span class='btn btn-light input-border' data-action='export-user' data-userid='{{ App.Users.userData.userid }}'>
        <i class='fas fa-download'></i>
      </span>
    </div>
  </div>
</div>

<div id='info' data-page='profile'></div>
{% endblock body %}
