{# Modal for confirming the removal of exclusive edit mode when enforced #}
{% set label = 'You have enabled "Enforce exclusive edit mode". If you enter edit mode, exclusive edit will be reactivated.'|trans %}
{% if mode == 'edit' %}
  {% set label = label ~ ' Unlocking this entry will redirect you to view mode.'|trans %}
{% endif %}
<div class='modal fade' id='removeExclusiveEditModal' tabindex='-1' role='dialog' aria-labelledby='removeExclusiveEditLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='removeExclusiveEditLabel'>{{ 'Remove exclusive edit mode for this entry'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <label>{{ label }}</label>
        <label>{{ 'You can change this in your %ssettings%s.'|trans|format("<a href='ucp.php'>", "</a>")|raw }}</label>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
        <button type='button' class='btn btn-primary' data-action='remove-exclusive-edit' data-dismiss='modal'>{{ 'Confirm'|trans }}</button>
      </div>
    </div>
  </div>
</div>
