{# this is the block displaying actions for current user #}
{% if requestActionsArr %}
  <ul class='list-group'>
    {% for action in requestActionsArr %}
      <li class='list-group-item'>
        <div class='d-flex'>
          <i class='fas fa-person-circle-exclamation color-blue mr-2'></i>
          <div>
            {{ '%s is requesting %s on'|trans|format(action.requester_firstname, action.action) }} <a href='/{{ action.entity_page }}.php?mode=view&id={{ action.entity_id }}'>{{ action.entity_title }}</a><span title='{{ action.created_at }}' class='relative-moment text-nowrap smallgray ml-2'></span></a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
