{# Modal for setting a user password manually #}
{# vars:
   - userid
 #}
<div class='modal fade' id='resetUserPasswordModal_{{ userid }}' tabindex='-1' role='dialog' aria-labelledby='resetUserPasswordModalLabel_{{ userid }}'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='resetUserPasswordModalLabel_{{ userid }}'>{{ 'Set user password'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' data-wait='{{ 'Please wait…'|trans }}'>
        <div class='input-group mb-2' id='resetUserPasswordForm_{{ userid }}'>
          <input class='form-control' minlength='{{ App.Config.configArr.min_password_length }}' required name='resetPassword' title='{{ 'Minimum password length: %d.'|trans|format(App.Config.configArr.min_password_length) }}' placeholder='{{ 'Set new password'|trans }}' type='password' id='resetUserPasswordInput_{{ userid }}' autocomplete='new-password' pattern='{{ passwordInputPattern|e('html_attr') }}' />
          <div class='input-group-append'>
            <span class='btn btn-light input-border' tabindex='-1' title='{{ 'Toggle visibility'|trans }}' data-action='toggle-password' data-target='resetUserPasswordInput_{{ userid }}'><i class='fas fa-eye' aria-hidden='true'></i></span>
          </div>
        </div>
        <h6>{{ 'Minimum password length'|trans }}</h6>
        <p class='smallgray'>{{ App.Config.configArr.min_password_length }}</p>
        <h6>{{ 'Password complexity requirement'|trans }}</h6>
        <p class='smallgray'>{{ passwordComplexityArr[App.Config.configArr.password_complexity_requirement] }}</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
          <button type='button' data-action='reset-user-password' data-userid='{{ userid }}' class='btn btn-primary'>{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
</div>
