{# Modal for removing user from a team #}
<div class='modal fade' id='rmUserFromTeamModal_{{ user.userid }}' tabindex='-1' role='dialog' aria-labelledby='rmUserFromTeamModalTitle_{{ user.userid }}'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='rmUserFromTeamModalTitle_{{ user.userid }}'><i class='fas fa-fw fa-user-minus'></i> {{ 'Remove user from team'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <p>{{ 'Removing a user association with a team will NOT impact existing experiments or resources. They will still be accessible.'|trans }}</p>
        <p class='mb-2'>{{ 'Are you sure you want to remove %s from team %s?'|trans|format(user.fullname, App.teamArr.name) }}</p>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-ghost' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' class='btn btn-primary' data-action='rm-user-from-team' data-team='{{ App.Users.userData.team }}' data-userid='{{ user.userid }}' data-dismiss='modal'>{{ 'Confirm'|trans }}</button>
      </div>
    </div>
  </div>
</div>
