{# only shown if item is cancellable or user is admin #}
<div id='eventDeleteMode' class='d-none'>
  <div class='modal-body' id='isCancellableDiv'>
    <h5>{{ 'Cancel booking slot'|trans }}</h5>
    <h6><label for='cancelEventTextarea'>{{ 'Add a custom message'|trans }}</label></h6>
    <textarea id='cancelEventTextarea' class='form-control'></textarea>
    <hr>
    <h5>{{ 'Send to'|trans }}</h5>
    <div class='form-check'>
      <input class='form-check-input' type='radio' name='targetCancelEvent' data-targetid='{{ App.Teams.teamArr.id }}' value='team' id='targetCancelEventTeam'>
      <label class='form-check-label' for='targetCancelEventTeam'>{{ 'Members of team %s'|trans|format(App.Teams.teamArr.name) }}</label>
    </div>

    <div class='form-check'>
      {# a data-targetid will get added to this element by js #}
      <input class='form-check-input' type='radio' name='targetCancelEvent' value='{{ enum('Elabftw\\Enums\\EmailTarget').BookableItemRange.value }}' id='targetCancelEventUsersRange' checked>
      <label class='form-check-label' for='targetCancelEventUsersRange'>
        {{ 'Users who booked this resource'|trans }}
      </label>
      <div class='d-flex align-items-center mt-2'>
        <select id='cancelEventRangeDirection' class='form-control col-md-3 mr-2' aria-label='{{ 'Time direction'|trans }}'>
          <option value='past'>{{ 'in the last'|trans }}</option>
          <option value='future'>{{ 'in the next'|trans }}</option>
          <option value='both'>{{ 'in the past and next'|trans }}</option>
        </select>
        <input id='cancelEventRangeValue' type='number' class='form-control col-md-3 mr-2' min='1' value='7' aria-label='{{ 'Number of days'|trans }}'>
        <select id='cancelEventRangeUnit' class='form-control col-md-3 mr-2' aria-label='{{ 'Time direction'|trans }}'>
          <option value='days'>{{ 'days'|trans }}</option>
          <option value='month'>{{ 'month'|trans }}</option>
          <option value='years'>{{ 'years'|trans }}</option>
        </select>
      </div>
    </div>
    {% for teamgroup in teamGroupsArr %}
      <div class='form-check'>
        <input class='form-check-input' type='radio' name='targetCancelEvent' data-targetid='{{ teamgroup.id }}' value='teamgroup' id='targetCancelEventTeamgroup_{{ teamgroup.id }}'>
        <label class='form-check-label' for='targetCancelEventTeamgroup_{{ teamgroup.id }}'>{{ 'Members of teamgroup %s'|trans|format(teamgroup.name) }}</label>
      </div>
    {% endfor %}
  </div>
  <div class='modal-footer d-flex justify-content-end'>
    <button type='button' class='btn btn-ghost' data-action='back-to-event'><i class='fas fa-arrow-left fa-fw mr-2'></i>{{ 'Back'|trans }}</button>
    <button type='button' class='btn btn-secondary' data-action='cancel-event' data-id='' data-dismiss='modal'>{{ 'Delete without message'|trans }}</button>
    <button type='button' class='btn btn-danger' data-action='cancel-event-with-message' data-id='' data-dismiss='modal'>{{ 'Delete and notify'|trans }}</button>
  </div>
</div>
