<div class='input-group ml-2'>
  <div class='input-group-prepend'>
    <span class='input-group-text'><i class='fas fa-magnifying-glass'></i></span>
  </div>
  <select id='{{ categorySelectId|default("categorySelect") }}' aria-label='{{ "Filter by category"|trans }}' class='form-control'>
    <option value=''>{{ "Filter by category"|trans }}</option>
    {% for category in bookableItemsTypes %}
      <option value='{{ category.id }}'>{{ category.team_name }} - {{ category.title }}</option>
    {% endfor %}
  </select>
  <select id='{{ itemSelectId|default("itemSelect") }}' name='items[]' aria-label='{{ "Select a resource"|trans }}' class='form-control form-inline'>
    <option value=''>{{ "Select a resource"|trans }}</option>
    {% for item in itemsArr %}
      <option value='{{ item.id }}' data-category='{{ item.category }}' data-color="{{ item.category_color }}">
        {{ item.category_title }} - {{ item.title }}
      </option>
    {% endfor %}
  </select>
</div>
