<div class='modal fade' id='schedulerSettingsModal' tabindex='-1' role='dialog' aria-labelledby='schedulerSettingsModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title' id='schedulerSettingsModalLabel'><i class='fas fa-fw fa-calendar-days'></i> {{ 'Scheduler settings'|trans }}</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        {# schedulerSettings #}
        <div class='mb-2'>
          {% include 'binary-setting.html' with {'label': 'Show weekends'|trans, 'model': 'users/me', 'slug': 'show_weekends', 'src': src} %}
          <div>
            <label class='col-form-label'>{{ 'Scheduler layout'|trans }}</label>
            <div>
              <label>
                <input type='radio' name='scheduler_layout' value='0' autocomplete='off' data-trigger='change' data-model='users/me' data-target='scheduler_layout' {{ App.Users.userData.scheduler_layout == 0 ? 'checked' }}>
                {{ 'Classic'|trans }}
                <small class='text-muted'> - {{ 'Standard calendar view.'|trans }}</small>
              </label>
            </div>

            <div>
              <label>
                <input type='radio' name='scheduler_layout' value='1' autocomplete='off' data-trigger='change' data-model='users/me' data-target='scheduler_layout' {{ App.Users.userData.scheduler_layout == 1 ? 'checked' }}>
                {{ 'Timeline'|trans }}
                <small class='text-muted'> - {{ 'Chronological timeline view.'|trans }}</small>
              </label>
            </div>

            <div>
              <label>
                <input type='radio' name='scheduler_layout' value='2' autocomplete='off' data-trigger='change' data-model='users/me' data-target='scheduler_layout' {{ App.Users.userData.scheduler_layout == 2 ? 'checked' }}>
                {{ 'Resource'|trans }}
                <small class='text-muted'> - {{ 'Grouped by resource, side by side.'|trans }}</small>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-action='reload-page'>{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
