<div class='modal fade' id='schedulerExportsModal' tabindex='-1' role='dialog' aria-labelledby='schedulerExportsModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title' id='schedulerExportsModalLabel'><i class='fas fa-fw fa-calendar-days'></i>{{ 'Export bookings'|trans }}</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        {# schedulerExports #}
        <div class='pl-3'>
          <div class='d-flex justify-content-between'>
            <label for='schedulerDateFrom' class='col-form-label'>{{ 'Start date'|trans }}</label>
            <input id='schedulerDateFrom' name='schedulerDateFrom' type='date' class='form-control col-md-6' value='{{ '1 month ago'|date('Y-m-d') }}'/>
          </div>
          <div class='d-flex justify-content-between mt-2'>
            <label for='schedulerDateTo' class='col-form-label'>{{ 'End date'|trans }}</label>
            <input id='schedulerDateTo' name='schedulerDateTo' type='date' class='form-control col-md-6' value='{{ 'now'|date('Y-m-d') }}'/>
          </div>
        </div>
        <p class='smallgray pl-3 mt-4'>{{ 'Note: the export reflects the current scheduler view, including all active filters.'|trans }}</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
        <button type='button' class='btn btn-primary' data-action='export-scheduler' aria-label='{{ 'Export'|trans }}'>{{ 'Export'|trans }}</button>
      </div>
    </div>
  </div>
</div>
