{% extends 'base.html' %}

{% block body %}
{# Modal for event click #}
<div class='modal fade' id='eventModal' tabindex='-1' role='dialog' aria-labelledby='eventModalLabel'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='eventModalLabel'>{{ 'Edit event'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' data-wait='{{ 'Please wait…'|trans }}'>
        {# "placeholder" will be replaced with real title by js #}
        <label for='eventTitle'>{{ 'Comment'|trans }}</label>
        <div class='input-group'>
          {# a data-eventid will get added to this element by js #}
          <input class='form-control' type='text' id='eventTitle' value='placeholder' />
          <div class='input-group-append'>
            <button class='btn btn-primary' data-action='save-event-title' type='button'>{{ 'Save'|trans }}</button>
          </div>
        </div>
        <hr>
        {# START AND END TIMES #}
        <div class='mt-2'>
          <label for='schedulerEventModalStart'>{{ 'Start time'|trans }}</label>
          <input id='schedulerEventModalStart' class='form-control' type='datetime-local' data-what='start_epoch' value='' />
          <label for='schedulerEventModalEnd'>{{ 'End time'|trans }}</label>
          <input id='schedulerEventModalEnd' class='form-control' type='datetime-local' data-what='end_epoch' value='' />
        </div>

        {# BIND EXPERIMENT #}
        <div class='mt-2'>
          <i class='fas fa-link mr-1'></i><h5 class='d-inline' id='bindExpInputLabel'>{{ 'Bind an experiment'|trans }}</h5>
          <div id='eventBoundExp'></div>
          <button data-action='scheduler-rm-bind' data-type='experiment' data-eventid='' class='btn btn-sm btn-danger mb-2' type='button'>{{ 'Unbind'|trans }}</button>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>{{ 'Search'|trans }}</span>
              </div>
              <input type='text' data-complete-target='experiments' data-identifier='binddivexp' class='form-control bindInput' aria-labelledby='bindExpInputLabel' />
              <div class='input-group-append'>
                <button class='btn btn-primary' data-input='bindexpinput' data-action='scheduler-bind-entity' data-type='experiment' type='button'>{{ 'Attach'|trans }}</button>
              </div>
            </div>
            <div id='autocompleteAnchorDiv_binddivexp'></div>
        </div>
        {# BIND ITEM #}
        <div class='mt-2'>
          <i class='fas fa-link mr-1'></i><h5 class='d-inline' id='bindItemInputLabel'>{{ 'Bind a resource'|trans }}</h5>
          <div id='eventBoundDb'></div>
          <button data-action='scheduler-rm-bind' data-type='item_link' data-eventid='' class='btn btn-sm btn-danger mb-2' type='button'>{{ 'Unbind'|trans }}</button>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>{{ 'Search'|trans }}</span>
              </div>
              <input type='text' data-complete-target='items' data-identifier='binddivdb' class='form-control bindInput' aria-labelledby='bindItemInputLabel' />
              <div class='input-group-append'>
                <button class='btn btn-primary' data-input='binddbinput' data-action='scheduler-bind-entity' data-type='item_link' type='button'>{{ 'Attach'|trans }}</button>
              </div>
            </div>
            <div id='autocompleteAnchorDiv_binddivdb'></div>
        </div>

        {# only show the cancel block if item is cancellable or user is admin #}
        {% if bookableItemData.book_is_cancellable == 1 or App.Users.isAdmin %}
          <div>
            <h5>{{ 'Cancel booking slot'|trans }}</h5>
            <h6><label for='cancelEventTextarea'>{{ 'Add a custom message'|trans }}</label></h6>
              <textarea id='cancelEventTextarea' class='form-control'></textarea>
              <label>{{ 'Send to'|trans }}</label>
              <div class='form-check'>
                <input class='form-check-input' type='radio' name='targetCancelEvent' data-targetid='{{ App.Request.query.get('item') }}' value='bookable_item' id='targetCancelEventUsers' checked> <label class='form-check-label' for='targetCancelEventUsers'>{{ 'Past and future users who booked this resource'|trans }}</label>
              </div>
              <div class='form-check'>
                <input class='form-check-input' type='radio' name='targetCancelEvent' data-targetid='{{ App.teamArr.id }}' value='team' id='targetCancelEventTeam'> <label class='form-check-label' for='targetCancelEventTeam'>{{ 'Members of team %s'|trans|format(App.teamArr.name) }}</label>
              </div>
              {% for teamgroup in teamGroupsArr %}
                <div class='form-check'>
                  <input class='form-check-input' type='radio' name='targetCancelEvent' data-targetid='{{ teamgroup.id }}' value='teamgroup' id='targetCancelEventTeamgroup_{{ teamgroup.id }}'> <label class='form-check-label' for='targetCancelEventTeamgroup_{{ teamgroup.id }}'>{{ 'Members of teamgroup %s'|trans|format(teamgroup.name) }}</label>
                </div>
              {% endfor %}
              <div class='mt-2'>
                <button type='button' data-action='cancel-event-with-message' data-dismiss='modal' data-id='' class='btn btn-danger cancelEventBtn'>{{ 'Send message and cancel'|trans }}</button>
                {# here we use Cancel booking instead of just Cancel so we can have a specific translated term in German #}
                <button type='button' data-action='cancel-event' data-dismiss='modal' data-id='' class='btn btn-danger cancelEventBtn'>{{ 'Cancel booking'|trans }}</button>
            </div>
          </div>
        {% endif %}
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>

<div class='mb-3' id='selectBookableWarningDiv' hidden>{{ 'Select a resource below in order to book it.'|trans }}</div>
<hr>
<div class='d-flex justify-content-between align-items-center mt-4'>
{#  FILTER FOR RESOURCES #}
  <div class='position-relative'>
    <small class='scope-info smallgray'>{{ 'The scope affects the resources available for the filters.'|trans }}</small>
  </div>
  {% include 'scope-button.html' with {'reload': 'scopeBtn,mainSchedulerContent', 'target': 'scope_items', 'isSecondary': 0, 'isSmall': 0} %}
  <div id='mainSchedulerContent' class='mr-auto'>
    <div class='d-flex align-items-center'>
      {# CATEGORY #}
      <div class='d-flex flex-column mx-2'>
        <select
          aria-label='{{ 'Filter by category'|trans }}'
          class='mr-1 form-control ts-filter'
          id='schedulerSelectCat'
          name='cat'
        >
          <option value=''>{{ 'Filter by category'|trans }}</option>
          {% for category in bookableItemsTypes %}
            <option value='{{ category.id }}'{{- App.Request.query.get('cat') == category.id ? ' selected' -}}>
              {{ category.title }}
            </option>
          {% endfor %}
        </select>
      </div>

      {# ITEM LIST #}
      <div class='d-flex flex-column mr-2'>
        <select
          aria-label='{{ 'Select a resource'|trans }}'
          class='mr-1 form-control ts-filter'
          id='itemSelect'
          name='item'
        >
          <option value=''>{{ 'Select a resource'|trans }}</option>
          {% for item in itemsArr %}
            {# data-color is used to set the background during initial drag #}
            <option data-color='{{ item.category_color }}' value='{{ item.id }}'{{- App.Request.query.get('item') == item.id ? ' selected' -}}>
              {{ item.category_title }} - {{ item.title }}
            </option>
          {% endfor %}
        </select>
      </div>
      {#  FILTER FOR EVENTS #}
      <div class='vertical-separator'></div>
      {# SCOPE TARGETING SCHEDULER EVENTS ONLY #}
      <div class='position-relative'>
        <small class='scope-info smallgray'>{{ 'The scope affects the owner of the events.'|trans }}</small>
      </div>
      {% include 'scope-button.html' with {'reload': 'scopeBtn,mainSchedulerContent', 'target': 'scope_items', 'isSecondary': 0, 'isSmall': 0} %}
      {# EVENT OWNERS SEARCH FILTER #}
      <div class='d-flex flex-column mx-2 '>
        <div class='input-group'>
          <input type='text' aria-label='{{ 'Filter owner'|trans }}' placeholder='{{ 'Filter events by owner'|trans }}' id='eventOwnerSelect' class='form-control' data-identifier='eventOwnerSelect' data-complete-target='users'>
          <div id='autocompleteAnchorDiv_eventOwnerSelect'></div>
          <div class='input-group-append'>
            <button class='btn btn-secondary' type='button' aria-label='{{ 'Filter owner'|trans }}' data-action='filter-owner' title='{{ 'Filter owner'|trans }}'><i class='color-white fas fa-magnifying-glass'></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='d-flex align-items-center'>
    <div class='vertical-separator'></div>
    <button title='{{ 'Show weekends'|trans }}' aria-label='{{ 'Show weekends'|trans }}' type='button' class='btn hl-hover-gray px-2 mr-2' data-action='toggle-show-weekends'>
      <i class='fas fa-calendar-days'></i>
    </button>
    <button title='{{ 'Switch layout'|trans }}' aria-label='{{ 'Switch layout'|trans }}' type='button' class='btn hl-hover-gray p-1 mr-1' data-action='toggle-scheduler-layout'>
      <i class='fas fa-fw fa-list'></i>
      <i class='fas fa-fw fa-table'></i>
    </button>
  </div>
</div>
<hr>


{% if bookableItemData %}
  <div id='schedulerResourceDisplay' class='title d-flex justify-content-center'>
    {{ 'Selected resource:'|trans }}
    <a href='database.php?mode=view&amp;id={{ bookableItemData.id }}' class='d-inline-flex align-items-center text-decoration-none hl-hover-gray ml-2'>
      <span class='catstat-btn category-btn mr-2' style='--bg: #{{ bookableItemData.category_color }}'>
        {{ bookableItemData.category_title }}
      </span>
      <span class='text-info font-weight-bold'>{{ bookableItemData.title }}</span>
    </a>
  </div>
{% endif %}
{% if itemsArr|length == 0 %}
  {{ 'No bookable items.'|trans|msg('warning', false) }}
{% else %}
  {# loading spinner #}
  <div class='d-flex justify-content-center' id='loading-spinner'>
    <div class='lds-dual-ring'></div>
  </div>
  <div id='scheduler' data-lang='{{ App.getJsLang }}' data-render='{{ itemsArr|length > 0 ? 'true' : 'false' }}' data-weekends='{{ App.Users.userData.show_weekends }}' data-layout='{{ App.Users.userData.scheduler_layout }}'></div>
{% endif %}

{% endblock body %}
