<div id='eventViewMode'>
  <div class='modal-body'>
    {# "Event" will be replaced with real title name by js #}
    <h4 id='viewTitle'>{{ 'Title'|trans }}</h4>
    <div id='viewDatetime' class='mb-3'></div>
  </div>
  <div class='modal-footer d-flex justify-content-end'>
    <button type='button' class='btn btn-secondary mr-2' data-action='scheduler-edit-mode'>{{ 'Edit'|trans }}</button>
    <button type='button' class='btn btn-danger' data-action='scheduler-delete-mode'>{{ 'Delete'|trans }}</button>
  </div>
</div>
