{% extends 'base.html' %}
{% set src = App.Users.userData %}
{% block body %}
  {% include 'scheduler-settings-modal.html' %}
  {% include 'scheduler-exports-modal.html' %}
  {% include 'scheduler-event-modal.html' %}

  <div>{{ 'Book a resource by clicking on the scheduler.'|trans }}</div>
  <hr>
  {# FILTERS #}
  <div class='d-flex flex-row justify-content-between flex-wrap'>
    {# LEFT PART: filter resources #}
    <div class='flex-row align-items-center' style='max-width:50%;'>
      <p class='smallgray'>{{ 'Select a scope and search bookable resources.'|trans }}</p>
      <div class='d-flex flex-row'>
        {#  TODO: make scopeBtn work without full page reload #}
        {# RESOURCES SCOPE #}
        {% include 'scope-button.html' with {'reload': 'page', 'target': 'scope_items'} %}
        {# FILTERS GROUP CATEGORY AND RESOURCE #}
        {% include 'scheduler-filter-items.html' %}
      </div>
    </div>

    {# MIDDLE PART: events filters #}
    <div class='flex-row align-items-center'>
      <p class='smallgray'>{{ 'Select a scope and search for events.'|trans }}</p>
      <div class='d-flex flex-row'>
        {# EVENTS SCOPE #}
        {# If an item is selected, it's forced to 'Everything' and disabled #}
        <div id='scopeLocked' class='btn-group' hidden>
          <button disabled class='btn dropdown-toggle' type='button' aria-label='Scope' title='Scope'><i class='fas fa-globe fa-fw mr-1'></i></button>
        </div>
        {% include 'scope-button.html' with {'btnId': 'scopeEventBtn', 'reload': 'page', 'target': 'scope_events'} %}
        <div class='input-group ml-2'>
          {#  FILTER BY OWNER #}
          <input type='text' aria-label='{{ 'Filter owner'|trans }}' placeholder='{{ 'Filter events by owner'|trans }}' id='eventOwnerSelect' class='form-control' data-identifier='eventOwnerSelect' data-action='autocomplete' data-target='users'>
          <div id='autocompleteAnchorDiv_eventOwnerSelect'></div>
          <div class='input-group-append'>
            <button class='btn btn-secondary' type='button' aria-label='{{ 'Filter owner'|trans }}' data-action='filter-owner' title='{{ 'Filter owner'|trans }}'><i class='color-white fas fa-magnifying-glass'></i></button>
          </div>
        </div>
      </div>
    </div>

    {# RIGHT PART: SETTINGS #}
    {# div is necessary to prevent the link being too high, align-self-end to put it at bottom #}
    <div class='align-self-end'>
      <a href='#' data-action='toggle-modal' data-target='schedulerSettingsModal' aria-label='{{ 'Settings'|trans }}' title='{{ 'Settings'|trans }}' class='btn p-2 hl-hover-gray lh-normal border-0'>
        <i class='fas fa-cogs fa-fw'></i>
      </a>
      <button type='button' data-action='toggle-modal' data-target='schedulerExportsModal' class='btn btn-secondary' aria-label='{{ 'Export'|trans }}' title='{{ 'Export'|trans }}'>
        {{ 'Export'|trans }}
      </button>
    </div>
  </div>
  <div id='selectedItemsContainer' class='m-4 d-none'>
    <strong class='d-block mb-2'>{{ 'Selected items:'|trans }}</strong>
    <div id='selectedItemsDisplay' class='d-flex flex-wrap'></div>
  </div>
  <hr>
  {# Click on the scheduler: Search items to book #}
  {% include 'scheduler-pick-items-modal.html' %}
  {# Items already selected: Modal with checkboxes to confirm selection #}
  {% include 'scheduler-review-picked-items-modal.html' %}
  {# No bookable items WARNING #}
  {% if itemsArr|length == 0 %}{{ 'No bookable items.'|trans|msg('warning', false) }}{% else %}
  {% include 'loading-spinner.html' %}
  <div id='scheduler' data-lang='{{ App.getJsLang }}' data-render='{{ itemsArr|length > 0 ? 'true' : 'false' }}' data-weekends='{{ App.Users.userData.show_weekends }}' data-layout='{{ App.Users.userData.scheduler_layout }}' data-user-id='{{ App.Users.userData.userid }}' data-is-admin='{{ App.Users.isAdmin ? 'true' : 'false' }}'></div>
{% endif %}

{% endblock body %}
