<div class='modal fade' id='schedulerSettingsModal' tabindex='-1' role='dialog' aria-labelledby='schedulerSettingsModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title' id='schedulerSettingsModalLabel'><i class='fas fa-fw fa-calendar-days'></i> {{ 'Scheduler settings'|trans }}</h4>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        {# schedulerSettings #}
        <div class='mb-2'>
          {% include 'binary-setting.html' with {'label': 'Show weekends'|trans, 'model': 'users/me', 'slug': 'show_weekends', 'src': src} %}
          <div class='d-flex justify-content-between'>
            <label for='scheduler_layout' class='col-form-label'>{{ 'Scheduler layout'|trans }}</label>
            <select id='scheduler_layout' class='form-control w-auto' autocomplete='off' data-trigger='change' data-model='users/me' data-target='scheduler_layout'>
              <option value='0' {{ App.Users.userData.scheduler_layout == 0 ? 'selected' }}>{{ 'Classic'|trans }}</option>
              <option value='1' {{ App.Users.userData.scheduler_layout == 1 ? 'selected' }}>{{ 'Timeline'|trans }}</option>
              <option value='2' {{ App.Users.userData.scheduler_layout == 2 ? 'selected' }}>{{ 'Resource'|trans }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-action='reload-page'>{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
