<div class='modal fade' id='deleteSelectedEntitiesModal' tabindex='-1' role='dialog' aria-labelledby='deleteSelectedEntitiesModalLabel'>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='deleteSelectedEntitiesModalLabel'>{{ 'Delete your entries'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <span id='deleteEntityMessage'></span>
        <p>{{ "Please note this action is reversible: to retrieve deleted entries, filter your search results to retrieve entries with the 'Deleted' state."|trans }}</p>
      </div>
      <div class='modal-footer d-flex justify-content-end'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>
          {{ 'Cancel'|trans }}
        </button>
        <button type='button' class='btn btn-danger' data-action='delete-selected-entities' id='deleteSelectedEntitiesButton' data-dismiss='modal' disabled>{{ 'Delete'|trans }}</button>
      </div>
    </div>
  </div>
</div>
