{% include 'create-new-item-modal.html' with {'entityType': 'experiments'} %}
{% include 'create-new-item-modal.html' with {'entityType': 'items'} %}
{# Modal for import #}
<div class='modal fade' id='importModal' tabindex='-1' role='dialog' aria-labelledby='importModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='importModalLabel'>{{ 'Import from file'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <p>{{ 'You can import data from a .eln archive, a .zip archive (created by eLabFTW) or a .csv file. %sSee documentation %s%s.'|trans|format("<a href='https://doc.elabftw.net/user-guide.html#importing-data' target='_blank' class='external-link' rel='noopener'>", "", '</a>')|raw }}</p>
        <form class='form-group' enctype='multipart/form-data' action='app/controllers/ImportController.php' method='post' aria-label='{{ 'Import file'|trans }}'>
          {{ App.Session.get('csrf')|csrf }}
          <label for='import_modal_target'>{{ '1. Select where to import:'|trans }}</label>
          <select class='form-control' id='import_modal_target' autocomplete='off' name='target'>
            <option disabled>{{ 'Import in database'|trans }}</option>
            {% for itemsType in itemsCategoryArr %}
              <option value='items:{{ itemsType.id }}'>{{ itemsType.title }}</option>
            {% endfor %}
            <option disabled>{{ 'Import in experiments'|trans }}</option>
            {# if we are admin we can import in other users experiments, otherwise just for ourself #}
            {% for user in usersArr|filter(u => App.Users.isAdmin ? true : u.userid == App.Users.userData.userid ? u) %}
              <option value='experiments:{{ user.userid }}'>{{ user.fullname }}</option>
            {% endfor %}
          </select>

          <label for='import_modal_canread'>{{ '2. Select a visibility:'|trans }}</label>
          <select class='form-control' id='import_modal_canread' autocomplete='off' name='canread'>
            {% for key, value in visibilityArr %}
              <option value='{{ key }}'
              {{ 30 == key ? ' selected' }}
              >{{ value|trans }}</option>
              {% endfor %}
          </select>

          <label for='import_modal_canwrite'>{{ '2b. Select write access:'|trans }}</label>
          <select class='form-control' id='import_modal_canwrite' autocomplete='off' name='canwrite'>
            {% for key, value in visibilityArr %}
              <option value='{{ key }}'
              {{ 20 == key ? ' selected' }}
              >{{ value|trans }}</option>
            {% endfor %}
          </select>

          <label class='d-block' for='import_modal_file_input'>{{ '3. Select a file to import:'|trans }}</label>
          <input id='import_modal_file_input' required name='file' type='file' accept='.eln,.zip,.csv' />
          <input name='type' type='hidden' value='archive' />
          <p class='smallgray'>{{ 'Allowed extensions: .eln, .zip, .csv'|trans }}<br>
          {{ 'Maximum size: %s'|format(maxUploadSizeRaw)|trans }}</p>

          <div class='mt-4 text-center'>
            <div id='errorHolder' class='alert-danger m-2'></div>
            <button type='submit' data-action='check-max-size' data-maxsize='{{ maxUploadSize }}' data-input='import_modal_file_input' class='btn btn-primary'>{{ 'Import'|trans }}</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{# end modal #}
