<div class='box' style='min-height: 600px;'>
  <h3>{{ 'Experiments Templates'|trans }}</h3>
  <hr>
  {% include 'show-templates-select.html' %}

  {% if templateData %}
    <div class='row mt-3'>
      <!-- NAME OF TPL AND OWNER -->
      <div class='col'>
        <h4>{{ templateData.fullname|raw }} - {{ templateData.title|raw }}</h4>
      </div>

      <div class='col-2 text-right'>
        <!-- MORE OPTIONS DROPDOWN MENU (···) -->
        <div class='dropdown'>
          <div data-toggle='dropdown' aria-label='{{ 'More options'|trans }}' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' role='button'>
            <i class='fas fa-ellipsis-v fa-2x'></i>
          </div>
          <div class='dropdown-menu dropdown-menu-right'>
            <!-- IMPORT -->
            <a href='#' class='dropdown-item' data-action='import-template' data-id='{{ templateData.id }}'><i class='fas fa-file-import fa-fw mr-1'></i>{{ 'Import to your profile'|trans }}</a>
            <!-- CREATE EXPERIMENT FROM TPL -->
            <a href='experiments.php?create=true&tpl={{ templateData.id }}' class='dropdown-item'><i class='fas fa-pencil-alt fa-fw mr-1'></i>{{ 'Create experiment from template'|trans }}</a>
            <!-- DESTROY TPL -->
            {% if App.Session.get('is_admin') %}
            <div class='dropdown-divider'></div>
            <a href='#' data-action='destroy-template' data-id='{{ templateData.id }}' class='dropdown-item hover-danger'><i class='fas fa-trash-alt fa-fw mr-1'></i>{{ 'Destroy template'|trans }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% include 'templates-view.html' %}
  {% endif %}
</div>
