{% set randomId = random() %}
<tr class='item' id='parent_{{ randomId }}'>

  {# DATE #}
  <td class='item-date'>
    {# checkbox #}
    <input autocomplete='off' type='checkbox' data-action='checkbox-entity' data-id='{{ item.id }}' data-randomid='{{ randomId }}' data-type='{{ Entity.type }}' aria-label='Select' style='width:15px;' />
    {{ item.date|date('Y-m-d') }}
  </td>

  {# TITLE #}
  <td class='title'>
    {# edit icon #}
    {% if not item.locked and (item.userid == App.Users.userData.userid or Entity.type == 'items' or App.Users.isAdmin) %}
      <span class='p-2 rounded hl-hover-gray'><a href='{{ Entity.page }}.php?mode=edit&id={{ item.id }}'><i class='fas fa-pencil-alt clickable link-like'></i></a></span>
    {% endif %}
    {# lock icon #}
    {% if item.locked %}
      <i class='fas fa-lock fa-sm' style='color:#29AEB9'></i>
    {% endif %}
    {# toggle body #}
    <span class='p-2 rounded hl-hover-gray' data-type='{{ Entity.type }}' data-id='{{ item.id }}' data-randid={{ randomId }} data-action='toggle-body' title='{{ 'Toggle content'|trans }}'><i class='fas fa-square-plus fa-fw link-like'></i></span>
    <a href='{{ Entity.page }}.php?mode=view&id={{ item.id }}'>{{ item.title|raw }}</a>
  </td>

  {# NEXT STEP #}
  <td class='item-next'>
    {% set next = '' %}
    {% if item.next_step|length > 0 %}
      {% set stepsArr = item.next_step|split('|') %}
      {% set next = stepsArr|first %}
    {% endif %}
    <span class='item-next-step'>{{ next|raw }}</span>
  </td>

  {# CATEGORY #}
  <td class='item-next'>
    {# timestamp icon #}
    {% if item.timestamped %}
      <i class='far fa-calendar-check mr-1'></i>
    {% endif %}
    <span data-action='add-query-filter' data-key='cat' data-value='{{ item.category }}' class='item-type category-button rounded p-1' style='--bg:#{{ item.category_color }}'>{{ item.category_title }}</span>
  </td>

  {# STATUS #}
  <td class='item-next'>
    <span data-action='add-query-filter' data-key='status' data-value='{{ item.status }}' class='item-type category-button rounded p-1' style='--bg:#{{ item.status_color }}'>{{ item.status_title }}</span>
  </td>

  {# TAGS #}
  <td class='tags mathjax-ignore'>
  {% set itemtagsArr = tagsArr[item.id] %}
    {% if itemtagsArr|length > 0 %}
      <span class='d-flex flex-wrap'>
        {% for tag in itemtagsArr %}
          <a class='tag margin-1px' href='{{ Entity.page }}.php?mode=show&tags%5B%5D={{ tag.tag|url_encode }}'>{{ tag.tag|raw }}</a>
        {% endfor %}
      </span>
  {% endif %}
  </td>

  <td class='item-rating'>
    {% if item.rating > 0 %}
      <span class='rating-show rounded p-1'><i class='fas fa-star' title='☻'></i>{{ item.rating }}</span>
    {% endif %}
  </td>

  <td class='item-owner'>
    <span data-action='add-query-filter' data-key='owner' data-value='{{ item.userid }}'>{{ item.fullname|raw }}</span>
  </td>

</tr>
{# container to hold the body of the entity if it is toggled with the +/- icon #}
{# a random id is used because with the favorites the item can appear two times on the page so the old blah_123 doesn't work well #}
<tr hidden id='{{ randomId }}' style='border-left: 4px solid #{{ item.color }}'>
  <td colspan='100%'>
    <div style='overflow:auto;margin: 10px 0 0 20px'></div>
  </td>
</tr>

{# Perhaps not the most elegant solution, but helps keep the even/odd style of the table, which would be tricky in css #}
<tr hidden></tr>
</div>
