<h3 class='p-2 pl-3 section-title'><i class='fas fa-layer-group'></i> {{ 'Experiments Templates'|trans }}</h3>

<!-- CREATE NEW AND IMPORT BUTTONS -->
<div class='pl-3 mt-3 mb-5'>
  <div class='mb-2 d-flex justify-content-between'>
    <p class='col-form-label'>{{ 'This page lists all the experiments templates that you can edit.'|trans }}</p>
    <div>
      <button type='button' class='btn btn-secondary' data-action='show-import-tpl'>{{ 'Import from file'|trans }} (.eln)</button>
      <div class='vertical-separator d-inline mx-3'></div>
      <button type='button' class='btn btn-primary' data-action='create-template'>{{ 'Create'|trans }}</button>
      <input type='file' aria-hidden='true' hidden accept='.eln' id='import_tpl' class='form-control mt-2 col-md-3'>
    </div>
  </div>
</div>

  {% if App.Request.query.has('templateid') %}
    <a href='?tab=3'>
      <i class='fas fa-chevron-left mr-1'></i>{{ 'Back to listing'|trans }}
    </a>
  {% else %}
    {% include 'show-templates-select.html' %}
  {% endif %}

  {% if Entity.entityData %}
  <div id='templatesDiv'>
  <!-- MORE OPTIONS DROPDOWN MENU (···) -->
  <div class='d-flex align-items-center'>
    <!-- NAME OF TPL AND OWNER -->
    <div class='d-flex mr-auto'>
      <h2>
        <!-- lock icon -->
        {% if entityData.locked %}
          <i class='fas fa-lock fa-fw' style='color:#29AEB9'></i>
        {% endif %}
        {% if Entity.Pins.isPinned %}
          <i id='toggle-pin-icon' class='fas fa-thumbtack fa-fw' style='color:#29AEB9'></i>
        {% endif %}
        {{ Entity.entityData.fullname|raw }} - {{ Entity.entityData.title|raw }}
      </h2>
    </div>

    <div class='d-flex align-items-start justify-content-around col-md-6'>
      <!-- CAN READ -->
      {% set rw = 'canread' %}
      {% set can = Entity.entityData.canread|canToHuman %}
      {% include('view-permissions.html') %}
      <!-- CAN WRITE -->
      {% set rw = 'canwrite' %}
      {% set can = Entity.entityData.canwrite|canToHuman %}
      {% include('view-permissions.html') %}
    </div>


    <!-- MORE OPTIONS MENU (...) -->
    <div class='dropdown'>
      <div data-toggle='dropdown' aria-haspopup='true' class='button-on-hover' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' role='button'>
        <i class='fas fa-ellipsis-v fa-2x'></i>
      </div>
      <div class='dropdown-menu dropdown-menu-right' aria-label='{{ 'More options'|trans }}'>
        <!-- CREATE EXPERIMENT -->
        <a data-action='create-entity' data-tplid="{{ Entity.id }}" href='#' class='dropdown-item'>
          <i class='fas fa-circle-plus fa-fw mr-1'></i>{{ 'Create experiment from template'|trans }}
        </a>
        <!-- PIN -->
        <a data-action='toggle-pin' data-id='{{ Entity.id }}' href='#' class='dropdown-item'>
          <i class='fas fa-thumbtack fa-fw mr-1'></i>{{ 'Toggle pin (add to create button menu)'|trans }}
        </a>
        <!-- LOCK -->
        <a data-action='toggle-lock' data-id="{{ Entity.id }}" href='#' class='dropdown-item'>
          <i class='fas fa-lock fa-fw mr-1'></i>{{ 'Lock/Unlock item'|trans }}
        </a>
        <!-- DOWNLOAD -->
        <a href='#' class='dropdown-item' data-action='download-template' data-id='{{ Entity.id }}'>
          <i class='fas fa-download fa-fw mr-1'></i>{{ 'Download template'|trans }}
        </a>
        <!-- SWITCH EDITOR the data-editor is here to indicate which is the current editor -->
        <a class='dropdown-item' id='iHazEditor' data-action='switch-editor' data-editor='{{ editor }}' href='#'><i class='fas fa-pencil-alt fa-fw'></i> {{ 'Switch editor'|trans }}</a>
        <!-- REVISIONS -->
        {% if revNum > 0 %}
        <a class='dropdown-item' href='revisions.php?type={{ Entity.type }}&item_id={{ Entity.id }}'><i class='fas fa-history fa-fw'></i> {{ revNum }} {% trans %}revision available{% plural revNum %}revisions available{% endtrans %}</a>
        {% endif %}
        {% if not Entity.entityData.locked %}
          <!-- DESTROY -->
          <div class='dropdown-divider'></div>
          <a href='#' data-action='destroy-template' class='dropdown-item hover-danger' data-id='{{ Entity.id }}'>
            <i class='fas fa-trash-alt fa-fw mr-1'></i>{{ 'Destroy template'|trans }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if Entity.entityData.locked %}
    {% include 'templates-view.html' %}
  {% else %}
    {% include 'templates-edit.html' %}
  {% endif %}

  </div>
  {% endif %}

<div id='info' data-page='template-edit' data-type='experiments_templates' data-id='{{ Entity.id }}'></div>
