{# dim the experiment a bit if it's not yours #}
{% set randomId = random() %}
{% set owner = '' %}
{% if (Entity.Users.userData.userid != item.userid) and not App.Session.has('is_anon') %}
  {% set owner = "%s <a href='?owner=%s'>%s</a>"|format('by'|trans, item.userid, item.fullname) %}
{% endif %}

<section class='item pl-3 d-flex' id='parent_{{ randomId }}' style='--left-color: #{{ item.color }};'>

  {# left part, full height: checkbox #}
  <div class='d-flex align-items-center'>
    {# checkbox #}
    <input autocomplete='off' type='checkbox' data-action='checkbox-entity' data-id='{{ item.id }}' data-randomid='{{ randomId }}' data-type='{{ Entity.type }}' aria-label='Select' class='mr-3' />
    <div class='d-flex'>

      {# lock icon #}
      {% if item.locked %}
        <div class='left-icon rounded mr-3 my-1 bgnd-gray'>
          <i class='fas fa-lock fa-fw'></i>
        </div>
      {% else %}
        {# edit icon #}
        {% if (item.userid == App.Users.userData.userid or Entity.type == 'items' or App.Users.isAdmin) %}
          <a href='{{ Entity.page }}.php?mode=edit&id={{ item.id }}' title='{{ 'Edit'|trans }}'>
            <div class='left-icon rounded mr-3 my-1 bgnd-dark'>
              <i class='fas fa-pencil fa-fw'></i>
            </div>
          </a>
        {% else %}
        {# eye icon #}
          <a href='{{ Entity.page }}.php?mode=view&id={{ item.id }}' title='{{ 'View'|trans }}'>
            <div class='left-icon rounded mr-3 my-1 bgnd-dark'>
              <i class='fas fa-eye fa-fw'></i>
            </div>
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {# middle part: category, title, icons and tags #}
  <div>
    {# first line #}
    <div>
      {# timestamp icon #}
      {% if item.timestamped %}
        <i style='color:#{{ item.color }}' class='far fa-calendar-check fa-fw'></i>
      {% endif %}
      {# category #}
      <span class='item-category'><a style='color:#{{ item.color }}' href='?cat={{ item.category_id }}'>{{ item.category|raw }}</a></span>
    </div>
    {# end first line #}

    {# second line: title #}
    <div class='d-flex justify-content-between title'>
      <p><a href='{{ Entity.page }}.php?mode=view&id={{ item.id }}'>{{ item.title|raw }}</a></p>
    </div>
    {# owner #}
    <div class='owner'>
      {{ owner|raw }}
    </div>

    {# end second line #}

    {% if item.next_step|length > 0 %}
      {% set stepsArr = item.next_step|split('|') %}
      {% set next = stepsArr|first %}
      <p class='item-next my-2'>
      <span class='next-step-text'>{{ 'Next step'|trans }}:</span> <span class='item-next-step'>{{ next|raw }}</span>
      </p>
    {% endif %}

    <p class='my-1'>
      {% set itemtagsArr = tagsArr[item.id] %}
      {% if itemtagsArr|length > 0 %}
        <span class='d-inline-flex flex-wrap'><i class='fas fa-tags mr-1 fa-fw'></i>
          {% for tag in itemtagsArr %}
            <a class='tag mathjax-ignore margin-1px' href='{{ Entity.page }}.php?mode=show&tags%5B%5D={{ tag.tag|url_encode }}'>{{ tag.tag|raw }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </p>

    {# container to hold the body of the entity if it is toggled with the +/- icon #}
    {# a random id is used because with the favorites the item can appear two times on the page so the old blah_123 doesn't work well #}
    {# with a div inside to hold the content, similar to how it is in table mode #}
    <div hidden id='{{ randomId }}' style='overflow:auto;margin: 10px 0 0 20px'><div></div></div>
  </div>

  {# third part: end container #}
  <div class='d-flex justify-content-end ml-auto'>
    {# column for date and icons #}
    <div class='d-flex flex-column ml-auto'>
      {# rating, date and pinned icon #}
      <div>
        {# rating #}
        {% if item.rating > 0 %}
          <span class='rating-show rounded px-1 mr-1 font-weight-bold'><i class='fas fa-star mr-1' title='☻'></i>{{ item.rating }}</span>
        {% endif %}
        <span class='item-date color-medium'>{{ item.date|date('Y-m-d') }}</span>
        {% if isPinned %}
          <span title='{{ 'Toggle pin'|trans }}' data-id='{{ item.id }}' data-action='toggle-pin' id='toggle-pin-icon-div' class='hl-hover-gray p-1 rounded'>
            <i id='toggle-pin-icon' class='fas fa-thumbtack fa-fw'></i>
          </span>
        {% endif %}
      </div>
      <div class='ml-auto'>
        {# toggle body #}
        <span class='p-1 rounded hl-hover-gray' data-type='{{ Entity.type }}' data-id='{{ item.id }}' data-randid={{ randomId }} data-action='toggle-body' title='{{ 'Toggle content'|trans }}'>
          <i class='fas fa-square-plus fa-fw'></i>
        </span>
      </div>
    </div>
  </div>
</section>
