<div class='box' style='min-height: 600px;'>
  <div class='row'>
    <div class='col'>
      <h3>{{ 'Experiments Templates'|trans }}</h3>
    </div>
    <!-- CREATE NEW AND IMPORT BUTTONS -->
    <div class='col text-right'>
      <div class='btn-group mt-1'>
        <div class='btn-group dropleft' role='group'>
          <button type='button' id='btnGroupDrop1' class='btn btn-primary dropdown-toggle dropdown-toggle-split' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <span class='sr-only'>{{ 'Toggle create new menu'|trans }}</span>
          </button>
          <div class='dropdown-menu' aria-labelledby='btnGroupDrop1'>
            <a id='import-from-file' class='clickable dropdown-item'><i class='fas fa-upload fa-fw'></i> {{ 'Import from file'|trans }}</a>
            <!-- disable the reordering for now
            <div class='dropdown-divider'></div>
            <a id='toggleReorder' class='clickable dropdown-item'><i class='fas fa-sort fa-fw' data-fa-transform='rotate-90 down-1'></i> {{ 'Reorder templates'|trans }}</a>
            -->
          </div>
        </div>
        <button type='button' class='btn btn-primary' data-action='create-template'>{{ 'Create'|trans }}</button>
      </div>
      <input type='file' aria-hidden='true' hidden accept='.tpl' id='import_tpl' class='form-control mt-1'>
    </div>
  </div>
  <hr>

  {% include('show-templates-select.html') %}

  {% if templateData %}
    <div class='row mt-3'>
      <!-- NAME OF TPL AND OWNER -->
      <div class='col'>
        <h4 class='d-inline'>
          {{ templateData.fullname|raw }} - {{ templateData.title|raw }}
        </h4>
        <!-- LOCK -->
        {% set lockIcon = 'fa-lock-open' %}
        {% set alt = 'Lock/Unlock item'|trans %}
        {% if templateData.locked %}
            {% set lockIcon = 'fa-lock' %}
            {% set alt = templateData.lockedwhen %}
        {% endif %}
        <a data-action='lock-template' data-id="{{ templateData.id }}" href='#' class='elab-tooltip'>
          <span>{{ alt }}</span>
          <i class='fas {{lockIcon}}'></i>
        </a>
      </div>
    </div>

    {% if templateData.locked %}
      {% include('templates-view.html') %}
    {% else %}
      {% include('templates-edit.html') %}
    {% endif %}

    <!-- REVISIONS -->
    {% if revNum > 0 %}
    <span class='float-right'><i class='fas fa-history mr-1'></i>
        <a href='revisions.php?type=experiments_templates&item_id={{ templateData.id }}'>{{ revNum }}
            {% trans %}revision available{% plural revNum %}revisions available{% endtrans %}</a>
    </span>
    {% endif %}
  {% endif %}
  </div>
  <div id='info' data-page='template-edit' data-type='experiments_templates' data-id='{{ templateData.id }}'></div>
