<div class='box' style='min-height: 600px;'>
  <div class='row'>
    <div class='col'>
      <h3><i class='fas fa-layer-group'></i> {{ 'Experiments Templates'|trans }}</h3>
    </div>
    <!-- CREATE NEW AND IMPORT BUTTONS -->
    <div class='col text-right'>
      <div class='btn-group mt-1'>
        <div class='btn-group dropleft' role='group'>
          <button type='button' id='btnGroupDrop1' class='btn btn-primary dropdown-toggle dropdown-toggle-split' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <span class='sr-only'>{{ 'Toggle create new menu'|trans }}</span>
          </button>
          <div class='dropdown-menu' aria-labelledby='btnGroupDrop1'>
            <div data-action='show-import-tpl' class='dropdown-item'><i class='fas fa-upload fa-fw'></i> {{ 'Import from file'|trans }} (.eln)</div>
            <!-- disable the reordering for now
            <div class='dropdown-divider'></div>
            <a id='toggleReorder' class='dropdown-item'><i class='fas fa-sort fa-fw' data-fa-transform='rotate-90 down-1'></i> {{ 'Reorder templates'|trans }}</a>
            -->
          </div>
        </div>
        <button type='button' class='btn btn-primary' data-action='create-template'>{{ 'Create'|trans }}</button>
      </div>
      <input type='file' aria-hidden='true' hidden accept='.eln' id='import_tpl' class='form-control mt-1'>
    </div>
  </div>
  <hr>

  {% include 'show-templates-select.html' %}

  {% if Entity.entityData %}
  <div id='templatesDiv'>
  <!-- MORE OPTIONS DROPDOWN MENU (···) -->
  <div class='d-flex'>
    <!-- NAME OF TPL AND OWNER -->
    <div class='mr-auto'>
      <h2>
        <!-- lock icon -->
        {% if entityData.locked %}
          <i class='fas fa-lock fa-fw' style='color:#29AEB9'></i>
        {% endif %}
        {% if Entity.Pins.isPinned %}
          <i id='toggle-pin-icon' class='fas fa-thumbtack fa-fw' style='color:#29AEB9'></i>
        {% endif %}
        {{ Entity.entityData.fullname|raw }} - {{ Entity.entityData.title|raw }}
      </h2>
    </div>

    <!-- MORE OPTIONS MENU (...) -->
    <div class='dropdown'>
      <div data-toggle='dropdown' aria-haspopup='true' class='button-on-hover' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' role='button'>
        <i class='fas fa-ellipsis-v fa-2x'></i>
      </div>
      <div class='dropdown-menu dropdown-menu-right' aria-label='{{ 'More options'|trans }}'>
        <!-- CREATE EXPERIMENT -->
        <a data-action='create-entity' data-id="{{ Entity.id }}" href='#' class='dropdown-item'>
          <i class='fas fa-circle-plus fa-fw mr-1'></i>{{ 'Create experiment from template'|trans }}
        </a>
        {% if not Entity.entityData.locked %}
          <!-- MANAGE PERMISSIONS -->
          <a href='#' class='dropdown-item' data-action='toggle-modal' data-target='permModal' data-read='{{ Entity.entityData.canread }}' data-write='{{ Entity.entityData.canwrite }}'>
            <i class='fas fa-share-alt fa-fw mr-1'></i>{{ 'Manage Permissions'|trans }}
          </a>
        {% endif %}
        <!-- PIN -->
        <a data-action='pin' data-id='{{ Entity.id }}' href='#' class='dropdown-item'>
          <i class='fas fa-thumbtack fa-fw mr-1'></i>{{ 'Toggle pin'|trans }}
        </a>
        <!-- LOCK -->
        <a data-action='toggle-lock' data-id="{{ Entity.id }}" href='#' class='dropdown-item'>
          <i class='fas fa-lock fa-fw mr-1'></i>{{ 'Lock/Unlock item'|trans }}
        </a>
        <!-- DOWNLOAD -->
        <a href='#' class='dropdown-item' data-action='download-template' data-id='{{ Entity.id }}'>
          <i class='fas fa-download fa-fw mr-1'></i>{{ 'Download template'|trans }}
        </a>
        <!-- REVISIONS -->
        {% if revNum > 0 %}
        <a class='dropdown-item' href='revisions.php?type={{ Entity.type }}&item_id={{ Entity.id }}'><i class='fas fa-history fa-fw'></i> {{ revNum }} {% trans %}revision available{% plural revNum %}revisions available{% endtrans %}</a>
        {% endif %}
        {% if not Entity.entityData.locked %}
          <!-- DESTROY -->
          <div class='dropdown-divider'></div>
          <a href='#' data-action='destroy-template' class='dropdown-item hover-danger' data-id='{{ Entity.id }}'>
            <i class='fas fa-trash-alt fa-fw mr-1'></i>{{ 'Destroy template'|trans }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if Entity.entityData.locked %}
    {% include 'templates-view.html' %}
  {% else %}
    {% include 'templates-edit.html' %}
  {% endif %}

  </div>
  {% endif %}

</div>
<div id='info' data-page='template-edit' data-type='experiments_templates' data-id='{{ Entity.id }}'></div>
