<h3 class='p-2 pl-3 section-title'><i class='fas fa-layer-group'></i> {{ 'Experiments Templates'|trans }}</h3>

{% if App.Request.query.has('templateid') %}
  <a href='?tab=3'>
    <i class='fas fa-chevron-left mr-1'></i>{{ 'Back to listing'|trans }}
  </a>
{% else %}
  {% include 'show-templates-select.html' %}
{% endif %}

{% if entityData %}
  <div class='row mt-3'>
    <!-- NAME OF TPL AND OWNER -->
    <div class='col'>
      <h4>{{ entityData.fullname|raw }} - {{ entityData.title|raw }}</h4>
    </div>

    <div class='col-2 text-right'>
      <!-- MORE OPTIONS DROPDOWN MENU (···) -->
      <div class='dropdown'>
        <div data-toggle='dropdown' aria-label='{{ 'More options'|trans }}' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' role='button'>
          <i class='fas fa-ellipsis-v fa-2x'></i>
        </div>
        <div class='dropdown-menu dropdown-menu-right'>
          <!-- IMPORT -->
          <a href='#' class='dropdown-item' data-action='import-template' data-id='{{ entityData.id }}'><i class='fas fa-file-import fa-fw mr-1'></i>{{ 'Import to your profile'|trans }}</a>
          <!-- PIN -->
          <a data-action='toggle-pin' data-id='{{ Entity.entityData.id }}' href='#' class='dropdown-item'>
            <i class='fas fa-thumbtack fa-fw mr-1'></i>{{ 'Toggle pin (add to create button menu)'|trans }}
          </a>
          <!-- CREATE EXPERIMENT FROM TPL -->
          <a href='#' data-action='create-entity' data-tplid='{{ entityData.id }}' class='dropdown-item'><i class='fas fa-circle-plus fa-fw mr-1'></i>{{ 'Create experiment from template'|trans }}</a>
          <!-- DOWNLOAD TEMPLATE -->
          <a href='#' data-action='download-template' data-id='{{ entityData.id }}' class='dropdown-item'><i class='fas fa-download fa-fw mr-1'></i>{{ 'Download template'|trans }}</a>
          <!-- DESTROY TPL -->
          {% if App.Session.get('is_admin') %}
          <div class='dropdown-divider'></div>
          <a href='#' data-action='destroy-template' data-id='{{ entityData.id }}' class='dropdown-item hover-danger'><i class='fas fa-trash-alt fa-fw mr-1'></i>{{ 'Destroy template'|trans }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include 'templates-view.html' %}
{% endif %}
