{% extends 'base.html' %}

{% block body %}

{% if not searchPage %}
{% include('show-view-edit.html') %}
<div class='row'>
  <!-- LEFT MENU: FILTER/ORDER/SORT/LIMIT -->
  <!-- we hide this menu for small devices -->
  <div class='col-md-10 hidden-xs'>

    <form id='filter-order-sort' class='autosubmit form-inline'>
      <div class='form-group'>
        <input type='hidden' name='tags[]' value='{{ tag }}' />
        <input type='hidden' name='q' value='{{ query }}' />

        <!-- CATEGORY -->
        <select name='cat' class='form-control select-filter-status' aria-label='Filter category'>
            <option value=''>{{ Entity.type == 'experiments' ? 'Filter status'|trans : 'Filter by type'|trans }}</option>
            {% for category in categoryArr %}
                <option value='{{ category.category_id }}' {{ App.Request.query.get('cat') == category.category_id ? 'selected'}}>
                {{ category.category }}</option>
            {% endfor %}

        </select>
        <input type='hidden' name='mode' value='show' />

        <!-- ORDER -->
        <select name='order' class='form-control select-order' aria-label='Order by'>
            <option value=''>{{ 'Order by'|trans }}</option>
            <option value='cat' {{ App.Request.query.get('order') == 'cat' ? 'selected' }}>{{ 'Category'|trans }}</option>
            <option value='id' {{ App.Request.query.get('order') == 'id' ? 'selected' }}>{{ 'Id'|trans }}</option>
            <option value='date' {{ App.Request.query.get('order') == 'date' ? 'selected' }}>{{ 'Date'|trans }}</option>
            <option value='lastchange' {{ App.Request.query.get('order') == 'lastchange' ? 'selected' }}>{{ 'Last modified'|trans }}</option>
            {% if Entity.type == 'database' %}
                <option value='rating' {{ App.Request.query.get('order') == 'rating' ? 'selected' }}>{{ 'Rating'|trans }}</option>
            {% else %}
                <option value='comment' {{ App.Request.query.get('order') == 'comment' ? 'selected' }}>{{ 'Comment'|trans }}</option>
            {% endif %}
            <option value='title' {{ App.Request.query.get('order') == 'title' ? 'selected' }}>{{ 'Title'|trans }}</option>
            <option value='user' {{ App.Request.query.get('order') == 'user' ? 'selected' }}>{{ 'User'|trans }}</option>
        </select>

        <!-- SORT -->
        <select name='sort' class='form-control select-sort' aria-label='Sort by'>
            <option value=''>{{ 'Sort'|trans }}</option>
            <option value='desc' {{ App.Request.query.get('sort') == 'desc' ? 'selected' }}>{{ 'DESC'|trans }}</option>
            <option value='asc' {{ App.Request.query.get('sort') == 'asc' ? 'selected' }}>{{ 'ASC'|trans }}</option>
        </select>

        <!-- LIMIT -->
        <select autocomplete='off' name='limit' id='select-limit' class='form-control' aria-label='Number of results shown'>
          <option value=''>{{ 'Results per page'|trans }}</option>
          {% for option in limitOptions(limit) %}
          <option {{ option == limit ? 'selected' }} value='{{ option }}'>{{ option }}</option>
          {% endfor %}
        </select>

      </div>
    </form>
  </div>

  {% include('create-new.html') %}

</div>
<hr>

{% endif %}

{% set count = itemsArr|length %}

{% if count == 0 and searchType != '' %}
    {{ "Sorry. I couldn't find anything :("|trans|msg('ko', false) }}
{% elseif count == 0 and searchType == '' and not App.Session.get('anon') and not App.Request.query.get('offset') %}
    {{ "Welcome to eLabFTW. Use the 'Create new' button to get started!"|trans|msg('ok', false) }}
{% else %}
    {% if pinnedArr %}
      <div class='row display-flex'>
        {% set isPinned = true %}
        {% for item in pinnedArr|slice(0, limit) %}
          {% include('show-item.html') %}
        {% endfor %}
        {% set isPinned = false %}
      </div>
      <hr>
    {% endif %}
    <p class='smallgray' style='display:inline'>
      {% if searchPage %}
        {{ count }}
        {% trans %}
            result shown
        {% plural count %}
            results shown
        {% endtrans %}
      {% endif %}
      <a href='#' id='expandAll' data-status='closed' data-expand='{{ 'Expand all'|trans }}' data-collapse='{{ 'Collapse all'|trans }}'>{{ 'Expand all'|trans }}</a> - <a href='#' id='selectAllBoxes'>{{ 'Select all'|trans }}</a>
      <span id='advancedSelectOptions' style='display:none'> - <a href='#' id='unselectAllBoxes'>{{ 'Clear selection'|trans }}</a> -
        <a href='#' id='invertSelection'>{{ 'Invert selection'|trans }}</a></span>
    </p>

    <p id='withSelected' style='display:none'>{{ 'With selected:'|trans }}
    {% if not searchPage %}
        <select autocomplete='off' id='catChecked'>
            <option selected disabled>
            {% if Entity.type == 'experiments' %}
                {{ 'Change status'|trans }}
            {% else %}
                {{ 'Change item type'|trans }}
            {% endif %}
            </option>

            {% for category in categoryArr %}
                <option value='{{ category.category_id }}'>{{ category.category }}</option>
            {% endfor %}
        </select>

        <select autocomplete='off' id='visChecked'>
          <option selected disabled>{{ 'Change visibility'|trans }}</option>
          {% for key, value in visibilityArr %}
            <option value='{{ key }}'>{{ value }}</option>
          {% endfor %}
        </select>

    {% endif %}
        <button data-what='zip' class='button btn btn-primary csvzip'>{{ 'Make Zip'|trans }}</button>
        <button data-what='csv' class='button btn btn-primary csvzip'>{{ 'Make Csv'|trans }}</button>
        <button data-what='multiPdf' class='button btn btn-primary csvzip'>{{ 'Make PDF'|trans }}</button>
        <button data-what='json' class='button btn btn-primary csvzip'>{{ 'Make JSON'|trans }}</button>
        <button id='deleteChecked' class='button btn btn-danger'>{{ 'Delete'|trans }}</button>
    </p>
    <div class='row display-flex'>
    {% for item in itemsArr|slice(0, limit) %}
      {% include('show-item.html') %}
    {% endfor %}
    </div>

    {% if not searchPage %}
      <div class='text-center pageButtons mt-2'>
        {% if offset != 0 %}
          <button class='button btn btn-neutral previousPage'>{{ 'Previous page'|trans }}</button>
        {% endif %}
        {% if limit < itemsArr|length %}
          <button class='button btn btn-primary nextPage'>{{ 'Next page'|trans }}</button>
        {% endif %}
      </div>
  {% endif %}

{% endif %}

<div id='shortcuts' data-create='{{ Entity.Users.userData.sc_create }}'></div>
<div id='info'
    data-page='show'
    data-locale='{{ App.Users.userData.lang }}'
    data-limit='{{ limit }}'
    data-offset='{{ offset }}'
</div>
<div id='type' data-type='{{ Entity.type }}'></div>

{% endblock body %}
