<div class='pl-3 mt-3'>
  {% if App.Request.getScriptName|split('/')|last == 'ucp.php' %}
    {# CREATE NEW AND IMPORT BUTTONS (ucp page) #}
    <div class='mb-4 d-flex justify-content-between'>
      <p class='col-form-label'>{{ 'This page lists all the experiments templates that you can edit.'|trans }}</p>
      <div>
        <button type='button' class='btn btn-secondary' data-action='show-import-tpl'>{{ 'Import from file'|trans }} (.eln)</button>
        <div class='vertical-separator d-inline mx-3'></div>
        <button type='button' class='btn btn-primary' data-action='create-template'>{{ 'Create'|trans }}</button>
        <input type='file' aria-hidden='true' hidden accept='.eln' id='import_tpl' class='form-control mt-2'>
      </div>
    </div>
  {% endif %}

  {% if App.Request.getScriptName|split('/')|last == 'team.php' %}
    {# TEAM page #}
    <div class='mb-4 d-flex justify-content-between'>
      <p class='col-form-label'>{{ 'This page lists all the experiments templates that you can view.'|trans }}</p>
    </div>
  {% endif %}

  <table id='tplTable' class='table' aria-describedby='TODO' data-table-sort='true'>
    <thead>
      <tr>
        <th scope='col'>{{ 'Team'|trans }}</th>
        <th scope='col'>{{ 'Title'|trans }}</th>
        <th scope='col'>{{ 'Category'|trans }}</th>
        <th scope='col'>{{ 'Last modification date'|trans }}</th>
        <th scope='col'>{{ 'Owner'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for template in templatesArr %}
        <tr>
          <td>{{ template.team_name }}</td>
          <td>
            <a href='?tab=3&mode=view&templateid={{ template.id }}' class='p-2 rounded hl-hover-gray' title='{{ 'View'|trans }}' aria-label='{{ 'View'|trans }}'><i class='fas fa-eye fa-fw'></i></a>
            {% if App.Request.getScriptName|split('/')|last == 'ucp.php' %}
              <a href='?tab=3&mode=edit&templateid={{ template.id }}' class='p-2 rounded hl-hover-gray' title='{{ 'Edit'|trans }}' aria-label='{{ 'Edit'|trans }}'><i class='fas fa-pencil-alt fa-fw'></i></a>
            {% endif %}
              {# clickable toggle pin button #}
              <span title='{{ 'Toggle pin (add to create button menu)'|trans }}' data-action='toggle-pin' data-id='{{ template.id }}' class='{{ template.is_pinned ? 'bgnd-gray' : 'hl-hover-gray' }} p-2 rounded'>
                <i class='fas fa-thumbtack {{ not template.is_pinned ? 'color-weak' }} fa-fw'></i></span>
              {{ template.title|raw }}</td>
          <td>
            <span class='category-button rounded p-1' style='--bg:#{{ template.category_color }}'>{{ template.category_title|raw }}</span>
          </td>
          <td>{{ template.modified_at }}</td>
          <td>{{ template.fullname|raw }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id='info' data-page='template-edit' data-type='experiments_templates'></div>
