<div class='pl-3 mt-3'>
  <table id='tplTable' class='table' aria-describedby='templates table' data-table-sort='true'>
    <thead>
      <tr>
        <th scope='col'>{{ 'Team'|trans }}</th>
        <th scope='col'>{{ 'Owner'|trans }}</th>
        <th scope='col'>{{ 'Last modification date'|trans }}</th>
        <th scope='col'>{{ 'Name'|trans }}</th>
        <th scope='col'>{{ 'Action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for template in templatesArr %}
        <tr>
          <td>{{ template.team_name }}</td>
          <td>{{ template.fullname|raw }}</td>
          <td>{{ template.modified_at }}</td>
          <td>{% if template.is_pinned %}<i id='toggle-pin-icon' class='fas fa-thumbtack fa-fw' style='color:#29AEB9'></i> {% endif %} {{ template.title|raw }}</td>
          <td><a href='?tab=3&templateid={{ template.id }}'><button class='btn btn-primary'>{{ 'Load'|trans }}</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
