<!DOCTYPE HTML>
<html lang='{{ App.getLang()|slice(0, 2) }}'>
<head>
   <title>{{ Entity.entityData.title|default(pageTitle) }} - eLabFTW</title>
  <link rel='stylesheet' media='all' href='/assets/vendor.min.css?v={{ v }}' />
  <link rel='stylesheet' media='all' href='/assets/elabftw.min.css?v={{ v }}' />
  <script defer src='/assets/vendor.bundle.js?v={{ v }}'></script>
  <script defer src='/assets/main.bundle.js?v={{ v }}'></script>
</head>
<body>
{# container-fluid is from bootstrap #}
<div id='container' class='container-fluid'>
  <div class='real-container'>
    <div id='spreadsheetEditorRoot'></div>
  </div>
</div>
</body></html>
{#{% include 'footer.html' %}#}
