<section id='spreadsheetEditor' aria-label='{{ 'Spreadsheet Editor'|trans }}'>
  <h3 data-action='toggle-next' data-scroll-btn='fa-file-excel' data-scroll-btn-label='{{ 'Spreadsheet editor'|trans }}' data-toggle-target='spreadsheetEditorDiv' data-opened-icon='fa-caret-down' data-closed-icon='fa-caret-right' class='d-inline togglable-section-title mt-2' tabindex='0' role='button' aria-expanded='false' aria-controls='spreadsheetEditorDiv'>
    <i id='sheetEditorIcon' class='fas fa-caret-right fa-fw mr-2'></i>{{ 'Spreadsheet Editor'|trans }}
  </h3>
  <div id='spreadsheetEditorDiv' class='m-2' hidden data-save-hidden='spreadsheetEditorDiv'>
  <div class='d-flex justify-content-between align-items-center'>
    <span hidden id='spreadsheetEditorUnsavedChanges'>{{ 'You have unsaved changes'|trans|msg('warning', false) }}</span>
    <div class='ml-auto mb-2'>
      <button type='button' id='spreadsheetSaveAsAttachment' class='btn btn-primary mr-2'>
        <i class='fas fa-paperclip fa-fw mr-1'></i>{{ 'Save as attachment'|trans }}
      </button>
      <button type='button' id='spreadsheetReplaceAttachment' class='btn btn-secondary mr-2' title='{{ 'Replace attachment'|trans }}' aria-label='{{ 'Replace attachment'|trans }}' disabled>
        <i class='fas fa-rotate fa-fw mr-1'></i>{{ 'Replace attachment'|trans }}
      </button>
      <a class='btn btn-ghost external-link' href='https://doc.elabftw.net/docs/usage/user-guide/experiments#spreadsheet-editor' target='_blank' rel='noopener' title='{{ 'Documentation'|trans }}' aria-label='{{ 'Documentation'|trans }}'><i class='fas fa-circle-question fa-fw'></i></a>
    </div>
  </div>
    {% if App.devMode -%}
      <!-- [html-validate-disable-block unique-landmark, no-deprecated-attr, prefer-native-element: suppress errors from spreadsheet editor] -->
    {%- endif %}
    {# allow-modals is needed for prompts asking the filename
       allow-downloads is to be able to download files duh #}
    <iframe id='spreadsheetIframe' title='{{ 'Spreadsheet Editor'|trans }}' src='/spreadsheet.html' sandbox='allow-scripts allow-downloads allow-modals'></iframe>
  </div>
</section>
<hr>
