<button type='button' class='btn btn-ghost add-step-toggle' data-action='toggle-inline-form' data-toggle-target='add_step_form_{{ stepAddSuffix }}' aria-expanded='false' aria-controls='add_step_form_{{ stepAddSuffix }}'>
  <i class='fas fa-plus fa-fw mr-1'></i>{{ 'Add a step'|trans }}
</button>
<form hidden aria-label='{{ 'Add a step'|trans }}' id='add_step_form_{{ stepAddSuffix }}' class='add-step-form mt-1 mb-1' data-groupid='{{ stepGroupId }}'>
  <input type='hidden' name='group_id' value='{{ stepGroupId }}'>
  <div class='input-group'>
    <input aria-label='{{ 'Add a step'|trans }}' type='text' size='60' name='step' class='form-control' required data-id='{{ Entity.id }}' placeholder='{{ 'Add a step'|trans }}' />
    <div class='input-group-append'>
      <button class='btn btn-primary' data-action='create-step' type='submit'>{{ 'Add a step'|trans }}</button>
    </div>
  </div>
</form>
