{# STEPS #}
{% set entityPage = entityPage|default(App.Request.getScriptName|split('/')|last|replace({'.php': ''})) %}
<div id='stepsDiv'>
{% set showStepInBody = Entity.entityData.body_html is defined and Entity.entityData.body_html != '' and not Entity.entityData.hide_main_text %}
{% if Entity.entityData.steps %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' data-opened-icon='fa-caret-down' data-closed-icon='fa-caret-right' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='stepsDivContent'><i class='fas fa-caret-down mr-2 fa-fw'></i>{{ 'Steps'|trans }} ({{ Entity.entityData.steps|length }})</h3>
  <div class='row mt-2' id='stepsDivContent' data-save-hidden='stepsDivContent'>
    <div class='ml-3 mt-3 col-md-12'>
      {% for step in Entity.entityData.steps %}
        <div id='step_view_{{ step.id }}' class='countable mb-2 rounded p-1 {{ step.finished ? 'finished' }} {{ App.Request.query.get('highlightstep') == step.id ? 'highlighted' }}'>
          <input aria-label='{{ 'Toggle completion'|trans }}' type='checkbox' {{ step.finished ? 'checked' }} {{ entityPage == 'templates' or entityPage == 'resources-templates' ? 'disabled' }} data-id='{{ Entity.id }}' autocomplete='off' data-stepid='{{ step.id }}' class='stepbox mr-2' id='stepCheckbox_{{ step.id }}' />{{ step.body }}
        {% if step.finished %}
        <span class='mr-2 text-muted'>
            {{ 'completed'|trans }} <span title='{{ step.finished_time }}' class='relative-moment'></span>
        </span>
        {% endif %}
        {% if step.deadline %}
        <span class='mr-2 text-muted'>
            {{ 'Deadline:'|trans }} {{ step.deadline|format_datetime() }}
        </span>
        {% endif %}
        {# the step was inserted in the main text: allow jumping to it #}
        {% if showStepInBody and ('highlightstep=' ~ step.id ~ '#') in Entity.entityData.body %}
        <button type='button' class='btn btn-ghost btn-sm' data-action='scroll-to-step-in-body' data-stepid='{{ step.id }}' title='{{ 'Show in main text'|trans }}' aria-label='{{ 'Show in main text'|trans }}'>
          <i class='fas fa-font fa-fw'></i>
        </button>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
{% endif %}
</div>
