{# STEPS #}
<div id='stepsDiv'>
{% if Entity.entityData.steps %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='stepsDivContent'><i class='fas fa-caret-down mr-2 fa-fw'></i>{{ 'Steps'|trans }} ({{ Entity.entityData.steps|length }})</h3>
  <div class='row mt-2' id='stepsDivContent' data-save-hidden='stepsDivContent'>
    <div class='ml-3 mt-3 col-md-12'>
      {% for step in Entity.entityData.steps %}
        <div id='step_view_{{ step.id }}' class='countable mb-2 rounded p-1 {{ step.finished ? 'finished' }} {{ App.Request.query.get('highlightstep') == step.id ? 'highlighted' }}'>
          <input aria-label='{{ 'Toggle completion'|trans }}' type='checkbox' {{ step.finished ? 'checked' }} {{ Entity.type == 'experiments_templates' ? 'disabled' }} data-id='{{ Entity.id }}' autocomplete='off' data-stepid='{{ step.id }}' class='stepbox mr-2' id='stepCheckbox_{{ step.id }}' />{{ step.body }}
        {% if step.finished %}
        <span class='mr-2 text-muted'>
            {{ 'completed'|trans }} <span title='{{ step.finished_time }}' class='relative-moment'></span>
        </span>
        {% endif %}
        {% if step.deadline %}
        <span class='mr-2 text-muted'>
            {{ 'Deadline:'|trans }} {{ step.deadline|format_datetime() }}
        </span>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
{% endif %}
</div>

{# EXPERIMENTS LINKS #}
{% if Entity.entityData.experiments_links %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='linkExpDiv' id='linksExpDivTitle'><i class='fas fa-caret-down mr-2 fa-fw'></i>{% trans %}
    Linked experiment
    {% plural 2 %}
    Linked experiments
    {% endtrans %} ({{ Entity.entityData.experiments_links|length }})</h3>
  <div class='row mt-2' id='linksExpDiv' data-save-hidden='linksExpDiv'>
    {% for link in Entity.entityData.experiments_links %}
      {% include 'link-view-one.html' %}
    {% endfor %}
  </div>
  <hr>
{% endif %}

{# ITEMS LINKS #}
{% if Entity.entityData.items_links %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='linksDiv' id='linksDivTitle'><i class='fas fa-caret-down mr-2 fa-fw'></i>{{ 'Linked resources'|trans }} ({{ Entity.entityData.items_links|length }})</h3>
  <div class='row mt-2' id='linksDiv' data-save-hidden='linksDiv'>
    {% for link in Entity.entityData.items_links %}
      {% include 'link-view-one.html' %}
    {% endfor %}
  </div>
  <hr>
{% endif %}

{% include 'related-snippet.html' %}
