<div class='row' style='line-height: 160%'>
  <div class='col col-md-12'>
    <!-- TAGS -->
    <i class='fas fa-tags'></i>
    <label>{{ 'Tags'|trans }}</label>
    <div class='tags form-inline'>
      <div id='tags_div_{{ templateData.id }}' class='mb-2 mb-sm-0'>
        <!--  build the tag array -->
        {% if templateData.tags|length > 0 %}
          {% set tagsIdArr = templateData.tags_id|split(',') %}
          {% set tagsValueArr = templateData.tags|split('|') %}
          {% for key, tag in tagsValueArr -%}
            {#- the key allows to get the id stored in tagsIdArr -#}
            <a class='tag mr-1 hover-danger' data-action='unreference-tag' data-id='{{ templateData.id }}' data-tagid='{{ tagsIdArr[key] }}'>
              {{- tag|raw -}}
            </a>
          {%- endfor -%}
        {% endif %}
      </div>
      <input type='text' data-autocomplete='tags' class='createTagInput form-control' id='createTagInput_{{ templateData.id }}' data-id='{{ templateData.id }}' placeholder='{{ 'Add a tag'|trans }}' />
    </div>
  </div>

  <!-- MORE OPTIONS DROPDOWN MENU (···) -->
  <div class='col'>
    <div class='dropdown'>
      <a class='float-right clickable' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' role='button'>
        <i class='fas fa-ellipsis-v fa-2x'></i>
      </a>
      <div class='dropdown-menu dropdown-menu-right' aria-label='{{ 'More options'|trans }}'>
        <!-- MANAGE PERMISSIONS -->
        <a href='#' class='dropdown-item' data-action='toggle-modal' data-target='permModal' data-read='{{ templateData.canread }}' data-write='{{ templateData.canwrite }}'>
          <i class='fas fa-share-alt fa-fw mr-1'></i>{{ 'Manage Permissions'|trans }}
        </a>
        <!-- DOWNLOAD -->
        <a href='#' class='dropdown-item' data-action='download-template' data-name='{{ templateData.title }}' data-id='{{ templateData.id }}'>
          <i class='fas fa-download fa-fw mr-1'></i>{{ 'Download template'|trans }}
        </a>
        <!-- DESTROY -->
        <div class='dropdown-divider'></div>
        <a href='#' data-action='destroy-template' class='dropdown-item hover-danger' data-id='{{ templateData.id }}'>
          <i class='fas fa-trash-alt fa-fw mr-1'></i>{{ 'Destroy template'|trans }}
        </a>
      </div>
    </div>
  </div>

</div>

<label for='title_input'>{{ 'Title'|trans }}</label>
<input id='title_input' class='form-control' data-id='{{ templateData.id }}' value='{{ templateData.title|raw }}' />
{# the id begins with an 'e' because of this https://github.com/tinymce/tinymce/issues/3011#issuecomment-227993762 #}
<label for='e{{ templateData.id }}'>{{ 'Template content'|trans }}</label>
<div>
  <textarea id='e{{ templateData.id }}' class='mceditable' style='height:500px;'>{{ templateData.body }}</textarea>
</div>
<div class='text-center mt-4'>
  <button data-action='update-template' data-id='{{ templateData.id }}' class='button btn btn-primary'>{{ 'Save'|trans }}</button>
</div>
{% set mode = 'edit-template' %}
{% include 'steps-links-edit.html' %}
{% include 'json-editor.html' %}
