<div class='row' style='line-height: 160%'>
  <div class='col col-md-12'>

    <!-- TAGS -->
    <i class='fas fa-tags'></i>
    <label>{{ 'Tags'|trans }}</label>
    <div class='tags form-inline'>
      <div id='tags_div_{{ Entity.id }}' class='mb-2 mb-sm-0'>
        <!--  build the tag array -->
        {% if Entity.entityData.tags|length > 0 %}
          {% set tagsIdArr = Entity.entityData.tags_id|split(',') %}
          {% set tagsValueArr = Entity.entityData.tags|split('|') %}
          {% for key, tag in tagsValueArr -%}
            {#- the key allows to get the id stored in tagsIdArr -#}
            <a class='tag mr-1 hover-danger' data-action='unreference-tag' data-id='{{ Entity.id }}' data-tagid='{{ tagsIdArr[key] }}'>
              {{- tag|raw -}}
            </a>
          {%- endfor -%}
        {% endif %}
      </div>
      <input type='text' data-autocomplete='tags' class='createTagInput form-control' id='createTagInput_{{ Entity.id }}' data-id='{{ Entity.id }}' placeholder='{{ 'Add a tag'|trans }}' />
    </div>
  </div>
</div>

<label for='title_input'>{{ 'Title'|trans }}</label>
<input id='title_input' class='form-control' data-id='{{ Entity.id }}' value='{{ Entity.entityData.title|raw }}' />
{# the id begins with an 'e' because of this https://github.com/tinymce/tinymce/issues/3011#issuecomment-227993762 #}
<label for='e{{ Entity.entityData.id }}'>{{ 'Template content'|trans }}</label>
<div>
  <textarea id='e{{ Entity.entityData.id }}' class='mceditable' style='height:500px;'>{{ Entity.entityData.body }}</textarea>
</div>
<div class='text-center mt-4'>
  <button data-action='update-template' data-id='{{ Entity.entityData.id }}' class='button btn btn-primary'>{{ 'Save'|trans }}</button>
</div>
{% set mode = 'edit-template' %}
{% include 'steps-links-edit.html' %}
{% include 'json-editor.html' %}
