{% if entityData.tags|length > 0 %}
  <span class='tags'><i class='fas fa-tags'></i></span>
  {% set tagsValueArr = entityData.tags|split('|') %}
  {% for tag in tagsValueArr %}
    <span class='tag'>{{ tag|raw }}</span>
  {% endfor %}
{% endif %}

<div class='mt-2'>
  {% if entityData.canread > 0 %}
    {% for teamGroup in teamGroupsArr|filter(teamGroup => teamGroup.id == entityData.canread) %}
      <i class='fas fa-eye'></i> {{ teamGroup.name }}
    {% endfor %}
  {% else %}
    <i class='fas fa-eye'></i> {{ entityData.canread }}
  {% endif %}

  {% if entityData.canwrite > 0 %}
    {% for teamGroup in teamGroupsArr|filter(teamGroup =>  teamGroup.id == entityData.canwrite) %}
      <i class='fas fa-pencil-alt'></i> {{ teamGroup.name }}
    {% endfor %}
  {% else %}
    <i class='fas fa-pencil-alt'></i> {{ entityData.canwrite }}
  {% endif %}
</div>

{% if Entity.entityData.content_type == constant('Elabftw\\Models\\AbstractEntity::CONTENT_MD') %}
  {% set body = Entity.entityData.body|md2html %}
{% else %}
  {% set body = Entity.entityData.body %}
{% endif %}
<div id='body_view' class='txt'>{{ body|md2html }}</div>
{% include 'steps-links-view.html' %}
