{% if entityData.tags|length > 0 %}
  <span class='tags'><i class='fas fa-tags'></i></span>
  {% set tagsValueArr = entityData.tags|split('|') %}
  {% for tag in tagsValueArr %}
    <span class='tag'>{{ tag|raw }}</span>
  {% endfor %}
{% endif %}

{% if (Entity.entityData.content_type == constant('Elabftw\\Models\\AbstractEntity::CONTENT_MD')) and Entity.entityData.body is not null %}
  {% set body = Entity.entityData.body|md2html %}
{% else %}
  {% set body = Entity.entityData.body %}
{% endif %}
<div id='body_view'>{{ body|raw }}</div>
{% include 'steps-links-view.html' %}
