{# TITLE #}
<h1 id='documentTitle' class='mb-4 title text-dark'>
  {{ Entity.entityData.title }}
</h1>

{% include('catstat-view.html') %}

{# TAGS #}
{% if entityData.tags|length > 0 %}
  <span class='tags'><i class='fas fa-tags'></i></span>
  {% for tag in Entity.Tags.readAll() %}
    <span class='tag {{ tag.is_favorite ? 'favorite' }}'>{{ tag.tag }}</span>
  {% endfor %}
{% endif %}

<hr>
<div id='body_view'>{{ Entity.entityData.body_html|raw }}</div>

{# METADATA view #}
{% if Entity.entityData.metadata and Entity.entityData.metadata != '{}' %}
  <hr>
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Extra fields'|trans }}</h3>
  <div class='mt-2' id='extraFieldsDiv' data-save-hidden='extraFieldsDiv'>
    {{ Entity.entityData.metadata|formatMetadata }}
  </div>
  <hr>
{% endif %}
{% include 'steps-links-view.html' %}
{% include 'uploads.html' %}
<div id='info' data-page='template-view' data-team='{{ App.Users.userData.team }}' data-type='experiments_templates' data-id='{{ Entity.id }}'></div>
