<div id='todoList'>
  <i class='fas fa-times fa-2x clickable align-right todoToggle' title="{{ 'Close'|trans }}"></i>
  <h2>{{ 'Todolist'|trans }}</h2>
  <form id="todo-form">
      <input id="todo" type="text" />
      <input type="submit" class='button btn btn-primary' value="{{ 'Add'|trans }}">
  </form>

  <!-- this div will be filled with the list of todo items by js -->
  <div id='todoItemsDiv'></div>

  <hr>
  <h2>{{ 'Unfinished steps'|trans }}</h2>
  <div id='todoStepsDiv'></div>
</div>


<div id='todoSc' data-toggle='{{ App.Users.userData.sc_todo }}'></div>
