{% extends 'base.html' %}
{# tinymce or markdown? #}
{% set editor = 'tiny' %}
{% if Entity.Users.userData.use_markdown or App.Request.query.get('editor') == 'md' or Entity.entityData.content_type == '2' %}
  {% set editor = 'md' %}
{% endif %}
{% if App.Request.query.get('editor') == 'tiny' %}
  {% set editor = 'tiny' %}
{% endif %}

{% block body %}
<ul class='tabbed-menu'>
  <li data-action='switch-tab' data-tabtarget='1'>{{ 'General'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='2'>{{ 'Account'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='3'>{{ 'Templates'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='4'>{{ 'API keys'|trans }}</li>
  <li data-action='switch-tab' data-tabtarget='5'>{{ 'Notifications'|trans }}</li>
</ul>

<!-- loading spinner -->
<div class='d-flex justify-content-center' id='loading-spinner'>
  <div class='lds-dual-ring'></div>
</div>

<!-- TAB 1 - USER PREFERENCES -->
<div data-tabcontent='1' hidden>
  <!-- LANGUAGE -->
  <h3 class='p-2 pl-3 section-title'>{{ 'Preferences'|trans }}</h3>
  <div class='pl-3 mt-2 mb-5'>
    <div class='d-flex justify-content-between'>
      <label for='lang' class='col-form-label'>{{ 'Language'|trans }}</label>
      <select class='form-control col-md-3' id='lang' data-trigger='change' data-model='users/me' data-target='lang'>
        {% for lang, text in langsArr|sort %}
          <option value='{{ lang }}'
            {{ App.Users.userData.lang == lang ? ' selected' }}
            >{{ text }}</option>
        {% endfor %}
      </select>
    </div>
    <p class='mt-1'><a target='_blank' rel='noopener' href='https://doc.elabftw.net/contributing.html#translating'>{{ 'Help us translate eLabFTW!'|trans }} <i class='fas fa-fw fa-arrow-up-right-from-square'></i></a></p>
  </div>

  <!-- DISPLAY -->
  <h3 class='p-2 pl-3 section-title'>{{ 'Display'|trans }}</h3>
  <div class='pl-3 mt-2 mb-5'>

    <div class='d-flex justify-content-between'>
      <label for='limit' class='col-form-label'>{{ 'Items per page'|trans }}</label>
      <input id='limit' class='form-control col-md-2' type='number' min='1' max='99' value='{{ App.Users.userData.limit_nb }}' data-trigger='blur' data-model='users/me' data-target='limit_nb'>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='display_mode' class='col-form-label'>{{ 'Display mode'|trans }}</label>
      <select id='display_mode' data-trigger='change' data-model='users/me' data-target='display_mode' class='form-control col-md-3'>
          <option value='it' {{ App.Users.userData.display_mode == 'it' ? ' selected' }}>{{ 'Item list (default)'|trans }}</option>
          <option value='tb' {{ App.Users.userData.display_mode == 'tb' ? ' selected' }}>{{ 'Tabular'|trans }}</option>
      </select>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='orderby' class='col-form-label'>{{ 'Order by'|trans }}</label>
      <select id='orderby' data-trigger='change' data-model='users/me' data-target='orderby' class='form-control col-md-3'>
          <option value='cat' {{ App.Users.userData.orderby == 'cat' ? ' selected' }}>{{ 'Category'|trans }}</option>
          <option value='date' {{ App.Users.userData.orderby == 'date' ? ' selected' }}>{{ 'Date'|trans }} {{ '(default)'|trans }}</option>
          <option value='title' {{ App.Users.userData.orderby == 'title' ? ' selected' }}>{{ 'Title'|trans }}</option>
          <option value='comment' {{ App.Users.userData.orderby == 'comment' ? ' selected' }}>{% trans %}Comment{% plural 1 %}Comments{% endtrans %}</option>
          <option value='lastchange' {{ App.Users.userData.orderby == 'lastchange' ? ' selected' }}>{{ 'Last modified'|trans }}</option>
      </select>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='sort' class='col-form-label'>{{ 'Sort'|trans }}</label>
      <select id='sort' data-trigger='change' data-model='users/me' data-target='sort' class='form-control col-md-3'>
        <option value='default' {{ App.Users.userData.sort == null ? ' selected' }}>{{ 'Use default'|trans }}</option>
        <option value='asc' {{ App.Users.userData.sort == 'asc' ? ' selected' }}>{{ 'ASC'|trans }}</option>
        <option value='desc' {{ App.Users.userData.sort == 'desc' ? ' selected' }}>{{ 'DESC'|trans }}</option>
      </select>
    </div>
    <hr>

  </div>

  <!-- KEYBOARD SHORTCUTS -->
  <h3 id='keyboardShortcuts' class='p-2 pl-3 section-title'>{{ 'Keyboard Shortcuts'|trans }}</h3>
  <div class='pl-3 mt-2 mb-5'>
    <table aria-describedby='keyboardShortcuts' class='table col-md-12'>
      <thead>
      <tr>
        <th class='align-left'>{{ 'Action'|trans }}</th>
        <th>{{ 'Create'|trans }}</th>
        <th>{{ 'Edit'|trans }}</th>
        <th>{{ 'Submit'|trans }}</th>
        <th>{{ 'TODO list'|trans }}</th>
      </tr>
      </thead>
      <tbody class='bgnd-transparent'>
      <tr>
        <td>{{ 'Shortcut'|trans }}</td>
        <td>
          <input class='form-control col-md-2' type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ App.Users.userData.sc_create }}' data-trigger='blur' data-model='users/me' data-target='sc_create' />
        </td>

        <td>
          <input class='form-control col-md-2' type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ App.Users.userData.sc_edit }}' data-trigger='blur' data-model='users/me' data-target='sc_edit' />
        </td>

        <td>
          <input class='form-control col-md-2' type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ App.Users.userData.sc_submit }}' data-trigger='blur' data-model='users/me' data-target='sc_submit' />
        </td>

        <td>
          <input class='form-control col-md-2' type='text' pattern='[a-z]' size='1' maxlength='1' value='{{ App.Users.userData.sc_todo }}' data-trigger='blur' data-model='users/me' data-target='sc_todo' />
        </td>
      </tr>
      </tbody>
    </table>
    <p class='smallgray mt-2'>{{ 'Only lowercase letters are allowed.'|trans }}</p>
  </div>

  <!-- PDF CONFIG -->
  <h3 class='p-2 pl-3 section-title'>{{ 'PDF configuration'|trans }}</h3>
  <div class='pl-3 mt-2 mb-5'>
    <div class='d-flex justify-content-between'>
      <label for='pdf_format' class='col-form-label'>{{ 'Select paper format for PDF'|trans }}</label>
      <select id='pdf_format' class='form-control col-md-3' data-trigger='change' data-model='users/me' data-target='pdf_format'>
          <option value='A4'{{ App.Users.userData.pdf_format == 'A4' ? ' selected' : '' }}>A4</option>
          <option value='LETTER'{{ App.Users.userData.pdf_format == 'LETTER' ? ' selected' : '' }}>Letter</option>
          <option value='ROYAL'{{ App.Users.userData.pdf_format == 'ROYAL' ? ' selected' : '' }}>Royal</option>
      </select>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <div>
        <label for='cjk_fonts' class='col-form-label'>{{ 'Enable Chinese, Japanese and Korean fonts in PDF generation'|trans }}</label>
        <p class='smallgray'>{{ 'WARNING: this will dramatically increase the file size unless you disable PDF/A'|trans }}</p>
      </div>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='cjk_fonts' {{ App.Users.userData.cjk_fonts == 1 ? 'checked="checked"' }} id='cjk_fonts'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='inc_files_pdf' class='col-form-label'>{{ 'Add attached files summary to the PDF'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='inc_files_pdf' {{ App.Users.userData.inc_files_pdf == 1 ? 'checked="checked"' }} id='inc_files_pdf'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='append_pdfs' class='col-form-label'>{{ 'Append attached PDFs to exported PDF'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='append_pdfs' {{ App.Users.userData.append_pdfs == 1 ? 'checked="checked"' }} id='append_pdfs'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='pdf_sig' class='col-form-label'>{{ 'Enable french style signature block in PDF Export'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='pdf_sig' {{ App.Users.userData.pdf_sig == 1 ? 'checked="checked"' }} id='pdf_sig'>
        <span class='slider'></span>
      </label>
    </div>
  </div>

  <h3 class='p-2 pl-3 section-title'>{{ 'Miscellaneous'|trans }}</h3>
  <div class='pl-3 mt-2'>
    <div class='d-flex justify-content-between'>
      <label for='show_team' class='col-form-label'>{{ 'Show experiments from the team on the Experiments page'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='show_team' {{ App.Users.userData.show_team == 1 ? 'checked="checked"' }} id='show_team'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='show_team_templates' class='col-form-label'>{{ 'Show templates from the team on the Templates page and in the menus'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='show_team_templates' {{ App.Users.userData.show_team_templates == 1 ? 'checked="checked"' }} id='show_team_templates'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='show_public' class='col-form-label'>{{ 'Show experiments/database items from outside the team'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='show_public' {{ App.Users.userData.show_public == 1 ? 'checked="checked"' }} id='show_public'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='use_markdown' class='col-form-label'>{{ 'Disable the rich text editor and write Markdown directly'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='use_markdown' {{ App.Users.userData.use_markdown == 1 ? 'checked="checked"' }} id='use_markdown'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='use_isodate' class='col-form-label'>{{ 'Use ISO datetime in the text editor instead of localized one'|trans }}</label>
      <label class='switch ucp-align'>
        <input type='checkbox' data-trigger='change' data-model='users/me' data-target='use_isodate' {{ App.Users.userData.cjk_use_isodate == 1 ? 'checked="checked"' }} id='use_isodate'>
        <span class='slider'></span>
      </label>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='default-read-select' class='col-form-label'>{{ 'Default visibility for new experiments'|trans }}</label>
      <select id='default-read-select' class='form-control col-md-3' data-trigger='change' data-model='users/me' data-transform='permissionsToJson' data-target='default_read'>
        {% for key, value in visibilityArr %}
          <option value='{{ key }}' {{ App.Users.userData.default_read|extractJson('base') == key ? " selected='selected'" }}>{{ value|trans }}</option>
        {% endfor %}
      </select>
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='default-write-select' class='col-form-label'>{{ 'Default write permission for new experiments'|trans }}</label>
      <select id='default-write-select' class='form-control col-md-3' data-trigger='change' data-model='users/me' data-transform='permissionsToJson' data-target='default_write'>
        {% for key, value in visibilityArr %}
          <option value='{{ key }}' {{ App.Users.userData.default_write|extractJson('base') == key ? " selected='selected'" }}>{{ value|trans }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

</div>

<!-- TAB 2 - USER INFORMATION -->
<div data-tabcontent='2' hidden>
  <form class='form-group' method='post' action='app/controllers/UcpController.php'>
    {{ App.Session.get('csrf')|csrf }}
    {# only show the email/password fields for locally authenticated users #}
    {% if App.Users.userData.auth_service == constant('Elabftw\\Controllers\\LoginController::AUTH_LOCAL') %}

    <div class='pl-3 mb-5'>
      <div class='d-flex justify-content-between'>
        <label for='currpass' class='col-form-label'>{{ 'Enter your password to edit your profile.'|trans }}</label>
        <div class='input-group col-md-3 px-0'>
          <input class='form-control' id='currpass' name='currpass' type='password' autocomplete='current-password' pattern='.{8,}' required />
          <div class='input-group-append'>
            <span class='btn btn-light input-border' tabindex='-1' data-action='toggle-password' data-target='currpass'><i class='fas fa-eye' aria-hidden='true'></i></span>
          </div>
        </div>
      </div>
    </div>

    <h3 class='p-2 pl-3 section-title'>{{ 'Personal informations'|trans }}</h3>
    <div class='pl-3 mt-2 mb-5'>

      <div class='d-flex justify-content-between'>
        <label for='email' class='col-form-label'>{{ 'Email'|trans }}</label>
        <input class='form-control col-md-3' name='email' id='email' type='email' value='{{ App.Users.userData.email }}' />
      </div>
      <hr>

      <div class='d-flex justify-content-between'>
        <label for='newpass' class='col-form-label'>{{ 'Modify your password'|trans }}</label>
        <div class='input-group col-md-3 px-0'>
          <input class='form-control' id='newpass' name='newpass' type='password' pattern='.{8,}' autocomplete='new-password' />
          <div class='input-group-append'>
            <span class='btn btn-light input-border' tabindex='-1' data-action='toggle-password' data-target='newpass'><i class='fas fa-eye' aria-hidden='true'></i></span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {# only show MFA setting if not enforced #}
    {% if showMFA %}
      <h3 class='p-2 pl-3 section-title'>{{ 'Two Factor Authentication'|trans }}</h3>
      <div class='pl-3 mt-2 mb-5'>
        <div class='d-flex justify-content-between'>
          <label for='use_mfa' class='col-form-label'>{{ 'Use two-factor authentication?'|trans }}</label>
          <select class='form-control col-md-3' autocomplete='off' name='use_mfa' id='use_mfa'>
            <option value='on' {{- App.Users.userData.mfa_secret ? ' selected' }}>{{ 'Yes'|trans }}</option>
            <option value='off' {{- not App.Users.userData.mfa_secret ? ' selected' }}>{{ 'No'|trans }}</option>
          </select>
        </div>
      </div>
    {% endif %}
    <div class='mt-4 text-center'>
      <button type='submit' class='btn btn-primary'>{{ 'Save'|trans }}</button>
    </div>
  </form>

  <hr>
  <h3 class='p-2 pl-3 section-title'>{{ 'Your identity'|trans }}</h3>
  <div class='pl-3 mt-2 mb-5' id='ucp-account-form'>
    <div class='d-flex justify-content-between'>
      <label for='firstname' class='col-form-label'>{{ 'Firstname'|trans }}</label>
      <input class='form-control col-md-3' id='firstname' name='firstname' value='{{ App.Users.userData.firstname|raw }}' />
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='lastname' class='col-form-label'>{{ 'Lastname'|trans }}</label>
      <input class='form-control col-md-3' id='lastname' name='lastname' value='{{ App.Users.userData.lastname|raw }}' />
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='orcid' class='col-form-label'>ORCID</label>
      <input class='form-control col-md-3' placeholder='0000-0002-1234-1111' title='0000-1111-2222-3333' pattern='[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{3}[0-9X]' id='orcid' name='orcid' value='{{ App.Users.userData.orcid }}' />
    </div>
    <hr>
  </div>

  <div class='mt-4 text-center'>
    <button data-action='patch-account' class='btn btn-primary'>{{ 'Save'|trans }}</button>
  </div>
</div>

<!-- TAB 3 - USER TEMPLATES -->
<div data-tabcontent='3' hidden>
  <h3 class='p-2 pl-3 section-title'><i class='fas fa-layer-group'></i> {{ 'Experiments Templates'|trans }}</h3>

  {% if App.Request.query.has('templateid') %}
    {% include 'view-edit-template.html' %}
  {% else %}
    {% include 'show-templates-select.html' %}
  {% endif %}
</div>

<!-- TAB 4 - API KEYS -->
<div data-tabcontent='4' hidden>
  <p><a target='_blank' rel='noopener' href='https://doc.elabftw.net/api.html'>{{ 'Link to documentation'|trans }} <i class='fas fa-fw fa-arrow-up-right-from-square'></i></a></p>
  <h3 class='p-2 pl-3 section-title'>{{ 'Create new key'|trans }}</h5>
  <div id='newKeyPlaceholder'></div><!-- the newly created key will be displayed here -->
  <div class='pl-3 mt-2 mb-5'>

    <div class='d-flex justify-content-between'>
      <label for='apikeyName' class='col-form-label'>{{ 'Name'|trans }}</label>
      <input id='apikeyName' type='text' class='form-control col-md-3' />
    </div>
    <hr>

    <div class='d-flex justify-content-between'>
      <label for='apikeyCanwrite' class='col-form-label'>{{ 'Permissions'|trans }}</label>
      <select id='apikeyCanwrite' autocomplete='off' class='form-control col-md-3'>
        <option value='0'>{{ 'Read Only'|trans }}</option>
        <option value='1'>{{ 'Read/Write'|trans }}</option>
      </select>
    </div>
    <hr>

    <div class='mt-4 text-center'>
      <button data-action='create-apikey' class='btn btn-primary'>{{ 'Generate an API Key'|trans }}</button>
    </div>

  </div>

  <h3 class='p-2 pl-3 section-title mb-3' id='existingKeys'>{{ 'Existing keys'|trans }}</h3>
  <table id='apiTable' class='table' aria-describedby='existingKeys' data-table-sort='true'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>{{ 'Name'|trans }}</th>
        <th scope='col'>{{ 'Permissions'|trans }}</th>
        <th scope='col'>{{ 'Creation date'|trans }}</th>
        <th scope='col'>{{ 'Action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for key in apiKeysArr %}
        <tr>
          <th scope='row'>{{ loop.index }}</th>
          <td>{{ key.name }}</td>
          <td>{{ key.can_write ? 'Read/Write'|trans : 'Read Only'|trans }}</td>
          <td>{{ key.created_at }}</td>
          <td><a data-action='destroy-apikey' title='{{ 'Delete'|trans }}' data-apikeyid='{{ key.id }}'><i class='fas fa-trash-alt'></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- TAB 5 - NOTIFICATIONS SETTINGS -->
<div data-tabcontent='5' hidden>
  <h3 class='p-2 pl-3 section-title mb-3' id='notificationsSettings'>{{ 'Notifications settings'|trans }}</h3>
  <div class='pl-3'>
  {% for notif in notificationsSettings %}
    <div class='d-flex justify-content-between'>
      <label class='col-form-label'>{{ notif.designation }}</label>
      <div class='d-flex flex-column align-items-end'>
        <div class='d-flex align-self-center'>
          <label class='col-form-label px-2' for='{{ notif.setting }}'>{{ 'Web'|trans }}</label>
          <label class='switch ucp-align'>
            <input type='checkbox' id='{{ notif.setting }}' data-trigger='change' data-model='users/me' data-target='{{ notif.setting }}' {{ App.Users.userData[notif.setting] == 1 ? " checked='checked'" }}>
            <span class='slider'></span>
          </label>
        </div>
        <div class='d-flex align-self-center'>
          <label class='col-form-label px-2' for='{{ notif.setting }}_email'>{{ 'Email'|trans }}</label>
          <label class='switch ucp-align'>
            <input type='checkbox' id='{{ notif.setting }}_email' data-trigger='change' data-model='users/me' data-target='{{ notif.setting }}_email' {{ App.Users.userData[notif.setting ~ '_email'] == 1 ? " checked='checked'" }}>
            <span class='slider'></span>
          </label>
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
  </div>
</div>
<!-- END PAGE -->

{% endblock body %}
