{% set ext = upload.real_name|getExt %}
<div class='col-md-4 col-sm-6 countable' id='uploadDiv_{{ upload.id }}'>
  {% if upload.id == upload.latest_upload_id %}
    <div id='last-uploaded-link' data-url='app/download.php?f={{ upload.long_name }}' hidden></div>
  {% endif %}
  <div class='thumbnail box {{ upload.state == enum('Elabftw\\Enums\\State').Archived.value ? 'bg-light' }}' data-type='{{ Entity.entityType.value }}' data-id='{{ Entity.id }}' style='overflow: visible'>
    {% if mode == 'edit' and uploadGroups is not empty %}
      <button type='button' class='btn btn-transparent draggable upload-sortable-handle' title='{{ 'Drag to reorder'|trans }}' aria-label='{{ 'Drag to reorder'|trans }}'>
        <i class='fas fa-sort'></i>
      </button>
    {% endif %}
    {% include('upload-dropdown-menu.html') with {layout: 'dropdown'} %}
    {% if upload.state == enum('Elabftw\\Enums\\State').Archived.value %}
    <p class='mb-0'><i class='fas fa-fw fa-box-archive mr-1'></i>{{ 'Archived'|trans }}</p>
    {% endif %}

    {# IMAGES #}
    {% if ext matches '/(bmp|jpg|jpeg|png|gif|tif|tiff|pdf|eps|svg|heic)$/i' %}
      {# don't make the thumbnail clickable if it's a tif #}
      {% if ext matches '/(bmp|jpg|jpeg|png|gif|pdf|eps|svg|heic)$/i' %}
        <div class='text-center'>
          <a class='text-break' target='_blank' href='app/download.php?f={{ upload.long_name|e('url') }}&amp;storage={{ upload.storage }}&amp;name={{ upload.real_name|e('url') }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}'
            {% if upload.real_name matches '/(bmp|jpg|jpeg|png|gif)$/i' %}data-fancybox='group' data-caption='{{ upload.real_name|e('html_attr') }}'{% endif %}
            {% if upload.comment %}title='{{ upload.comment|e('html_attr') }}' data-caption='{{ upload.comment|e('html_attr') }}'{% endif %}
          >
      {% endif %}
      {% set thumb_name = upload.long_name ~ '_th.jpg' %}
      {# old timestamp pdf don't have a thumbnail, so don't try to display one for them #}
      {% if ext matches '/(bmp|jpg|jpeg|png|gif|tif|tiff|pdf|eps|svg|heic)$/i' %}
        <div class='text-center'>
          <img class='thumb img-thumbnail rounded' class='text-break' src='app/download.php?f={{ thumb_name|e('url') }}&amp;storage={{ upload.storage }}&amp;name={{ upload.real_name|e('url') }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}' alt='thumbnail' />
        </div>
      {% else %}
        <i class='fas {{ ext2icon(ext) }} thumb rounded mx-auto d-block text-center'></i>
      {% endif %}
      {% if upload.real_name matches '/.(bmp|jpg|jpeg|png|gif|pdf|eps|svg|heic)$/i' %}
          </a>
        </div>
      {% endif %}

    {# MOLECULES #}
    {% elseif ext in constant('Elabftw\\Elabftw\\Extensions::MOLECULE') %}
      {# build control dropdown to change the representation style #}
      <div style='padding-bottom: 5px' class='btn-group'>
        <button type='button'
          class='btn btn-secondary btn-xs dropdown-toggle'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'>{{ 'Style'|trans }} <span class='caret'></span>
        </button>

        <ul class='dropdown-menu clickable'>
          {% set moldivId = '3Dmol_' ~ upload.id %}
          <li class='dropdown-item'>
            <span data-action='set-3dmol-style' data-divid='{{ moldivId }}' data-style='cartoon'>{{ 'Cartoon (proteins only)'|trans }}</span>
          </li>
          <li class='dropdown-item'>
            <span data-action='set-3dmol-style' data-divid='{{ moldivId }}' data-style='cross'>{{ 'Cross'|trans }}</span>
          </li>
          <li class='dropdown-item'>
            <span data-action='set-3dmol-style' data-divid='{{ moldivId }}' data-style='line'>{{ 'Line'|trans }}</span>
          </li>
          <li class='dropdown-item'>
            <span data-action='set-3dmol-style' data-divid='{{ moldivId }}' data-style='sphere'>{{ 'Sphere'|trans }}</span>
          </li>
          <li class='dropdown-item'>
            <span data-action='set-3dmol-style' data-divid='{{ moldivId }}' data-style='stick'>{{ 'Stick'|trans }}</span>
          </li>
        </ul>
      </div>

      {# IMPORTANT: here the data-href has the storage first and the filename last or 3Dmol will get confused with the format #}
      <div class='viewer_3Dmoljs'
        data-href='app/download.php?storage={{ upload.storage }}&amp;f={{ upload.long_name|e('url') }}&amp;name={{ upload.real_name|e('url') }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}'
        data-style="{{ ext == 'pdb' ? 'cartoon:color=spectrum' : 'stick' }}"
        data-backgroundcolor='0xffffff'
        id='3Dmol_{{ upload.id }}'>
      </div>

    {# DNA #}
    {% elseif ext in constant('Elabftw\\Elabftw\\Extensions::DNA') %}
      <div class='viewer-ove'
        data-href='app/download.php?f={{ upload.long_name|e('url') }}&amp;storage={{ upload.storage }}&amp;name={{ upload.real_name|e('url') }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}'
        data-real-name='{{ upload.real_name|e('html_attr') }}'
        id='OVE_{{ upload.id }}'>
      </div>

    {# TEXT #}
    {% elseif ext matches '/(txt|md|json)$/i' %}
      <span class='icon-overlay eye-overlay'
        data-action='toggle-modal' data-target='plainTextModal' data-ext='{{ ext }}'
        data-storage='{{ upload.storage }}'
        data-path='{{ upload.long_name|e('html_attr') }}'
        data-name='{{ upload.real_name|e('html_attr') }}'>
        <i class='fas fa-file-alt thumb rounded mx-auto d-block text-center'></i>
      </span>

    {# SPREADSHEETS #}
    {% elseif ext in constant('Elabftw\\Elabftw\\Extensions::SPREADSHEET') %}
      {% if mode == 'edit' %}
        <span class='icon-overlay edit-overlay'
          data-uploadid='{{ upload.id }}'
          data-storage='{{ upload.storage }}'
          data-path='{{ upload.long_name|e('html_attr') }}'
          data-name='{{ upload.real_name|e('html_attr') }}'
          data-action='xls-load-file'>
      {% else %}
      <span class='icon-overlay eye-overlay'
            data-action='toggle-modal'
            data-target='plainTextModal'
            data-ext='table'
            data-storage='{{ upload.storage }}'
            data-path='{{ upload.long_name|e('html_attr') }}'
            data-name='{{ upload.real_name|e('html_attr') }}'>
      {% endif %}
        <i class='fas fa-file-alt thumb rounded mx-auto d-block text-center'></i>
      </span>

    {# VIDEO #}
    {% elseif ext matches '/(mp4|webm)$/i' %}
      <div class='text-center'>
        <video controls width='300' preload='metadata'>
          <source src='app/download.php?f={{ upload.long_name|e('url') }}&amp;storage={{ upload.storage }}&amp;name={{ upload.real_name|e('url') }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}' type='video/{{ ext }}'>
        </video>
      </div>

    {# AUDIO #}
    {% elseif ext in constant('Elabftw\\Elabftw\\Extensions::AUDIO') %}
      <div class='text-center'>
        <audio controls>
          <source src='app/download.php?f={{ upload.long_name|e('url') }}&amp;storage={{ upload.storage }}&amp;name={{ upload.real_name|e('url') }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}' type='audio/{{ ext }}'>
        </video>
      </div>

    {# ANYTHING ELSE #}
    {% else %}
      <i class='fas {{ ext2icon(ext) }} thumb rounded mx-auto d-block text-center'></i>
    {% endif %}

    <div class='caption'>
      <i class='fas fa-fw fa-download mr-1'></i>
      <p class='d-inline'>
        <a id='upload-filename_{{ upload.id }}' class='text-break' href='app/download.php?f={{ upload.long_name|e('url') }}&amp;name={{ upload.real_name|e('url') }}&amp;storage={{ upload.storage }}{% if accessKey %}&amp;access_key={{ accessKey|e('url') }}{% endif %}' target='_blank' rel='noopener'>{{ upload.real_name }}</a>
        <span class='smallgray' style='display:inline'>
          {% if upload.filesize %}
            {{ upload.filesize|formatBytes }} -
          {% endif %}
          {{ upload.created_at }}
        </span>
      </p>
    <br>
    {% include('upload-comment.html') %}

    <div id='moreInfo_{{ upload.id }}' class='d-none'>
      {% include('upload-more-info.html') %}
    </div>
    </div>{# end div.caption #}
    {% include('upload-replace-form.html') %}
  </div>
</div>
