<div class='modal fade' id='mailBookersModal' tabindex='-1' aria-labelledby='mailBookersLabel'>
  <div class='modal-dialog modal-xl modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='mailBookersLabel'>{{ 'Mail users who booked this event'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='{{ 'Close'|trans }}'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' id='mailBookersBody'>
        <label for='email_bookers_subject' class='col-form-label'>{{ 'Subject'|trans }}</label>
        <input
          class='form-control'
          id='email_bookers_subject'
          name='email_bookers_subject'
          type='text'
          placeholder='{{ 'Subject' }}'
        />
        <label for='email_bookers_body'  class='col-form-label'>{{ 'Content'|trans }}</label>
        {% if App.Config.configArr.debug -%}
          <!-- [html-validate-disable-block unique-landmark, element-permitted-content, no-deprecated-attr, prefer-native-element, no-unused-disable, element-permitted-content: suppress errors from tinymce] -->
        {%- endif %}
        <textarea style='height:400px' class='mceditable' name='email_bookers_body' id='email_bookers_body'></textarea>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' id='sendToPreviousBookers'>{{ 'Send mail to previous bookers'|trans }}</button>
        <button type='button' class='btn btn-primary' id='sendToFutureBookers'>{{ 'Send mail to future bookers'|trans }}</button>
      </div>
    </div>
  </div>
</div>
