{% set mode = App.Request.query.get('mode')|default('view') %}
{% include('ownership-transfer-modal.html') %}
{% include 'duplicate-modal.html' %}

{# REQUEST ACTIONS #}
<div id='requestActionsDiv'>
  {% if entityRequestActionsArr %}
    <ul class='list-group mt-2'>
      {% for action in entityRequestActionsArr %}
      <li class='list-group-item'>
        <div class='d-flex'>
          <i class='fas fa-person-circle-exclamation color-blue mr-2'></i>
          <div>
            {{- '%s has requested %s for this entity from %s'|trans|format(
              action.requester_fullname,
              action.description,
              action.target_fullname
            ) }} <span title='{{ action.created_at }}' class='relative-moment text-nowrap smallgray ml-2'></span>
              <div class='mt-2'>
            {% if action.target_userid == App.Users.userData.userid %}
                <button type='button' class='btn btn-primary btn-sm mr-2' data-action='do-requestable-action' data-target='{{ action.target }}'>{{ action.action }}</button>
            {% endif %}
            {% if action.requester_userid == App.Users.userData.userid or action.target_userid == App.Users.userData.userid %}
                <button type='button' class='btn btn-sm btn-ghost' data-action='cancel-requestable-action' data-id='{{ action.id }}'>{{ 'Cancel'|trans }}</button>
            {% endif %}
              </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{# Exclusive edit mode notification #}
<div id='exclusiveEditModeInfo'>
  {% if Entity.ExclusiveEditMode.isActive %}
    {% set writeLockNotice = 'You opened this entry in exclusive edit mode at %s.'|trans|format(
        Entity.ExclusiveEditMode.dataArr.locked_at,
      )|msg('warning', false) %}
    {% if Entity.ExclusiveEditMode.dataArr.locked_by != Entity.Users.userid %}
      {% set writeLockNotice = 'This entry is opened by %s in exclusive edit mode since %s. You cannot edit it now. %sRequest exclusive edit mode removal%s'|trans|format(
          Entity.ExclusiveEditMode.dataArr.fullname,
          Entity.ExclusiveEditMode.dataArr.locked_at,
          '<button type="button" class="btn btn-sm btn-secondary ml-2" data-action="request-exclusive-edit-mode-removal" data-target-user="%s">'|format(Entity.ExclusiveEditMode.dataArr.locked_by),
          '</button>'
      )|msg('warning', false) %}
      {% if mode == 'edit' %}
        {# here user can only be (sys)admin of user who locked entry all others are redirected to view mode in controller #}
        {% set writeLockNotice = 'This entry is opened by %s in exclusive edit mode since %s. You cannot edit it now but remove the lock in the toolbar below or %sRequest exclusive edit mode removal%s.'|trans|format(
          Entity.ExclusiveEditMode.dataArr.fullname,
          Entity.ExclusiveEditMode.dataArr.locked_at,
          '<button type="button" class="btn btn-sm btn-secondary ml-2" data-action="request-exclusive-edit-mode-removal" data-target-user="%s">'|format(Entity.ExclusiveEditMode.dataArr.locked_by),
          '</button>'
        )|msg('ko', false) %}
      {% endif %}
    {% endif %}
    {{ writeLockNotice|raw }}
  {% endif %}
</div>

{# TOP TOOLBAR #}
<hr>
<div class='d-flex align-items-center'>
  <a title='{{ 'Back to listing'|trans }}' href='?tab=3' class='btn hl-hover-gray p-2 lh-normal border-0' aria-label='{{ 'Back to listing'|trans }}'>
    <i class='fas fa-arrow-left fa-fw'></i>
  </a>

  <div class='vertical-separator'></div>

  {% set icon, title, otherMode = 'fa-pencil', 'Edit'|trans, 'edit' %}
  {% if mode == 'edit' %}
    {% set icon, title, otherMode = 'fa-eye', 'View mode'|trans, 'view' %}
  {% endif %}
  <a class='btn hl-hover-gray p-2 main-action-button mr-2 lh-normal border-0' title='{{ title }}' href='?tab=3&amp;mode={{ otherMode }}&amp;templateid={{ Entity.id }}'>
    <i class='fas {{ icon }} fa-fw'></i>
  </a>

  {# CREATE EXPERIMENT #}
  <button type='button' title='{{ 'Create experiment from template'|trans }}' aria-label='{{ 'Create experiment from template'|trans }}' data-action='create-entity' data-type='experiments' data-tplid='{{ Entity.id }}' class='btn hl-hover-gray p-2 mr-2 lh-normal border-0'>
    <i class='fas fa-circle-plus fa-fw'></i>
  </button>

  {# DUPLICATE TEMPLATE #}
  <button type='button' title='{{ 'Duplicate'|trans }}' aria-label='{{ 'Duplicate'|trans }}' data-action='toggle-modal' data-target='duplicateModal' class='btn hl-hover-gray p-2 mr-2 lh-normal border-0'>
    <i class='fas fa-copy fa-fw'></i>
  </button>

  {# DOWNLOAD / EXPORT MENU #}
  {% include 'export-menu.html' %}

  {# IMPORT #}
  {% if Entity.entityData.userid != App.Users.userid -%}
    <button type='button' title='{{ 'Import to your profile'|trans }}' aria-label='{{ 'Import to your profile'|trans }}' data-action='import-template' data-id='{{ Entity.id }}' class='btn hl-hover-gray p-2 mr-2 lh-normal border-0'>
      <i class='fas fa-file-import fa-fw'></i>
    </button>
  {% endif %}

  {# RIGHT PART #}
  {# TOGGLE PIN #}
  <button type='button' title='{{ 'Toggle pin (add to create button menu)'|trans }}' aria-label='{{ 'Toggle pin (add to create button menu)'|trans }}' data-action='toggle-pin' data-id='{{ Entity.id }}' class='btn {{ Entity.Pins.isPinned ? 'bgnd-gray' : 'hl-hover-gray' }} p-2 lh-normal border-0 ml-auto mr-2'>
    <i class='fas fa-thumbtack fa-fw {{- not Entity.Pins.isPinned ? ' color-weak' }}'></i>
  </button>

  {# LOCK #}
  {% set lockIcon = 'fa-lock-open' %}
  {% set alt = 'Lock/Unlock item'|trans %}
  {% if Entity.entityData.locked %}
      {% set lockIcon = 'fa-lock' %}
      {% set alt = Entity.entityData.locked_at %}
  {% endif %}
  <button type='button' id='lockTemplateButton' title='{{ alt }}' data-action='toggle-lock' data-id='{{ Entity.id }}' class='btn {{ Entity.entityData.locked ? 'bgnd-gray' : 'hl-hover-gray' }} p-2 lh-normal border-0'>
    <i class='fas {{ lockIcon }} fa-fw'></i>
  </button>

  {# EXCLUSIVE EDIT MODE #}
  {% if mode == 'edit' %}
    {% set lockIcon = 'fa-lock-open' %}
    {% set alt = 'Enable/Disable exclusive edit mode'|trans %}
    {% if Entity.ExclusiveEditMode.isActive %}
        {% set lockIcon = 'fa-lock' %}
    {% endif %}
    <button
      aria-label='{{ alt }}'
      class='btn {{ Entity.ExclusiveEditMode.isActive ? 'bgnd-gray' : 'hl-hover-gray' }} p-2 mr-2 lh-normal border-0'
      data-action='toggle-exclusive-edit-mode'
      id='exclusiveEditModeBtn'
      title='{{ alt }}'
      type='button'
    >
      <span class='fa-stack'>
        <i class='fas {{ lockIcon }} fa-stack-1x fa-fw'></i>
        <i class='fas fa-pen-nib fa-stack-1x fa-fw fa-rotate-by'></i>
      </span>
    </button>
  {% endif %}

  <div class='vertical-separator'></div>
  {# MORE OPTIONS #}
  <div class='dropdown'>
    <button data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' type='button' title='{{ 'Toggle pin'|trans }}' class='btn hl-hover-gray p-2 lh-normal border-0'>
      <i class='fas fa-ellipsis-v fa-fw'></i>
    </button>

    <div class='dropdown-menu dropdown-menu-right'>
      {# REVISIONS #}
      <a class='dropdown-item' href='revisions.php?type={{ Entity.entityType.value }}&amp;item_id={{ Entity.id }}'><i class='fas fa-history fa-fw'></i> {{ 'See revisions'|trans }}</a>
      {# CHANGELOG #}
      <a class='dropdown-item' href='?templateid={{ Entity.id }}&amp;mode=changelog&amp;tab=3'><i class='fas fa-list fa-fw'></i> {{ 'See changelog'|trans }}</a>
      {# TRANSFER OWNERSHIP #}
      {% if Entity.entityData.userid == App.Users.userData.userid or App.Users.isAdmin %}
        <button type='button' class='dropdown-item' data-action='toggle-modal' data-target='ownerModal'><i class='fas fa-people-arrows fa-fw' title='{{ 'Manage Permissions'|trans }}'></i> {{ 'Transfer ownership'|trans }}</button>
      {% endif %}

      {# DELETE #}
      {% if not Entity.entityData.locked %}
        {# DESTROY #}
        <div class='dropdown-divider'></div>
        <button type='button' data-action='destroy-template' class='dropdown-item hover-danger' data-id='{{ Entity.id }}'>
          <i class='fas fa-trash-alt fa-fw'></i> {{ 'Destroy template'|trans }}
        </button>
      {% endif %}
    </div>
  </div>
</div>
<hr>

<div id='templatesDiv'>
  {% if mode == 'view' %}
    {# VIEW MODE #}
    {% include 'templates-view.html' %}
  {% elseif mode == 'changelog' %}
    {% include 'changelog-block.html' %}
  {% else %}
    {# EDIT MODE #}
    {# TITLE #}
    <div class='d-flex mb-2 justify-content-between align-items-center'>
      <label for='title_input' maxlength='255' class='col-form-label mr-3 edit-mode-label'>{{ 'Title'|trans }}</label>
      <input id='title_input' data-trigger='blur' data-model='{{ Entity.entityType.value }}/{{ Entity.id }}' data-target='title' class='form-control' type='text' value='{{ Entity.entityData.title|e('html_attr') }}' required />
    </div>
    {# CATEGORY / STATUS #}
    {% include('catstat-edit.html') %}
    {# TAGS #}
    {% include('edit-tags.html') %}
    {# PERMISSIONS #}
    <hr>
    <h5>{{ 'Permissions for the template'|trans }}</h5>
    {% include('edit-permissions.html') %}
    {# TARGET PERMISSIONS #}
    <h5>{{ 'Permissions for the derived experiment'|trans }}</h5>
    <div class='d-flex mb-2 align-items-center'>
      {# CANREAD #}
      {% set rw = 'canread_target' %}
      {% set can = Entity.entityData.canread_target|canToHuman %}
      {% include('view-permissions.html') %}
    </div>
    <div class='d-flex mb-2 align-items-center'>
      {# CANWRITE #}
      {% set rw = 'canwrite_target' %}
      {% set can = Entity.entityData.canwrite_target|canToHuman %}
      {% include('view-permissions.html') %}
    </div>
    <hr>

    {# MAIN CONTENT #}
    <div class='mt-4' id='entityBodyEditorDiv' data-content-type='{{ Entity.entityData.content_type }}'>
      {% if Entity.entityData.content_type == '2' %}
        <textarea aria-label='{{ 'Main content'|trans }}' id='body_area' class='markdown-textarea' style='height:500px;' data-language='{{ App.getJsLang }}' name='body'>{{ Entity.entityData.body }}</textarea>
      {% else %}
        <div>{# << this div is added around the textarea to fix an issue on mobile editor. See #3107 #}
          {# the id begins with an 'e' because of this https://github.com/tinymce/tinymce/issues/3011#issuecomment-227993762 #}
          <textarea id='e{{ Entity.entityData.id }}' class='mceditable'>{{ Entity.entityData.body }}</textarea>
        </div>
      {% endif %}
      {# SWITCH EDITOR #}
      <div class='float-right'>
        <button type='button' class='btn btn-sm hl-hover-gray p-1 mt-1 rounded' data-action='switch-editor'><i class='fas fa-pencil-alt fa-fw'></i> {{ 'Switch editor'|trans }}</button>
      </div>
      <div class='text-center mt-4'>
        <button type='button' data-action='update-template' class='btn btn-primary'>{{ 'Save'|trans }}</button>
      </div>
    </div>

    {# EXTRA FIELDS #}
    <h3 data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Extra fields'|trans }}</h3>
    <div data-save-hidden='metadataDiv' class='col-md-6 mt-4'>
      {# this div is filled in JS by Metadata.class.ts edit() #}
      <div id='metadataDiv'></div>
      <div class='mt-3'>
        <button type='button' data-action='toggle-modal' data-target='fieldBuilderModal' class='btn btn-secondary'>{{ 'Add field'|trans }}</button>
        <button type='button' data-action='toggle-modal' data-target='fieldLoaderModal' class='ml-3 btn hl-hover-gray'>{{ 'Load fields'|trans }}</button>
      </div>
    </div>
    <hr>
    {% set mode = 'edit-template' %}
    {% include 'uploads.html' with {'mode': 'edit'} %}
    {% include 'steps-links-edit.html' %}
    {% include 'json-editor.html' %}
  {% endif %}

</div>
{# in view mode templates-view.html gets included which has its own <div id='info'> #}
{% if mode != 'view' %}
  <div id='info' data-page='template-edit' data-type='experiments_templates' data-id='{{ Entity.id }}'></div>
{% endif %}
