{% extends 'base.html' %}

{% block body %}

{% embed 'view-edit.html' %}
  {% block createnew %}
    <div class='d-flex'>
      <!-- TODO replace 'entry' with experiment|item -->
      <div class='align-self-center'><h3>{{ Entity.page|capitalize }} > {{ 'Viewing an entry'|trans }}</h3></div>
      <div class='ml-auto'>
        {% include 'create-new.html' %}
      </div>
    </div>
  {% endblock %}
  {% block createmodal %}
    {% include 'show-view-edit.html' %}
  {% endblock %}
{% endembed %}

{% include('view-edit-toolbar.html') %}

{% if Entity.entityData.timestamped %}
<div class='alert alert-success'><i class='fas fa-info-circle'></i>
  {{ 'Experiment was timestamped by %s on %s at %s'|trans|format(timestamperFullname, Entity.entityData.timestamped_at|date('Y-m-d'), Entity.entityData.timestamped_at|date('H:i:s'))|raw }}
</div>
{% endif %}

{% if Entity.entityData.locked %}
<div class='alert alert-success'><i class='fas fa-info-circle'></i>
  {{ 'Locked by %s on %s at %s'|trans|format(lockerFullname, Entity.entityData.locked_at|date('Y-m-d'), Entity.entityData.locked_at|date('H:i:s'))|raw }}
</div>
{% endif %}

<section id='main_section'>

  {# DATE and RATING #}
  <div class='d-flex'>
    {# DATE #}
    <div class='color-medium'>
      {{ 'Started on'|trans }} {{ Entity.entityData.date|date('Y-m-d') }}
    </div>
    {# RATING #}
    <div class='ml-auto'>
      {% if Entity.entityData.rating > 0 %}
        <span class='rating-show rounded p-1'><i class='fas fa-star' title='☻'></i>{{ Entity.entityData.rating }}</span>
      {% endif %}
    </div>
  </div>

  {# TITLE #}
  <h1 id='documentTitle' class='mb-4 title text-dark'>
    {% if Entity.type == 'items' %}
      <span style='color:#{{ Entity.entityData.color }}'>{{ Entity.entityData.category }}</span>
    {% endif %}
    {{ Entity.entityData.title|raw }}
  </h1>

  {# CATEGORY #}
  <div class='d-flex mb-2 align-items-center'>
    <div class='edit-mode-label'>
      <i aria-hidden='true' class='fas fa-folder mr-1'></i>{{ Entity.type == 'experiments' ? 'Status'|trans : 'Category'|trans }}
    </div>
    <span id='categoryView' style='--bg: #{{ Entity.entityData.color }}' class='category-button malleableCategory hl-hover-gray rounded p-1'>{{ Entity.entityData.category | raw}}</span>
  </div>

  {# TAGS #}
  <div class='d-flex mb-2 align-items-center'>
    {% if Entity.entityData.tags|length > 0 %}
      <div class='edit-mode-label'>
        <i class='fas fa-tags mr-1'></i>{{ 'Tags'|trans }}
      </div>
      <span class='tags mathjax-ignore d-flex-inline flex-wrap'>
        {% set tagsIdArr = Entity.entityData.tags_id|split(',') %}
        {% set tagsValueArr = Entity.entityData.tags|split('|') %}
        {% for key, tag in tagsValueArr %}
          {# the key allows to get the id stored in tagsIdArr #}
          <a class='tag' href='?mode=show&tags%5B%5D={{ tag|url_encode }}'>{{ tag|raw }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>

  {% include('edit-permissions.html') %}

  <!-- SHOW EVENTS -->
  {% if Entity.entityData.is_bound %}<i class='far fa-calendar-alt'></i>
    <a href='#' data-action='see-events'>{{ 'See bookings'|trans }}</a>
  {% endif %}
  <div id='boundBookings'></div>

  <!-- SHOW NEXT STEP -->
  {% set next_step = Entity.entityData.next_step %}
  {% if next_step|length > 0 %}
      {% set nextStepsArr = next_step|split('|') %}
      {% set next = nextStepsArr|first %}
      <p>
      <span class='next-step-text'>{{ 'Next step'|trans }}:</span> <span class='text-dark'>{{ next|raw }}</span>
      </p>
  {% endif %}

  <!--  BODY (show only if not empty) -->
  {% set body = Entity.entityData.body %}
  {% if body != '' %}
    {% if Entity.entityData.content_type == constant('Elabftw\\Models\\AbstractEntity::CONTENT_MD') %}
      {% set body = Entity.entityData.body|md2html %}
    {% endif %}
    {# Workaround for bug #532; long tables result in empty body returned from md2html:
    If body is empty, reload and don't parse as markdown
    2022-06-07 note: could probably be removed now that we have content_type #}
      {% if body|trim == '' %}
          {% set body = Entity.entityData.body %}
      {% endif %}
      {# do not display body if set in metadata, done via css to avoid delayed disappearance after JS is executed #}
      {# body in view mode is text-dark for more lisibility see github issue #52 #}
      <div id='body_view' class='pt-2 text-dark' {{ not displayMainText ? 'hidden' }}>{{ body|raw }}</div>
  {% endif %}

</section>
<div class='d-flex flex-column align-items-end'>
  {# SHOW LAST MOD #}
  <div>{{ 'Last modified on %s'|trans|format(Entity.entityData.modified_at) }}</div>
  {# eLabID #}
  <div class='elabid'>{{ 'Unique eLabID:'|trans }} {{ Entity.entityData.elabid }}</div>
</div>

<hr>

<!-- METADATA view -->
{% if Entity.entityData.metadata %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Extra fields'|trans }}</h3>
  <div class='mt-2' id='extraFieldsDiv' data-save-hidden='extraFieldsDiv'>
    {{ Entity.entityData.metadata|formatMetadata }}
  </div>
  <hr>
{% endif %}

{% include 'uploads.html' %}

{% include 'steps-links-view.html' %}

<div id='commentsDiv'>
  {% if App.Session.get('is_auth') and not App.Session.has('is_anon') %}
    <div id='comment'>
    <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Comments'|trans }}</h3>
    <div class='mt-2' id='commentsInnerDiv' data-save-hidden='commentsInnerDiv'>
        {% for comment in Entity.entityData.comments %}
          <div class='box'>
            <div class='comment-header text-muted p-2'>
              {{ comment.fullname|raw }} {{ 'commented'|trans }}
              <span title='{{ comment.created_at }}' class='relative-moment'></span>
              {% if comment.created_at != comment.modified_at %}
                ({{ 'edited'|trans }} <span title='{{ comment.modified_at }}' class='relative-moment'></span>)
              {% endif %}
              {% if comment.userid == Entity.Users.userData.userid %}
                <a class='float-right' data-action='destroy-comment' data-id='{{ comment.id }}' title='{{ 'Delete'|trans }}'>
                    <i class='fas fa-trash-alt fa-lg'></i>
                </a>
              {% endif %}
            </div>
            <!-- the comment itself is only editable by the owner -->
            <p class='comment m-2 p-2 {{ comment.userid == Entity.Users.userData.userid ? "editable hl-hover" }}' data-id='{{ comment.id }}'>{{ comment.comment|raw }}</p>
          </div>
        {% endfor %}

        <!-- CREATE COMMENT INPUT -->
        <div class='input-group my-1 rounded'>
          <textarea id='commentsCreateArea' class='form-control p-2 brr-none' autocomplete='off' placeholder='{{ 'Add a comment'|trans }}' aria-label='Comment area'></textarea>
          <div class='input-group-append'>
            <button class='btn btn-primary' type='button' data-action='create-comment'><i class='fas fa-paper-plane text-white'></i></button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>



<div id='info'
    data-page='view'
    data-type='{{ Entity.type }}'
    data-id='{{ Entity.id }}'
    data-team='{{ App.Users.userData.team }}'
    data-isanon='{{ App.Session.get('is_anon') }}'
    data-scedit='{{ Entity.Users.userData.sc_edit }}'>
</div>
<div id='shortcuts'
    data-create='{{ Entity.Users.userData.sc_create }}'>
</div>

{% endblock body %}
