{% extends 'base.html' %}

{% block body %}

{% embed 'view-edit.html' %}
  {% block createnew %}
    <div class='d-flex'>
      {# TODO replace 'entry' with experiment|item #}
      <div class='align-self-center'><h3>{{ Entity.page|capitalize }} > {{ 'Viewing an entry'|trans }}</h3></div>
      <div class='ml-auto'>
        {% include 'create-new.html' %}
      </div>
    </div>
  {% endblock %}
  {% block createmodal %}
    {% include 'show-view-edit.html' %}
  {% endblock %}
{% endembed %}

{% include('view-edit-toolbar.html') %}

<div id='isTimestampedByInfoDiv'>
{% if Entity.entityData.timestamped %}
  {{ 'Entry was timestamped by %s on %s at %s'|trans|format(timestamperFullname, Entity.entityData.timestamped_at|date('Y-m-d'), Entity.entityData.timestamped_at|date('H:i:s'))|msg('ok', false) }}
{% endif %}
</div>

{% if Entity.entityData.locked %}
  {{ 'Locked by %s on %s at %s'|trans|format(lockerFullname, Entity.entityData.locked_at|date('Y-m-d'), Entity.entityData.locked_at|date('H:i:s'))|msg('ok', false) }}
{% endif %}

<section>

  {# DATE and RATING #}
  <div class='d-flex mb-1'>
    {# DATE #}
    <div class='color-medium'>
      {{ 'Started on'|trans }} {{ Entity.entityData.date|date('Y-m-d') }}
    </div>
    {# RATING #}
    <div class='ml-auto'>
      {% if Entity.entityData.rating > 0 %}
        <span class='rating-show rounded p-1'><i class='fas fa-star' title='☻'></i>{{ Entity.entityData.rating }}</span>
      {% endif %}
    </div>
  </div>

  {# CUSTOM ID #}
  {# TITLE #}
  <h1 class='mb-4 text-dark' >
  {% if Entity.entityData.custom_id %}
    <span title='{{ 'Custom ID'|trans }}' class='custom-id-badge'>{{ Entity.entityData.custom_id }}</span>
  {% endif %}
  <span id='documentTitle' class='breakable malleableColumn hl-hover-gray rounded py-1' data-target='title' data-endpoint='{{ Entity.type }}' data-id='{{ Entity.id }}'>{{ Entity.entityData.title }}</span>
  </h1>

  {% include('catstat-view.html') %}

  {# TAGS #}
  <div class='d-flex mb-2 align-items-center'>
    {% if Entity.entityData.tags|length > 0 %}
      <div class='edit-mode-label'>
        <i class='fas fa-tags mr-1'></i>{{ 'Tags'|trans }}
      </div>
      <span class='tags mathjax-ignore d-flex-inline flex-wrap'>
        {% for tag in Entity.Tags.readAll() %}
        <a class='tag btn {{- tag.is_favorite ? ' favorite' }}' href='?mode=show&amp;tags%5B%5D={{ tag.tag|url_encode }}'>{{ tag.tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>

  <hr>
  {% include('edit-permissions.html') %}

  {# SHOW EVENTS #}
  {% if Entity.entityData.events_start %}
    <div class='mb-2'>
      <i class='far fa-fw fa-calendar-alt'></i>
      {% for event in Entity.entityData.events_start|split('|') %}
        <a href='team.php?item={{ Entity.id }}&amp;start={{ event|url_encode }}' class='mx-1 btn btn-neutral relative-moment'  title='{{ event|date('Y-m-d H:i:s') }}' aria-label='{{ event|date('Y-m-d H:i:s') }}'></a>
      {% endfor %}
    </div>
    <hr>
  {% endif %}


  {# SHOW NEXT STEP #}
  {% set next_step = Entity.entityData.next_step %}
  {% if next_step|length > 0 %}
      {% set nextStepsArr = next_step|split('|') %}
      {% set next = nextStepsArr|first %}
      <p>
      <span class='next-step-text'>{{ 'Next step'|trans }}:</span> <span class='text-dark'>{{ next }}</span>
      </p>
  {% endif %}

  {# BODY (show only if not empty) #}
  {% set body = Entity.entityData.body %}
  {% if body != '' %}
    {% if Entity.entityData.content_type == constant('Elabftw\\Models\\AbstractEntity::CONTENT_MD') %}
      {% set body = Entity.entityData.body|md2html %}
    {% endif %}
    {# Workaround for bug #532; long tables result in empty body returned from md2html:
    If body is empty, reload and don't parse as markdown
    2022-06-07 note: could probably be removed now that we have content_type #}
      {% if body|trim == '' %}
          {% set body = Entity.entityData.body %}
      {% endif %}
      {# do not display body if set in metadata, done via css to avoid delayed disappearance after JS is executed #}
      {# body in view mode is text-dark for more lisibility see github issue #52 #}
      <div {{ not displayMainText ? 'hidden' }}>
        <h3 data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='body_view'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Main text'|trans }}</h3>
        <div id='body_view' class='pt-2 text-dark'>{{ body|raw }}</div>
        <hr>
      </div>
  {% endif %}

</section>
<div class='d-flex flex-column align-items-end'>
  {# SHOW LAST MOD #}
  <div>{{ 'Last modified on %s'|trans|format(Entity.entityData.modified_at) }}</div>
  {# eLabID #}
  <div class='elabid'>{{ 'Unique eLabID:'|trans }} {{ Entity.entityData.elabid }}</div>
</div>

<hr>

{# METADATA view #}
{% if Entity.entityData.metadata %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='extraFieldsDiv'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Extra fields'|trans }}</h3>
  <div class='mt-2 col-md-6' id='extraFieldsDiv' data-save-hidden='extraFieldsDiv'>
    <ul class='list-group'>
      {{ Entity.entityData.metadata|formatMetadata }}
    </ul>
  </div>
  <hr>
{% endif %}

{% include 'steps-links-view.html' %}

{% include 'uploads.html' %}

{% if App.Session.get('is_auth') and not App.Session.has('is_anon') %}
  <h3 title='{{ 'Toggle visibility'|trans }}' data-action='toggle-next' class='d-inline togglable-section-title' tabindex='0' role='button' aria-expanded='true' aria-controls='commentsDiv'><i class='fas fa-caret-down fa-fw mr-2'></i>{{ 'Comments'|trans }} (<span id='commentsCount'>{{ Entity.entityData.comments|length }}</span>)</h3>
  <div class='mt-2' id='commentsDiv' data-count-for='commentsCount' data-save-hidden='commentsDiv'>
      {% for comment in Entity.entityData.comments %}
        <div class='box countable'>
          <div class='comment-header text-muted p-2'>
            {{ comment.fullname }} {{ 'commented'|trans }}
            <span title='{{ comment.created_at }}' class='relative-moment'></span>
            {% if comment.created_at != comment.modified_at %}
              ({{ 'edited'|trans }} <span title='{{ comment.modified_at }}' class='relative-moment'></span>)
            {% endif %}
            {% if comment.userid == Entity.Users.userData.userid and comment.immutable == 0 %}
              <button type='button' class='btn float-right lh-normal border-0 m-0 p-2 my-n2 hl-hover-gray' data-action='destroy-comment' data-id='{{ comment.id }}' title='{{ 'Delete'|trans }}' aria-label='{{ 'Delete'|trans }}'>
                <i class='fas fa-fw fa-trash-alt fa-lg'></i>
              </button>
            {% endif %}
          </div>
          {# the comment itself is only editable by the owner #}
          <p class='comment m-2 p-2 {{ comment.userid == Entity.Users.userData.userid and comment.immutable == 0 ? "editable hl-hover" }}' data-id='{{ comment.id }}'>{{ comment.comment|nl2br }}</p>
        </div>
      {% endfor %}

      {# CREATE COMMENT INPUT #}
      <div class='input-group my-1 rounded'>
        <textarea id='commentsCreateArea' class='form-control p-2 brr-none' autocomplete='off' placeholder='{{ 'Add a comment'|trans }}' aria-label='Comment area'></textarea>
        <div class='input-group-append'>
          <button class='btn btn-primary' aria-label='{{ 'Add a comment'|trans }}' type='button' data-action='create-comment'><i class='fas fa-paper-plane text-white'></i></button>
        </div>
      </div>
    </div>
{% endif %}

<div id='info'
    data-page='view'
    data-type='{{ Entity.type }}'
    data-id='{{ Entity.id }}'
    data-team='{{ App.Users.userData.team }}'
    data-isanon='{{ App.Session.get('is_anon') }}'
>
</div>

{% endblock body %}
