{# Modal for timestamping #}
<div class='modal fade' id='timestampModal' tabindex='-1' role='dialog' aria-labelledby='timestampModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='timestampModalLabel'>{{ 'Timestamp Experiment'|trans }}</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body' data-wait='{{ 'Please wait…' }}'>
        <p>{{ 'Timestamping your experiment is like taking a snapshot of your experiment at this instant, and storing it on the side, in an immutable archive. This snapshot is validated (timestamped) by a trusted third party.'|trans }}</p>
        {% if App.Config.configArr.ts_authority == 'universign' or App.Config.configArr.ts_authority == 'custom' %}
          <p><i class='fas fa-exclamation-triangle'></i>
            {{ 'Depending on your configuration, timestamping can incur costs. Are you sure you want to do this?'|trans }}
          </p>
        {% endif %}
      </div>
      <div class='timestamp-error'></div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ 'Cancel'|trans }}</button>
        <button type='button' data-action='timestamp' class='btn btn-primary'>{{ 'Timestamp'|trans }}</button>
      </div>
    </div>
  </div>
</div>

<hr>

{# TOP TOOLBAR #}
<div class='d-flex align-items-center'>
  {# BACK TO LINK #}
  {% if App.Session.has('lastquery') %}
    {% set lastquery = App.Session.get('lastquery') %}
  {% else %}
    {% set lastquery = 'mode=show' %}
  {% endif %}

  <a title='{{ 'Back to listing'|trans }}' href='?{{ lastquery }}'>
    <div class='hl-hover-gray p-2 rounded'>
      <i class='fas fa-arrow-left fa-fw'></i>
    </div>
  </a>

  <div class='vertical-separator mx-3'></div>

  {% if mode == 'edit' %}
    {# VIEW #}
    <a class='mr-2' title='{{ 'View mode'|trans }}' href='?mode=view&id={{ Entity.id }}'>
      <div class='hl-hover-gray p-2 rounded main-action-button'>
        <i class='fas fa-eye fa-fw'></i>
      </div>
    </a>
  {% else %}
    {# EDIT #}
    {% if not (Entity.entityData.locked or Entity.isReadOnly) %}
      <a class='mr-2' title='{{ 'Edit'|trans }}' href='?mode=edit&id={{ Entity.id }}'>
        <div class='hl-hover-gray p-2 rounded main-action-button'>
          <i class='fas fa-pencil fa-fw'></i>
        </div>
      </a>
    {% endif %}
  {% endif %}

  {% if not App.Session.has('is_anon') %}

    {# DUPLICATE #}
    <div class='mr-2'>
      <div title='{{ 'Duplicate'|trans }}' data-action='duplicate-entity' class='hl-hover-gray p-2 rounded'>
        <i class='fas fa-copy fa-fw'></i>
      </div>
    </div>

    {% if Entity.type == 'items' and Entity.canBook and Entity.entityData.is_bookable %}
      <a class='mr-2' title='{{ 'Book item'|trans }}' href='team.php?tab=1&item={{ Entity.id }}'>
        <div class='hl-hover-gray p-2 rounded'>
          <i class='fas fa-calendar-plus fa-fw'></i>
        </div>
      </a>
    {% endif %}

  {% endif %}

  {% if not App.Session.has('is_anon') and App.Config.configArr.anon_users and Entity.entityData.access_key %}
    {# SHARE #}
    <div>
      <div title='{{ 'Share'|trans }}' data-action='share' class='hl-hover-gray p-2 rounded'>
        <i class='fas fa-share-alt fa-fw'></i>
      </div>
    </div>
    <input type='text' class='form-control' aria-label='{{ 'Share'|trans }}' id='shareLinkInput' value='' hidden />
    <div class='vertical-separator mx-2'></div>
  {% endif %}


  {# TIMESTAMP EXPERIMENT #}
  {% if Entity.type == 'experiments' and not App.Session.has('is_anon') and not Entity.isReadOnly %}
    <div class='mr-2'>
      <div title='{{ 'Timestamp Experiment'|trans }}' data-action='toggle-modal' data-target='timestampModal' class='hl-hover-gray p-2 rounded'>
        <i class='fas fa-calendar-check fa-fw'></i>
      </div>
    </div>
  {% endif %}

  {# BLOXBERG TIMESTAMP #}
  {% if not Entity.isReadOnly and App.Config.configArr.blox_enabled %}
    <div class='mr-2'>
      <div title='{{ 'Add to blockchain'|trans }}' data-action='bloxberg' class='hl-hover-gray p-2 rounded'>
        <i class='fas fa-cubes fa-fw'></i>
      </div>
    </div>
  {% endif %}

  {% if not App.Session.has('is_anon') %}
    <div class='vertical-separator mx-2'></div>
  {% endif %}

  {# DOWNLOAD / EXPORT MENU #}
  <div class='dropdown'>
    <div class='hl-hover-gray d-inline p-2 rounded mr-2' title='{{ 'Export'|trans }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' aria-label='{{ 'Export'|trans }}' role='button'>
      <i class='fas fa-download fa-fw'></i>
    </div>
    <div class='dropdown-menu' aria-label='{{ 'Export'|trans }}'>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=pdf'><i class='fas fa-file-pdf fa-fw'></i> {{ 'PDF File'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=pdfa'><i class='fas fa-file-pdf fa-fw'></i> {{ 'Long term storage PDF'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=zip'><i class='fas fa-file-archive fa-fw'></i> {{ 'ZIP Archive'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=zipa'><i class='fas fa-file-archive fa-fw'></i> {{ 'Long term storage ZIP'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=eln'><i class='fas fa-box-archive fa-fw'></i> {{ 'ELN Archive'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=csv'><i class='fas fa-file-csv fa-fw'></i> {{ 'CSV File'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}?format=qrpng'><i class='fas fa-qrcode fa-fw'></i> {{ 'QR Code'|trans }}</a>
      <a class='dropdown-item' href='api/v2/{{ Entity.type }}/{{ Entity.id }}'><i class='fas fa-code fa-fw'></i> JSON</a>
    </div>
  </div>

  <div class='ml-auto d-flex align-items-center'>
    {% if not App.Session.has('is_anon') %}

      {# TOGGLE PIN #}
      <div class='mr-2'>
        <div title='{{ 'Toggle pin'|trans }}' data-action='toggle-pin' class='{{ Entity.Pins.isPinned ? 'bgnd-gray' : 'hl-hover-gray' }} p-2 rounded'>
          <i class='fas fa-thumbtack {{ not Entity.Pins.isPinned ? 'color-weak' }} fa-fw'></i>
        </div>
      </div>

      {# LOCK #}
      {% set lockIcon = 'fa-lock-open' %}
      {% set alt = 'Lock/Unlock item'|trans %}
      {% if Entity.entityData.locked %}
          {% set lockIcon = 'fa-lock' %}
          {% set alt = Entity.entityData.locked_at %}
      {% endif %}
      <div title='{{ alt }}' data-action='lock-entity' class='{{ Entity.entityData.locked ? 'bgnd-gray' : 'hl-hover-gray' }} p-2 mr-2 rounded'>
        <i class='fas {{ lockIcon }} fa-fw'></i>
      </div>
    {% endif %}

    <div class='vertical-separator mx-3'></div>
    {# MORE OPTIONS #}
    <div class='dropdown'>
      <div data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title='{{ 'More options'|trans }}' aria-label='{{ 'More options'|trans }}' role='button' title='{{ 'Toggle pin'|trans }}' class='hl-hover-gray p-2 px-3 rounded'>
        <i class='fas fa-ellipsis-v'></i>
      </div>

      <div class='dropdown-menu dropdown-menu-right' aria-label='{{ 'More options'|trans }}'>
        {# BOOKING PARAMS #}
        {% if Entity.type == 'items' %}
          <a class='dropdown-item' data-action='toggle-modal' data-target='bookingParamsModal'><i class='fas fa-calendar-plus fa-fw' title='{{ 'Modify booking parameters'|trans }}'></i> {{ 'Modify booking parameters'|trans }}</a>
        {% endif %}
        {# TRANSFER OWNERSHIP #}
        {% if Entity.type == 'items' and (Entity.entityData.userid == App.Users.userData.userid or App.Users.isAdmin) %}
          <a class='dropdown-item' data-action='toggle-modal' data-target='ownerModal'><i class='fas fa-people-arrows fa-fw' title='{{ 'Manage Permissions'|trans }}'></i> {{ 'Transfer ownership'|trans }}</a>
        {% endif %}
        {% if mode == 'edit' %}
          {# SWITCH EDITOR the data-editor is here to indicate which is the current editor #}
          <a class='dropdown-item' id='iHazEditor' data-action='switch-editor' data-editor='{{ editor }}' href='#'><i class='fas fa-pencil-alt fa-fw'></i> {{ 'Switch editor'|trans }}</a>
        {% endif %}
        {# REVISIONS #}
        <a class='dropdown-item' href='revisions.php?type={{ Entity.type }}&item_id={{ Entity.id }}'><i class='fas fa-history fa-fw'></i> {{ 'See revisions'|trans }}</a>
        {# CHANGELOG #}
        <a class='dropdown-item' href='?id={{ Entity.id }}&mode=changelog'><i class='fas fa-list fa-fw'></i> {{ 'See changelog'|trans }}</a>

        {% if not App.Session.has('is_anon') %}
          <a class='dropdown-item hover-warning' data-action='archive-entity'>
            <i class='fas fa-fw fa-box-archive fa-fw mr-1' title='{{ 'Archive/Unarchive'|trans }}'></i>{{ 'Archive/Unarchive'|trans }}
          </a>
        {% endif %}
        {% if App.Config.configArr.deletable_xp == '1' %}
          <div class='dropdown-divider'></div>
          {# DELETE #}
          <a class='dropdown-item hover-danger {{ Entity.entityData.timestamped or (not deletableXp and (Entity.type == 'experiments')) ? 'disabled' }}' href='#' data-action='destroy'><i class='fas fa-trash-alt fa-fw' title='{{ 'Delete'|trans }}'></i> {{ 'Delete'|trans }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<hr>

{# show message if we are not owner #}
{% if Entity.entityData.userid != Entity.Users.userData.userid %}
  {{ 'Owned by %s'|trans|format(Entity.entityData.fullname)|msg('ok', false) }}
{% endif %}
