footer {
    border-top: solid 1px $bordersgray;
    font-size: 11px;
    margin: 60px 0 5px 0;
    padding: 10px 0 0 0;

    a {
        color: $maingray;
        font-size: 11px;
        &:hover {
            color: $elabblue;
        }
    }

    .footer-left {
        text-transform: uppercase;
        text-align: left;
        float: left;
        a {
            border-right: 1px #ccc solid;
            padding: 0 5px;
        }
    }

    .footer-right {
        text-align: right;
        float: right;
        margin: 0 0 20px 0;
    }

}
