.navbar {
    background-color: $darkgray;
    padding: 0 5%;
    border-radius: 0;
    border: 0;
    margin-bottom: 10px;
}

.navbar-brand {
    padding: 5px 5px 5px 0;
}

.nav-link {
    font-size: 90%;
    text-transform: uppercase;
    color: #888;
    text-decoration: none;

    /* fix navbar height getting smaller on profile/ucp/admin/… pages */
    min-height: 43px;

    /* we want the border bottom to be same width as the text */
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 15px;
    margin-right: 15px;

    /* blue on hover */
    &:hover, svg:hover {
        color: $elabblue !important;
        transition-duration: 500ms;
    }

    /* selected nav entry */
    &.active {
        border-bottom: 6px $elabblue solid;
    }
}

/* search bar in head.php ; nav */
#big_search input {
    background: #555 url(images/search.png) no-repeat scroll right 10px center;
    border: none;
    border-radius: 20px;
    margin-right: 0 !important;
    height: 2em;
    color: white;
}
