/* CSS Document */
/********************************************************************************
*                                                                               *
*   Copyright 2012 Nicolas CARPi (nicolas.carpi@gmail.com)                      *
*   http://www.elabftw.net/                                                     *
*                                                                               *
********************************************************************************/

/********************************************************************************
*  This file is part of eLabFTW.                                                *
*                                                                               *
*    eLabFTW is free software: you can redistribute it and/or modify            *
*    it under the terms of the GNU Affero General Public License as             *
*    published by the Free Software Foundation, either version 3 of             *
*    the License, or (at your option) any later version.                        *
*                                                                               *
*    eLabFTW is distributed in the hope that it will be useful,                 *
*    but WITHOUT ANY WARRANTY; without even the implied                         *
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR                    *
*    PURPOSE.  See the GNU Affero General Public License for more details.      *
*                                                                               *
*    You should have received a copy of the GNU Affero General Public           *
*    License along with eLabFTW.  If not, see <http://www.gnu.org/licenses/>.   *
*                                                                               *
********************************************************************************/
body {
    background-image:url(img/metal.jpg);
}

#container {
    background: #fff;
    font:16px Verdana, Arial, Helvetica, sans-serif;
}

/* LINKS */
a {
    color: #606264;
    text-decoration:none;
}
a:hover {
    color:#29AEB9;
    text-decoration:none;
}

ul, li {
    list-style-type:none;
}
/* MAIN MENU */

nav a {
    border:1px solid white;
    border-radius:5px;
    color:#606264;
}
nav a:hover {
    border:1px solid black;
    border-radius:5px;
    color:#29AEB9;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
}
#logmenu p{
    color: #AAA;
}
#logmenu p a{
    color: black;
}
#logmenu p a:hover {
    color: #29AEB9;
}
#submenu a {
    border:1px solid white;
    border-radius:5px;
    color:blue;
    padding:7px;
}
#submenu a:hover {
    border:1px solid black;
    border-radius:5px;
    color: #29AEB9;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
}

.sortresults p{
    color:#AAA;
}
.sortresults span{
    color:#AAA;
}
.submitbutton{
    background-color:green;
    color:white;
}
.editable:hover {
    background-color: #CCC;
}


/* ITEMS */
.sub_item {
    border: 2px solid #AAA;
}

.simple_border {
    border:2px solid #AAA;
}
.title {
    background-color:white;
    border:1px solid #AAA;
    color:black;
}
.tags {
    background-color:white;
    border:1px solid #AAA;
    color:black;
}
.tag a:hover {
    color:red;
}
.tags_compact {
    background-color:white;
    border:1px solid #AAA;
    color:black;
}
#tagdiv{
    background-color:white;
    border:3px solid #CCC;
}

.smallgray{
    color:gray;
}
/* TEMPLATES */
.templates {
    border:1px solid black;
}

.txt {
    background-color:white;
    border:1px solid #CCC;
    color:black;
}

.running_compact, .success_compact, .redo_compact, .fail_compact {
    background-color:#EEE;
    box-shadow: 2px 2px 2px 2px #CCC; 
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
}
.running_compact {
    border:1px dotted blue;
}
.success_compact {
    border:1px solid green;
}
.redo_compact{
    border:1px solid grey;
}
.fail_compact{
    border:1px solid red;
}

.running {
    border:2px dotted blue;
}
.success {
    border:2px solid green;
}
.redo {
    border:2px solid gray;
}
.fail {
    border:2px solid red;
}
/* FILES */
.filesdiv {
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px 2px #CCC; 
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
}
.file_item{
    border:1px solid #CCC;
}

.filesize{
    color:grey;
}

.innerdiv{
    border: 2px solid blue;
}

/* FOOTER */
footer {
    border-top:solid 2px #CCC;
}
footer p{
    color: #AAA;
}
footer p a{
    color: black;
}
footer p a:hover {
    color: #29AEB9;
}
