/* CSS Document */
/********************************************************************************
*                                                                               *
*   Copyright 2012 Nicolas CARPi (nicolas.carpi@gmail.com)                      *
*   http://www.elabftw.net/                                                     *
*                                                                               *
********************************************************************************/

/********************************************************************************
*  This file is part of eLabFTW.                                                *
*                                                                               *
*    eLabFTW is free software: you can redistribute it and/or modify            *
*    it under the terms of the GNU Affero General Public License as             *
*    published by the Free Software Foundation, either version 3 of             *
*    the License, or (at your option) any later version.                        *
*                                                                               *
*    eLabFTW is distributed in the hope that it will be useful,                 *
*    but WITHOUT ANY WARRANTY; without even the implied                         *
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR                    *
*    PURPOSE.  See the GNU Affero General Public License for more details.      *
*                                                                               *
*    You should have received a copy of the GNU Affero General Public           *
*    License along with eLabFTW.  If not, see <http://www.gnu.org/licenses/>.   *
*                                                                               *
********************************************************************************/
body {
    background-image:url('img/metal.jpg');
}

#container {
    background: #fff;
    font:16px Verdana, Arial, Helvetica, sans-serif;
}

/* LINKS */
a {
    text-decoration:none;
    color: #585858;
}
a:hover {
    text-decoration:none;
    color: #CCC;
}
/*
hr {
    color: #CCC;
}
    */

hr.flourishes {
    clear: both;
    display: block;
    height: 18px;
    background: url('img/flourishes.png') no-repeat scroll center 0px transparent; /* -61px */
    border: 0 none;
    opacity: 0.8;
}

hr.tinyflourishes {
    clear: both;
    display: block;
    height: 18px;
    margin: 18px 0 0;
    background: url('img/flourishes.png') no-repeat scroll center -16px transparent; /* -61px */
    border: 0 none;
    opacity: 0.8;
    outline: 0 none;
}

hr.rishes {
    clear: both;
    display: block;
    height: 18px;
    margin: 18px 0 0;
    background: url('img/flourishes.png') no-repeat scroll center -36px transparent; /* -61px */
    border: 0 none;
    opacity: 0.8;
    outline: 0 none;
}
ul, li {
    list-style-type:none;
}
/* LOGO */
#eblue {
    color:blue;
}

#lab{
    color:black;
}
#ftw{
    color:black;
}

/* MAIN MENU */

nav a {
    color:blue;
    border:1px solid white;
    border-radius:5px;
}
nav a:hover {
    color:#1589FF;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
    border:1px solid black;
    border-radius:5px;
}
#logmenu p{
    color: #AAA;
}
#logmenu p a{
    color: black;
}
#submenu a {
    color:blue;
    border:1px solid white;
    padding:7px;
    border-radius:5px;
}
#submenu a:hover {
    color:#1589FF;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
    border:1px solid black;
    border-radius:5px;
}

.sortresults p{
    color:#AAA;
}
.sortresults span{
    color:#AAA;
}
.submitbutton{
    color:white;
    background-color:green;
}
.editable:hover {
    background-color: #CCC;
}

/* INFO BOX */
.err {
    color: #b24040;
    -webkit-box-shadow: 0px 1px 0px #cbe9c7 inset;
    -moz-box-shadow: inset 0px 1px 0px #cbe9c7;
    text-shadow: 0px 1px #f3f9fc;
    background-color: #e8c5c9;
    border-radius:5px;
    border: 1px solid #ab80c2;
    padding:7px;
    font:14px Verdana, Arial;
}
.infos {
    color: #3f713a;
    -webkit-box-shadow: 0px 1px 0px #cbe9c7 inset;
    -moz-box-shadow: inset 0px 1px 0px #cbe9c7;
    text-shadow: 0px 1px #f3f9fc;
    background-color: #ace0a8;
    border-radius:5px;
    border: 1px solid #96c17f;
    padding:7px;
    font:14px Verdana, Arial;
}

/* ITEMS */
.item {
    background-color:#EEE;
    -webkit-box-shadow: 2px 2px 2px 1px #CCC;
    -moz-box-shadow: 2px 2px 2px 1px #CCC;
    box-shadow: 3px 2px 2px 1px #CCC; 
    border: 1px solid #CCC;
}
.sub_item {
    border: 2px solid #AAA;
}

.simple_border {
    border:2px solid #AAA;
}
.title {
    background-color:white;
    border:1px solid #AAA;
    color:black;
}
.tags {
    background-color:white;
    border:1px solid #AAA;
    color:black;
}
.tag a:hover {
    color:red;
}
.tags_compact {
    background-color:white;
    border:1px solid #AAA;
    color:black;
}
#tagdiv{
    border:3px solid #CCC;
    background-color:white;
}


.smallgray{
    color:gray;
}
/* TEMPLATES */
.templates {
    border:1px solid black;
}



.txt {
    border:1px solid #CCC;
    background-color:white;
    color:black;
}

.running_compact, .success_compact, .redo_compact, .fail_compact {
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
    box-shadow: 2px 2px 2px 2px #CCC; 
    background-color:#EEE;
}
.running_compact {
    border:1px dotted blue;
}
.success_compact {
    border:1px solid green;
}
.redo_compact{
    border:1px solid grey;
}
.fail_compact{
    border:1px solid red;
}

.running, .success, .redo, .fail {
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
    box-shadow: 2px 2px 2px 2px #CCC; 
    background-color:#EEE;
}
.running {
    border:2px dotted blue;
}
.success{
    border:2px solid green;
}
.redo{
    border:2px solid gray;
}
.fail{
    border:2px solid red;
}
/* team.php */

.show_rules {
    float:right;
    border:1px solid #CCC;
    border-radius:5px;
    font-size:12px;
    text-decoration:none;
    padding:5px 10px 5px 10px;
}
.show_rules:hover {
    color:#1589FF;
    -moz-transition-duration: 1500ms;
    -webkit-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
    border:1px solid black;
    border-radius:5px;
}
/* FILES */
.filesdiv {
    -webkit-box-shadow: 2px 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px 2px #CCC;
    box-shadow: 2px 2px 2px 2px #CCC; 
    border: 1px solid #CCC;
}
.file_item{
    border:1px solid #CCC;
}

.filesize{
    color:grey;
}

.innerdiv{
    border: 2px solid blue;
}

/* FOOTER */
footer {
    border-top:solid 2px #CCC;
}
