parameters:
  level: 7
  bootstrap: %currentWorkingDirectory%/config.php
  ignoreErrors:
    - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9]+ type has no value type+#'
    - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9]+\(\) return type has no value type+#'
    -
      message: '#Undefined variable: \$App.*#'
      path: %currentWorkingDirectory%/web
    -
      message: '#Undefined variable: \$Request.*#'
      path: %currentWorkingDirectory%/web
    -
      message: '#Undefined variable: \$Session.*#'
      path: %currentWorkingDirectory%/web
    -
      message: '#Undefined variable: \$Auth.*#'
      path: %currentWorkingDirectory%/web/index.php
    -
      message: '#Undefined variable: \$Auth.*#'
      path: %currentWorkingDirectory%/web/app/controllers/UcpController.php
    -
      message: '#Undefined variable: \$Auth.*#'
      path: %currentWorkingDirectory%/web/app/controllers/LoginController.php

  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/web

