parameters:
  level: 7
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - message: '#Variable \$App might not be defined.*#'
      path: %currentWorkingDirectory%/web
    - message: '#Variable \$Request might not be defined.*#'
      path: %currentWorkingDirectory%/web
    - message: '#.*type has no value type specified.*#'
    - message: '#.*with no value type specified in iterable type array.*#'
  excludePaths:
    - %currentWorkingDirectory%/src/tools/rector.php

  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/web
    - %currentWorkingDirectory%/tests/unit

